Repository AbstractSDK/abstract, changes with the labels that .github/labeler.yml gives for each.
All labels: account, native, breaking?, sdk, adapter_base, app_base, build, CI, documentation, interface

fix untagged workspace import
  framework/packages/abstract-ica/Cargo.toml
Labels: none

small interface fixes
  framework/packages/abstract-client/src/interchain/remote_account.rs
  framework/packages/abstract-interface/src/account/mod.rs
Labels: interface

move migration logic
  framework/contracts/account/account/Cargo.toml
  framework/contracts/account/account/src/contract.rs
  framework/contracts/account/account/src/lib.rs
  framework/contracts/account/account/src/migrate.rs
  framework/packages/abstract-standalone/src/lib.rs
Labels: account

formatting [skip ci]
  framework/contracts/account/account/src/contract.rs
  framework/contracts/account/account/src/migrate.rs
Labels: account

fix nits
  framework/contracts/native/ibc-host/src/endpoints/execute.rs
  framework/packages/abstract-interface/src/account/mod.rs
  framework/packages/abstract-sdk/src/feature_objects.rs
  framework/packages/abstract-std/src/objects/ownership/gov_ownable.rs
  framework/packages/abstract-std/src/objects/ownership/nested_admin.rs
Labels: native, sdk, interface

update state management on "manager"
  framework/packages/abstract-std/src/core/manager.rs
Labels: none

polytone-evm not git dep anymore
  framework/Cargo.lock
  framework/Cargo.toml
Labels: none

lock upgrade
  framework/Cargo.lock
Labels: none

pull out cw721
  framework/Cargo.lock
  framework/contracts/account/account/tests/proxy.rs
  framework/contracts/native/account-factory/Cargo.toml
  framework/contracts/native/account-factory/src/commands.rs
  framework/packages/abstract-std/Cargo.toml
  framework/packages/abstract-std/src/objects/gov_type.rs
  framework/packages/abstract-std/src/objects/ownership.rs
  framework/packages/abstract-std/src/objects/ownership/cw721.rs
Labels: account, native

pull out polytone
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/native/ibc-client/Cargo.toml
  framework/contracts/native/ibc-client/src/commands.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/contracts/native/ibc-client/src/error.rs
  framework/contracts/native/ibc-client/src/ibc.rs
  framework/contracts/native/ica-client/Cargo.toml
  framework/packages/abstract-ica/Cargo.toml
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-sdk/Cargo.toml
  framework/packages/abstract-std/Cargo.toml
  framework/packages/abstract-std/src/native/ibc.rs
  framework/packages/abstract-std/src/native/ibc/polytone_callbacks.rs
  framework/packages/abstract-std/src/native/ibc_client.rs
Labels: native, sdk, interface

Remove useless objects from abstract-std (#440)
  framework/docs/src/releases/CHANGELOG.md
  framework/packages/abstract-std/src/objects/deposit_manager.rs
  framework/packages/abstract-std/src/objects/mod.rs
  framework/packages/abstract-std/src/objects/paged_map.rs
Labels: documentation

skip deserializing approvals
  framework/packages/abstract-std/src/objects/ownership/cw721.rs
Labels: none

postmerge fix
  framework/contracts/native/account-factory/src/commands.rs
Labels: native

Update WASM & Schemas [skip ci]
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking-injective.wasm
  modules/artifacts/abstract_cw_staking-juno.wasm
  modules/artifacts/abstract_cw_staking-kujira.wasm
  modules/artifacts/abstract_cw_staking-neutron.wasm
  modules/artifacts/abstract_cw_staking-osmosis.wasm
  modules/artifacts/abstract_cw_staking-sei.wasm
  modules/artifacts/abstract_cw_staking-terra2.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter-injective.wasm
  modules/artifacts/abstract_dex_adapter-juno.wasm
  modules/artifacts/abstract_dex_adapter-kujira.wasm
  modules/artifacts/abstract_dex_adapter-neutron.wasm
  modules/artifacts/abstract_dex_adapter-osmosis.wasm
  modules/artifacts/abstract_dex_adapter-sei.wasm
  modules/artifacts/abstract_dex_adapter-terra2.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter-kujira.wasm
  modules/artifacts/abstract_money_market_adapter-osmosis.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/croncat_app.wasm
  modules/artifacts/dca_app.wasm
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
Labels: none

link copied types
  framework/packages/abstract-std/src/native/ibc/polytone_callbacks.rs
  framework/packages/abstract-std/src/native/ibc_client.rs
Labels: none

Removed proxy and manager frm std and sdk
  framework/packages/abstract-sdk/README.md
  framework/packages/abstract-sdk/src/apis/adapter.rs
  framework/packages/abstract-sdk/src/apis/app.rs
  framework/packages/abstract-sdk/src/apis/authz.rs
  framework/packages/abstract-sdk/src/apis/bank.rs
  framework/packages/abstract-sdk/src/apis/distribution.rs
  framework/packages/abstract-sdk/src/apis/execution.rs
  framework/packages/abstract-sdk/src/apis/feegrant.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-sdk/src/apis/modules.rs
  framework/packages/abstract-sdk/src/apis/verify.rs
  framework/packages/abstract-sdk/src/apis/version_registry.rs
  framework/packages/abstract-sdk/src/base/features/executor.rs
  framework/packages/abstract-sdk/src/base/features/identification.rs
  framework/packages/abstract-sdk/src/feature_objects.rs
  framework/packages/abstract-sdk/src/mock_module.rs
  framework/packages/abstract-std/src/account/mod.rs
  framework/packages/abstract-std/src/account/msgs.rs
  framework/packages/abstract-std/src/account/responses.rs
  framework/packages/abstract-std/src/account/state.rs
  framework/packages/abstract-std/src/account/types.rs
  framework/packages/abstract-std/src/core/manager.rs
  framework/packages/abstract-std/src/core/mod.rs
  framework/packages/abstract-std/src/core/proxy.rs
  framework/packages/abstract-std/src/lib.rs
  framework/packages/abstract-std/src/native/account_factory.rs
  framework/packages/abstract-std/src/native/ibc_client.rs
  framework/packages/abstract-std/src/native/ibc_host.rs
  framework/packages/abstract-std/src/objects/version_control.rs
  framework/packages/abstract-std/src/standalone.rs
  framework/packages/abstract-testing/src/abstract_mock_querier.rs
  framework/packages/abstract-testing/src/mock_querier.rs
Labels: sdk

Optimize account state
  framework/packages/abstract-std/src/core/manager.rs
  framework/packages/abstract-std/src/core/proxy.rs
Labels: none

Pull out used types of cw721 (#441)
  framework/Cargo.lock
  framework/contracts/account/account/tests/proxy.rs
  framework/contracts/native/account-factory/Cargo.toml
  framework/contracts/native/account-factory/src/commands.rs
  framework/packages/abstract-std/Cargo.toml
  framework/packages/abstract-std/src/objects/gov_type.rs
  framework/packages/abstract-std/src/objects/ownership.rs
  framework/packages/abstract-std/src/objects/ownership/cw721.rs
Labels: account, native

Revert "Removed proxy and manager frm std and sdk"
  framework/packages/abstract-sdk/README.md
  framework/packages/abstract-sdk/src/apis/adapter.rs
  framework/packages/abstract-sdk/src/apis/app.rs
  framework/packages/abstract-sdk/src/apis/authz.rs
  framework/packages/abstract-sdk/src/apis/bank.rs
  framework/packages/abstract-sdk/src/apis/distribution.rs
  framework/packages/abstract-sdk/src/apis/execution.rs
  framework/packages/abstract-sdk/src/apis/feegrant.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-sdk/src/apis/modules.rs
  framework/packages/abstract-sdk/src/apis/verify.rs
  framework/packages/abstract-sdk/src/apis/version_registry.rs
  framework/packages/abstract-sdk/src/base/features/executor.rs
  framework/packages/abstract-sdk/src/base/features/identification.rs
  framework/packages/abstract-sdk/src/feature_objects.rs
  framework/packages/abstract-sdk/src/mock_module.rs
  framework/packages/abstract-std/src/account/mod.rs
  framework/packages/abstract-std/src/account/responses.rs
  framework/packages/abstract-std/src/account/state.rs
  framework/packages/abstract-std/src/account/types.rs
  framework/packages/abstract-std/src/core/account.rs
  framework/packages/abstract-std/src/core/manager.rs
  framework/packages/abstract-std/src/core/mod.rs
  framework/packages/abstract-std/src/core/proxy.rs
  framework/packages/abstract-std/src/lib.rs
  framework/packages/abstract-std/src/native/account_factory.rs
  framework/packages/abstract-std/src/native/ibc_client.rs
  framework/packages/abstract-std/src/native/ibc_host.rs
  framework/packages/abstract-std/src/objects/version_control.rs
  framework/packages/abstract-std/src/standalone.rs
  framework/packages/abstract-testing/src/abstract_mock_querier.rs
  framework/packages/abstract-testing/src/mock_querier.rs
Labels: sdk

Optimize account state (#443)
  framework/packages/abstract-std/src/core/manager.rs
  framework/packages/abstract-std/src/core/proxy.rs
Labels: none

Revert "Revert "Removed proxy and manager frm std and sdk""
  framework/packages/abstract-sdk/README.md
  framework/packages/abstract-sdk/src/apis/adapter.rs
  framework/packages/abstract-sdk/src/apis/app.rs
  framework/packages/abstract-sdk/src/apis/authz.rs
  framework/packages/abstract-sdk/src/apis/bank.rs
  framework/packages/abstract-sdk/src/apis/distribution.rs
  framework/packages/abstract-sdk/src/apis/execution.rs
  framework/packages/abstract-sdk/src/apis/feegrant.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-sdk/src/apis/modules.rs
  framework/packages/abstract-sdk/src/apis/verify.rs
  framework/packages/abstract-sdk/src/apis/version_registry.rs
  framework/packages/abstract-sdk/src/base/features/executor.rs
  framework/packages/abstract-sdk/src/base/features/identification.rs
  framework/packages/abstract-sdk/src/feature_objects.rs
  framework/packages/abstract-sdk/src/mock_module.rs
  framework/packages/abstract-std/src/account/mod.rs
  framework/packages/abstract-std/src/account/msgs.rs
  framework/packages/abstract-std/src/account/responses.rs
  framework/packages/abstract-std/src/account/state.rs
  framework/packages/abstract-std/src/account/types.rs
  framework/packages/abstract-std/src/core/manager.rs
  framework/packages/abstract-std/src/core/mod.rs
  framework/packages/abstract-std/src/core/proxy.rs
  framework/packages/abstract-std/src/lib.rs
  framework/packages/abstract-std/src/native/account_factory.rs
  framework/packages/abstract-std/src/native/ibc_client.rs
  framework/packages/abstract-std/src/native/ibc_host.rs
  framework/packages/abstract-std/src/objects/version_control.rs
  framework/packages/abstract-std/src/standalone.rs
  framework/packages/abstract-testing/src/abstract_mock_querier.rs
  framework/packages/abstract-testing/src/mock_querier.rs
Labels: sdk

formatting [skip ci]
  framework/contracts/account/account/src/modules.rs
  framework/packages/abstract-std/src/account/mod.rs
Labels: account

lock
  framework/Cargo.lock
Labels: none

add comment on AppExecuteMsg
  framework/Cargo.lock
  framework/docs/src/4_get_started/custom_endpoints.md
Labels: documentation

Docs Update [Linear Tasks] (#435)
  framework/docs/src/3_framework/6_module_types.md
  framework/docs/src/4_get_started/3_module_builder.md
  framework/docs/src/4_get_started/custom_endpoints.md
  framework/docs/src/5_platform/index.md
  framework/docs/src/SUMMARY.md
  framework/docs/src/modules/defi-adapters.md
  framework/packages/abstract-client/src/application.rs
  framework/packages/abstract-client/src/publisher.rs
  framework/packages/abstract-client/src/service.rs
  framework/packages/abstract-interface/src/deployers.rs
  modules/contracts/apps/payment/src/contract.rs
Labels: documentation, interface

Update WASM & Schemas [skip ci]
  modules/artifacts/checksums.txt
  modules/artifacts/payment_app.wasm
Labels: none

Execution and replies ok for account contract
  framework/Cargo.lock
  framework/contracts/account/account/Cargo.toml
  framework/contracts/account/account/src/actions.rs
  framework/contracts/account/account/src/config.rs
  framework/contracts/account/account/src/contract.rs
  framework/contracts/account/account/src/error.rs
  framework/contracts/account/account/src/lib.rs
  framework/contracts/account/account/src/modules.rs
  framework/contracts/account/account/src/modules/migration.rs
  framework/contracts/account/account/src/queries.rs
  framework/contracts/account/account/src/reply.rs
  framework/contracts/account/account/src/sub_account.rs
  framework/contracts/account/account/src/versioning.rs
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/account/manager/src/contract.rs
  framework/packages/abstract-std/src/account/msgs.rs
  framework/packages/abstract-std/src/account/responses.rs
  framework/packages/abstract-std/src/account/state.rs
Labels: account

Added queries
  framework/contracts/account/account/src/contract.rs
  framework/contracts/account/account/src/error.rs
  framework/contracts/account/account/src/modules.rs
  framework/contracts/account/account/src/modules/migration.rs
  framework/contracts/account/account/src/queries.rs
Labels: account

fix migrate tests
  framework/contracts/account/account/src/lib.rs
  framework/contracts/account/account/src/migrate.rs
Labels: account

fix typo
  framework/development/IBC.md
Labels: none

fix typo
  framework/development/VERSIONING.md
Labels: none

fix typos
  framework/docs/src/2_introduction/1_design_space.md
Labels: documentation

fix typo
  framework/packages/abstract-app/src/lib.rs
Labels: app_base

fix typo
  framework/packages/abstract-standalone/src/lib.rs
Labels: none

fix typo
  framework/packages/standards/dex/src/command.rs
Labels: none

fix typo
  framework/docs/src/3_framework/2_chain_abstraction.md
Labels: documentation

instantiate test
  framework/contracts/account/account/src/contract.rs
  framework/contracts/account/account/src/lib.rs
  framework/contracts/account/account/src/migrate.rs
  framework/contracts/native/account-factory/src/commands.rs
  framework/contracts/native/version-control/src/commands.rs
  framework/contracts/native/version-control/src/contract.rs
  framework/contracts/native/version-control/src/queries.rs
  framework/packages/abstract-app/src/lib.rs
  framework/packages/abstract-std/src/native/version_control.rs
Labels: account, native, app_base

Pull out polytone (#442)
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/native/ibc-client/Cargo.toml
  framework/contracts/native/ibc-client/src/commands.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/contracts/native/ibc-client/src/error.rs
  framework/contracts/native/ibc-client/src/ibc.rs
  framework/contracts/native/ica-client/Cargo.toml
  framework/packages/abstract-ica/Cargo.toml
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-sdk/Cargo.toml
  framework/packages/abstract-std/Cargo.toml
  framework/packages/abstract-std/src/native/ibc.rs
  framework/packages/abstract-std/src/native/ibc/polytone_callbacks.rs
  framework/packages/abstract-std/src/native/ibc_client.rs
Labels: native, sdk, interface

update workspace hack
  framework/Cargo.lock
  framework/workspace-hack/Cargo.toml
Labels: none

update account creation and registration logic
  framework/contracts/account/account/Cargo.toml
  framework/contracts/account/account/src/contract.rs
  framework/contracts/account/account/src/error.rs
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/native/account-factory/src/commands.rs
  framework/contracts/native/ibc-client/src/commands.rs
  framework/contracts/native/ibc-host/src/endpoints/packet.rs
  framework/contracts/native/version-control/src/commands.rs
  framework/contracts/native/version-control/src/contract.rs
  framework/contracts/native/version-control/src/error.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-interface/src/native/version_control.rs
  framework/packages/abstract-sdk/src/apis/version_registry.rs
  framework/packages/abstract-std/src/native/ibc_client.rs
  framework/packages/abstract-std/src/native/version_control.rs
  framework/packages/abstract-std/src/objects/module.rs
  framework/packages/abstract-std/src/objects/module_reference.rs
Labels: account, native, sdk, interface

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeller Github Action.
"account":
  # Match all of account folders
  - framework/contracts/account/**/*
"native":
  # Match all of native folders
  - framework/contracts/native/**/*
"breaking?":
  # Match all of abstract_std folders
  - framework/packages/abstract_std/**/*
"sdk":
  # Match all of sdk folders
  - framework/packages/abstract-sdk/**/*
"adapter_base":
  # Match all of adapter base folders
  - framework/packages/abstract-adapter/**/*
"app_base":
  # Match all of app base folders
  - framework/packages/abstract-app/**/*
"build":
  - build_release.sh
"CI":
  - .github/**/*.yml
# Add "C:documentation" label to documented related files and directories.
"documentation":
  - README.md
  - framework/contracts/**/*.md
  - framework/contracts/**/*/*.md
  - framework/docs/src/**/*
"interface":
  - framework/packages/abstract-interface/**/*
