Repository AbstractSDK/abstract, changes with the labels that .github/labeler.yml gives for each.
All labels: account, native, breaking?, sdk, adapter_base, app_base, build, CI, documentation, interface

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeller Github Action.
"account":
  # Match all of account folders
  - framework/contracts/account/**/*
"native":
  # Match all of native folders
  - framework/contracts/native/**/*
"breaking?":
  # Match all of abstract_std folders
  - framework/packages/abstract_std/**/*
"sdk":
  # Match all of sdk folders
  - framework/packages/abstract-sdk/**/*
"adapter_base":
  # Match all of adapter base folders
  - framework/packages/abstract-adapter/**/*
"app_base":
  # Match all of app base folders
  - framework/packages/abstract-app/**/*
"build":
  - build_release.sh
"CI":
  - .github/**/*.yml
# Add "C:documentation" label to documented related files and directories.
"documentation":
  - README.md
  - framework/contracts/**/*.md
  - framework/contracts/**/*/*.md
  - framework/docs/src/**/*
"interface":
  - framework/packages/abstract-interface/**/*

Update migrate documentation
  framework/contracts/account/src/migrate.rs
Labels: account

Audit Fixes 1: XION Authentication fix and test (#546)
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/execution.rs
  framework/contracts/account/src/modules.rs
  framework/contracts/account/src/modules/migration.rs
  framework/contracts/account/tests/xion.rs
  framework/packages/abstract-std/src/objects/ownership/gov_ownable.rs
Labels: account

Audit Fixes 2: Migration overwrites the suspension status (#557)
  framework/contracts/account/src/migrate.rs
Labels: account

Audit Fixes 3: Concurrent admin_execute calls may lead to unexpected behavior (#549)
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/execution.rs
Labels: account

Audit Fixes 4: Potential panic during module installation (#550)
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/modules.rs
  framework/contracts/account/tests/apps.rs
  framework/packages/abstract-testing/src/lib.rs
Labels: account

Audit Fixes 7 : Incorrect interface generated for AdminExecute and AdminExecuteOnModule (#551)
  framework/contracts/account/tests/adapters.rs
  framework/contracts/account/tests/apps.rs
  framework/packages/abstract-integration-tests/src/account.rs
  framework/packages/abstract-interface/src/account.rs
  framework/packages/abstract-std/src/account.rs
Labels: account, interface

Audit Fixes 8 : Silent failures when unregistering non-existent sub-accounts (#552)
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/sub_account.rs
Labels: account

Audit Fixes 9 : Misleading success response for non-xion auth operations (#553)
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/execution.rs
Labels: account

Audit Fixes 11: Dead code in the migration function (#555)
  framework/contracts/account/src/migrate.rs
Labels: account

Audit Fixes 12 : Miscellaneous comments (#556)
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/migrate.rs
  framework/docs/src/3_framework/4_ownership.md
  framework/packages/abstract-std/src/objects/gov_type.rs
Labels: account, documentation

Update framework/packages/abstract-std/src/objects/gov_type.rs
  framework/packages/abstract-std/src/objects/gov_type.rs
Labels: none

Update framework/packages/abstract-std/src/objects/gov_type.rs
  framework/packages/abstract-std/src/objects/gov_type.rs
Labels: none

Fixed merge failure
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/execution.rs
Labels: account

Taplo and xion tests
  framework/Cargo.lock
  framework/contracts/account/Cargo.toml
  framework/contracts/account/src/contract.rs
  framework/contracts/account/tests/apps.rs
  framework/contracts/account/tests/xion.rs
  framework/packages/abstract-interface/src/account.rs
  framework/packages/abstract-std/src/account.rs
  framework/taplo.toml
  integrations/taplo.toml
  interchain/taplo.toml
  modules/taplo.toml
  taplo.toml
Labels: account, interface

Cargo hakari
  framework/Cargo.lock
  framework/workspace-hack/Cargo.toml
Labels: none

Fixed tests
  interchain/framework-clone-testing/Cargo.toml
  interchain/framework-clone-testing/tests/migrate.rs
  interchain/scripts/state.json
Labels: none

More nits
  framework/contracts/account/Cargo.toml
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/execution.rs
  framework/contracts/account/tests/xion.rs
  framework/packages/abstract-std/Cargo.toml
  framework/packages/abstract-std/src/account.rs
  framework/packages/abstract-std/src/objects/ownership/gov_ownable.rs
  framework/packages/abstract-std/src/objects/storage_namespaces.rs
Labels: account

Audit fixes (#558)
  framework/Cargo.lock
  framework/contracts/account/Cargo.toml
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/execution.rs
  framework/contracts/account/src/migrate.rs
  framework/contracts/account/src/modules.rs
  framework/contracts/account/src/modules/migration.rs
  framework/contracts/account/src/sub_account.rs
  framework/contracts/account/tests/adapters.rs
  framework/contracts/account/tests/apps.rs
  framework/contracts/account/tests/xion.rs
  framework/docs/src/3_framework/4_ownership.md
  framework/packages/abstract-integration-tests/src/account.rs
  framework/packages/abstract-interface/src/account.rs
  framework/packages/abstract-std/Cargo.toml
  framework/packages/abstract-std/src/account.rs
  framework/packages/abstract-std/src/objects/gov_type.rs
  framework/packages/abstract-std/src/objects/ownership/gov_ownable.rs
  framework/packages/abstract-std/src/objects/storage_namespaces.rs
  framework/packages/abstract-testing/src/lib.rs
  framework/taplo.toml
  framework/workspace-hack/Cargo.toml
  integrations/taplo.toml
  interchain/framework-clone-testing/Cargo.toml
  interchain/framework-clone-testing/tests/migrate.rs
  interchain/scripts/state.json
  interchain/taplo.toml
  modules/taplo.toml
  taplo.toml
Labels: account, documentation, interface

Update WASM & Schemas [skip ci]
  framework/artifacts/abstract_account-xion.wasm
  framework/artifacts/abstract_account.wasm
  framework/artifacts/checksums.txt
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking-osmosis.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter-osmosis.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
  schema/account/0.25.0/abstract-account.json
  schema/ibc-client/0.25.0/abstract-ibc-client.json
  schema/ibc-host/0.25.0/abstract-ibc-host.json
Labels: none

Don't doubly-register native ibc contracts
  framework/packages/abstract-interface/src/deployment.rs
Labels: interface

Fix merges
  framework/contracts/account/tests/xion.rs
  integrations/neutron-dex-adapter/src/dex.rs
  interchain/scripts/src/bin/xion_test.rs
  modules/contracts/adapters/dex/examples/neutron_testnet.rs
  modules/contracts/adapters/dex/examples/osmosis_testnet.rs
  modules/contracts/adapters/dex/tests/neutron.rs
  modules/contracts/apps/payment/tests/integration.rs
Labels: account

Unused deps
  modules/contracts/adapters/dex/Cargo.toml
Labels: none

Better deps
  modules/contracts/adapters/cw-staking/Cargo.toml
Labels: none

Fixed tests and features
  framework/packages/standards/staking/src/error.rs
  modules/Cargo.toml
  modules/contracts/adapters/cw-staking/Cargo.toml
  modules/contracts/adapters/cw-staking/src/resolver.rs
  modules/contracts/adapters/cw-staking/tests/stake.rs
Labels: none

Update WASM & Schemas [skip ci]
  framework/artifacts/abstract_account-xion.wasm
  framework/artifacts/abstract_account.wasm
  framework/artifacts/checksums.txt
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking-juno.wasm
  modules/artifacts/abstract_cw_staking-kujira.wasm
  modules/artifacts/abstract_cw_staking-osmosis.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter-juno.wasm
  modules/artifacts/abstract_dex_adapter-kujira.wasm
  modules/artifacts/abstract_dex_adapter-neutron.wasm
  modules/artifacts/abstract_dex_adapter-osmosis.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter-kujira.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
Labels: none

Don't doubly-register native ibc contracts (#559)
  framework/packages/abstract-interface/src/deployment.rs
Labels: interface

Update WASM & Schemas [skip ci]
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking-osmosis.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter-osmosis.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
Labels: none

Fix CI
  integrations/astrovault-adapter/Cargo.toml
  interchain/modules-clone-testing/Cargo.toml
  modules/contracts/adapters/cw-staking/Cargo.toml
  modules/contracts/adapters/dex/Cargo.toml
Labels: none

Update integrations/neutron-dex-adapter/Cargo.toml
  integrations/neutron-dex-adapter/Cargo.toml
Labels: none

Update integrations/neutron-dex-adapter/Cargo.toml
  integrations/neutron-dex-adapter/Cargo.toml
Labels: none

CLI
  .github/workflows/modules-check.yml
  integrations/bundles/mockdex/Cargo.toml
  integrations/wyndex-adapter/Cargo.toml
Labels: CI

Finalize nits
  framework/contracts/account/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/tests/snapshots/apps__execute_on_account.snap
  framework/contracts/account/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_multiple_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_standalone_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_with_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__exec_on_account.snap
  framework/contracts/account/tests/snapshots/proxy__instantiate_account.snap
  framework/contracts/account/tests/snapshots/subaccount__account_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__creating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account.snap
  framework/contracts/account/tests/snapshots/subaccount__updating_on_subaccount_should_succeed.snap
  framework/contracts/native/ibc-client/tests/snapshots/multihop_accounts__multihop_account.snap
  framework/docs/src/3_framework/8_ibc.md
  framework/docs/src/ibc/account-ibc.md
  framework/packages/abstract-std/src/objects/account/account_id.rs
  framework/packages/abstract-std/src/objects/account/account_trace.rs
Labels: account, native, documentation

Changed versions
  framework/Cargo.lock
  framework/Cargo.toml
  framework/packages/abstract-adapter/Cargo.toml
  framework/packages/abstract-app/Cargo.toml
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-standalone/Cargo.toml
  framework/packages/standards/dex/Cargo.toml
  framework/packages/standards/money-market/Cargo.toml
  framework/packages/standards/staking/Cargo.toml
  integrations/Cargo.toml
  integrations/bundles/mockdex/Cargo.toml
  integrations/wyndex-adapter/Cargo.toml
  interchain/Cargo.toml
  interchain/interchain-end_to_end_testing/Cargo.toml
  modules/Cargo.toml
  modules/contracts/apps/ping-pong/Cargo.toml
Labels: adapter_base, app_base, interface

snaps
  framework/contracts/account/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/tests/snapshots/apps__execute_on_account.snap
  framework/contracts/account/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_multiple_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_standalone_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_with_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__exec_on_account.snap
  framework/contracts/account/tests/snapshots/proxy__instantiate_account.snap
  framework/contracts/account/tests/snapshots/subaccount__account_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__creating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account.snap
  framework/contracts/account/tests/snapshots/subaccount__updating_on_subaccount_should_succeed.snap
  framework/contracts/native/ibc-client/tests/snapshots/multihop_accounts__multihop_account.snap
Labels: account, native

Reset because not verified
  .circleci/config.yml
  framework/workspace-hack/Cargo.toml
Labels: none

Format change
  framework/justfile
  framework/packages/abstract-client/Cargo.toml
Labels: none

State update
  framework/Cargo.lock
  framework/Cargo.toml
  interchain/scripts/Cargo.toml
  interchain/scripts/src/bin/transfer_ownership.rs
  interchain/scripts/state.json
Labels: none

Add Cargo.lock for tag v0.26.0
  .gitignore
  integrations/Cargo.lock
  interchain/Cargo.lock
  modules/Cargo.lock
Labels: none

Better validation
  framework/Cargo.lock
  framework/workspace-hack/Cargo.toml
  integrations/Cargo.lock
  interchain/Cargo.lock
  interchain/scripts/src/bin/transfer_ownership.rs
  modules/Cargo.lock
Labels: none

Fix migration tests
  interchain/framework-clone-testing/src/common.rs
Labels: none
