Repository AbstractSDK/abstract, changes with the labels that .github/labeler.yml gives for each.
All labels: account, native, breaking?, sdk, adapter_base, app_base, build, CI, documentation, interface

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeller Github Action.
"account":
  # Match all of account folders
  - framework/contracts/account/**/*
"native":
  # Match all of native folders
  - framework/contracts/native/**/*
"breaking?":
  # Match all of abstract_std folders
  - framework/packages/abstract_std/**/*
"sdk":
  # Match all of sdk folders
  - framework/packages/abstract-sdk/**/*
"adapter_base":
  # Match all of adapter base folders
  - framework/packages/abstract-adapter/**/*
"app_base":
  # Match all of app base folders
  - framework/packages/abstract-app/**/*
"build":
  - build_release.sh
"CI":
  - .github/**/*.yml
# Add "C:documentation" label to documented related files and directories.
"documentation":
  - README.md
  - framework/contracts/**/*.md
  - framework/contracts/**/*/*.md
  - framework/docs/src/**/*
"interface":
  - framework/packages/abstract-interface/**/*

Update WASM & Schemas [skip ci]
  modules/artifacts/checksums.txt
  modules/artifacts/my_standalone.wasm
Labels: none

module-factory tests
  framework/contracts/native/module-factory/tests/install_native_modules.rs
Labels: native

V2/Fix module-factory tests (#470)
  framework/contracts/native/module-factory/tests/install_native_modules.rs
Labels: native

tests passing
  framework/contracts/account/src/config.rs
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/execution.rs
  framework/contracts/account/src/lib.rs
  framework/contracts/account/src/modules.rs
  framework/contracts/account/src/queries.rs
  framework/contracts/account/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/tests/snapshots/apps__execute_on_account.snap
  framework/contracts/account/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__exec_on_account.snap
  framework/contracts/account/tests/snapshots/proxy__instantiate_account.snap
  framework/contracts/account/tests/snapshots/proxy__proxy_install_multiple_modules.snap
  framework/contracts/account/tests/snapshots/proxy__proxy_install_standalone_modules.snap
  framework/contracts/account/tests/snapshots/proxy__proxy_with_response_data.snap
  framework/contracts/account/tests/snapshots/subaccount__creating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__proxy_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account.snap
  framework/contracts/account/tests/snapshots/subaccount__updating_on_subaccount_should_succeed.snap
  framework/contracts/native/ans-host/src/commands.rs
  framework/contracts/native/version-control/src/queries.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-sdk/src/feature_objects.rs
  framework/packages/abstract-standalone/src/features.rs
  framework/packages/abstract-std/src/lib.rs
  framework/packages/abstract-std/src/objects/ownership/README.md
  framework/packages/abstract-std/src/objects/ownership/gov_ownable.rs
Labels: account, native, sdk

clippy
  framework/contracts/account/src/config.rs
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/execution.rs
  framework/contracts/account/src/migrate.rs
  framework/contracts/account/src/modules.rs
  framework/contracts/account/src/queries.rs
  framework/contracts/native/version-control/src/commands.rs
  framework/contracts/native/version-control/src/migrate.rs
  framework/contracts/native/version-control/src/queries.rs
  framework/packages/abstract-adapter/src/endpoints/execute.rs
  framework/packages/abstract-app/src/endpoints/execute.rs
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-integration-tests/src/account.rs
  framework/packages/abstract-interface/src/account.rs
  framework/packages/abstract-standalone/src/features.rs
  framework/packages/abstract-std/src/account.rs
  framework/packages/abstract-std/src/objects/gov_type.rs
  framework/packages/abstract-testing/src/abstract_mock_querier.rs
Labels: account, native, adapter_base, app_base, interface

DRY migrate_instantiate
  framework/contracts/native/ans-host/src/contract.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/contracts/native/ibc-host/src/contract.rs
  framework/contracts/native/ica-client/src/contract.rs
  framework/contracts/native/module-factory/src/contract.rs
  framework/contracts/native/version-control/src/migrate.rs
  framework/packages/abstract-sdk/src/cw_helpers/migrate_instantiate.rs
  framework/packages/abstract-sdk/src/cw_helpers/mod.rs
Labels: native, sdk

addauth
  framework/Cargo.lock
  framework/contracts/account/Cargo.toml
  framework/contracts/account/src/absacc/auth/mod.rs
  framework/contracts/account/src/absacc/mod.rs
  framework/contracts/account/src/absacc/sudo.rs
  framework/contracts/account/src/contract.rs
  framework/packages/abstract-std/Cargo.toml
  framework/packages/abstract-std/src/absacc.rs
  framework/packages/abstract-std/src/account.rs
Labels: account

Move everything to account
  framework/contracts/account/src/absacc/auth/mod.rs
  framework/contracts/account/src/absacc/mod.rs
  framework/contracts/account/src/absacc/sudo.rs
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/sub_account.rs
Labels: account

small updates
  framework/contracts/native/version-control/src/contract.rs
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-testing/src/lib.rs
Labels: native, interface

make use of cw-plus-orch package
  framework/packages/abstract-client/Cargo.toml
  integrations/Cargo.toml
  integrations/bundles/wyndex/Cargo.toml
  interchain/Cargo.toml
  modules/Cargo.toml
  modules/contracts/apps/payment/Cargo.toml
Labels: none

fix broken patch
  interchain/Cargo.toml
Labels: none

update cw-plus-orch usage
  framework/packages/abstract-client/src/builder.rs
  integrations/bundles/wyndex/src/lib.rs
  modules/contracts/adapters/cw-staking/src/handlers/execute.rs
  modules/contracts/apps/payment/tests/integration.rs
Labels: none

wip fixing tests
  framework/contracts/account/tests/adapters.rs
  framework/contracts/account/tests/apps.rs
  framework/contracts/account/tests/create.rs
  framework/contracts/account/tests/ibc-client.rs
  framework/contracts/account/tests/install_modules.rs
  framework/contracts/account/tests/proxy.rs
  framework/contracts/account/tests/standalones.rs
  framework/contracts/account/tests/subaccount.rs
  framework/contracts/account/tests/upgrades.rs
  framework/contracts/native/ibc-host/src/account_commands.rs
  framework/contracts/native/ibc-host/tests/integration.rs
  framework/contracts/native/module-factory/tests/direct_calls.rs
  framework/contracts/native/module-factory/tests/install_native_modules.rs
  framework/contracts/native/version-control/tests/direct_calls.rs
  framework/packages/abstract-client/src/builder.rs
  framework/packages/abstract-interface/examples/deploy.rs
  framework/packages/abstract-interface/examples/mock-ibc-deploy.rs
  framework/packages/abstract-interface/examples/starship-ibc-deploy.rs
  framework/packages/abstract-interface/src/account.rs
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-std/src/account.rs
  framework/packages/abstract-std/src/native/ibc/ibc_host.rs
  framework/packages/abstract-testing/src/lib.rs
Labels: account, native, interface

fixed tests
  framework/contracts/account/src/contract.rs
  framework/contracts/account/tests/adapters.rs
  framework/contracts/account/tests/apps.rs
  framework/contracts/account/tests/create.rs
  framework/contracts/account/tests/ibc-client.rs
  framework/contracts/account/tests/install_modules.rs
  framework/contracts/account/tests/proxy.rs
  framework/contracts/account/tests/standalones.rs
  framework/contracts/account/tests/subaccount.rs
  framework/contracts/account/tests/upgrades.rs
  framework/contracts/native/ibc-host/tests/integration.rs
  framework/contracts/native/module-factory/tests/direct_calls.rs
  framework/contracts/native/module-factory/tests/install_native_modules.rs
  framework/contracts/native/version-control/tests/direct_calls.rs
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/builder.rs
  framework/packages/abstract-client/src/lib.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-client/tests/interchain_integration.rs
  framework/packages/abstract-testing/src/lib.rs
  framework/packages/abstract-testing/src/mock_querier.rs
Labels: account, native

doctests fix
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/src/publisher.rs
Labels: none

re-export abstract-testing in abstract-client
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-client/src/lib.rs
Labels: none

admin_addr instead of env in nestedadmin
  framework/packages/abstract-app/examples/counter.rs
  framework/packages/abstract-app/src/endpoints/execute.rs
  framework/packages/abstract-app/src/lib.rs
  framework/packages/abstract-std/src/objects/ownership/nested_admin.rs
  modules/contracts/apps/calendar/src/handlers/execute.rs
  modules/contracts/apps/challenge/src/handlers/execute.rs
  modules/contracts/apps/croncat/src/handlers/execute.rs
  modules/contracts/apps/dca/src/handlers/execute.rs
  modules/contracts/apps/payment/src/handlers/execute.rs
  modules/contracts/apps/subscription/src/handlers/execute.rs
  modules/contracts/standalones/ica-owner/src/contract.rs
Labels: app_base

Apply github suggestinos
  framework/contracts/account/src/actions.rs
  framework/contracts/account/src/reply.rs
  framework/packages/abstract-sdk/src/apis/verify.rs
  framework/packages/abstract-std/src/account.rs
  framework/packages/abstract-std/src/objects/ownership/nested_admin.rs
Labels: account, sdk

account generic auth
  framework/contracts/account/Cargo.toml
  framework/contracts/account/src/absacc/auth/mod.rs
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/lib.rs
  framework/contracts/account/src/modules/migration.rs
  framework/contracts/account/src/sub_account.rs
  framework/contracts/native/ibc-host/src/account_commands.rs
  framework/packages/abstract-interface/src/account.rs
  framework/packages/abstract-sdk/src/apis/bank.rs
  framework/packages/abstract-sdk/src/apis/execution.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-sdk/src/feature_objects.rs
  framework/packages/abstract-std/src/account.rs
Labels: account, native, sdk, interface

feature flag
  framework/contracts/account/Cargo.toml
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/lib.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-std/src/account.rs
Labels: account

wasm compilable
  framework/contracts/account/Cargo.toml
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/lib.rs
Labels: account

nits
  framework/docs/src/releases/CHANGELOG.md
  framework/packages/abstract-std/src/account.rs
Labels: documentation

Cherry Pick
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/src/lib.rs
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-interface/src/ibc.rs
  modules/Cargo.toml
  modules/contracts/apps/ping-pong/tests/ping_pong_tests.rs
Labels: interface

new
  framework/packages/abstract-client/src/lib.rs
  modules/contracts/apps/ping-pong/tests/better_interchain_api.rs
Labels: none

added patch
  framework/Cargo.lock
  framework/Cargo.toml
Labels: none

add DeterministicInstantiation
  framework/Cargo.lock
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-interface/src/native/ans_host.rs
  framework/packages/abstract-interface/src/native/ibc_client.rs
  framework/packages/abstract-interface/src/native/ibc_host.rs
  framework/packages/abstract-interface/src/native/module_factory.rs
  framework/packages/abstract-interface/src/native/version_control.rs
Labels: interface

use default type
  framework/packages/abstract-integration-tests/src/account.rs
Labels: none

update workspace hack
  framework/Cargo.lock
  framework/workspace-hack/Cargo.toml
Labels: none

formatting [skip ci]
  framework/packages/abstract-integration-tests/src/account.rs
Labels: none

formatting [skip ci]
  framework/scripts/src/main.rs
Labels: none

init xion deployment script
  framework/Cargo.lock
  framework/Cargo.toml
  framework/scripts/Cargo.toml
  framework/scripts/src/main.rs
Labels: none

add abstract package
  framework/Cargo.lock
  framework/scripts/Cargo.toml
  framework/scripts/src/main.rs
Labels: none

update artifacts
  framework/artifacts/abstract_ans_host.wasm
  framework/artifacts/abstract_ibc_client.wasm
  framework/artifacts/abstract_ibc_host.wasm
  framework/artifacts/abstract_ica_client.wasm
  framework/artifacts/abstract_module_factory.wasm
  framework/artifacts/abstract_version_control.wasm
  framework/artifacts/checksums.txt
Labels: none

lock
  framework/Cargo.lock
Labels: none

progress
  framework/Cargo.lock
  framework/scripts/Cargo.toml
  framework/scripts/src/main.rs
Labels: none

With new interchain version
  framework/Cargo.lock
  framework/Cargo.toml
  modules/Cargo.toml
Labels: none

re-order execute messages in account
  framework/contracts/account/src/contract.rs
Labels: account

add doc-comments
  framework/packages/abstract-std/src/account.rs
  framework/packages/abstract-std/src/objects/ownership/nested_admin.rs
Labels: none

formatting [skip ci]
  framework/packages/abstract-std/src/objects/ownership/nested_admin.rs
Labels: none

fix missing permission check and nits
  framework/contracts/account/src/execution.rs
  framework/packages/abstract-std/src/account.rs
Labels: account
