Repository AbstractSDK/abstract, changes with the labels that .github/labeler.yml gives for each.
All labels: account, native, breaking?, sdk, adapter_base, app_base, build, CI, documentation, interface

Simpler pre match
  framework/packages/abstract-interface/src/migrate.rs
Labels: interface

Ibc client and ibc host deployment updates (#531)
  framework/contracts/account/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/tests/snapshots/apps__execute_on_account.snap
  framework/contracts/account/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_multiple_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_standalone_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_with_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__exec_on_account.snap
  framework/contracts/account/tests/snapshots/proxy__instantiate_account.snap
  framework/contracts/account/tests/snapshots/subaccount__account_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__creating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account.snap
  framework/contracts/account/tests/snapshots/subaccount__updating_on_subaccount_should_succeed.snap
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-interface/src/migrate.rs
Labels: account, interface

Added ibc hooks
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/execution.rs
  framework/contracts/account/src/ics20.rs
  framework/contracts/account/src/lib.rs
  framework/packages/abstract-interface/src/account.rs
  framework/packages/abstract-sdk/src/apis/ibc_memo/hooks.rs
Labels: account, sdk, interface

Added ibc hooks ack
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/account/tests/token_transfers.rs
Labels: account

Abstract account version change
  framework/Cargo.lock
  framework/contracts/account/Cargo.toml
Labels: account

Changelog
  framework/docs/src/releases/CHANGELOG.md
Labels: documentation

Added migration function from xion accounts (#533)
  framework/Cargo.lock
  framework/contracts/account/Cargo.toml
  framework/contracts/account/src/migrate.rs
  framework/docs/src/releases/CHANGELOG.md
  framework/packages/abstract-interface/src/deployment.rs
  interchain/framework-clone-testing/tests/migrate.rs
Labels: account, documentation, interface

post-merge fixes
  framework/contracts/account/src/migrate.rs
  framework/contracts/account/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/tests/snapshots/apps__execute_on_account.snap
  framework/contracts/account/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_multiple_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_standalone_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_with_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__exec_on_account.snap
  framework/contracts/account/tests/snapshots/proxy__instantiate_account.snap
  framework/contracts/account/tests/snapshots/subaccount__account_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__creating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account.snap
  framework/contracts/account/tests/snapshots/subaccount__updating_on_subaccount_should_succeed.snap
Labels: account

Added other config and ci
  .circleci/config.yml
  framework/artifacts/abstract_account-xion.wasm
  framework/artifacts/abstract_account.wasm
  framework/artifacts/checksums.txt
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
  schema/account/0.24.2/abstract-account.json
  schema/ibc-client/0.24.1/abstract-ibc-client.json
  schema/ibc-host/0.24.1/abstract-ibc-host.json
  schema/ica-client/0.24.1/abstract-ica-client.json
  schema/registry/0.24.3/abstract-registry.json
Labels: none

Add .circleci/config.yml (#534)
  .circleci/config.yml
  framework/artifacts/abstract_account-xion.wasm
  framework/artifacts/abstract_account.wasm
  framework/artifacts/checksums.txt
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
  schema/account/0.24.2/abstract-account.json
  schema/ibc-client/0.24.1/abstract-ibc-client.json
  schema/ibc-host/0.24.1/abstract-ibc-host.json
  schema/ica-client/0.24.1/abstract-ica-client.json
  schema/registry/0.24.3/abstract-registry.json
Labels: none

Lock api changes
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/account/src/ics20.rs
  framework/contracts/account/src/lib.rs
  framework/contracts/account/src/reply.rs
  framework/contracts/native/ibc-client/Cargo.toml
  framework/packages/abstract-app/src/state.rs
  framework/packages/abstract-sdk/Cargo.toml
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-sdk/src/base/contract_base.rs
  framework/packages/abstract-sdk/src/base/endpoints/reply.rs
  framework/packages/abstract-sdk/src/base/handler.rs
  framework/packages/abstract-sdk/src/cw_helpers/ics20.rs
  framework/packages/abstract-sdk/src/cw_helpers/mod.rs
  framework/packages/abstract-sdk/src/error.rs
  framework/packages/abstract-std/Cargo.toml
  framework/packages/abstract-std/src/account.rs
  framework/packages/abstract-std/src/native/ibc.rs
  framework/packages/abstract-std/src/objects/storage_namespaces.rs
  modules/contracts/apps/ping-pong/src/contract.rs
  modules/contracts/apps/ping-pong/src/handlers/mod.rs
Labels: account, native, sdk, app_base

Added upload, migrated provider
  framework/packages/abstract-interface/src/migrate.rs
  interchain/scripts/state.json
Labels: interface

Migration with upload anyway
  framework/packages/abstract-interface/src/migrate.rs
  interchain/scripts/state.json
Labels: interface

ping-pong updates
  framework/packages/abstract-sdk/src/base/endpoints/reply.rs
  interchain/four-chain-starship/configs/two-junos.yaml
  interchain/interchain-end_to_end_testing/src/bin/module_ics20_callback.rs
  modules/contracts/apps/ping-pong/src/contract.rs
  modules/contracts/apps/ping-pong/src/handlers/execute.rs
  modules/contracts/apps/ping-pong/src/handlers/instantiate.rs
  modules/contracts/apps/ping-pong/src/handlers/mod.rs
  modules/contracts/apps/ping-pong/src/handlers/query.rs
  modules/contracts/apps/ping-pong/src/handlers/sudo.rs
  modules/contracts/apps/ping-pong/src/msg.rs
  modules/contracts/apps/ping-pong/src/state.rs
Labels: sdk

Rev namespace for abstract (#524)
  framework/contracts/native/registry/src/contract.rs
  framework/contracts/native/registry/src/migrate.rs
Labels: native

Added xion crate instead of local xion (#525)
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/execution.rs
  framework/contracts/account/src/lib.rs
  framework/contracts/account/tests/xion.rs
  framework/packages/abstract-std/src/account.rs
  framework/packages/abstract-xion/Cargo.toml
  framework/packages/abstract-xion/src/auth/eth_crypto.rs
  framework/packages/abstract-xion/src/auth/jwt.rs
  framework/packages/abstract-xion/src/auth/mod.rs
  framework/packages/abstract-xion/src/auth/passkey.rs
  framework/packages/abstract-xion/src/auth/secp256r1.rs
  framework/packages/abstract-xion/src/auth/sign_arb.rs
  framework/packages/abstract-xion/src/auth/util.rs
  framework/packages/abstract-xion/src/error.rs
  framework/packages/abstract-xion/src/lib.rs
  framework/packages/abstract-xion/src/queries.rs
  framework/packages/abstract-xion/src/state.rs
  framework/packages/abstract-xion/src/sudo.rs
  framework/packages/abstract-xion/src/xion_proto/jwk.rs
  framework/packages/abstract-xion/src/xion_proto/mod.rs
  framework/workspace-hack/Cargo.toml
  interchain/Cargo.toml
  interchain/scripts/Cargo.toml
  interchain/scripts/src/bin/xion_test.rs
Labels: account

Better doc comment (#529)
  framework/packages/abstract-client/src/builder.rs
Labels: none

Registry 0.24.3 release (#530)
  framework/Cargo.lock
  framework/artifacts/abstract_account-xion.wasm
  framework/artifacts/abstract_account.wasm
  framework/artifacts/abstract_ibc_client.wasm
  framework/artifacts/abstract_ibc_host.wasm
  framework/artifacts/abstract_ica_client.wasm
  framework/artifacts/abstract_module_factory.wasm
  framework/artifacts/abstract_registry.wasm
  framework/artifacts/checksums.txt
  framework/contracts/native/registry/Cargo.toml
  interchain/scripts/state.json
Labels: native

Ibc client and ibc host deployment updates (#531)
  framework/contracts/account/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/tests/snapshots/apps__execute_on_account.snap
  framework/contracts/account/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_multiple_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_standalone_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_with_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__exec_on_account.snap
  framework/contracts/account/tests/snapshots/proxy__instantiate_account.snap
  framework/contracts/account/tests/snapshots/subaccount__account_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__creating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account.snap
  framework/contracts/account/tests/snapshots/subaccount__updating_on_subaccount_should_succeed.snap
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-interface/src/migrate.rs
Labels: account, interface

Added migration function from xion accounts (#533)
  framework/Cargo.lock
  framework/contracts/account/Cargo.toml
  framework/contracts/account/src/migrate.rs
  framework/docs/src/releases/CHANGELOG.md
  framework/packages/abstract-interface/src/deployment.rs
  interchain/framework-clone-testing/tests/migrate.rs
Labels: account, documentation, interface

Add .circleci/config.yml (#534)
  .circleci/config.yml
  framework/artifacts/abstract_account-xion.wasm
  framework/artifacts/abstract_account.wasm
  framework/artifacts/checksums.txt
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
  schema/account/0.24.2/abstract-account.json
  schema/ibc-client/0.24.1/abstract-ibc-client.json
  schema/ibc-host/0.24.1/abstract-ibc-host.json
  schema/ica-client/0.24.1/abstract-ica-client.json
  schema/registry/0.24.3/abstract-registry.json
Labels: none

feature gate send_funds_with_callback
  framework/packages/abstract-sdk/src/apis/ibc.rs
  interchain/interchain-end_to_end_testing/Cargo.toml
  modules/contracts/apps/ping-pong/Cargo.toml
Labels: sdk

cargo lock
  framework/Cargo.lock
Labels: none

Move ics20 callback logic from account to the ibc-client
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/account/Cargo.toml
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/execution.rs
  framework/contracts/account/src/ics20.rs
  framework/contracts/account/src/lib.rs
  framework/contracts/account/src/reply.rs
  framework/contracts/account/tests/token_transfers.rs
  framework/contracts/native/ibc-client/Cargo.toml
  framework/contracts/native/ibc-client/src/anybuf.rs
  framework/contracts/native/ibc-client/src/commands.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/contracts/native/ibc-client/src/error.rs
  framework/contracts/native/ibc-client/src/ics20.rs
  framework/contracts/native/ibc-client/src/lib.rs
  framework/contracts/native/ibc-client/src/reply.rs
  framework/packages/abstract-interface/src/account.rs
  framework/packages/abstract-interface/src/native/ibc_client.rs
  framework/packages/abstract-std/Cargo.toml
  framework/packages/abstract-std/src/account.rs
  framework/packages/abstract-std/src/native/ibc.rs
  framework/packages/abstract-std/src/native/ibc/ibc_client.rs
  framework/packages/abstract-std/src/objects/storage_namespaces.rs
Labels: account, native, interface

ibc_hook_callback starship e2e test
  framework/contracts/account/tests/ibc_client.rs
  interchain/interchain-end_to_end_testing/src/bin/ibc_hook_callback.rs
Labels: account

artifacts update
  framework/artifacts/abstract_account-xion.wasm
  framework/artifacts/abstract_account.wasm
  framework/artifacts/abstract_ans_host.wasm
  framework/artifacts/abstract_ibc_client.wasm
  framework/artifacts/abstract_ibc_host.wasm
  framework/artifacts/abstract_ica_client.wasm
  framework/artifacts/abstract_module_factory.wasm
  framework/artifacts/abstract_registry.wasm
  framework/artifacts/checksums.txt
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
Labels: none

Minimize changes
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/execution.rs
  framework/contracts/account/tests/token_transfers.rs
  interchain/interchain-end_to_end_testing/src/bin/ibc_hook.rs
Labels: account

ibc-client whitelist by default
  framework/contracts/native/ibc-client/src/commands.rs
  framework/packages/abstract-std/src/objects/module.rs
Labels: native

clippy
  framework/contracts/account/src/error.rs
  framework/contracts/account/tests/token_transfers.rs
  framework/contracts/native/ibc-client/src/anybuf.rs
  framework/contracts/native/ibc-client/src/error.rs
  framework/contracts/native/ibc-client/src/reply.rs
  framework/packages/abstract-std/src/native/ibc/ibc_client.rs
  interchain/interchain-end_to_end_testing/src/bin/ibc_hook_callback.rs
Labels: account, native

hakari update
  framework/workspace-hack/Cargo.toml
Labels: none

unused reply variant
  framework/Cargo.lock
  framework/contracts/account/src/contract.rs
Labels: account

artifacts
  framework/artifacts/abstract_account-xion.wasm
  framework/artifacts/abstract_account.wasm
  framework/artifacts/abstract_registry.wasm
  framework/artifacts/checksums.txt
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking-osmosis.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter-osmosis.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
Labels: none

fix code_id of the account for instantiating modules during account instantiation
  framework/artifacts/abstract_account-xion.wasm
  framework/artifacts/abstract_account.wasm
  framework/artifacts/checksums.txt
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/migrate.rs
  framework/contracts/account/src/modules.rs
Labels: account

Signing everything inside circle ci
  .circleci/config.yml
Labels: none

Fix install modules during instantiation (#537)
  framework/artifacts/abstract_account-xion.wasm
  framework/artifacts/abstract_account.wasm
  framework/artifacts/abstract_registry.wasm
  framework/artifacts/checksums.txt
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/migrate.rs
  framework/contracts/account/src/modules.rs
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking-osmosis.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter-osmosis.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
Labels: account

Signing everything inside circle ci (#538)
  .circleci/config.yml
Labels: none

Fixed testsé
  framework/contracts/native/ibc-client/src/contract.rs
  framework/packages/abstract-client/README.md
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-interface/tests/interchain_integration/interchain_accounts.rs
  framework/packages/abstract-sdk/README.md
  framework/packages/abstract-sdk/src/apis/bank.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-sdk/src/apis/version_registry.rs
  framework/packages/abstract-std/src/objects/module.rs
Labels: native, sdk, interface

Another test
  .circleci/config.yml
  scripts/wasm-framework-ci.sh
Labels: none

Less account diff
  framework/Cargo.lock
  framework/contracts/account/Cargo.toml
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/lib.rs
  framework/contracts/native/ibc-client/Cargo.toml
  framework/contracts/native/ibc-client/tests/token_transfers.rs
Labels: account, native

Less diff
  framework/Cargo.lock
  framework/contracts/account/Cargo.toml
  framework/contracts/account/src/contract.rs
Labels: account

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeller Github Action.
"account":
  # Match all of account folders
  - framework/contracts/account/**/*
"native":
  # Match all of native folders
  - framework/contracts/native/**/*
"breaking?":
  # Match all of abstract_std folders
  - framework/packages/abstract_std/**/*
"sdk":
  # Match all of sdk folders
  - framework/packages/abstract-sdk/**/*
"adapter_base":
  # Match all of adapter base folders
  - framework/packages/abstract-adapter/**/*
"app_base":
  # Match all of app base folders
  - framework/packages/abstract-app/**/*
"build":
  - build_release.sh
"CI":
  - .github/**/*.yml
# Add "C:documentation" label to documented related files and directories.
"documentation":
  - README.md
  - framework/contracts/**/*.md
  - framework/contracts/**/*/*.md
  - framework/docs/src/**/*
"interface":
  - framework/packages/abstract-interface/**/*
