Repository AbstractSDK/abstract, changes with the labels that .github/labeler.yml gives for each.
All labels: account, native, breaking?, sdk, adapter_base, app_base, build, CI, documentation, interface

fix ibc-host tests
  framework/contracts/native/ibc-host/src/account_commands.rs
  framework/contracts/native/ibc-host/tests/integration.rs
Labels: native

fix ica tests
  framework/contracts/native/ica-client/src/contract.rs
  framework/contracts/native/ica-client/src/queries.rs
  framework/packages/abstract-ica/src/msg.rs
Labels: native

update comment
  framework/packages/abstract-ica/src/msg.rs
Labels: none

update comments
  framework/contracts/native/ibc-host/src/account_commands.rs
Labels: native

Renamed config key
  framework/packages/abstract-std/src/account.rs
  framework/packages/abstract-std/src/native/ans_host.rs
  framework/packages/abstract-std/src/native/ibc/ibc_client.rs
  framework/packages/abstract-std/src/native/ibc/ibc_host.rs
  framework/packages/abstract-std/src/native/ibc/ica_client.rs
  framework/packages/abstract-std/src/native/module_factory.rs
  framework/packages/abstract-std/src/native/version_control.rs
  framework/packages/abstract-std/src/objects/storage_namespaces.rs
Labels: none

fix abstract-app tests
  framework/Cargo.lock
  framework/contracts/native/ibc-client/src/commands.rs
  framework/packages/abstract-app/Cargo.toml
  framework/packages/abstract-app/src/endpoints.rs
  framework/packages/abstract-app/src/endpoints/execute.rs
  framework/packages/abstract-app/src/endpoints/instantiate.rs
  framework/packages/abstract-app/src/endpoints/query.rs
  framework/packages/abstract-app/src/features.rs
  framework/packages/abstract-app/src/lib.rs
  framework/packages/abstract-std/src/app.rs
Labels: native, app_base

fix abstract-adapters tests
  framework/Cargo.lock
  framework/contracts/account/src/config.rs
  framework/contracts/account/src/modules.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/packages/abstract-adapter/Cargo.toml
  framework/packages/abstract-adapter/src/endpoints.rs
  framework/packages/abstract-adapter/src/endpoints/execute.rs
  framework/packages/abstract-adapter/src/endpoints/instantiate.rs
  framework/packages/abstract-adapter/src/endpoints/reply.rs
  framework/packages/abstract-adapter/src/endpoints/sudo.rs
  framework/packages/abstract-adapter/src/features.rs
  framework/packages/abstract-sdk/src/apis/bank.rs
  framework/packages/abstract-sdk/src/apis/execution.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-sdk/src/apis/verify.rs
  framework/packages/abstract-sdk/src/base/features/identification.rs
  framework/packages/abstract-sdk/src/feature_objects.rs
  framework/packages/abstract-testing/src/abstract_mock_querier.rs
  framework/packages/abstract-testing/src/lib.rs
  framework/packages/abstract-testing/src/mock_querier.rs
Labels: account, native, sdk, adapter_base

make it less conflicting
  framework/contracts/account/src/config.rs
  framework/contracts/account/src/modules.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/packages/abstract-adapter/src/endpoints/execute.rs
  framework/packages/abstract-adapter/src/features.rs
  framework/packages/abstract-sdk/src/apis/bank.rs
  framework/packages/abstract-sdk/src/apis/execution.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-sdk/src/apis/verify.rs
  framework/packages/abstract-sdk/src/base/features/identification.rs
  framework/packages/abstract-testing/src/lib.rs
  framework/packages/abstract-testing/src/mock_querier.rs
Labels: account, native, sdk, adapter_base

add absacc
  framework/Cargo.lock
  framework/packages/abstract-std/Cargo.toml
  framework/packages/abstract-std/src/absacc.rs
  framework/packages/abstract-std/src/lib.rs
Labels: none

Added AbstractInterchainClient
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/src/lib.rs
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-interface/src/ibc.rs
  modules/Cargo.toml
  modules/contracts/apps/ping-pong/tests/ping_pong_tests.rs
Labels: interface

Revert "Added AbstractInterchainClient"
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/src/lib.rs
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-interface/src/ibc.rs
  modules/Cargo.toml
  modules/contracts/apps/ping-pong/tests/ping_pong_tests.rs
Labels: interface

Revert "Revert "Added AbstractInterchainClient""
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/src/lib.rs
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-interface/src/ibc.rs
  modules/Cargo.toml
  modules/contracts/apps/ping-pong/tests/ping_pong_tests.rs
Labels: interface

new
  framework/packages/abstract-client/src/lib.rs
  modules/contracts/apps/ping-pong/tests/better_interchain_api.rs
Labels: none

fix subaccount tests
  framework/contracts/account/src/config.rs
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/execution.rs
  framework/contracts/account/src/modules.rs
  framework/contracts/account/src/modules/migration.rs
  framework/contracts/account/src/queries.rs
  framework/contracts/account/tests/snapshots/subaccount__creating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__proxy_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account.snap
  framework/contracts/account/tests/snapshots/subaccount__updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/subaccount.rs
  framework/packages/abstract-integration-tests/src/account.rs
  framework/packages/abstract-interface/src/account.rs
  framework/packages/abstract-std/src/account.rs
  framework/packages/abstract-testing/src/lib.rs
Labels: account, interface

formatting [skip ci]
  framework/contracts/account/src/queries.rs
  framework/contracts/account/tests/subaccount.rs
  framework/packages/abstract-integration-tests/src/account.rs
  framework/packages/abstract-interface/src/account.rs
Labels: account, interface

is_admin now takes the call_to context into account
  framework/packages/abstract-adapter/src/endpoints/execute.rs
  framework/packages/abstract-app/examples/counter.rs
  framework/packages/abstract-app/src/endpoints/execute.rs
  framework/packages/abstract-app/src/lib.rs
  framework/packages/abstract-sdk/src/apis/verify.rs
  framework/packages/abstract-sdk/src/error.rs
  framework/packages/abstract-std/src/objects/ownership/nested_admin.rs
  modules/contracts/apps/calendar/src/handlers/execute.rs
  modules/contracts/apps/challenge/src/handlers/execute.rs
  modules/contracts/apps/croncat/src/handlers/execute.rs
  modules/contracts/apps/dca/src/handlers/execute.rs
  modules/contracts/apps/payment/src/handlers/execute.rs
  modules/contracts/apps/subscription/src/handlers/execute.rs
  modules/contracts/standalones/ica-owner/src/contract.rs
Labels: sdk, adapter_base, app_base

fix last tests
  framework/Cargo.lock
  framework/contracts/account/Cargo.toml
  framework/contracts/account/src/config.rs
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/execution.rs
  framework/contracts/account/src/lib.rs
  framework/contracts/account/src/modules.rs
  framework/contracts/account/src/modules/migration.rs
  framework/contracts/account/src/queries.rs
  framework/contracts/account/tests/create.rs
  framework/contracts/account/tests/proxy.rs
  framework/contracts/account/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__exec_on_account.snap
  framework/contracts/account/tests/snapshots/proxy__instantiate_account.snap
  framework/contracts/account/tests/snapshots/proxy__proxy_install_multiple_modules.snap
  framework/contracts/account/tests/snapshots/proxy__proxy_install_standalone_modules.snap
  framework/contracts/account/tests/snapshots/proxy__proxy_with_response_data.snap
  framework/contracts/account/tests/upgrades.rs
  framework/packages/abstract-integration-tests/src/account.rs
  framework/packages/abstract-integration-tests/src/create.rs
  framework/packages/abstract-std/src/account.rs
  framework/workspace-hack/Cargo.toml
Labels: account

clippy
  framework/contracts/account/src/config.rs
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/execution.rs
  framework/contracts/account/src/modules/migration.rs
  framework/contracts/account/tests/adapters.rs
  framework/contracts/account/tests/apps.rs
  framework/contracts/account/tests/create.rs
  framework/contracts/account/tests/install_modules.rs
  framework/contracts/account/tests/proxy.rs
  framework/contracts/account/tests/subaccount.rs
  framework/contracts/account/tests/upgrades.rs
Labels: account

compiles
  framework/Cargo.lock
  framework/contracts/account/Cargo.toml
  framework/contracts/account/src/absacc/auth/eth_crypto.rs
  framework/contracts/account/src/absacc/auth/jwt.rs
  framework/contracts/account/src/absacc/auth/mod.rs
  framework/contracts/account/src/absacc/auth/passkey.rs
  framework/contracts/account/src/absacc/auth/secp256r1.rs
  framework/contracts/account/src/absacc/auth/sign_arb.rs
  framework/contracts/account/src/absacc/auth/util.rs
  framework/contracts/account/src/absacc/mod.rs
  framework/contracts/account/src/absacc/sudo.rs
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/lib.rs
  framework/packages/abstract-std/Cargo.toml
  framework/packages/abstract-std/src/absacc.rs
  framework/packages/abstract-std/src/account.rs
Labels: account

minus account clone
  framework/packages/abstract-app/src/endpoints/query.rs
Labels: app_base

re-use setup
  framework/packages/abstract-sdk/src/apis/adapter.rs
  framework/packages/abstract-sdk/src/apis/app.rs
  framework/packages/abstract-sdk/src/apis/authz.rs
  framework/packages/abstract-sdk/src/apis/bank.rs
  framework/packages/abstract-sdk/src/apis/execution.rs
  framework/packages/abstract-sdk/src/apis/feegrant.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-sdk/src/apis/modules.rs
  framework/packages/abstract-sdk/src/mock_module.rs
Labels: sdk

V2/Fix abstract app tests (#467)
  framework/Cargo.lock
  framework/contracts/native/ibc-client/src/commands.rs
  framework/packages/abstract-app/Cargo.toml
  framework/packages/abstract-app/src/endpoints.rs
  framework/packages/abstract-app/src/endpoints/execute.rs
  framework/packages/abstract-app/src/endpoints/instantiate.rs
  framework/packages/abstract-app/src/endpoints/query.rs
  framework/packages/abstract-app/src/features.rs
  framework/packages/abstract-app/src/lib.rs
  framework/packages/abstract-std/src/app.rs
Labels: native, app_base

V2/Fix abstract sdk tests (#461)
  framework/packages/abstract-sdk/src/ans_resolve.rs
  framework/packages/abstract-sdk/src/apis/adapter.rs
  framework/packages/abstract-sdk/src/apis/app.rs
  framework/packages/abstract-sdk/src/apis/authz.rs
  framework/packages/abstract-sdk/src/apis/bank.rs
  framework/packages/abstract-sdk/src/apis/distribution.rs
  framework/packages/abstract-sdk/src/apis/execution.rs
  framework/packages/abstract-sdk/src/apis/feegrant.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-sdk/src/apis/modules.rs
  framework/packages/abstract-sdk/src/apis/splitter.rs
  framework/packages/abstract-sdk/src/apis/verify.rs
  framework/packages/abstract-sdk/src/apis/version_registry.rs
  framework/packages/abstract-sdk/src/mock_module.rs
  framework/packages/abstract-std/src/objects/account/account_id.rs
  framework/packages/abstract-testing/src/abstract_mock_querier.rs
Labels: sdk

V2/Fix abstract adapter tests (#468)
  framework/Cargo.lock
  framework/packages/abstract-adapter/Cargo.toml
  framework/packages/abstract-adapter/src/endpoints.rs
  framework/packages/abstract-adapter/src/endpoints/execute.rs
  framework/packages/abstract-adapter/src/endpoints/instantiate.rs
  framework/packages/abstract-adapter/src/endpoints/reply.rs
  framework/packages/abstract-adapter/src/endpoints/sudo.rs
  framework/packages/abstract-adapter/src/features.rs
  framework/packages/abstract-sdk/src/feature_objects.rs
  framework/packages/abstract-testing/src/abstract_mock_querier.rs
Labels: sdk, adapter_base

V2/Fix ica client tests (#466)
  framework/contracts/native/ica-client/src/contract.rs
  framework/contracts/native/ica-client/src/queries.rs
  framework/packages/abstract-ica/src/msg.rs
Labels: native

V2/Fix ibc client tests (#464)
  framework/contracts/native/ibc-client/src/contract.rs
  framework/packages/abstract-std/src/objects/version_control.rs
Labels: native

Update WASM & Schemas [skip ci]
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking-injective.wasm
  modules/artifacts/abstract_cw_staking-juno.wasm
  modules/artifacts/abstract_cw_staking-kujira.wasm
  modules/artifacts/abstract_cw_staking-neutron.wasm
  modules/artifacts/abstract_cw_staking-osmosis.wasm
  modules/artifacts/abstract_cw_staking-sei.wasm
  modules/artifacts/abstract_cw_staking-terra2.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter-injective.wasm
  modules/artifacts/abstract_dex_adapter-juno.wasm
  modules/artifacts/abstract_dex_adapter-kujira.wasm
  modules/artifacts/abstract_dex_adapter-neutron.wasm
  modules/artifacts/abstract_dex_adapter-osmosis.wasm
  modules/artifacts/abstract_dex_adapter-sei.wasm
  modules/artifacts/abstract_dex_adapter-terra2.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter-kujira.wasm
  modules/artifacts/abstract_money_market_adapter-osmosis.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/dca_app.wasm
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
Labels: none

V2/Fix ibc host tests (#465)
  framework/contracts/native/ibc-host/src/account_commands.rs
  framework/contracts/native/ibc-host/tests/integration.rs
Labels: native

Update all namespaces to minimal namespaces (#457)
  framework/contracts/account/src/config.rs
  framework/contracts/account/src/modules.rs
  framework/contracts/account/src/modules/migration.rs
  framework/contracts/native/ica-client/src/chain_types/evm.rs
  framework/contracts/native/ica-client/src/contract.rs
  framework/contracts/native/ica-client/src/lib.rs
  framework/contracts/native/ica-client/src/queries.rs
  framework/contracts/native/ica-client/src/state.rs
  framework/contracts/native/module-factory/src/contract.rs
  framework/contracts/native/version-control/src/migrate.rs
  framework/docs/src/releases/CHANGELOG.md
  framework/packages/abstract-sdk/src/lib.rs
  framework/packages/abstract-std/src/account.rs
  framework/packages/abstract-std/src/native/ans_host.rs
  framework/packages/abstract-std/src/native/ibc.rs
  framework/packages/abstract-std/src/native/ibc/ibc_client.rs
  framework/packages/abstract-std/src/native/ibc/ibc_host.rs
  framework/packages/abstract-std/src/native/ibc/ica_client.rs
  framework/packages/abstract-std/src/native/mod.rs
  framework/packages/abstract-std/src/native/module_factory.rs
  framework/packages/abstract-std/src/native/version_control.rs
  framework/packages/abstract-std/src/objects/common_namespace.rs
  framework/packages/abstract-std/src/objects/mod.rs
  framework/packages/abstract-std/src/objects/module_version.rs
  framework/packages/abstract-std/src/objects/ownership/gov_ownable.rs
  framework/packages/abstract-std/src/objects/storage_namespaces.rs
  framework/packages/abstract-testing/src/abstract_mock_querier.rs
  framework/packages/abstract-testing/src/mock_querier.rs
Labels: account, native, sdk, documentation

V2/Account migration is protected (#450)
  framework/contracts/account/Cargo.toml
  framework/contracts/account/src/modules/migration.rs
  framework/packages/abstract-std/src/account.rs
Labels: account

upgrades for new cw-multi-test
  framework/Cargo.lock
  framework/packages/abstract-interface/examples/abstract_addrs.rs
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-sdk/src/feature_objects.rs
  framework/packages/abstract-std/src/native_addrs.rs
  framework/packages/abstract-testing/src/lib.rs
Labels: sdk, interface

add comment
  framework/packages/abstract-interface/src/deployment.rs
Labels: interface

postmerge fix
  framework/packages/abstract-std/src/objects/version_control.rs
Labels: none

V2/Fix version control query unit tests (#463)
  framework/contracts/native/version-control/src/commands.rs
  framework/contracts/native/version-control/src/contract.rs
  framework/contracts/native/version-control/src/queries.rs
Labels: native

fix received payment assertion.
  framework/contracts/account/src/contract.rs
Labels: account

make tests return Result
  framework/contracts/account/src/execution.rs
Labels: account

optimize remove call
  framework/contracts/account/src/modules.rs
Labels: account

formatting
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/execution.rs
Labels: account

return Result in test
  framework/contracts/account/src/queries.rs
Labels: account

wip one auth per account
  framework/contracts/account/src/absacc/auth/jwt.rs
  framework/contracts/account/src/absacc/auth/mod.rs
  framework/contracts/account/src/absacc/auth/sign_arb.rs
  framework/contracts/account/src/absacc/sudo.rs
  framework/contracts/account/src/contract.rs
  framework/packages/abstract-std/src/account.rs
Labels: account

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeller Github Action.
"account":
  # Match all of account folders
  - framework/contracts/account/**/*
"native":
  # Match all of native folders
  - framework/contracts/native/**/*
"breaking?":
  # Match all of abstract_std folders
  - framework/packages/abstract_std/**/*
"sdk":
  # Match all of sdk folders
  - framework/packages/abstract-sdk/**/*
"adapter_base":
  # Match all of adapter base folders
  - framework/packages/abstract-adapter/**/*
"app_base":
  # Match all of app base folders
  - framework/packages/abstract-app/**/*
"build":
  - build_release.sh
"CI":
  - .github/**/*.yml
# Add "C:documentation" label to documented related files and directories.
"documentation":
  - README.md
  - framework/contracts/**/*.md
  - framework/contracts/**/*/*.md
  - framework/docs/src/**/*
"interface":
  - framework/packages/abstract-interface/**/*
