Repository AbstractSDK/abstract, changes with the labels that .github/labeler.yml gives for each.
All labels: account, native, breaking?, sdk, adapter_base, app_base, build, CI, documentation, interface

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeller Github Action.
"account":
  # Match all of account folders
  - framework/contracts/account/**/*
"native":
  # Match all of native folders
  - framework/contracts/native/**/*
"breaking?":
  # Match all of abstract_std folders
  - framework/packages/abstract_std/**/*
"sdk":
  # Match all of sdk folders
  - framework/packages/abstract-sdk/**/*
"adapter_base":
  # Match all of adapter base folders
  - framework/packages/abstract-adapter/**/*
"app_base":
  # Match all of app base folders
  - framework/packages/abstract-app/**/*
"build":
  - build_release.sh
"CI":
  - .github/**/*.yml
# Add "C:documentation" label to documented related files and directories.
"documentation":
  - README.md
  - framework/contracts/**/*.md
  - framework/contracts/**/*/*.md
  - framework/docs/src/**/*
"interface":
  - framework/packages/abstract-interface/**/*

Added connect ibc args
  interchain/scripts/src/bin/connect_ibc.rs
  interchain/scripts/src/lib.rs
Labels: none

Added integration test to prove a point
  framework/packages/abstract-client/tests/integration.rs
Labels: none

Dpeloyed on osmosis testnet
  interchain/scripts/state.json
Labels: none

Added polytone deployment start
  interchain/scripts/state.json
Labels: none

remove prost from abstract-xion deps
  framework/Cargo.lock
  framework/packages/abstract-xion/Cargo.toml
  framework/packages/abstract-xion/src/auth/jwt.rs
  framework/packages/abstract-xion/src/auth/passkey.rs
  framework/packages/abstract-xion/src/error.rs
  framework/packages/abstract-xion/src/xion_proto/jwk.rs
  framework/packages/abstract-xion/src/xion_proto/mod.rs
Labels: none

Remove install_on_subaccount
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/tests/integration.rs
Labels: none

Doc fix
  framework/packages/abstract-client/src/client.rs
Labels: none

easier syntax
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/tests/integration.rs
Labels: none

Added proposal for cosmos hub provider testnet
  interchain/Cargo.toml
  interchain/scripts/Cargo.toml
  interchain/scripts/src/bin/proposal_template.rs
Labels: none

Fix typos (#445)
  framework/development/IBC.md
  framework/development/VERSIONING.md
  framework/docs/src/2_introduction/1_design_space.md
  framework/docs/src/3_framework/2_chain_abstraction.md
  framework/packages/abstract-app/src/lib.rs
  framework/packages/abstract-standalone/src/lib.rs
  framework/packages/standards/dex/src/command.rs
Labels: app_base, documentation

updated hakari
  framework/workspace-hack/Cargo.toml
Labels: none

Changelog
  framework/docs/src/releases/CHANGELOG.md
Labels: documentation

Simplifying cw-storage implementation (#505)
  framework/contracts/native/registry/src/commands.rs
  framework/contracts/native/registry/src/queries.rs
  framework/docs/src/releases/CHANGELOG.md
  framework/packages/abstract-std/src/objects/entry/asset_entry.rs
  framework/packages/abstract-std/src/objects/entry/dex_asset_pairing.rs
  framework/packages/abstract-std/src/objects/module.rs
  framework/packages/abstract-std/src/objects/pool/unique_pool_id.rs
Labels: native, documentation

Update WASM & Schemas [skip ci]
  framework/artifacts/abstract_account-xion.wasm
  framework/artifacts/abstract_account.wasm
  framework/artifacts/abstract_ans_host.wasm
  framework/artifacts/abstract_ibc_client.wasm
  framework/artifacts/abstract_ibc_host.wasm
  framework/artifacts/abstract_registry.wasm
  framework/artifacts/checksums.txt
  modules/artifacts/checksums.txt
  modules/artifacts/payment_app.wasm
Labels: none

Pion-cosmos polytone deployment start
  interchain/scripts/state.json
Labels: none

Fix tests
  framework/packages/abstract-std/src/objects/gov_type.rs
  interchain/Cargo.toml
  interchain/scripts/Cargo.toml
  interchain/scripts/src/bin/xion_test.rs
Labels: none

daemon state updates
  framework/Cargo.lock
  framework/packages/abstract-interface/src/daemon_state.rs
  framework/packages/abstract-interface/src/ibc.rs
Labels: interface

manager and proxy mentions removed from docs
  framework/contracts/account/Cargo.toml
  framework/contracts/account/VERSIONING.md
  framework/contracts/native/ibc-client/README.md
  framework/development/IBC.md
  framework/packages/abstract-integration-tests/README.md
Labels: account, native, documentation

Test fixes
  framework/Cargo.lock
  framework/Cargo.toml
  framework/packages/abstract-sdk/README.md
  framework/packages/abstract-sdk/src/apis/bank.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-sdk/src/apis/verify.rs
  framework/packages/abstract-sdk/src/apis/version_registry.rs
  interchain/Cargo.toml
  interchain/scripts/state.json
Labels: sdk

Less diff
  framework/Cargo.lock
  framework/contracts/account/tests/adapters.rs
  framework/contracts/account/tests/apps.rs
  framework/contracts/native/ica-client/Cargo.toml
Labels: account, native

Less diff and fixes
  framework/Cargo.toml
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-interface/src/account.rs
  integrations/Cargo.toml
  interchain/Cargo.toml
  modules/Cargo.toml
Labels: interface

Remove unused fields and variants (#506)
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/account/src/contract.rs
  framework/packages/abstract-app/src/endpoints/execute.rs
  framework/packages/abstract-sdk/README.md
  framework/packages/abstract-sdk/src/apis/bank.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-sdk/src/apis/verify.rs
  framework/packages/abstract-sdk/src/apis/version_registry.rs
  framework/packages/abstract-std/src/app.rs
  framework/packages/abstract-std/src/native_addrs.rs
  framework/packages/abstract-std/src/objects/gov_type.rs
  framework/packages/abstract-std/src/objects/ownership/README.md
  framework/packages/abstract-std/src/objects/ownership/gov_ownable.rs
  interchain/Cargo.toml
  interchain/scripts/Cargo.toml
  interchain/scripts/src/bin/xion_test.rs
  interchain/scripts/state.json
Labels: account, sdk, app_base

Update WASM & Schemas [skip ci]
  framework/artifacts/abstract_account-xion.wasm
  framework/artifacts/abstract_account.wasm
  framework/artifacts/abstract_ans_host.wasm
  framework/artifacts/abstract_ibc_client.wasm
  framework/artifacts/abstract_ibc_host.wasm
  framework/artifacts/abstract_ica_client.wasm
  framework/artifacts/abstract_module_factory.wasm
  framework/artifacts/abstract_registry.wasm
  framework/artifacts/checksums.txt
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
  schema/calendar/0.3.0/execute_msg.json
  schema/challenge/0.4.0/execute_msg.json
  schema/payment/0.4.0/execute_msg.json
  schema/subscription/0.24.1-beta.2/execute_msg.json
Labels: none

Fix install app
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-client/tests/interchain_integration.rs
  interchain/scripts/src/bin/create_remote_account.rs
  modules/contracts/adapters/cw-staking/src/staking_tester.rs
  modules/contracts/adapters/dex/src/dex_tester.rs
  modules/contracts/adapters/money-market/src/tester.rs
  modules/contracts/apps/calendar/tests/integration.rs
  modules/contracts/apps/ping-pong/tests/ping_pong_tests.rs
  modules/contracts/apps/subscription/tests/integration.rs
  modules/contracts/standalones/ica-owner/src/bin/publish.rs
Labels: none

Abstract framework testing adding and fixing (#507)
  framework/contracts/account/tests/adapters.rs
  framework/contracts/account/tests/upgrades.rs
  framework/packages/abstract-app/src/features.rs
  framework/packages/abstract-interface/src/daemon_state.rs
  framework/packages/abstract-interface/src/error.rs
  framework/packages/abstract-interface/src/ibc.rs
  framework/packages/abstract-sdk/src/apis/version_registry.rs
  framework/packages/abstract-standalone/src/features.rs
  framework/packages/abstract-std/src/objects/registry.rs
  framework/packages/abstract-testing/src/mock_ans.rs
Labels: account, sdk, app_base, interface

Take comments into account
  framework/Cargo.toml
  framework/contracts/native/ica-client/src/queries.rs
  framework/packages/abstract-std/src/native/ibc/ica_client.rs
  interchain/interchain-end_to_end_testing/src/bin/gov-prop-abstract.rs
  interchain/interchain-end_to_end_testing/src/bin/ica_client.rs
  interchain/scripts/Cargo.toml
  scripts/wasm-framework.sh
Labels: native

formatting [skip ci]
  interchain/interchain-end_to_end_testing/src/bin/ica_client.rs
Labels: none

Nicolas/abs 547 remove unsued error variants (#499)
  framework/Cargo.toml
  framework/contracts/account/Cargo.toml
  framework/contracts/account/src/error.rs
  framework/contracts/native/ans-host/src/error.rs
  framework/contracts/native/ibc-client/src/error.rs
  framework/contracts/native/ibc-host/src/error.rs
  framework/contracts/native/ica-client/src/error.rs
  framework/contracts/native/module-factory/src/error.rs
  framework/contracts/native/registry/src/error.rs
  framework/packages/abstract-adapter/src/error.rs
  framework/packages/abstract-adapter/src/lib.rs
  framework/packages/abstract-app/examples/counter.rs
  framework/packages/abstract-app/src/error.rs
  framework/packages/abstract-app/src/lib.rs
  framework/packages/abstract-client/src/error.rs
  framework/packages/abstract-interface/src/error.rs
  framework/packages/abstract-interface/tests/interchain_integration/module_to_module_interactions.rs
  framework/packages/abstract-sdk/src/base/contract_base.rs
  framework/packages/abstract-sdk/src/cw_helpers/cw_ownable.rs
  framework/packages/abstract-sdk/src/error.rs
  framework/packages/abstract-standalone/examples/counter.rs
  framework/packages/abstract-standalone/src/lib.rs
  framework/packages/abstract-std/src/error.rs
  framework/packages/abstract-std/src/objects/ownership/gov_ownable.rs
  framework/packages/abstract-std/src/objects/validation/error.rs
  framework/packages/abstract-xion/src/error.rs
  framework/packages/standards/dex/src/error.rs
  framework/packages/standards/money-market/src/error.rs
  framework/packages/standards/staking/src/error.rs
  interchain/Cargo.toml
  interchain/scripts/src/bin/xion_test.rs
  modules/contracts/adapters/tendermint-staking/src/error.rs
  modules/contracts/apps/calendar/src/error.rs
  modules/contracts/apps/challenge/src/error.rs
  modules/contracts/apps/payment/src/error.rs
  modules/contracts/apps/ping-pong/src/error.rs
  modules/contracts/apps/subscription/src/error.rs
  modules/contracts/standalones/ica-owner/src/error.rs
Labels: account, native, sdk, adapter_base, app_base, interface

Update WASM & Schemas [skip ci]
  framework/artifacts/abstract_account-xion.wasm
  framework/artifacts/abstract_account.wasm
  framework/artifacts/abstract_ans_host.wasm
  framework/artifacts/abstract_ibc_client.wasm
  framework/artifacts/abstract_ibc_host.wasm
  framework/artifacts/abstract_ica_client.wasm
  framework/artifacts/abstract_module_factory.wasm
  framework/artifacts/abstract_registry.wasm
  framework/artifacts/checksums.txt
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
Labels: none

fix ibc-hook and pfm tests
  framework/Cargo.lock
  framework/artifacts/abstract_account-xion.wasm
  framework/artifacts/abstract_account.wasm
  framework/artifacts/abstract_ans_host.wasm
  framework/artifacts/abstract_ibc_client.wasm
  framework/artifacts/abstract_ibc_host.wasm
  framework/artifacts/abstract_ica_client.wasm
  framework/artifacts/abstract_module_factory.wasm
  framework/artifacts/abstract_registry.wasm
  framework/artifacts/checksums.txt
  framework/packages/abstract-std/src/native/ibc/ibc_client.rs
  interchain/Cargo.toml
  interchain/interchain-end_to_end_testing/Cargo.toml
  interchain/interchain-end_to_end_testing/src/bin/ibc_hook.rs
  interchain/interchain-end_to_end_testing/src/bin/pfm.rs
  interchain/interchain-end_to_end_testing/src/bin/setup_funds.rs
  interchain/interchain-end_to_end_testing/src/lib.rs
Labels: none

move todo to task
  interchain/Cargo.toml
Labels: none

small helper for executing as admin
  framework/packages/abstract-client/src/interchain/remote_application.rs
Labels: none

MOved polytone state to polytone
  interchain/scripts/state.json
Labels: none

Tested osmosis pion connection
  interchain/scripts/src/bin/deploy-ibc.rs
  interchain/scripts/src/bin/ibc_connect.rs
  interchain/scripts/src/bin/ibc_test.rs
Labels: none

unused dep
  modules/Cargo.toml
  modules/contracts/adapters/dex/tests/osmosis.rs
Labels: none

update hakari
  framework/Cargo.lock
  framework/workspace-hack/Cargo.toml
Labels: none

mock-deployment for apps/adapters wasm
  framework/packages/abstract-adapter/src/interface.rs
  framework/packages/abstract-app/src/interface.rs
Labels: adapter_base, app_base

CosmosVerse deploy (#508)
  interchain/Cargo.toml
  interchain/scripts/Cargo.toml
  interchain/scripts/src/bin/deploy-ibc.rs
  interchain/scripts/src/bin/ibc_connect.rs
  interchain/scripts/src/bin/ibc_test.rs
  interchain/scripts/src/bin/proposal_template.rs
  interchain/scripts/src/lib.rs
  interchain/scripts/state.json
Labels: none

Updated comment
  framework/packages/abstract-client/tests/integration.rs
Labels: none

Update WASM & Schemas [skip ci]
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
Labels: none
