Repository AbstractSDK/abstract, changes with the labels that .github/labeler.yml gives for each.
All labels: account, native, breaking?, sdk, adapter_base, app_base, build, CI, documentation, interface

types updates
  framework/contracts/account/proxy/src/commands.rs
  framework/contracts/account/proxy/src/contract.rs
  framework/contracts/native/account-factory/src/commands.rs
  framework/contracts/native/ibc-client/src/commands.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/packages/abstract-interface/src/account/manager.rs
  framework/packages/abstract-interface/src/account/mod.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-std/src/native/ibc_client.rs
  framework/packages/standards/oracle/Cargo.toml
  framework/packages/standards/oracle/src/error.rs
  modules/Cargo.toml
  modules/contracts/adapters/oracle/Cargo.toml
  modules/contracts/adapters/oracle/src/action.rs
  modules/contracts/adapters/oracle/src/msg.rs
  modules/contracts/adapters/oracle/src/state.rs
Labels: account, native, sdk, interface

migrate or deploy abstract ibc
  framework/packages/abstract-interface/src/migrate.rs
Labels: interface

ensure ibc client not upgradable(because natives do not)
  framework/contracts/account/manager/tests/upgrades.rs
Labels: account

remove ibc_host from account factory state and get it from vc to support multi-version
  framework/contracts/native/account-factory/src/commands.rs
  framework/contracts/native/account-factory/src/contract.rs
  framework/contracts/native/account-factory/src/error.rs
  framework/contracts/native/account-factory/src/queries.rs
  framework/contracts/native/account-factory/tests/create_account.rs
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-interface/src/ibc.rs
  framework/packages/abstract-std/src/native/account_factory.rs
Labels: native, interface

fix migration
  framework/contracts/native/account-factory/src/contract.rs
  framework/contracts/native/account-factory/src/lib.rs
  framework/contracts/native/account-factory/src/migrate.rs
  framework/packages/abstract-interface/src/native/account_factory.rs
Labels: native, interface

update changelog
  framework/docs/src/releases/v0.md
Labels: documentation

23 files of snapshot changes for 1 field removal
  framework/contracts/account/manager/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/manager/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/manager/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/manager/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/manager/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/manager/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/manager/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/manager/tests/snapshots/apps__execute_on_proxy_through_manager.snap
  framework/contracts/account/manager/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/manager/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/manager/tests/snapshots/proxy__exec_through_manager.snap
  framework/contracts/account/manager/tests/snapshots/proxy__instantiate_proxy.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_install_multiple_modules.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_install_standalone_modules.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_with_response_data.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__account_move_ownership_to_falsy_sub_account.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__creating_on_subaccount_should_succeed.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__proxy_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__sub_account_move_ownership.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__updating_on_subaccount_should_succeed.snap
Labels: account

replace useless helper
  framework/contracts/native/account-factory/src/commands.rs
Labels: native

fix upgrade account test
  interchain/framework-clone-testing/tests/upgrade-account.rs
Labels: none

ignore starship test
  modules/contracts/standalones/ica-owner/tests/starship.rs
Labels: none

small test formatting
  modules/contracts/standalones/ica-owner/tests/starship.rs
Labels: none

fix compile
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/account/manager/src/contract.rs
  framework/contracts/account/manager/tests/proxy.rs
Labels: account

move gove-ownable inside monorepo
  framework/Cargo.toml
  framework/packages/abstract-macros/Cargo.toml
  framework/packages/abstract-std/src/objects/gov_type.rs
  framework/packages/gov-ownable/Cargo.toml
  framework/packages/gov-ownable/README.md
  framework/packages/gov-ownable/derive/Cargo.toml
  framework/packages/gov-ownable/derive/README.md
  framework/packages/gov-ownable/derive/src/lib.rs
  framework/packages/gov-ownable/src/lib.rs
  framework/packages/gov-ownable/tests/macro.rs
Labels: none

clone only contract address instead of whole env
  framework/contracts/account/manager/src/commands.rs
  framework/packages/abstract-std/src/objects/nested_admin.rs
Labels: account

clippy
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/account/manager/tests/proxy.rs
  framework/contracts/native/account-factory/src/commands.rs
Labels: account, native

undo derive change of GovernanceDetails
  framework/packages/abstract-std/src/objects/gov_type.rs
Labels: none

move nested admin to separate package
  framework/contracts/account/manager/Cargo.toml
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/account/manager/src/contract.rs
  framework/contracts/account/manager/src/error.rs
  framework/packages/abstract-nested-admin/Cargo.toml
  framework/packages/abstract-nested-admin/src/lib.rs
  framework/packages/abstract-std/src/app.rs
  framework/packages/abstract-std/src/core/manager.rs
  framework/packages/abstract-std/src/objects/gov_type.rs
  framework/packages/abstract-std/src/objects/mod.rs
Labels: account

move ownership to abstract-std as well
  framework/contracts/account/manager/src/contract.rs
  framework/packages/abstract-std/Cargo.toml
  framework/packages/abstract-std/src/core/manager.rs
  framework/packages/abstract-std/src/objects/gov_type.rs
  framework/packages/gov-ownable/derive/src/lib.rs
  framework/packages/gov-ownable/src/lib.rs
  framework/packages/gov-ownable/tests/macro.rs
Labels: account

nit rename
  framework/docs/src/releases/v0.md
  framework/packages/abstract-interface/src/migrate.rs
Labels: documentation, interface

nit renames
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/tests/interchain_integration.rs
  framework/packages/abstract-interface/examples/mock-ibc-deploy.rs
  framework/packages/abstract-interface/examples/starship-ibc-deploy.rs
  framework/packages/abstract-interface/src/ibc.rs
Labels: interface

nit rename
  framework/packages/abstract-interface/src/ibc.rs
Labels: interface

fix tests
  interchain/interchain-tests/src/interchain_accounts.rs
  interchain/interchain-tests/src/setup.rs
  interchain/scripts/src/bin/connect_ibc.rs
Labels: none

formatting [skip ci]
  framework/packages/abstract-interface/src/ibc.rs
Labels: interface

Update WASM & Schemas [skip ci]
  framework/artifacts/abstract_account_factory.wasm
  framework/artifacts/checksums.txt
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking-injective.wasm
  modules/artifacts/abstract_cw_staking-juno.wasm
  modules/artifacts/abstract_cw_staking-kujira.wasm
  modules/artifacts/abstract_cw_staking-neutron.wasm
  modules/artifacts/abstract_cw_staking-osmosis.wasm
  modules/artifacts/abstract_cw_staking-sei.wasm
  modules/artifacts/abstract_cw_staking-terra2.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter-injective.wasm
  modules/artifacts/abstract_dex_adapter-juno.wasm
  modules/artifacts/abstract_dex_adapter-kujira.wasm
  modules/artifacts/abstract_dex_adapter-neutron.wasm
  modules/artifacts/abstract_dex_adapter-osmosis.wasm
  modules/artifacts/abstract_dex_adapter-sei.wasm
  modules/artifacts/abstract_dex_adapter-terra2.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter-kujira.wasm
  modules/artifacts/abstract_money_market_adapter-osmosis.wasm
  modules/artifacts/abstract_money_market_adapter-terra2.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/checksums_intermediate.txt
  modules/artifacts/dca_app.wasm
  modules/artifacts/payment_app.wasm
Labels: none

nested admin refactor
  framework/Cargo.toml
  framework/contracts/account/manager/Cargo.toml
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/account/manager/src/contract.rs
  framework/contracts/account/manager/src/queries.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/contracts/native/version-control/Cargo.toml
  framework/contracts/native/version-control/src/commands.rs
  framework/packages/abstract-adapter/Cargo.toml
  framework/packages/abstract-adapter/src/endpoints/execute.rs
  framework/packages/abstract-app/Cargo.toml
  framework/packages/abstract-app/src/endpoints/query.rs
  framework/packages/abstract-app/src/state.rs
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/src/interchain/remote_account.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-client/tests/interchain_integration.rs
  framework/packages/abstract-integration-tests/Cargo.toml
  framework/packages/abstract-integration-tests/src/manager.rs
  framework/packages/abstract-nested-admin/Cargo.toml
  framework/packages/abstract-nested-admin/src/lib.rs
  framework/packages/abstract-standalone/Cargo.toml
  framework/packages/abstract-standalone/src/state.rs
  framework/packages/abstract-std/src/objects/gov_type.rs
  framework/packages/gov-ownable/src/lib.rs
Labels: account, native, adapter_base, app_base

fix tests
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/account/manager/tests/apps.rs
  framework/contracts/account/manager/tests/proxy.rs
  framework/contracts/account/manager/tests/subaccount.rs
  framework/packages/abstract-client/tests/integration.rs
  interchain/interchain-tests/src/interchain_accounts.rs
Labels: account

snapshots fix
  framework/contracts/account/manager/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/manager/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/manager/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/manager/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/manager/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/manager/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/manager/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/manager/tests/snapshots/apps__execute_on_proxy_through_manager.snap
  framework/contracts/account/manager/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/manager/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/manager/tests/snapshots/proxy__exec_through_manager.snap
  framework/contracts/account/manager/tests/snapshots/proxy__instantiate_proxy.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_install_multiple_modules.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_install_standalone_modules.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_with_response_data.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__account_move_ownership_to_falsy_sub_account.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__creating_on_subaccount_should_succeed.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__proxy_updating_on_subaccount_should_succeed.snap
Labels: account

fix mock querier builder
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/native/version-control/src/commands.rs
  framework/packages/abstract-nested-admin/src/lib.rs
  framework/packages/abstract-testing/Cargo.toml
  framework/packages/abstract-testing/src/abstract_mock_querier.rs
  framework/packages/abstract-testing/src/mock_querier.rs
Labels: account, native

update snapshot
  framework/contracts/account/manager/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__sub_account_move_ownership.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__updating_on_subaccount_should_succeed.snap
Labels: account

Removed git deps
  framework/Cargo.toml
Labels: none

Nicolas/abs 450 abstract ibc setup helpers should connect both ways (#378)
  framework/Cargo.toml
  framework/docs/src/releases/v0.md
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/tests/interchain_integration.rs
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-interface/examples/mock-ibc-deploy.rs
  framework/packages/abstract-interface/examples/starship-ibc-deploy.rs
  framework/packages/abstract-interface/src/ibc.rs
  interchain/interchain-tests/src/interchain_accounts.rs
  interchain/interchain-tests/src/module_to_module_interactions.rs
  interchain/interchain-tests/src/setup.rs
  interchain/scripts/src/bin/ibc-test.rs
Labels: documentation, interface

migration implementation and test fixes
  framework/contracts/account/manager/src/contract.rs
  framework/contracts/account/manager/src/lib.rs
  framework/contracts/account/manager/src/migrate.rs
  framework/packages/abstract-integration-tests/src/manager.rs
  interchain/framework-clone-testing/tests/migrate.rs
Labels: account

Little doc nit (#384)
  framework/docs/src/ibc/module-ibc.md
Labels: documentation

fix merge and format
  framework/contracts/templates/standalone/Cargo.toml
  framework/docs/book.toml
  framework/packages/abstract-client/Cargo.toml
  interchain/interchain-tests/src/lib.rs
  modules/contracts/apps/ping-pong/Cargo.toml
  modules/contracts/apps/ping-pong/src/ibc/callback.rs
  modules/contracts/apps/ping-pong/tests/common/mod.rs
  modules/contracts/apps/ping-pong/tests/ping_pong_tests.rs
Labels: none

Added build for interchain
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-client/src/builder.rs
  framework/packages/abstract-client/src/interchain/builder.rs
  framework/packages/abstract-client/src/interchain/client.rs
  framework/packages/abstract-client/src/lib.rs
  framework/packages/abstract-client/tests/interchain_integration.rs
Labels: none

Proof of concept that doesn't work
  framework/packages/abstract-client/src/builder.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/src/interchain/builder.rs
Labels: none

Correct trace
  framework/packages/abstract-client/src/interchain/builder.rs
Labels: none

postmerge fixes
  framework/packages/abstract-std/Cargo.toml
  interchain/framework-clone-testing/tests/upgrade-account.rs
Labels: none

update changelog
  framework/docs/src/releases/v0.md
Labels: documentation

test governance is changeable
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/account/manager/tests/proxy.rs
  framework/packages/abstract-std/src/objects/gov_type.rs
Labels: account

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeller Github Action.
"account":
  # Match all of account folders
  - framework/contracts/account/**/*
"native":
  # Match all of native folders
  - framework/contracts/native/**/*
"breaking?":
  # Match all of abstract_std folders
  - framework/packages/abstract_std/**/*
"sdk":
  # Match all of sdk folders
  - framework/packages/abstract-sdk/**/*
"adapter_base":
  # Match all of adapter base folders
  - framework/packages/abstract-adapter/**/*
"app_base":
  # Match all of app base folders
  - framework/packages/abstract-app/**/*
"build":
  - build_release.sh
"CI":
  - .github/**/*.yml
# Add "C:documentation" label to documented related files and directories.
"documentation":
  - README.md
  - framework/contracts/**/*.md
  - framework/contracts/**/*/*.md
  - framework/docs/src/**/*
"interface":
  - framework/packages/abstract-interface/**/*
