Repository AbstractSDK/abstract, changes with the labels that .github/labeler.yml gives for each.
All labels: account, native, breaking?, sdk, adapter_base, app_base, build, CI, documentation, interface

formatting [skip ci]
  framework/packages/abstract-interface/src/account/mod.rs
  framework/packages/abstract-sdk/src/mock_module.rs
  framework/packages/abstract-std/src/account/mod.rs
  framework/packages/abstract-std/src/objects/module.rs
Labels: sdk, interface

fix merge
  framework/packages/abstract-std/src/account/mod.rs
Labels: none

Account self registration (#446)
  framework/Cargo.lock
  framework/contracts/account/Cargo.toml
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/migrate.rs
  framework/contracts/account/src/modules/migration.rs
  framework/contracts/account/src/reply.rs
  framework/contracts/native/account-factory/src/commands.rs
  framework/contracts/native/ibc-client/src/commands.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/contracts/native/ibc-host/src/endpoints/packet.rs
  framework/contracts/native/version-control/src/commands.rs
  framework/contracts/native/version-control/src/contract.rs
  framework/contracts/native/version-control/src/error.rs
  framework/contracts/native/version-control/src/lib.rs
  framework/contracts/native/version-control/src/queries.rs
  framework/packages/abstract-adapter/src/features.rs
  framework/packages/abstract-app/src/features.rs
  framework/packages/abstract-app/src/lib.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-interface/src/account/account.rs
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-interface/src/native/version_control.rs
  framework/packages/abstract-sdk/src/apis/version_registry.rs
  framework/packages/abstract-sdk/src/base/features/executor.rs
  framework/packages/abstract-sdk/src/feature_objects.rs
  framework/packages/abstract-sdk/src/mock_module.rs
  framework/packages/abstract-std/src/account/mod.rs
  framework/packages/abstract-std/src/native/ibc_client.rs
  framework/packages/abstract-std/src/native/version_control.rs
  framework/packages/abstract-std/src/objects/module.rs
  framework/packages/abstract-std/src/objects/module_reference.rs
  framework/packages/abstract-std/src/objects/version_control.rs
  framework/packages/abstract-testing/src/lib.rs
  framework/packages/abstract-testing/src/mock_querier.rs
  framework/workspace-hack/Cargo.toml
Labels: account, native, sdk, adapter_base, app_base, interface

Update WASM & Schemas [skip ci]
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking-injective.wasm
  modules/artifacts/abstract_cw_staking-juno.wasm
  modules/artifacts/abstract_cw_staking-kujira.wasm
  modules/artifacts/abstract_cw_staking-neutron.wasm
  modules/artifacts/abstract_cw_staking-osmosis.wasm
  modules/artifacts/abstract_cw_staking-sei.wasm
  modules/artifacts/abstract_cw_staking-terra2.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter-injective.wasm
  modules/artifacts/abstract_dex_adapter-juno.wasm
  modules/artifacts/abstract_dex_adapter-kujira.wasm
  modules/artifacts/abstract_dex_adapter-neutron.wasm
  modules/artifacts/abstract_dex_adapter-osmosis.wasm
  modules/artifacts/abstract_dex_adapter-sei.wasm
  modules/artifacts/abstract_dex_adapter-terra2.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter-kujira.wasm
  modules/artifacts/abstract_money_market_adapter-osmosis.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/croncat_app.wasm
  modules/artifacts/dca_app.wasm
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
Labels: none

lock
  framework/Cargo.lock
Labels: none

formatting [skip ci]
  framework/packages/abstract-interface/src/account.rs
Labels: interface

Some more changes
  framework/packages/abstract-client/src/interchain/remote_account.rs
  framework/packages/abstract-interface/src/deployment.rs
Labels: interface

Merged account and abstractaccount (#447)
  framework/packages/abstract-adapter/src/state.rs
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/application.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/src/infrastructure.rs
  framework/packages/abstract-client/src/interchain/remote_account.rs
  framework/packages/abstract-interface/src/account.rs
  framework/packages/abstract-interface/src/account/account.rs
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-interface/src/interfaces.rs
  framework/packages/abstract-interface/src/migrate.rs
  framework/packages/abstract-interface/src/native/account_factory.rs
  framework/packages/abstract-interface/src/native/version_control.rs
Labels: adapter_base, interface

postmerge fixes
  framework/contracts/native/ibc-host/src/endpoints/query.rs
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-interface/examples/deploy.rs
  framework/packages/abstract-interface/src/account.rs
  framework/packages/abstract-interface/src/migrate.rs
Labels: native, interface

update hack
  framework/Cargo.lock
  framework/workspace-hack/Cargo.toml
Labels: none

keep account-factory test and move it to account
  framework/contracts/account/tests/create.rs
Labels: account

apply suggestions
  framework/contracts/account/src/sub_account.rs
  framework/contracts/native/ibc-host/src/account_commands.rs
  framework/contracts/native/ibc-host/src/error.rs
Labels: account, native

make abstract-integration-testing package compile
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/account/Cargo.toml
  framework/contracts/account/tests/upgrades.rs
  framework/contracts/native/account-factory/Cargo.toml
  framework/contracts/native/module-factory/Cargo.toml
  framework/packages/abstract-app/Cargo.toml
  framework/packages/abstract-integration-tests/Cargo.toml
  framework/packages/abstract-integration-tests/README.md
  framework/packages/abstract-integration-tests/src/account_factory.rs
  framework/packages/abstract-integration-tests/src/lib.rs
  framework/packages/abstract-integration-tests/src/manager.rs
  framework/packages/abstract-integration-tests/src/mock_modules.rs
  framework/packages/abstract-standalone/Cargo.toml
Labels: account, native, app_base

update account tests
  framework/contracts/account/src/actions.rs
  framework/contracts/account/src/config.rs
  framework/contracts/account/src/lib.rs
  framework/contracts/account/src/migrate.rs
  framework/contracts/account/src/modules.rs
  framework/contracts/account/src/queries.rs
  framework/contracts/account/tests/adapters.rs
  framework/contracts/account/tests/apps.rs
  framework/contracts/account/tests/ibc-client.rs
  framework/contracts/account/tests/install_modules.rs
  framework/contracts/account/tests/proxy.rs
  framework/contracts/account/tests/standalones.rs
  framework/contracts/account/tests/subaccount.rs
  framework/contracts/account/tests/upgrades.rs
  framework/packages/abstract-integration-tests/src/account.rs
  framework/packages/abstract-integration-tests/src/lib.rs
Labels: account

formatting [skip ci]
  framework/contracts/account/src/actions.rs
  framework/contracts/account/src/modules.rs
  framework/contracts/account/src/queries.rs
  framework/contracts/account/tests/adapters.rs
  framework/contracts/account/tests/apps.rs
  framework/contracts/account/tests/ibc-client.rs
  framework/contracts/account/tests/install_modules.rs
  framework/contracts/account/tests/proxy.rs
  framework/contracts/account/tests/standalones.rs
  framework/contracts/account/tests/subaccount.rs
  framework/contracts/account/tests/upgrades.rs
  framework/packages/abstract-integration-tests/src/lib.rs
Labels: account

get unit-tests to compile
  framework/contracts/account/src/config.rs
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/execution.rs
  framework/contracts/account/src/lib.rs
  framework/contracts/account/src/modules.rs
  framework/contracts/account/src/modules/migration.rs
  framework/contracts/account/src/queries.rs
  framework/contracts/account/src/sub_account.rs
  framework/contracts/account/tests/adapters.rs
  framework/contracts/account/tests/apps.rs
  framework/contracts/account/tests/proxy.rs
  framework/contracts/account/tests/subaccount.rs
  framework/contracts/account/tests/upgrades.rs
Labels: account

formatting [skip ci]
  framework/contracts/account/src/config.rs
  framework/contracts/account/src/modules.rs
Labels: account

fix testing packages
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/account/tests/subaccount.rs
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-interface/examples/deploy.rs
  framework/packages/abstract-interface/src/account.rs
  framework/packages/abstract-interface/src/interfaces.rs
  framework/packages/abstract-std/src/objects/salt.rs
  framework/packages/abstract-testing/src/mock_querier.rs
Labels: account, interface

update packages
  framework/contracts/account/tests/ibc-client.rs
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-integration-tests/src/lib.rs
  framework/packages/abstract-interface/src/account.rs
Labels: account, interface

formatting [skip ci]
  framework/packages/abstract-interface/src/account.rs
Labels: interface

update account creation
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/sub_account.rs
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-interface/src/account.rs
  framework/packages/abstract-std/src/account/mod.rs
Labels: account, interface

Added namespace constants
  framework/contracts/native/ica-client/src/chain_types/evm.rs
  framework/contracts/native/ica-client/src/contract.rs
  framework/contracts/native/ica-client/src/lib.rs
  framework/contracts/native/ica-client/src/queries.rs
  framework/contracts/native/ica-client/src/state.rs
  framework/packages/abstract-std/src/native/ans_host.rs
  framework/packages/abstract-std/src/native/ibc.rs
  framework/packages/abstract-std/src/native/ibc/ibc_client.rs
  framework/packages/abstract-std/src/native/ibc/ibc_host.rs
  framework/packages/abstract-std/src/native/ibc/ica_client.rs
  framework/packages/abstract-std/src/native/mod.rs
  framework/packages/abstract-std/src/native/module_factory.rs
  framework/packages/abstract-std/src/native/version_control.rs
  framework/packages/abstract-std/src/objects/account.rs
  framework/packages/abstract-std/src/objects/common_namespace.rs
  framework/packages/abstract-std/src/objects/module_version.rs
Labels: native

formatting [skip ci]
  framework/contracts/native/ica-client/src/chain_types/evm.rs
  framework/contracts/native/ica-client/src/contract.rs
Labels: native

Changelog
  framework/docs/src/releases/CHANGELOG.md
Labels: documentation

Remove AbstractMockQuerierBuilder in favor of Trait
  framework/packages/abstract-testing/src/abstract_mock_querier.rs
  framework/packages/abstract-testing/src/lib.rs
  framework/packages/abstract-testing/src/mock_querier.rs
Labels: none

fix doctests
  framework/packages/abstract-testing/src/mock_querier.rs
Labels: none

fix interface tests
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-interface/src/deployment.rs
Labels: interface

Added local Action on account
  framework/contracts/account/src/actions.rs
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/modules.rs
  framework/contracts/account/src/reply.rs
  framework/contracts/native/ibc-host/src/account_commands.rs
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-interface/src/account.rs
  framework/packages/abstract-sdk/src/apis/execution.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-std/src/account/mod.rs
Labels: account, native, sdk, interface

remove get_last_account from abstract client
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-interface/src/account.rs
  framework/packages/abstract-interface/src/deployment.rs
Labels: interface

add local_account_sequence in vc config response
  framework/contracts/native/version-control/src/contract.rs
  framework/packages/abstract-std/src/native/version_control.rs
Labels: native

Make sure the state is erasedé
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/reply.rs
Labels: account

fix compilation
  framework/contracts/account/src/sub_account.rs
  framework/packages/abstract-integration-tests/src/account.rs
  framework/packages/abstract-integration-tests/src/account_factory.rs
  framework/packages/abstract-integration-tests/src/lib.rs
  framework/packages/abstract-interface/src/account.rs
Labels: account, interface

formatting [skip ci]
  framework/packages/abstract-integration-tests/src/account_factory.rs
Labels: none

account and sub-account creation updated
  framework/Cargo.lock
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/sub_account.rs
  framework/contracts/native/version-control/src/commands.rs
  framework/contracts/native/version-control/src/error.rs
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-interface/src/account.rs
  framework/packages/abstract-std/src/objects/account/account_id.rs
Labels: account, native, interface

generate hack
  framework/workspace-hack/Cargo.toml
Labels: none

move account API definition to file
  framework/packages/abstract-std/src/account.rs
Labels: none

execute_on fixed
  framework/contracts/account/src/actions.rs
  framework/contracts/account/src/contract.rs
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/interchain/remote_account.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-interface/src/account.rs
  framework/packages/abstract-std/src/account/mod.rs
Labels: account, interface

manager to account rename in interface
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/application.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/src/interchain/remote_account.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-interface/src/account.rs
  framework/packages/abstract-interface/src/deployment.rs
Labels: interface

update create test
  framework/contracts/account/tests/create.rs
Labels: account

formatting [skip ci]
  framework/contracts/account/tests/create.rs
Labels: account

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeller Github Action.
"account":
  # Match all of account folders
  - framework/contracts/account/**/*
"native":
  # Match all of native folders
  - framework/contracts/native/**/*
"breaking?":
  # Match all of abstract_std folders
  - framework/packages/abstract_std/**/*
"sdk":
  # Match all of sdk folders
  - framework/packages/abstract-sdk/**/*
"adapter_base":
  # Match all of adapter base folders
  - framework/packages/abstract-adapter/**/*
"app_base":
  # Match all of app base folders
  - framework/packages/abstract-app/**/*
"build":
  - build_release.sh
"CI":
  - .github/**/*.yml
# Add "C:documentation" label to documented related files and directories.
"documentation":
  - README.md
  - framework/contracts/**/*.md
  - framework/contracts/**/*/*.md
  - framework/docs/src/**/*
"interface":
  - framework/packages/abstract-interface/**/*
