Repository AbstractSDK/abstract, changes with the labels that .github/labeler.yml gives for each.
All labels: account, native, breaking?, sdk, adapter_base, app_base, build, CI, documentation, interface

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeller Github Action.
"account":
  # Match all of account folders
  - framework/contracts/account/**/*
"native":
  # Match all of native folders
  - framework/contracts/native/**/*
"breaking?":
  # Match all of abstract_std folders
  - framework/packages/abstract_std/**/*
"sdk":
  # Match all of sdk folders
  - framework/packages/abstract-sdk/**/*
"adapter_base":
  # Match all of adapter base folders
  - framework/packages/abstract-adapter/**/*
"app_base":
  # Match all of app base folders
  - framework/packages/abstract-app/**/*
"build":
  - build_release.sh
"CI":
  - .github/**/*.yml
# Add "C:documentation" label to documented related files and directories.
"documentation":
  - README.md
  - framework/contracts/**/*.md
  - framework/contracts/**/*/*.md
  - framework/docs/src/**/*
"interface":
  - framework/packages/abstract-interface/**/*

update abstract unit-testing package
  framework/packages/abstract-testing/src/abstract_mock_querier.rs
  framework/packages/abstract-testing/src/lib.rs
  framework/packages/abstract-testing/src/mock_querier.rs
Labels: none

formatting [skip ci]
  framework/contracts/account/src/modules/migration.rs
Labels: account

Better std structure for account
  framework/contracts/account/src/config.rs
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/modules/migration.rs
  framework/contracts/account/src/queries.rs
  framework/contracts/account/src/sub_account.rs
  framework/contracts/native/ibc-client/src/commands.rs
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/src/interchain/remote_account.rs
  framework/packages/abstract-interface/src/account/manager.rs
  framework/packages/abstract-interface/src/account/mod.rs
  framework/packages/abstract-std/src/account/mod.rs
  framework/packages/abstract-std/src/account/msgs.rs
  framework/packages/abstract-std/src/account/responses.rs
  framework/packages/abstract-std/src/account/state.rs
  framework/packages/abstract-std/src/account/types.rs
  framework/packages/abstract-std/src/native/ibc_client.rs
Labels: account, native, interface

formatting [skip ci]
  framework/packages/abstract-client/src/interchain/remote_account.rs
Labels: none

Framework compiles with all features
  framework/contracts/account/src/modules.rs
  framework/packages/abstract-adapter/src/endpoints/execute.rs
  framework/packages/abstract-adapter/src/features.rs
  framework/packages/abstract-app/src/features.rs
  framework/packages/abstract-app/src/lib.rs
  framework/packages/abstract-client/src/interchain/remote_account.rs
  framework/packages/abstract-client/src/interchain/remote_application.rs
  framework/packages/abstract-interface/src/account/manager.rs
  framework/packages/abstract-sdk/src/apis/authz.rs
  framework/packages/abstract-sdk/src/apis/feegrant.rs
  framework/packages/abstract-standalone/src/features.rs
  framework/packages/abstract-standalone/src/lib.rs
  framework/packages/abstract-std/src/adapter.rs
Labels: account, sdk, adapter_base, app_base, interface

continue updates
  framework/contracts/account/account/src/contract.rs
  framework/contracts/native/account-factory/src/commands.rs
  framework/contracts/native/version-control/src/commands.rs
  framework/contracts/native/version-control/src/contract.rs
  framework/contracts/native/version-control/src/queries.rs
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-interface/src/migrate.rs
  framework/packages/abstract-std/src/native/version_control.rs
  framework/packages/abstract-testing/src/abstract_mock_querier.rs
  framework/packages/abstract-testing/src/lib.rs
  framework/packages/abstract-testing/src/mock_querier.rs
Labels: account, native, interface

update migrate messages for native contracts
  framework/Cargo.lock
  framework/contracts/native/account-factory/src/migrate.rs
  framework/contracts/native/ans-host/src/contract.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/contracts/native/ibc-host/src/contract.rs
  framework/contracts/native/ica-client/src/contract.rs
  framework/contracts/native/module-factory/src/contract.rs
  framework/contracts/native/version-control/src/migrate.rs
  framework/packages/abstract-ica/src/msg.rs
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-interface/examples/abstract_addrs.rs
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-std/src/lib.rs
  framework/packages/abstract-std/src/native/account_factory.rs
  framework/packages/abstract-std/src/native/ans_host.rs
  framework/packages/abstract-std/src/native/ibc_client.rs
  framework/packages/abstract-std/src/native/ibc_host.rs
  framework/packages/abstract-std/src/native/module_factory.rs
  framework/packages/abstract-std/src/native/version_control.rs
  framework/packages/abstract-std/src/native_addrs.rs
Labels: native, interface

fix namespace claiming tests
  framework/contracts/native/version-control/src/commands.rs
  framework/packages/abstract-testing/src/lib.rs
Labels: native

Merged account and abstractaccount
  framework/packages/abstract-interface/src/account.rs
  framework/packages/abstract-interface/src/account/manager.rs
  framework/packages/abstract-interface/src/account/mod.rs
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-interface/src/interfaces.rs
  framework/packages/abstract-interface/src/native/version_control.rs
Labels: interface

update add account logic to not rely on provided data.
  framework/contracts/native/account-factory/src/commands.rs
  framework/contracts/native/version-control/src/commands.rs
  framework/contracts/native/version-control/src/contract.rs
  framework/contracts/native/version-control/src/error.rs
  framework/packages/abstract-std/src/native/version_control.rs
Labels: native

fix command tests
  framework/contracts/native/version-control/src/commands.rs
  framework/packages/abstract-testing/src/lib.rs
Labels: native

format
  framework/contracts/account/account/src/contract.rs
  framework/contracts/native/version-control/src/commands.rs
  framework/contracts/native/version-control/src/contract.rs
  framework/contracts/native/version-control/src/error.rs
  framework/packages/abstract-testing/src/mock_querier.rs
Labels: account, native

fix errs
  framework/contracts/account/account/src/contract.rs
Labels: account

fix account_id default to err
  framework/contracts/account/account/src/contract.rs
  framework/packages/abstract-std/src/core/account.rs
Labels: account

fmt
  framework/contracts/account/account/src/contract.rs
  framework/contracts/native/version-control/src/commands.rs
  framework/contracts/native/version-control/src/contract.rs
  framework/contracts/native/version-control/src/lib.rs
  framework/packages/abstract-interface/src/deployment.rs
Labels: account, native, interface

pass all tests on VC
  framework/Cargo.lock
  framework/contracts/account/account/examples/schema.rs
  framework/contracts/account/account/src/lib.rs
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-interface/src/account/manager.rs
Labels: account, interface

instantiate2 abstract2
  framework/Cargo.lock
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-interface/examples/abstract_addrs.rs
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-interface/src/migrate.rs
  framework/packages/abstract-std/src/native_addrs.rs
Labels: interface

tests and helpers
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/native/account-factory/src/contract.rs
  framework/contracts/native/ans-host/src/contract.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/contracts/native/ica-client/src/contract.rs
  framework/contracts/native/module-factory/src/contract.rs
  framework/contracts/native/version-control/src/contract.rs
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-interface/examples/abstract_addrs.rs
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-testing/Cargo.toml
  framework/packages/abstract-testing/src/lib.rs
  framework/packages/abstract-testing/src/mock_querier.rs
Labels: native, interface

update changelog
  framework/docs/src/releases/CHANGELOG.md
Labels: documentation

AbstractMockAddrs generation
  framework/packages/abstract-testing/src/lib.rs
Labels: none

fix account test
  framework/contracts/account/account/src/contract.rs
Labels: account

remove cw721 dependency
  framework/contracts/account/account/Cargo.toml
  framework/contracts/account/account/src/contract.rs
Labels: account

native addrs precompiled
  framework/contracts/account/account/src/contract.rs
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/account/manager/src/contract.rs
  framework/contracts/account/manager/src/queries.rs
  framework/contracts/native/account-factory/src/commands.rs
  framework/contracts/native/ibc-client/src/commands.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/contracts/native/ibc-host/src/endpoints/execute.rs
  framework/contracts/native/ibc-host/src/endpoints/instantiate.rs
  framework/contracts/native/ica-client/src/contract.rs
  framework/contracts/native/module-factory/src/commands.rs
  framework/contracts/native/module-factory/src/contract.rs
  framework/packages/abstract-sdk/src/ans_resolve.rs
  framework/packages/abstract-std/src/native_addrs.rs
  framework/packages/abstract-std/src/objects/ans_host.rs
  framework/packages/abstract-std/src/objects/mod.rs
  framework/packages/abstract-std/src/objects/module_factory.rs
  framework/packages/abstract-std/src/objects/ownership/gov_ownable.rs
  framework/packages/abstract-std/src/objects/version_control.rs
Labels: account, native, sdk

update changelog
  framework/docs/src/releases/CHANGELOG.md
Labels: documentation

misha review feedback
  framework/contracts/native/version-control/src/commands.rs
  framework/packages/abstract-testing/src/lib.rs
Labels: native

fix schema import
  framework/contracts/account/examples/schema.rs
Labels: account

Nits
  framework/contracts/account/Cargo.toml
  framework/contracts/account/src/actions.rs
Labels: account

merge fixes
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/modules/migration.rs
  framework/contracts/native/version-control/src/contract.rs
  framework/contracts/native/version-control/src/queries.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-interface/src/native/version_control.rs
  framework/packages/abstract-sdk/src/apis/version_registry.rs
  framework/packages/abstract-std/src/native/version_control.rs
  framework/packages/abstract-std/src/objects/version_control.rs
Labels: account, native, sdk, interface

compile
  framework/Cargo.lock
  framework/contracts/account/Cargo.toml
  framework/contracts/account/src/contract.rs
  framework/contracts/native/account-factory/src/commands.rs
  framework/contracts/native/version-control/src/commands.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-testing/src/lib.rs
  framework/workspace-hack/Cargo.toml
Labels: account, native

update whitelist logic to return false instead of true on catch any
  framework/packages/abstract-std/src/objects/module.rs
Labels: none

rename file
  framework/packages/abstract-interface/src/account/account.rs
  framework/packages/abstract-interface/src/account/mod.rs
Labels: interface

Merge account and abstractaccount completely
  framework/Cargo.lock
  framework/contracts/account/Cargo.toml
  framework/packages/abstract-adapter/src/state.rs
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/application.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/src/infrastructure.rs
  framework/packages/abstract-client/src/interchain/remote_account.rs
  framework/packages/abstract-interface/src/account.rs
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-interface/src/interfaces.rs
  framework/packages/abstract-interface/src/migrate.rs
  framework/packages/abstract-interface/src/native/account_factory.rs
  framework/packages/abstract-interface/src/native/version_control.rs
  framework/workspace-hack/Cargo.toml
Labels: account, adapter_base, interface

formatting [skip ci]
  framework/packages/abstract-client/src/application.rs
Labels: none

small updates
  framework/contracts/account/src/modules/migration.rs
  framework/packages/abstract-std/src/account/mod.rs
Labels: account

nits, remove allow_deprecated as reminder
  framework/contracts/account/src/lib.rs
  framework/contracts/account/src/reply.rs
Labels: account

add doc_comment on self_upgrade_msg
  framework/contracts/account/src/modules/migration.rs
Labels: account

formatting [skip ci]
  framework/packages/abstract-std/src/objects/module.rs
Labels: none

Put explicit impl of AccountExecutor back on
  framework/Cargo.lock
  framework/contracts/account/Cargo.toml
  framework/packages/abstract-adapter/src/features.rs
  framework/packages/abstract-app/src/features.rs
  framework/packages/abstract-sdk/src/base/features/executor.rs
  framework/packages/abstract-sdk/src/mock_module.rs
Labels: account, sdk, adapter_base, app_base

update changelog
  framework/docs/src/releases/CHANGELOG.md
Labels: documentation

return Vec<(String,Addr)> for modules query
  framework/Cargo.lock
  framework/contracts/account/Cargo.toml
  framework/contracts/account/README.md
  framework/contracts/account/src/queries.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-interface/src/account/mod.rs
  framework/packages/abstract-std/src/account/mod.rs
Labels: account, native, documentation, interface
