Repository AbstractSDK/abstract, changes with the labels that .github/labeler.yml gives for each.
All labels: account, native, breaking?, sdk, adapter_base, app_base, build, CI, documentation, interface

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeller Github Action.
"account":
  # Match all of account folders
  - framework/contracts/account/**/*
"native":
  # Match all of native folders
  - framework/contracts/native/**/*
"breaking?":
  # Match all of abstract_std folders
  - framework/packages/abstract_std/**/*
"sdk":
  # Match all of sdk folders
  - framework/packages/abstract-sdk/**/*
"adapter_base":
  # Match all of adapter base folders
  - framework/packages/abstract-adapter/**/*
"app_base":
  # Match all of app base folders
  - framework/packages/abstract-app/**/*
"build":
  - build_release.sh
"CI":
  - .github/**/*.yml
# Add "C:documentation" label to documented related files and directories.
"documentation":
  - README.md
  - framework/contracts/**/*.md
  - framework/contracts/**/*/*.md
  - framework/docs/src/**/*
"interface":
  - framework/packages/abstract-interface/**/*

bump rust version
  .circleci/config.yml
Labels: none

formatting [skip ci]
  framework/packages/abstract-std/src/core/merged.rs
Labels: none

remove workspace from cargo
  framework/Cargo.lock
  framework/packages/abstract-macros/Cargo.toml
Labels: none

update justfile
  framework/justfile
Labels: none

separate register(to not include it in the tests)
  framework/Cargo.lock
  framework/packages/abstract-interface/src/ibc.rs
Labels: interface

move message variants
  framework/artifacts/abstract_account_factory.wasm
  framework/artifacts/abstract_ans_host.wasm
  framework/artifacts/abstract_ibc_client.wasm
  framework/artifacts/abstract_ibc_host.wasm
  framework/artifacts/abstract_manager.wasm
  framework/artifacts/abstract_module_factory.wasm
  framework/artifacts/abstract_proxy.wasm
  framework/artifacts/abstract_version_control.wasm
  framework/artifacts/checksums.txt
  framework/packages/abstract-std/src/core/account.rs
  framework/packages/abstract-std/src/core/merged.rs
  framework/packages/abstract-std/src/core/mod.rs
Labels: none

formatting [skip ci]
  framework/packages/abstract-std/src/core/mod.rs
Labels: none

update merge
  framework/Cargo.lock
  framework/contracts/account/account/Cargo.toml
  framework/contracts/account/account/src/contract.rs
  framework/contracts/account/manager/src/lib.rs
  framework/contracts/account/proxy/src/lib.rs
  framework/packages/abstract-std/Cargo.toml
  framework/packages/abstract-std/src/core/account.rs
Labels: account

formatting [skip ci]
  framework/contracts/account/account/src/contract.rs
  framework/packages/abstract-std/src/core/account.rs
Labels: account

continue merge
  framework/contracts/account/account/src/contract.rs
  framework/packages/abstract-std/src/core/account.rs
Labels: account

formatting [skip ci]
  framework/packages/abstract-std/src/core/account.rs
Labels: none

merge progress
  framework/contracts/account/account/src/contract.rs
  framework/contracts/account/account/src/error.rs
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/account/proxy/src/lib.rs
  framework/packages/abstract-std/src/core/account.rs
  framework/packages/abstract-std/src/registry.rs
Labels: account

formatting [skip ci]
  framework/contracts/account/account/src/contract.rs
  framework/contracts/account/account/src/error.rs
Labels: account

fix err
  framework/contracts/account/account/src/contract.rs
Labels: account

cargo toml updates
  framework/Cargo.toml
  framework/packages/standards/staking/Cargo.toml
  integrations/Cargo.toml
  modules/Cargo.toml
  modules/contracts/adapters/cw-staking/Cargo.toml
  modules/contracts/adapters/dex/Cargo.toml
  modules/contracts/adapters/money-market/Cargo.toml
Labels: none

remove astrovault dependency completely
  integrations/Cargo.toml
  integrations/astrovault-adapter/Cargo.toml
  integrations/astrovault-adapter/src/dex.rs
  integrations/astrovault-adapter/src/mini_astrovault.rs
  integrations/astrovault-adapter/src/staking.rs
Labels: none

framework small fixes
  framework/Cargo.toml
  framework/contracts/native/ans-host/src/commands.rs
  framework/contracts/native/ans-host/src/lib.rs
  framework/contracts/native/ans-host/src/tests/common.rs
  framework/contracts/native/ans-host/src/tests/instantiate.rs
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-client/src/builder.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-testing/src/mock_querier.rs
Labels: native, interface

modules compile, next is tests
  modules/Cargo.toml
  modules/contracts/adapters/cw-staking/Cargo.toml
  modules/contracts/adapters/cw-staking/examples/deploy.rs
  modules/contracts/adapters/cw-staking/src/lib.rs
  modules/contracts/adapters/cw-staking/src/resolver.rs
  modules/contracts/adapters/cw-staking/src/staking_tester.rs
  modules/contracts/adapters/cw-staking/tests/stake.rs
  modules/contracts/adapters/dex/Cargo.toml
  modules/contracts/adapters/dex/src/api.rs
  modules/contracts/adapters/dex/src/dex_tester.rs
  modules/contracts/adapters/dex/src/exchanges/exchange_resolver.rs
  modules/contracts/adapters/dex/src/lib.rs
  modules/contracts/adapters/money-market/Cargo.toml
  modules/contracts/adapters/money-market/src/platform_resolver.rs
  modules/contracts/adapters/money-market/src/tester.rs
  modules/contracts/adapters/tendermint-staking/src/staking.rs
  modules/contracts/apps/calendar/Cargo.toml
  modules/contracts/apps/calendar/examples/test-local.rs
  modules/contracts/apps/calendar/src/handlers/execute.rs
  modules/contracts/apps/calendar/tests/integration.rs
  modules/contracts/apps/challenge/tests/integrations.rs
  modules/contracts/apps/payment/Cargo.toml
  modules/contracts/apps/ping-pong/Cargo.toml
  modules/contracts/apps/subscription/src/handlers/execute.rs
  modules/contracts/apps/subscription/src/handlers/query.rs
  modules/contracts/standalones/ica-owner/Cargo.toml
  modules/contracts/standalones/ica-owner/src/contract.rs
Labels: none

add workspace hack to ica packages and ignore macro
  framework/.config/hakari.toml
  framework/Cargo.lock
  framework/contracts/native/ica-client/Cargo.toml
  framework/packages/abstract-ica/Cargo.toml
Labels: native

split up interchain tests into different jobs
  .github/workflows/interchain-test.yml
Labels: CI

Trigger CI by removing unused docs
  framework/CI.md
Labels: none

update test names
  .github/workflows/interchain-test.yml
Labels: CI

Fix wasm CI
  scripts/wasm-framework-ci.sh
Labels: none

Update circleci Rust version
  .circleci/config.yml
  framework/artifacts/abstract_account_factory.wasm
  framework/artifacts/abstract_ans_host.wasm
  framework/artifacts/abstract_ibc_client.wasm
  framework/artifacts/abstract_ibc_host.wasm
  framework/artifacts/abstract_manager.wasm
Labels: none

modules tests fix
  modules/contracts/adapters/dex/tests/raw.rs
  modules/contracts/adapters/dex/tests/swap.rs
  modules/contracts/adapters/money-market/src/api.rs
  modules/contracts/apps/payment/tests/integration.rs
  modules/contracts/apps/subscription/Cargo.toml
  modules/contracts/apps/subscription/src/contract.rs
  modules/contracts/apps/subscription/tests/integration.rs
Labels: none

update tomls
  interchain/Cargo.toml
  interchain/interchain-tests/Cargo.toml
  interchain/modules-clone-testing/Cargo.toml
  interchain/scripts/Cargo.toml
Labels: none

update CI versions
  .github/workflows/framework-check.yml
  .github/workflows/framework-test.yml
  .github/workflows/interchain-test.yml
  .github/workflows/modules-check.yml
Labels: CI

try add env to run command itself
  .github/workflows/interchain-test.yml
Labels: CI

interchain compiles
  interchain/interchain-tests/src/bin/setup_funds.rs
  interchain/interchain-tests/src/bin/token_bridge.rs
  interchain/interchain-tests/src/interchain_accounts.rs
  interchain/interchain-tests/src/module_to_module_interactions.rs
  interchain/scripts/src/abstract_ibc.rs
  interchain/scripts/src/bin/connect_ibc.rs
  interchain/scripts/src/bin/create_remote_account.rs
  interchain/scripts/src/bin/deploy_modules.rs
  interchain/scripts/src/bin/ibc-test.rs
  interchain/scripts/src/bin/migrate.rs
  interchain/scripts/src/lib.rs
Labels: none

add rust-cache to framework ci
  .github/workflows/framework-check.yml
  .github/workflows/framework-test.yml
Labels: CI

add workspace to cache action
  .github/workflows/framework-check.yml
  .github/workflows/framework-test.yml
Labels: CI

fix tests after merge
  framework/Cargo.lock
  framework/contracts/account/proxy/src/commands.rs
  framework/contracts/native/ica-client/Cargo.toml
  framework/contracts/native/ica-client/src/contract.rs
  framework/contracts/native/ica-client/src/lib.rs
  framework/contracts/native/ica-client/src/queries.rs
  framework/packages/abstract-adapter/src/endpoints.rs
  framework/packages/abstract-app/src/endpoints.rs
  framework/packages/abstract-app/src/features.rs
  framework/packages/abstract-ica/Cargo.toml
  framework/packages/abstract-testing/src/abstract_mock_querier.rs
  framework/workspace-hack/Cargo.toml
Labels: account, native, adapter_base, app_base

add workspace hack to ignore udeps
  framework/Cargo.lock
  framework/Cargo.toml
  framework/packages/standards/dex/Cargo.toml
  framework/packages/standards/staking/Cargo.toml
  interchain/framework-clone-testing/Cargo.toml
  interchain/interchain-tests/Cargo.toml
  interchain/modules-clone-testing/Cargo.toml
  interchain/scripts/Cargo.toml
  modules/contracts/adapters/cw-staking/Cargo.toml
  modules/contracts/adapters/dex/Cargo.toml
  modules/contracts/adapters/money-market/Cargo.toml
  modules/contracts/apps/calendar/Cargo.toml
  modules/contracts/apps/challenge/Cargo.toml
  modules/contracts/apps/croncat/Cargo.toml
  modules/contracts/apps/dca/Cargo.toml
  modules/contracts/apps/payment/Cargo.toml
  modules/contracts/apps/subscription/Cargo.toml
Labels: none

Exclude workspace-hack in udeps run in command
  .github/workflows/framework-check.yml
Labels: CI

add workspace flag
  .github/workflows/framework-check.yml
Labels: CI

remove unused deps
  framework/Cargo.lock
  framework/contracts/native/ica-client/Cargo.toml
Labels: native

fix compilation
  framework/Cargo.lock
  framework/contracts/native/ica-client/Cargo.toml
Labels: native

un-ignore test
  interchain/framework-clone-testing/tests/migrate.rs
Labels: none

stargate msg replaced by Any in framework
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/native/ibc-client/src/commands.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/packages/abstract-adapter/src/endpoints/instantiate.rs
  framework/packages/abstract-sdk/src/apis/authz.rs
  framework/packages/abstract-sdk/src/apis/distribution.rs
  framework/packages/abstract-sdk/src/apis/feegrant.rs
  interchain/framework-clone-testing/tests/migrate.rs
  interchain/framework-clone-testing/tests/upgrade-account.rs
  interchain/modules-clone-testing/tests/dex/astrovault.rs
  interchain/modules-clone-testing/tests/dex/kujira.rs
  interchain/modules-clone-testing/tests/dex/mod.rs
  interchain/modules-clone-testing/tests/money_market/ghost.rs
  interchain/modules-clone-testing/tests/money_market/mod.rs
  interchain/modules-clone-testing/tests/staking/astrovault.rs
  interchain/modules-clone-testing/tests/staking/kujira.rs
  interchain/modules-clone-testing/tests/staking/mod.rs
  interchain/scripts/src/bin/migrate.rs
Labels: native, sdk, adapter_base

fix networks overwrite
  .github/workflows/interchain-test.yml
Labels: CI
