Repository AbstractSDK/abstract, changes with the labels that .github/labeler.yml gives for each.
All labels: account, native, breaking?, sdk, adapter_base, app_base, build, CI, documentation, interface

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeller Github Action.
"account":
  # Match all of account folders
  - framework/contracts/account/**/*
"native":
  # Match all of native folders
  - framework/contracts/native/**/*
"breaking?":
  # Match all of abstract_std folders
  - framework/packages/abstract_std/**/*
"sdk":
  # Match all of sdk folders
  - framework/packages/abstract-sdk/**/*
"adapter_base":
  # Match all of adapter base folders
  - framework/packages/abstract-adapter/**/*
"app_base":
  # Match all of app base folders
  - framework/packages/abstract-app/**/*
"build":
  - build_release.sh
"CI":
  - .github/**/*.yml
# Add "C:documentation" label to documented related files and directories.
"documentation":
  - README.md
  - framework/contracts/**/*.md
  - framework/contracts/**/*/*.md
  - framework/docs/src/**/*
"interface":
  - framework/packages/abstract-interface/**/*

workflow docs change
  .github/workflows/gh-pages.yml
Labels: CI

typos commands.rs
  framework/contracts/native/ibc-client/src/commands.rs
Labels: native

typos commands.rs
  framework/contracts/native/ibc-client/src/commands.rs
Labels: native

typos account-ibc.md
  framework/docs/src/ibc/account-ibc.md
Labels: documentation

typos account-ibc.md
  framework/docs/src/ibc/account-ibc.md
Labels: documentation

typos contract_base.rs
  framework/packages/abstract-sdk/src/base/contract_base.rs
Labels: sdk

typos ibc_client.rs
  framework/packages/abstract-std/src/native/ibc/ibc_client.rs
Labels: none

Update ica-owner example
  modules/contracts/standalones/ica-owner/Cargo.toml
  modules/contracts/standalones/ica-owner/README.md
  modules/contracts/standalones/ica-owner/src/bin/dydx_test.rs
  modules/contracts/standalones/ica-owner/src/bin/publish.rs
  modules/contracts/standalones/ica-owner/src/bin/schema.rs
  modules/contracts/standalones/ica-owner/src/contract.rs
  modules/contracts/standalones/ica-owner/src/error.rs
  modules/contracts/standalones/ica-owner/src/interface.rs
  modules/contracts/standalones/ica-owner/src/lib.rs
  modules/contracts/standalones/ica-owner/src/msg.rs
  modules/contracts/standalones/ica-owner/src/state.rs
  modules/contracts/standalones/ica-owner/tests/live.rs
  modules/contracts/standalones/ica-owner/tests/starship.rs
Labels: none

Rough dydx ICA testing
  framework/packages/abstract-interface/src/deployment.rs
  interchain/scripts/state.json
  modules/contracts/standalones/ica-owner/Cargo.toml
  modules/contracts/standalones/ica-owner/hermes.toml
  modules/contracts/standalones/ica-owner/src/bin/dydx_test.rs
Labels: interface

chore: fix some comments
  framework/docs/src/4_get_started/3_module_builder.md
  framework/packages/abstract-std/src/objects/registry.rs
Labels: documentation

Only update and when update fields are non empty
  framework/packages/abstract-client/src/builder.rs
Labels: none

Only update and when update fields are non empty (#562)
  framework/packages/abstract-client/src/builder.rs
Labels: none

Added xion account
  framework/Cargo.lock
  framework/Cargo.toml
  interchain/Cargo.lock
Labels: none

Update WASM & Schemas [skip ci]
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking-juno.wasm
  modules/artifacts/abstract_cw_staking-kujira.wasm
  modules/artifacts/abstract_cw_staking-osmosis.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter-juno.wasm
  modules/artifacts/abstract_dex_adapter-kujira.wasm
  modules/artifacts/abstract_dex_adapter-neutron.wasm
  modules/artifacts/abstract_dex_adapter-osmosis.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter-kujira.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
  schema/calendar/0.3.0/execute_msg.json
  schema/challenge/0.4.0/execute_msg.json
  schema/challenge/0.4.0/migrate_msg.json
  schema/challenge/0.4.0/module-schema.json
  schema/cw-staking/0.26.0/execute_msg.json
  schema/cw-staking/0.26.0/instantiate_msg.json
  schema/cw-staking/0.26.0/module-schema.json
  schema/dex/0.26.0/execute_msg.json
  schema/dex/0.26.0/module-schema.json
  schema/money-market/0.26.0/execute_msg.json
  schema/money-market/0.26.0/module-schema.json
  schema/payment/0.4.0/execute_msg.json
  schema/tendermint-staking/0.26.0/execute_msg.json
  schema/tendermint-staking/0.26.0/instantiate_msg.json
  schema/tendermint-staking/0.26.0/module-schema.json
Labels: none

Change standalone interface import
  framework/packages/abstract-standalone/Cargo.toml
  framework/publish/publish.sh
  interchain/Cargo.lock
  interchain/Cargo.toml
  interchain/scripts/Cargo.toml
Labels: none

init
  modules/Cargo.toml
  modules/contracts/standalones/vault/Cargo.toml
  modules/contracts/standalones/vault/README.md
  modules/contracts/standalones/vault/src/bin/publish.rs
  modules/contracts/standalones/vault/src/bin/schema.rs
  modules/contracts/standalones/vault/src/contract.rs
  modules/contracts/standalones/vault/src/error.rs
  modules/contracts/standalones/vault/src/interface.rs
  modules/contracts/standalones/vault/src/lib.rs
  modules/contracts/standalones/vault/src/msg.rs
  modules/contracts/standalones/vault/src/state.rs
  modules/contracts/standalones/vault/src/strategy.rs
  modules/contracts/standalones/vault/src/tokenfactory.rs
Labels: none

Changed interface import
  framework/packages/abstract-client/Cargo.toml
Labels: none

comment out oracle code
  modules/contracts/standalones/vault/src/contract.rs
  modules/contracts/standalones/vault/src/state.rs
Labels: none

Abstract-interface
  framework/Cargo.toml
  framework/packages/standards/dex/Cargo.toml
  framework/publish/publish.sh
Labels: none

make it compile
  modules/contracts/standalones/vault/src/contract.rs
  modules/contracts/standalones/vault/src/msg.rs
Labels: none

Reset publish
  framework/publish/publish.sh
Labels: none

bump adapter version for oracle
  framework/Cargo.lock
  framework/packages/standards/oracle/Cargo.toml
  integrations/Cargo.lock
  interchain/Cargo.lock
  modules/Cargo.lock
  modules/contracts/adapters/oracle/src/api.rs
Labels: none

Hakari
  framework/Cargo.lock
  framework/workspace-hack/Cargo.toml
  integrations/Cargo.lock
  interchain/Cargo.lock
  modules/Cargo.lock
Labels: none

Added xion code id for migration from xion account
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/migrate.rs
  framework/contracts/account/tests/upgrades.rs
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/interchain/remote_account.rs
  framework/packages/abstract-std/src/account.rs
  interchain/framework-clone-testing/tests/migrate.rs
Labels: account

Update modules/contracts/adapters/oracle/src/lib.rs
  modules/contracts/adapters/oracle/src/lib.rs
Labels: none

Update modules/contracts/adapters/oracle/src/lib.rs
  modules/contracts/adapters/oracle/src/lib.rs
Labels: none

Remove failling code
  framework/packages/standards/oracle/src/msg.rs
  integrations/oracles/pyth/README.md
  modules/contracts/adapters/cw-staking/tests/osmosis_stake.rs
  modules/contracts/adapters/oracle/src/handlers/query.rs
  modules/contracts/adapters/oracle/src/lib.rs
  modules/contracts/adapters/oracle/src/state.rs
Labels: none

nits
  modules/contracts/adapters/oracle/examples/register_ans.rs
  modules/contracts/adapters/oracle/src/lib.rs
Labels: none

Clippy
  modules/contracts/adapters/oracle/examples/schema.rs
  modules/contracts/adapters/oracle/src/api.rs
Labels: none

Removed execution layer
  modules/contracts/adapters/oracle/src/contract.rs
  modules/contracts/adapters/oracle/src/handlers/execute.rs
  modules/contracts/adapters/oracle/src/handlers/mod.rs
Labels: none

Fixed migrate
  framework/contracts/account/src/migrate.rs
Labels: account

Nit
  framework/contracts/account/src/migrate.rs
Labels: account

Removed unused deps
  framework/Cargo.lock
  framework/packages/standards/oracle/Cargo.toml
  integrations/Cargo.lock
  interchain/Cargo.lock
  modules/Cargo.lock
Labels: none

Update WASM & Schemas [skip ci]
  framework/artifacts/abstract_account-xion.wasm
  framework/artifacts/abstract_account.wasm
  framework/artifacts/checksums.txt
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking-juno.wasm
  modules/artifacts/abstract_cw_staking-kujira.wasm
  modules/artifacts/abstract_cw_staking-osmosis.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter-juno.wasm
  modules/artifacts/abstract_dex_adapter-kujira.wasm
  modules/artifacts/abstract_dex_adapter-neutron.wasm
  modules/artifacts/abstract_dex_adapter-osmosis.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter-kujira.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
  schema/account/0.26.0/abstract-account.json
  schema/calendar/0.3.0/execute_msg.json
  schema/challenge/0.4.0/execute_msg.json
  schema/challenge/0.4.0/migrate_msg.json
  schema/challenge/0.4.0/module-schema.json
  schema/cw-staking/0.26.0/execute_msg.json
  schema/cw-staking/0.26.0/instantiate_msg.json
  schema/cw-staking/0.26.0/module-schema.json
  schema/dex/0.26.0/execute_msg.json
  schema/dex/0.26.0/module-schema.json
  schema/money-market/0.26.0/execute_msg.json
  schema/money-market/0.26.0/module-schema.json
  schema/payment/0.4.0/execute_msg.json
  schema/tendermint-staking/0.26.0/execute_msg.json
  schema/tendermint-staking/0.26.0/instantiate_msg.json
  schema/tendermint-staking/0.26.0/module-schema.json
Labels: none

Removed unused deps
  interchain/Cargo.lock
  modules/Cargo.lock
  modules/contracts/adapters/oracle/Cargo.toml
Labels: none

Rename new_code_id
  framework/contracts/account/src/migrate.rs
  framework/contracts/account/tests/upgrades.rs
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/interchain/remote_account.rs
  framework/packages/abstract-std/src/account.rs
  framework/workspace-hack/Cargo.toml
  interchain/framework-clone-testing/tests/migrate.rs
Labels: account

Move to optional owner in account
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/lib.rs
  framework/contracts/account/src/sub_account.rs
  framework/contracts/account/tests/create.rs
  framework/contracts/account/tests/xion.rs
  framework/contracts/native/ibc-host/src/account_commands.rs
  framework/packages/abstract-interface/src/account.rs
  framework/packages/abstract-interface/tests/interchain_integration/interchain_accounts.rs
  framework/packages/abstract-std/src/account.rs
  interchain/scripts/src/bin/xion_test.rs
Labels: account, native, interface

Hakari
  framework/workspace-hack/Cargo.toml
Labels: none

remove neutorn tests
  framework/Cargo.lock
  modules/contracts/adapters/dex/tests/neutron.rs
Labels: none

Hakari
  framework/Cargo.lock
  framework/workspace-hack/Cargo.toml
  integrations/Cargo.lock
  interchain/Cargo.lock
  modules/Cargo.lock
Labels: none
