Repository AbstractSDK/abstract, changes with the labels that .github/labeler.yml gives for each.
All labels: account, native, breaking?, sdk, adapter_base, app_base, build, CI, documentation, interface

move account.rs to module in objects/mod.rs
  framework/packages/abstract-std/src/objects/account.rs
  framework/packages/abstract-std/src/objects/mod.rs
  framework/packages/abstract-testing/src/lib.rs
Labels: none

move ACCOUNT_ID item to account state
  framework/packages/abstract-std/src/account.rs
  framework/packages/abstract-std/src/objects/mod.rs
Labels: none

Move `abstract-std::objects::account.rs` content to where it belongs (#453)
  framework/packages/abstract-std/src/account.rs
  framework/packages/abstract-std/src/objects/account.rs
  framework/packages/abstract-std/src/objects/mod.rs
  framework/packages/abstract-testing/src/lib.rs
Labels: none

nits
  framework/packages/abstract-testing/src/abstract_mock_querier.rs
  framework/packages/abstract-testing/src/lib.rs
  framework/packages/abstract-testing/src/mock_querier.rs
Labels: none

Change to actual impl
  framework/contracts/account/src/actions.rs
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/modules.rs
  framework/contracts/account/src/reply.rs
  framework/contracts/native/ibc-host/src/account_commands.rs
  framework/packages/abstract-adapter/src/endpoints/execute.rs
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-interface/src/account.rs
  framework/packages/abstract-sdk/src/apis/execution.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-std/src/account/mod.rs
  framework/packages/abstract-std/src/error.rs
Labels: account, native, sdk, adapter_base, interface

remove "_base"
  framework/packages/abstract-testing/src/lib.rs
  framework/packages/abstract-testing/src/mock_querier.rs
Labels: none

formatting [skip ci]
  framework/packages/abstract-std/src/objects/version_control.rs
  framework/packages/abstract-testing/src/abstract_mock_querier.rs
Labels: none

Renamed local to account action
  framework/contracts/account/src/actions.rs
Labels: account

Renamed
  framework/contracts/account/src/actions.rs
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/modules.rs
  framework/packages/abstract-std/src/account.rs
  framework/packages/abstract-std/src/objects/gov_type.rs
Labels: account

Update WASM & Schemas [skip ci]
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking-injective.wasm
  modules/artifacts/abstract_cw_staking-juno.wasm
  modules/artifacts/abstract_cw_staking-kujira.wasm
  modules/artifacts/abstract_cw_staking-neutron.wasm
  modules/artifacts/abstract_cw_staking-osmosis.wasm
  modules/artifacts/abstract_cw_staking-sei.wasm
  modules/artifacts/abstract_cw_staking-terra2.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter-injective.wasm
  modules/artifacts/abstract_dex_adapter-juno.wasm
  modules/artifacts/abstract_dex_adapter-kujira.wasm
  modules/artifacts/abstract_dex_adapter-neutron.wasm
  modules/artifacts/abstract_dex_adapter-osmosis.wasm
  modules/artifacts/abstract_dex_adapter-sei.wasm
  modules/artifacts/abstract_dex_adapter-terra2.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter-kujira.wasm
  modules/artifacts/abstract_money_market_adapter-osmosis.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/croncat_app.wasm
  modules/artifacts/dca_app.wasm
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
Labels: none

Fix abstract-interface, abstract-client, abstract-testing (#456)
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/account/src/actions.rs
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/sub_account.rs
  framework/contracts/account/tests/subaccount.rs
  framework/contracts/native/version-control/src/commands.rs
  framework/contracts/native/version-control/src/contract.rs
  framework/contracts/native/version-control/src/error.rs
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/application.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/src/interchain/remote_account.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-interface/examples/deploy.rs
  framework/packages/abstract-interface/src/account.rs
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-interface/src/interfaces.rs
  framework/packages/abstract-std/src/account.rs
  framework/packages/abstract-std/src/native/version_control.rs
  framework/packages/abstract-std/src/objects/account/account_id.rs
  framework/packages/abstract-std/src/objects/gov_type.rs
  framework/packages/abstract-std/src/objects/salt.rs
  framework/packages/abstract-std/src/objects/version_control.rs
  framework/packages/abstract-testing/src/abstract_mock_querier.rs
  framework/packages/abstract-testing/src/lib.rs
  framework/packages/abstract-testing/src/mock_querier.rs
Labels: account, native, interface

rename account_factory testing file
  framework/packages/abstract-integration-tests/src/create.rs
  framework/packages/abstract-integration-tests/src/lib.rs
Labels: none

ans-host tests
  framework/contracts/native/ans-host/src/commands.rs
Labels: native

Added sdk method for admin checks
  framework/packages/abstract-adapter/src/endpoints/execute.rs
  framework/packages/abstract-sdk/src/apis/verify.rs
Labels: sdk, adapter_base

fix name conflict
  framework/packages/abstract-testing/src/lib.rs
  framework/packages/abstract-testing/src/mock_querier.rs
Labels: none

Rename
  framework/contracts/account/src/actions.rs
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/reply.rs
Labels: account

Nits
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/error.rs
  framework/packages/abstract-adapter/src/endpoints/execute.rs
  framework/packages/abstract-sdk/src/apis/verify.rs
  framework/packages/abstract-sdk/src/error.rs
  framework/packages/abstract-std/src/account.rs
  framework/packages/abstract-std/src/error.rs
Labels: account, sdk, adapter_base

add abstract_ to mock objects in abstract-testing for more precision
  framework/contracts/native/version-control/src/commands.rs
  framework/packages/abstract-adapter/src/endpoints/execute.rs
  framework/packages/abstract-adapter/src/endpoints/instantiate.rs
  framework/packages/abstract-adapter/src/endpoints/reply.rs
  framework/packages/abstract-adapter/src/endpoints/sudo.rs
  framework/packages/abstract-app/src/features.rs
  framework/packages/abstract-sdk/src/apis/adapter.rs
  framework/packages/abstract-sdk/src/apis/app.rs
  framework/packages/abstract-standalone/src/features.rs
  framework/packages/abstract-testing/src/lib.rs
  framework/packages/abstract-testing/src/mock_querier.rs
Labels: native, sdk, adapter_base, app_base

abstract-sdk tests
  framework/packages/abstract-sdk/src/ans_resolve.rs
  framework/packages/abstract-sdk/src/apis/adapter.rs
  framework/packages/abstract-sdk/src/apis/app.rs
  framework/packages/abstract-sdk/src/apis/authz.rs
  framework/packages/abstract-sdk/src/apis/bank.rs
  framework/packages/abstract-sdk/src/apis/distribution.rs
  framework/packages/abstract-sdk/src/apis/execution.rs
  framework/packages/abstract-sdk/src/apis/feegrant.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-sdk/src/apis/modules.rs
  framework/packages/abstract-sdk/src/apis/splitter.rs
  framework/packages/abstract-sdk/src/apis/verify.rs
  framework/packages/abstract-sdk/src/apis/version_registry.rs
  framework/packages/abstract-sdk/src/mock_module.rs
  framework/packages/abstract-std/src/objects/account/account_id.rs
  framework/packages/abstract-testing/src/abstract_mock_querier.rs
Labels: sdk

remove abstract_mock_deps
  framework/packages/abstract-testing/src/lib.rs
  framework/packages/abstract-testing/src/mock_querier.rs
Labels: none

rm account factory from VC config
  framework/contracts/native/version-control/src/contract.rs
  framework/packages/abstract-std/src/native/version_control.rs
Labels: native

update tests
  framework/contracts/account/tests/adapters.rs
  framework/contracts/account/tests/apps.rs
  framework/contracts/account/tests/create.rs
  framework/contracts/account/tests/ibc-client.rs
  framework/contracts/account/tests/install_modules.rs
  framework/contracts/account/tests/proxy.rs
  framework/contracts/account/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/tests/standalones.rs
  framework/contracts/account/tests/subaccount.rs
  framework/contracts/account/tests/upgrades.rs
Labels: account

formatting [skip ci]
  framework/contracts/account/tests/ibc-client.rs
  framework/contracts/account/tests/install_modules.rs
  framework/contracts/account/tests/upgrades.rs
Labels: account

doctests
  framework/packages/abstract-sdk/src/apis/authz.rs
  framework/packages/abstract-sdk/src/apis/bank.rs
  framework/packages/abstract-sdk/src/apis/distribution.rs
  framework/packages/abstract-sdk/src/apis/execution.rs
  framework/packages/abstract-sdk/src/apis/feegrant.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-sdk/src/apis/modules.rs
  framework/packages/abstract-sdk/src/apis/verify.rs
Labels: sdk

return types in doctests
  framework/packages/abstract-sdk/src/apis/authz.rs
  framework/packages/abstract-sdk/src/apis/distribution.rs
  framework/packages/abstract-sdk/src/apis/feegrant.rs
Labels: sdk

module-factory tests
  framework/contracts/native/module-factory/tests/install_native_modules.rs
Labels: native

Remove `mock_dependencies` (#460)
  framework/contracts/native/version-control/src/commands.rs
  framework/packages/abstract-adapter/src/endpoints/execute.rs
  framework/packages/abstract-adapter/src/endpoints/instantiate.rs
  framework/packages/abstract-adapter/src/endpoints/reply.rs
  framework/packages/abstract-adapter/src/endpoints/sudo.rs
  framework/packages/abstract-app/src/features.rs
  framework/packages/abstract-sdk/src/apis/adapter.rs
  framework/packages/abstract-sdk/src/apis/app.rs
  framework/packages/abstract-standalone/src/features.rs
  framework/packages/abstract-testing/src/lib.rs
  framework/packages/abstract-testing/src/mock_querier.rs
Labels: native, sdk, adapter_base, app_base

Update WASM & Schemas [skip ci]
  modules/artifacts/checksums.txt
  modules/artifacts/croncat_app.wasm
  modules/artifacts/dca_app.wasm
Labels: none

fix account payment on instantiation
  framework/contracts/account/src/contract.rs
  framework/contracts/account/tests/create.rs
  framework/contracts/account/tests/ibc-client.rs
  framework/packages/abstract-integration-tests/src/create.rs
Labels: account

formatting [skip ci]
  framework/contracts/account/src/contract.rs
  framework/contracts/account/tests/create.rs
Labels: account

fix vc queries tests
  framework/contracts/native/version-control/src/commands.rs
  framework/contracts/native/version-control/src/contract.rs
  framework/contracts/native/version-control/src/queries.rs
Labels: native

Put every namespace in same file
  framework/contracts/account/src/modules.rs
  framework/contracts/account/src/modules/migration.rs
  framework/contracts/native/module-factory/src/contract.rs
  framework/contracts/native/version-control/src/migrate.rs
  framework/packages/abstract-sdk/src/lib.rs
  framework/packages/abstract-std/src/account.rs
  framework/packages/abstract-std/src/native/ans_host.rs
  framework/packages/abstract-std/src/native/ibc/ibc_client.rs
  framework/packages/abstract-std/src/native/ibc/ibc_host.rs
  framework/packages/abstract-std/src/native/ibc/ica_client.rs
  framework/packages/abstract-std/src/native/module_factory.rs
  framework/packages/abstract-std/src/native/version_control.rs
  framework/packages/abstract-std/src/objects/common_namespace.rs
  framework/packages/abstract-std/src/objects/mod.rs
  framework/packages/abstract-std/src/objects/module_version.rs
  framework/packages/abstract-std/src/objects/ownership/gov_ownable.rs
  framework/packages/abstract-std/src/objects/storage_namespaces.rs
  framework/packages/abstract-testing/src/abstract_mock_querier.rs
  framework/packages/abstract-testing/src/mock_querier.rs
Labels: account, native, sdk

formatting [skip ci]
  framework/packages/abstract-std/src/native/ibc/ica_client.rs
Labels: none

Nits
  framework/packages/abstract-std/src/objects/storage_namespaces.rs
Labels: none

clean up weird unwrap
  framework/contracts/account/src/config.rs
  framework/contracts/account/src/modules.rs
  framework/contracts/account/src/modules/migration.rs
  framework/contracts/account/tests/apps.rs
  framework/contracts/account/tests/create.rs
  framework/contracts/account/tests/snapshots/apps__execute_on_account.snap
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-interface/src/account.rs
  framework/packages/abstract-interface/src/interfaces.rs
Labels: account, interface

fix ibc-client tests
  framework/contracts/native/ibc-client/src/contract.rs
  framework/packages/abstract-std/src/objects/version_control.rs
Labels: native

it can be module instead
  framework/contracts/native/ibc-client/src/contract.rs
Labels: native

fix adapter tests
  framework/contracts/account/src/contract.rs
  framework/contracts/account/tests/adapters.rs
  framework/contracts/account/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/packages/abstract-interface/src/account.rs
Labels: account, interface

formatting [skip ci]
  framework/contracts/account/src/contract.rs
Labels: account

fix standalone tests
  framework/contracts/account/tests/standalones.rs
Labels: account

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeller Github Action.
"account":
  # Match all of account folders
  - framework/contracts/account/**/*
"native":
  # Match all of native folders
  - framework/contracts/native/**/*
"breaking?":
  # Match all of abstract_std folders
  - framework/packages/abstract_std/**/*
"sdk":
  # Match all of sdk folders
  - framework/packages/abstract-sdk/**/*
"adapter_base":
  # Match all of adapter base folders
  - framework/packages/abstract-adapter/**/*
"app_base":
  # Match all of app base folders
  - framework/packages/abstract-app/**/*
"build":
  - build_release.sh
"CI":
  - .github/**/*.yml
# Add "C:documentation" label to documented related files and directories.
"documentation":
  - README.md
  - framework/contracts/**/*.md
  - framework/contracts/**/*/*.md
  - framework/docs/src/**/*
"interface":
  - framework/packages/abstract-interface/**/*
