Repository AbstractSDK/abstract, changes with the labels that .github/labeler.yml gives for each.
All labels: account, native, breaking?, sdk, adapter_base, app_base, build, CI, documentation, interface

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeller Github Action.
"account":
  # Match all of account folders
  - framework/contracts/account/**/*
"native":
  # Match all of native folders
  - framework/contracts/native/**/*
"breaking?":
  # Match all of abstract_std folders
  - framework/packages/abstract_std/**/*
"sdk":
  # Match all of sdk folders
  - framework/packages/abstract-sdk/**/*
"adapter_base":
  # Match all of adapter base folders
  - framework/packages/abstract-adapter/**/*
"app_base":
  # Match all of app base folders
  - framework/packages/abstract-app/**/*
"build":
  - build_release.sh
"CI":
  - .github/**/*.yml
# Add "C:documentation" label to documented related files and directories.
"documentation":
  - README.md
  - framework/contracts/**/*.md
  - framework/contracts/**/*/*.md
  - framework/docs/src/**/*
"interface":
  - framework/packages/abstract-interface/**/*

Readme for ica owner and some testing cleanup
  modules/contracts/standalones/ica-owner/Cargo.toml
  modules/contracts/standalones/ica-owner/README.md
  modules/contracts/standalones/ica-owner/tests/starship.rs
Labels: none

remove standalone template
  framework/Cargo.toml
  framework/contracts/templates/standalone/Cargo.toml
  framework/contracts/templates/standalone/README.md
  framework/contracts/templates/standalone/src/bin/local_daemon.rs
  framework/contracts/templates/standalone/src/bin/publish.rs
  framework/contracts/templates/standalone/src/bin/schema.rs
  framework/contracts/templates/standalone/src/contract.rs
  framework/contracts/templates/standalone/src/error.rs
  framework/contracts/templates/standalone/src/interface.rs
  framework/contracts/templates/standalone/src/lib.rs
  framework/contracts/templates/standalone/src/msg.rs
  framework/contracts/templates/standalone/src/state.rs
  framework/contracts/templates/standalone/tests/integration.rs
Labels: documentation

enable stargate feature on cosmwasm import
  framework/Cargo.toml
Labels: none

add test for account sequence
  framework/contracts/account/manager/tests/proxy.rs
Labels: account

fix test
  framework/contracts/account/manager/tests/proxy.rs
Labels: account

apply fix
  framework/contracts/native/account-factory/src/commands.rs
Labels: native

formatting [skip ci]
  framework/contracts/account/manager/tests/proxy.rs
Labels: account

Fix account_sequence saving provided account_seq (#395)
  framework/contracts/account/manager/tests/proxy.rs
  framework/contracts/native/account-factory/src/commands.rs
Labels: account, native

Rename `ChainName` to `TruncatedChainId` (#391)
  framework/contracts/native/ans-host/src/queries.rs
  framework/contracts/native/ibc-client/src/commands.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/contracts/native/ibc-client/src/ibc.rs
  framework/contracts/native/ibc-client/src/queries.rs
  framework/contracts/native/ibc-host/src/account_commands.rs
  framework/contracts/native/ibc-host/src/endpoints/execute.rs
  framework/contracts/native/ibc-host/src/endpoints/packet.rs
  framework/contracts/native/ibc-host/src/endpoints/query.rs
  framework/docs/src/releases/v0.md
  framework/packages/abstract-client/src/error.rs
  framework/packages/abstract-client/src/interchain/remote_account.rs
  framework/packages/abstract-interface/src/account/manager.rs
  framework/packages/abstract-interface/src/account/mod.rs
  framework/packages/abstract-interface/src/ibc.rs
  framework/packages/abstract-sdk/src/ans_resolve.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-std/src/native/ibc.rs
  framework/packages/abstract-std/src/native/ibc_client.rs
  framework/packages/abstract-std/src/native/ibc_host.rs
  framework/packages/abstract-std/src/objects/account/account_id.rs
  framework/packages/abstract-std/src/objects/account/account_trace.rs
  framework/packages/abstract-std/src/objects/entry/channel_entry.rs
  framework/packages/abstract-std/src/objects/mod.rs
  framework/packages/abstract-std/src/objects/salt.rs
  framework/packages/abstract-std/src/objects/truncated_chain_id.rs
  interchain/interchain-tests/src/bin/setup_funds.rs
  interchain/interchain-tests/src/interchain_accounts.rs
  interchain/interchain-tests/src/module_to_module_interactions.rs
  interchain/interchain-tests/src/setup.rs
  interchain/scripts/src/abstract_ibc.rs
  interchain/scripts/src/bin/create_remote_account.rs
  modules/contracts/adapters/cw-staking/src/handlers/execute.rs
  modules/contracts/adapters/dex/src/handlers/execute.rs
Labels: native, sdk, documentation, interface

comment out terraswap
  modules/contracts/adapters/dex/Cargo.toml
  modules/contracts/adapters/dex/src/exchanges/exchange_resolver.rs
  modules/contracts/adapters/dex/src/exchanges/mod.rs
Labels: none

disallow nft owned accounts to be transferred
  framework/contracts/account/manager/tests/proxy.rs
  framework/contracts/native/account-factory/src/commands.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/packages/abstract-client/src/interchain/remote_account.rs
  framework/packages/gov-ownable/Cargo.toml
  framework/packages/gov-ownable/derive/Cargo.toml
  framework/packages/gov-ownable/src/lib.rs
Labels: account, native

selfnits
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-nested-admin/src/lib.rs
  framework/packages/gov-ownable/src/lib.rs
Labels: none

make nft ownership of account immutable
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/account/manager/src/queries.rs
  framework/contracts/account/manager/tests/proxy.rs
  framework/packages/abstract-adapter/src/endpoints/execute.rs
  framework/packages/abstract-app/src/endpoints/query.rs
  framework/packages/abstract-nested-admin/src/lib.rs
  framework/packages/gov-ownable/src/lib.rs
Labels: account, adapter_base, app_base

mars neutron tests (#390)
  interchain/modules-clone-testing/tests/money_market/mars.rs
Labels: none

clippy fix
  framework/contracts/native/account-factory/src/commands.rs
Labels: native

remove standalone template (#393)
  framework/Cargo.toml
  framework/contracts/templates/standalone/Cargo.toml
  framework/contracts/templates/standalone/README.md
  framework/contracts/templates/standalone/src/bin/local_daemon.rs
  framework/contracts/templates/standalone/src/bin/publish.rs
  framework/contracts/templates/standalone/src/bin/schema.rs
  framework/contracts/templates/standalone/src/contract.rs
  framework/contracts/templates/standalone/src/error.rs
  framework/contracts/templates/standalone/src/interface.rs
  framework/contracts/templates/standalone/src/lib.rs
  framework/contracts/templates/standalone/src/msg.rs
  framework/contracts/templates/standalone/src/state.rs
  framework/contracts/templates/standalone/tests/integration.rs
Labels: documentation

Update WASM & Schemas [skip ci]
  framework/artifacts/checksums.txt
Labels: none

add stargate included test
  framework/Cargo.toml
  interchain/interchain-tests/src/interchain_accounts.rs
Labels: none

move gov and nested admin implementations inside abstract-std
  framework/Cargo.toml
  framework/contracts/account/manager/Cargo.toml
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/account/manager/src/contract.rs
  framework/contracts/account/manager/src/error.rs
  framework/contracts/account/manager/src/migrate.rs
  framework/contracts/account/manager/src/queries.rs
  framework/contracts/account/manager/tests/proxy.rs
  framework/contracts/account/manager/tests/subaccount.rs
  framework/contracts/native/version-control/Cargo.toml
  framework/contracts/native/version-control/src/commands.rs
  framework/packages/abstract-adapter/Cargo.toml
  framework/packages/abstract-adapter/src/endpoints/execute.rs
  framework/packages/abstract-app/Cargo.toml
  framework/packages/abstract-app/src/endpoints/query.rs
  framework/packages/abstract-app/src/state.rs
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/interchain/remote_account.rs
  framework/packages/abstract-integration-tests/Cargo.toml
  framework/packages/abstract-integration-tests/src/manager.rs
  framework/packages/abstract-nested-admin/Cargo.toml
  framework/packages/abstract-standalone/Cargo.toml
  framework/packages/abstract-standalone/src/state.rs
  framework/packages/abstract-std/src/core/manager.rs
  framework/packages/abstract-std/src/objects/gov_type.rs
  framework/packages/abstract-std/src/objects/mod.rs
  framework/packages/abstract-std/src/objects/ownership.rs
  framework/packages/abstract-std/src/objects/ownership/README.md
  framework/packages/abstract-std/src/objects/ownership/gov_ownable.rs
  framework/packages/abstract-std/src/objects/ownership/nested_admin.rs
  framework/packages/abstract-testing/Cargo.toml
  framework/packages/abstract-testing/src/abstract_mock_querier.rs
  framework/packages/abstract-testing/src/mock_querier.rs
  framework/packages/gov-ownable/Cargo.toml
  framework/packages/gov-ownable/derive/Cargo.toml
  framework/packages/gov-ownable/derive/README.md
  framework/packages/gov-ownable/derive/src/lib.rs
  framework/packages/gov-ownable/tests/macro.rs
Labels: account, native, adapter_base, app_base

move checks into cw-gov-ownable
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/account/manager/src/contract.rs
  framework/contracts/account/manager/src/error.rs
  framework/packages/abstract-std/src/objects/ownership/gov_ownable.rs
Labels: account

is owner refactor on manager
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/account/manager/src/contract.rs
  framework/contracts/account/manager/src/error.rs
  framework/packages/abstract-std/src/objects/ownership/gov_ownable.rs
Labels: account

remove propose ownership
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/account/manager/src/contract.rs
  framework/contracts/account/manager/tests/proxy.rs
  framework/contracts/account/manager/tests/subaccount.rs
  framework/contracts/native/ibc-host/tests/integration.rs
  framework/packages/abstract-integration-tests/src/manager.rs
  framework/packages/abstract-std/src/core/manager.rs
Labels: account, native

update readme and docs
  framework/contracts/account/manager/src/commands.rs
  framework/docs/src/releases/v0.md
  framework/packages/abstract-std/src/objects/ownership/README.md
  framework/packages/abstract-std/src/objects/ownership/gov_ownable.rs
Labels: account, documentation

remove redundant error variant from abstract-std
  framework/contracts/native/account-factory/src/commands.rs
  framework/packages/abstract-std/src/error.rs
Labels: native

remove terraswap
  modules/contracts/adapters/dex/Cargo.toml
  modules/contracts/adapters/dex/src/exchanges/exchange_resolver.rs
  modules/contracts/adapters/dex/src/exchanges/mod.rs
  modules/contracts/adapters/dex/src/exchanges/terraswap.rs
Labels: none

clippy
  framework/contracts/native/account-factory/src/commands.rs
Labels: native

fix clippy (ChainName rename)
  framework/docs/src/releases/v0.md
  framework/packages/abstract-std/src/objects/mod.rs
  modules/contracts/adapters/cw-staking/src/lib.rs
  modules/contracts/adapters/dex/src/lib.rs
  modules/contracts/adapters/money-market/src/lib.rs
  modules/contracts/apps/ping-pong/README.md
  modules/contracts/apps/ping-pong/src/handlers/execute.rs
  modules/contracts/apps/ping-pong/src/ibc/callback.rs
  modules/contracts/apps/ping-pong/src/msg.rs
  modules/contracts/apps/ping-pong/tests/ping_pong_tests.rs
Labels: documentation

formatting [skip ci]
  modules/contracts/apps/ping-pong/src/handlers/execute.rs
Labels: none

Enable stargate feature on contracts (#394)
  framework/contracts/native/account-factory/src/commands.rs
  interchain/interchain-tests/src/interchain_accounts.rs
Labels: native

fix compile
  framework/packages/abstract-std/src/objects/mod.rs
  modules/contracts/adapters/cw-staking/src/lib.rs
  modules/contracts/adapters/dex/src/lib.rs
  modules/contracts/adapters/money-market/src/lib.rs
  modules/contracts/apps/ping-pong/src/handlers/execute.rs
  modules/contracts/apps/ping-pong/src/ibc/callback.rs
  modules/contracts/apps/ping-pong/src/msg.rs
Labels: none

fn renames
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/account/manager/src/contract.rs
Labels: account

fix changelog
  framework/docs/src/releases/v0.md
Labels: documentation

fix docs autoreplace
  framework/packages/abstract-std/src/objects/mod.rs
Labels: none

Update WASM & Schemas [skip ci]
  framework/artifacts/abstract_account_factory.wasm
  framework/artifacts/checksums.txt
Labels: none

compile fix
  modules/contracts/apps/ping-pong/tests/ping_pong_tests.rs
Labels: none

Remove terraswap integration from terra (#387)
  modules/CHANGELOG.md
  modules/contracts/adapters/dex/Cargo.toml
  modules/contracts/adapters/dex/src/exchanges/exchange_resolver.rs
  modules/contracts/adapters/dex/src/exchanges/mod.rs
  modules/contracts/adapters/dex/src/exchanges/terraswap.rs
  modules/contracts/apps/ping-pong/README.md
  modules/contracts/apps/ping-pong/src/handlers/execute.rs
  modules/contracts/apps/ping-pong/src/ibc/callback.rs
  modules/contracts/apps/ping-pong/src/msg.rs
  modules/contracts/apps/ping-pong/tests/ping_pong_tests.rs
Labels: none

allow transfers of sub account without recursive queries
  framework/contracts/account/manager/tests/subaccount.rs
  framework/packages/abstract-std/src/objects/ownership/gov_ownable.rs
Labels: account

accept ownership refactor
  framework/packages/abstract-std/src/objects/ownership/gov_ownable.rs
Labels: none

update manager to match new gov-ownable implementations
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/account/manager/src/contract.rs
Labels: account

cover nft transfers by tests
  framework/contracts/account/manager/tests/proxy.rs
Labels: account
