Repository AbstractSDK/abstract, changes with the labels that .github/labeler.yml gives for each.
All labels: account, native, breaking?, sdk, adapter_base, app_base, build, CI, documentation, interface

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeller Github Action.
"account":
  # Match all of account folders
  - framework/contracts/account/**/*
"native":
  # Match all of native folders
  - framework/contracts/native/**/*
"breaking?":
  # Match all of abstract_std folders
  - framework/packages/abstract_std/**/*
"sdk":
  # Match all of sdk folders
  - framework/packages/abstract-sdk/**/*
"adapter_base":
  # Match all of adapter base folders
  - framework/packages/abstract-adapter/**/*
"app_base":
  # Match all of app base folders
  - framework/packages/abstract-app/**/*
"build":
  - build_release.sh
"CI":
  - .github/**/*.yml
# Add "C:documentation" label to documented related files and directories.
"documentation":
  - README.md
  - framework/contracts/**/*.md
  - framework/contracts/**/*/*.md
  - framework/docs/src/**/*
"interface":
  - framework/packages/abstract-interface/**/*

Resolved comments
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/error.rs
  framework/packages/abstract-client/src/publisher.rs
  framework/packages/abstract-client/tests/integration.rs
Labels: none

formatting [skip ci]
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/error.rs
  framework/packages/abstract-client/src/publisher.rs
Labels: none

add multisig update
  framework/Cargo.lock
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-interface/src/error.rs
  framework/packages/abstract-interface/src/lib.rs
  framework/packages/abstract-interface/src/multisig.rs
Labels: interface

update cw-orch
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/account/Cargo.toml
  framework/workspace-hack/Cargo.toml
  integrations/Cargo.toml
  interchain/Cargo.toml
  modules/Cargo.toml
  modules/contracts/apps/ping-pong/Cargo.toml
Labels: account

update generics in commit_any
  interchain/scripts/src/bin/proposal_template.rs
Labels: none

remove patch section
  modules/Cargo.toml
Labels: none

Fix install modules on subaccount (#503)
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/src/error.rs
  framework/packages/abstract-client/src/lib.rs
  framework/packages/abstract-client/src/publisher.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-client/tests/interchain_integration.rs
  interchain/scripts/src/bin/create_remote_account.rs
  modules/contracts/adapters/cw-staking/src/staking_tester.rs
  modules/contracts/adapters/dex/src/dex_tester.rs
  modules/contracts/adapters/money-market/src/tester.rs
  modules/contracts/apps/calendar/tests/integration.rs
  modules/contracts/apps/ping-pong/tests/ping_pong_tests.rs
  modules/contracts/apps/subscription/tests/integration.rs
  modules/contracts/standalones/ica-owner/src/bin/publish.rs
Labels: none

Changelog
  framework/docs/src/releases/CHANGELOG.md
Labels: documentation

Changelog (#514)
  framework/docs/src/releases/CHANGELOG.md
Labels: documentation

typo in filename
  interchain/four-chain-starship/configs/two-junos.yaml
Labels: none

Removed warnings
  framework/Cargo.lock
  interchain/interchain-end_to_end_testing/src/bin/ibc_hook.rs
  interchain/interchain-end_to_end_testing/src/bin/pfm.rs
  interchain/interchain-end_to_end_testing/src/lib.rs
Labels: none

Memo field apis (#412)
  framework/Cargo.lock
  framework/Cargo.toml
  framework/artifacts/abstract_account-xion.wasm
  framework/artifacts/abstract_account.wasm
  framework/artifacts/abstract_ans_host.wasm
  framework/artifacts/abstract_ibc_client.wasm
  framework/artifacts/abstract_ibc_host.wasm
  framework/artifacts/abstract_ica_client.wasm
  framework/artifacts/abstract_module_factory.wasm
  framework/artifacts/abstract_registry.wasm
  framework/artifacts/checksums.txt
  framework/contracts/account/src/execution.rs
  framework/contracts/native/ibc-client/src/commands.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/contracts/native/module-factory/Cargo.toml
  framework/docs/src/releases/CHANGELOG.md
  framework/packages/abstract-client/src/interchain/remote_account.rs
  framework/packages/abstract-interface/tests/interchain_integration/bin/ibc_hook.rs
  framework/packages/abstract-interface/tests/interchain_integration/bin/pfm.rs
  framework/packages/abstract-interface/tests/interchain_integration/interchain_accounts.rs
  framework/packages/abstract-sdk/Cargo.toml
  framework/packages/abstract-sdk/src/apis.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-sdk/src/apis/ibc_memo.rs
  framework/packages/abstract-sdk/src/apis/ibc_memo/hooks.rs
  framework/packages/abstract-sdk/src/apis/ibc_memo/pfm.rs
  framework/packages/abstract-sdk/src/lib.rs
  framework/packages/abstract-std/src/native/ibc/ibc_client.rs
  interchain/Cargo.toml
  interchain/four-chain-starship/Makefile
  interchain/four-chain-starship/configs/four-junos.yaml
  interchain/four-chain-starship/configs/two-junos.yaml
  interchain/four-chain-starship/port-forward.sh
  interchain/interchain-end_to_end_testing/Cargo.toml
  interchain/interchain-end_to_end_testing/src/bin/ibc_hook.rs
  interchain/interchain-end_to_end_testing/src/bin/pfm.rs
  interchain/interchain-end_to_end_testing/src/bin/setup_funds.rs
  interchain/interchain-end_to_end_testing/src/lib.rs
  modules/contracts/adapters/cw-staking/src/handlers/execute.rs
  modules/contracts/adapters/dex/src/handlers/execute.rs
Labels: account, native, sdk, documentation, interface

Abstract Client: Admin execute on remote application (#511)
  framework/packages/abstract-client/src/interchain/remote_application.rs
Labels: none

Update cw-orch to latest (#513)
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/account/Cargo.toml
  framework/workspace-hack/Cargo.toml
  integrations/Cargo.toml
  interchain/Cargo.toml
  interchain/scripts/src/bin/proposal_template.rs
  modules/Cargo.toml
  modules/contracts/apps/ping-pong/Cargo.toml
Labels: account

update abstract versions
  framework/Cargo.lock
  framework/Cargo.toml
  framework/packages/abstract-adapter/Cargo.toml
  framework/packages/abstract-app/Cargo.toml
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-standalone/Cargo.toml
  framework/packages/standards/dex/Cargo.toml
  framework/packages/standards/money-market/Cargo.toml
  framework/packages/standards/staking/Cargo.toml
  integrations/Cargo.toml
  integrations/osmosis-adapter/Cargo.toml
  interchain/Cargo.toml
  interchain/interchain-end_to_end_testing/Cargo.toml
  modules/contracts/apps/ping-pong/Cargo.toml
Labels: adapter_base, app_base, interface

artifacts
  framework/artifacts/abstract_account-xion.wasm
  framework/artifacts/abstract_account.wasm
  framework/artifacts/abstract_ans_host.wasm
  framework/artifacts/abstract_ibc_client.wasm
  framework/artifacts/abstract_ibc_host.wasm
  framework/artifacts/abstract_ica_client.wasm
  framework/artifacts/abstract_module_factory.wasm
  framework/artifacts/abstract_registry.wasm
  framework/artifacts/checksums.txt
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
Labels: none

update migrate tests
  interchain/framework-clone-testing/src/common.rs
  interchain/framework-clone-testing/tests/migrate.rs
  interchain/framework-clone-testing/tests/upgrade-account.rs
Labels: none

Update WASM & Schemas [skip ci]
  framework/artifacts/abstract_account-xion.wasm
  framework/artifacts/abstract_account.wasm
  framework/artifacts/abstract_ans_host.wasm
  framework/artifacts/abstract_ibc_client.wasm
  framework/artifacts/abstract_ibc_host.wasm
  framework/artifacts/abstract_ica_client.wasm
  framework/artifacts/abstract_module_factory.wasm
  framework/artifacts/abstract_registry.wasm
  framework/artifacts/checksums.txt
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
  schema/ibc-client/0.24.1-beta.2/abstract-ibc-client.json
  schema/ica-client/0.24.1-beta.2/abstract-ica-client.json
Labels: none

state updated
  interchain/scripts/state.json
Labels: none

schemas
  schema/account/0.24.1/abstract-account.json
  schema/ans-host/0.24.1/abstract-ans-host.json
  schema/ibc-client/0.24.1/abstract-ibc-client.json
  schema/ibc-host/0.24.1/abstract-ibc-host.json
  schema/ica-client/0.24.1/abstract-ica-client.json
  schema/module-factory/0.24.1/abstract-module-factory.json
  schema/registry/0.24.1/abstract-registry.json
Labels: none

specify interface version
  framework/Cargo.toml
  framework/packages/standards/dex/Cargo.toml
Labels: none

fix modules version
  schema/cw-staking/0.24.1/execute_msg.json
  schema/cw-staking/0.24.1/instantiate_msg.json
  schema/cw-staking/0.24.1/module-schema.json
  schema/cw-staking/0.24.1/query_msg.json
  schema/dex/0.24.1/adapter_response.json
  schema/dex/0.24.1/execute_msg.json
  schema/dex/0.24.1/instantiate_msg.json
  schema/dex/0.24.1/module-schema.json
  schema/dex/0.24.1/query_msg.json
  schema/money-market/0.24.1/execute_msg.json
  schema/money-market/0.24.1/instantiate_msg.json
  schema/money-market/0.24.1/module-schema.json
  schema/money-market/0.24.1/query_msg.json
  schema/subscription/0.24.1/execute_msg.json
  schema/subscription/0.24.1/instantiate_msg.json
  schema/subscription/0.24.1/migrate_msg.json
  schema/subscription/0.24.1/module-schema.json
  schema/subscription/0.24.1/query_msg.json
  schema/tendermint-staking/0.24.1/execute_msg.json
  schema/tendermint-staking/0.24.1/instantiate_msg.json
  schema/tendermint-staking/0.24.1/module-schema.json
  schema/tendermint-staking/0.24.1/query_msg.json
Labels: none

modules artifacts
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
Labels: none

Xion state and migrate push
  interchain/scripts/state.json
Labels: none

update ibc client readme
  framework/contracts/native/ibc-client/README.md
Labels: native, documentation

Fix tests
  framework/Cargo.lock
  framework/packages/abstract-client/README.md
  framework/packages/abstract-interface/Cargo.toml
Labels: interface

build.rs scripts
  framework/Cargo.lock
  framework/artifacts/abstract_account-xion.wasm
  framework/artifacts/abstract_account.wasm
  framework/artifacts/abstract_ans_host.wasm
  framework/artifacts/abstract_ibc_client.wasm
  framework/artifacts/abstract_ibc_host.wasm
  framework/artifacts/abstract_ica_client.wasm
  framework/artifacts/abstract_module_factory.wasm
  framework/artifacts/abstract_registry.wasm
  framework/artifacts/checksums.txt
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-interface/build.rs
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-std/Cargo.toml
  framework/packages/abstract-std/build.rs
  framework/packages/abstract-std/src/native_addrs.rs
Labels: interface

enable coverage attribute on xion
  framework/packages/abstract-xion/src/lib.rs
Labels: none

snapshots
  framework/contracts/account/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/tests/snapshots/apps__execute_on_account.snap
  framework/contracts/account/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_multiple_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_standalone_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_with_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__exec_on_account.snap
  framework/contracts/account/tests/snapshots/proxy__instantiate_account.snap
  framework/contracts/account/tests/snapshots/subaccount__account_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__creating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account.snap
  framework/contracts/account/tests/snapshots/subaccount__updating_on_subaccount_should_succeed.snap
Labels: account

update build script for abstract-interface
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-interface/build.rs
  framework/packages/abstract-interface/src/account.rs
  framework/packages/abstract-interface/src/native/ans_host.rs
  framework/packages/abstract-interface/src/native/ibc_client.rs
  framework/packages/abstract-interface/src/native/ibc_host.rs
  framework/packages/abstract-interface/src/native/module_factory.rs
  framework/packages/abstract-interface/src/native/registry.rs
Labels: interface

out only wasms, without checksum txt
  framework/packages/abstract-interface/build.rs
  framework/packages/abstract-std/build.rs
Labels: interface

fix broken reference to dca app
  framework/docs/src/4_get_started/8_dependencies.md
  modules/contracts/apps/payment/src/contract.rs
Labels: documentation

add ibc testing documentation
  framework/docs/src/4_get_started/11_ibc_testing.md
  framework/docs/src/SUMMARY.md
Labels: documentation

move comment
  framework/packages/abstract-interface/build.rs
Labels: interface

checksums
  modules/artifacts/checksums.txt
Labels: none

Generate proper ica_client schemas
  framework/contracts/native/ica-client/examples/schema.rs
Labels: native

Update schema.rs
  framework/contracts/native/ica-client/examples/schema.rs
Labels: native

update expect message on ABSTRACT_CREATOR
  framework/packages/abstract-interface/build.rs
  framework/packages/abstract-std/build.rs
Labels: interface

Update framework license to LGPLv3
  LICENSE.LESSER
  framework/Cargo.toml
Labels: none

Add license disclaimer in readme
  framework/README.md
Labels: none
