Repository AbstractSDK/abstract, changes with the labels that .github/labeler.yml gives for each.
All labels: account, native, breaking?, sdk, adapter_base, app_base, build, CI, documentation, interface

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeller Github Action.
"account":
  # Match all of account folders
  - framework/contracts/account/**/*
"native":
  # Match all of native folders
  - framework/contracts/native/**/*
"breaking?":
  # Match all of abstract_std folders
  - framework/packages/abstract_std/**/*
"sdk":
  # Match all of sdk folders
  - framework/packages/abstract-sdk/**/*
"adapter_base":
  # Match all of adapter base folders
  - framework/packages/abstract-adapter/**/*
"app_base":
  # Match all of app base folders
  - framework/packages/abstract-app/**/*
"build":
  - build_release.sh
"CI":
  - .github/**/*.yml
# Add "C:documentation" label to documented related files and directories.
"documentation":
  - README.md
  - framework/contracts/**/*.md
  - framework/contracts/**/*/*.md
  - framework/docs/src/**/*
"interface":
  - framework/packages/abstract-interface/**/*

use anybuf for msgtransfer
  framework/Cargo.lock
  framework/contracts/native/ibc-client/Cargo.toml
  framework/contracts/native/ibc-client/src/anybuf.rs
  framework/contracts/native/ibc-client/src/commands.rs
  framework/contracts/native/ibc-client/src/lib.rs
  framework/packages/abstract-interface/src/native/registry.rs
  framework/packages/abstract-sdk/Cargo.toml
  interchain/scripts/src/bin/xion_test.rs
  interchain/scripts/state.json
Labels: native, sdk, interface

fix snapshots
  framework/contracts/account/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/tests/snapshots/apps__execute_on_account.snap
  framework/contracts/account/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_multiple_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_standalone_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_with_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__exec_on_account.snap
  framework/contracts/account/tests/snapshots/proxy__instantiate_account.snap
  framework/contracts/account/tests/snapshots/subaccount__account_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__creating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account.snap
  framework/contracts/account/tests/snapshots/subaccount__updating_on_subaccount_should_succeed.snap
Labels: account

update state test, we only have pion-1 deployment
  framework/packages/abstract-interface/src/deployment.rs
Labels: interface

nits
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-std/src/native_addrs.rs
Labels: interface

Remove release profiles for the non workspace packages
  framework/Cargo.toml
  framework/contracts/account/Cargo.toml
  framework/contracts/native/ans-host/Cargo.toml
  framework/contracts/native/ibc-client/Cargo.toml
  framework/contracts/native/ica-client/Cargo.toml
  framework/contracts/native/module-factory/Cargo.toml
  framework/contracts/native/registry/Cargo.toml
  integrations/Cargo.toml
  interchain/Cargo.toml
  modules/Cargo.toml
Labels: account, native

snapshots with registry "reg" salt
  framework/contracts/account/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/tests/snapshots/apps__execute_on_account.snap
  framework/contracts/account/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_multiple_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_standalone_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_with_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__exec_on_account.snap
  framework/contracts/account/tests/snapshots/proxy__instantiate_account.snap
  framework/contracts/account/tests/snapshots/subaccount__account_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__creating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account.snap
  framework/contracts/account/tests/snapshots/subaccount__updating_on_subaccount_should_succeed.snap
Labels: account

fix framework-test error if package not found
  .github/workflows/framework-test.yml
Labels: CI

Revert "Remove release profiles for the non workspace packages"
  framework/Cargo.toml
  framework/contracts/account/Cargo.toml
  framework/contracts/native/ans-host/Cargo.toml
  framework/contracts/native/ibc-client/Cargo.toml
  framework/contracts/native/ica-client/Cargo.toml
  framework/contracts/native/module-factory/Cargo.toml
  framework/contracts/native/registry/Cargo.toml
  integrations/Cargo.toml
  interchain/Cargo.toml
  modules/Cargo.toml
Labels: account, native

oak security recommends enabling overflow checks on packages
  framework/contracts/account/Cargo.toml
  framework/contracts/native/ans-host/Cargo.toml
  framework/contracts/native/ibc-client/Cargo.toml
  framework/contracts/native/ica-client/Cargo.toml
  framework/contracts/native/module-factory/Cargo.toml
  framework/contracts/native/registry/Cargo.toml
Labels: account, native

cargo clippy
  framework/contracts/native/ibc-client/src/anybuf.rs
Labels: native

creator pubkey script
  framework/packages/abstract-interface/examples/creator_public_key.rs
Labels: interface

cw-blob fixed label override
  framework/Cargo.lock
  framework/Cargo.toml
Labels: none

fix cosmos-sdk rev
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/account/Cargo.toml
Labels: account

new blob checksum, wasms and snaphots
  framework/Cargo.lock
  framework/Cargo.toml
  framework/artifacts/abstract_ans_host.wasm
  framework/artifacts/abstract_ibc_client.wasm
  framework/artifacts/abstract_ibc_host.wasm
  framework/artifacts/abstract_ica_client.wasm
  framework/artifacts/abstract_module_factory.wasm
  framework/artifacts/checksums.txt
  framework/contracts/account/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/tests/snapshots/apps__execute_on_account.snap
  framework/contracts/account/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_multiple_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_standalone_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_with_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__exec_on_account.snap
  framework/contracts/account/tests/snapshots/proxy__instantiate_account.snap
  framework/contracts/account/tests/snapshots/subaccount__account_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__creating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account.snap
  framework/contracts/account/tests/snapshots/subaccount__updating_on_subaccount_should_succeed.snap
Labels: account

pion-1 deploy
  interchain/scripts/state.json
Labels: none

schemas
  schema/account/0.24.0/abstract-account.json
  schema/ans-host/0.24.0/abstract-ans-host.json
  schema/ibc-client/0.24.0/abstract-ibc-client.json
  schema/ibc-host/0.24.0/abstract-ibc-host.json
  schema/ica-client/0.24.0/abstract-ica-client.json
  schema/module-factory/0.24.0/abstract-module-factory.json
  schema/registry/0.24.0/abstract-registry.json
Labels: none

Working full script with ica client
  framework/Cargo.toml
  framework/contracts/native/ica-client/Cargo.toml
  framework/packages/abstract-std/Cargo.toml
  interchain/Cargo.toml
  interchain/interchain-tests/Cargo.toml
  interchain/interchain-tests/src/bin/ica_client.rs
Labels: native

More todos
  framework/contracts/native/ans-host/src/contract.rs
  framework/contracts/native/ibc-host/src/endpoints/reply.rs
  framework/contracts/native/ica-client/src/chain_types/evm.rs
  framework/packages/abstract-client/src/infrastructure.rs
  framework/packages/abstract-ica/src/action.rs
  framework/packages/abstract-ica/src/chain_type.rs
  framework/packages/abstract-sdk/src/ans_resolve.rs
  framework/packages/abstract-sdk/src/apis/stargate/mod.rs
  framework/packages/abstract-standalone/src/features.rs
Labels: native, sdk

More todos
  framework/contracts/account/src/absacc/sudo.rs
  framework/packages/abstract-std/src/account.rs
  framework/packages/abstract-std/src/native/registry.rs
  framework/packages/abstract-std/src/objects/entry/asset_entry.rs
  framework/packages/abstract-std/src/objects/entry/dex_asset_pairing.rs
  framework/packages/abstract-testing/src/mock_ans.rs
  framework/packages/standards/dex/src/ans_action.rs
  framework/packages/standards/money-market/src/ans_action.rs
  modules/contracts/adapters/dex/src/adapter.rs
Labels: account

Todos
  framework/packages/abstract-std/src/account.rs
  framework/packages/abstract-std/src/objects/deposit_manager.rs
  framework/packages/abstract-std/src/objects/gov_type.rs
  framework/packages/standards/dex/src/command.rs
  framework/packages/standards/money-market/src/query.rs
  interchain/scripts/src/bin/xion_test.rs
  modules/contracts/adapters/cw-staking/src/handlers/execute.rs
  modules/contracts/adapters/dex/src/handlers/execute.rs
Labels: none

Final framework todos
  framework/packages/abstract-integration-tests/README.md
Labels: none

Remove re-introduced todo
  framework/contracts/native/ibc-client/src/commands.rs
Labels: native

splitter tests
  framework/packages/abstract-sdk/src/apis/splitter.rs
Labels: sdk

AccountVerification & AccountRegistry tests
  framework/packages/abstract-sdk/src/apis/verify.rs
Labels: sdk

nits
  framework/packages/abstract-sdk/src/apis/version_registry.rs
  framework/packages/abstract-testing/src/lib.rs
Labels: sdk

exclude error files
  scripts/framework-coverage.sh
Labels: none

helper for interchain client mock
  framework/packages/abstract-client/src/interchain/mod.rs
  framework/packages/abstract-client/tests/abstract_interchain_client_builder.rs
Labels: none

add admin assertion
  framework/packages/abstract-interface/src/deployment.rs
Labels: interface

Added call as to interface and client
  framework/contracts/account/src/contract.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/src/interchain/mod.rs
  framework/packages/abstract-interface/src/account.rs
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-interface/src/ibc.rs
Labels: account, interface

Update API
  framework/contracts/account/src/execution.rs
  framework/contracts/native/ibc-client/src/commands.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/contracts/native/ibc-client/src/queries.rs
  framework/packages/abstract-client/src/interchain/remote_account.rs
  framework/packages/abstract-client/src/interchain/remote_application.rs
  framework/packages/abstract-interface/src/ibc.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-std/src/native/ibc/ibc_client.rs
Labels: account, native, sdk, interface

formatting [skip ci]
  framework/contracts/native/ibc-client/src/contract.rs
  framework/contracts/native/ibc-client/src/queries.rs
  framework/packages/abstract-client/src/interchain/remote_account.rs
  framework/packages/abstract-client/src/interchain/remote_application.rs
Labels: native

version registry tests
  framework/contracts/account/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/tests/snapshots/apps__execute_on_account.snap
  framework/contracts/account/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_multiple_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_standalone_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_with_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__exec_on_account.snap
  framework/contracts/account/tests/snapshots/proxy__instantiate_account.snap
  framework/contracts/account/tests/snapshots/subaccount__account_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__creating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account.snap
  framework/contracts/account/tests/snapshots/subaccount__updating_on_subaccount_should_succeed.snap
  framework/contracts/native/registry/src/commands.rs
  framework/contracts/native/registry/src/contract.rs
  framework/contracts/native/registry/src/queries.rs
  framework/packages/abstract-sdk/src/apis/splitter.rs
  framework/packages/abstract-sdk/src/apis/verify.rs
  framework/packages/abstract-sdk/src/apis/version_registry.rs
  framework/packages/abstract-std/src/native/registry.rs
Labels: account, native, sdk

fix tests
  framework/contracts/native/ibc-client/src/contract.rs
Labels: native

Added accounts query and tests
  framework/contracts/account/tests/create.rs
  framework/contracts/native/registry/src/contract.rs
  framework/contracts/native/registry/src/queries.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/src/interchain/remote_account.rs
  framework/packages/abstract-interface/src/native/registry.rs
  framework/packages/abstract-std/src/native/registry.rs
  interchain/interchain-tests/src/module_to_module_interactions.rs
  modules/contracts/apps/ping-pong/tests/ping_pong_tests.rs
Labels: account, native, interface

Changelog
  framework/docs/src/releases/CHANGELOG.md
Labels: documentation

Fix regisrty
  framework/packages/abstract-client/src/client.rs
Labels: none

Remove account callback and replace by reply
  framework/contracts/account/src/config.rs
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/modules/migration.rs
  framework/packages/abstract-std/src/account.rs
Labels: account

formatting [skip ci]
  framework/contracts/account/src/lib.rs
  framework/contracts/account/src/migrate.rs
  framework/contracts/account/src/versioning.rs
  framework/contracts/account/tests/apps.rs
  framework/contracts/account/tests/create.rs
  framework/contracts/account/tests/proxy.rs
  framework/contracts/account/tests/upgrades.rs
  framework/contracts/native/ans-host/src/contract.rs
  framework/contracts/native/ans-host/src/queries.rs
  framework/contracts/native/ans-host/src/tests/instantiate.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/contracts/native/ica-client/src/queries.rs
  framework/contracts/native/module-factory/src/commands.rs
  framework/contracts/native/module-factory/src/contract.rs
  framework/contracts/native/module-factory/tests/direct_calls.rs
  framework/contracts/native/registry/src/commands.rs
  framework/contracts/native/registry/src/contract.rs
  framework/contracts/native/registry/src/queries.rs
  framework/contracts/native/registry/tests/direct_calls.rs
  framework/packages/abstract-integration-tests/src/account.rs
  framework/packages/abstract-interface/src/account.rs
  framework/packages/abstract-macros/tests/abstract_response.rs
  framework/packages/abstract-macros/tests/with_abstract_event.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-std/src/native/ibc/ibc_client.rs
  framework/packages/abstract-std/src/objects/entry/asset_entry.rs
  framework/packages/abstract-std/src/objects/gov_type.rs
  framework/packages/abstract-std/src/objects/module.rs
  framework/packages/abstract-std/src/objects/module_reference.rs
  framework/packages/abstract-std/src/objects/pool/pool_id.rs
  framework/packages/abstract-std/src/objects/truncated_chain_id.rs
  framework/packages/abstract-std/src/objects/validation/verifiers.rs
Labels: account, native, sdk, interface

Revert "formatting [skip ci]"
  framework/contracts/account/src/lib.rs
  framework/contracts/account/src/migrate.rs
  framework/contracts/account/src/versioning.rs
  framework/contracts/account/tests/apps.rs
  framework/contracts/account/tests/create.rs
  framework/contracts/account/tests/proxy.rs
  framework/contracts/account/tests/upgrades.rs
  framework/contracts/native/ans-host/src/contract.rs
  framework/contracts/native/ans-host/src/queries.rs
  framework/contracts/native/ans-host/src/tests/instantiate.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/contracts/native/ica-client/src/queries.rs
  framework/contracts/native/module-factory/src/commands.rs
  framework/contracts/native/module-factory/src/contract.rs
  framework/contracts/native/module-factory/tests/direct_calls.rs
  framework/contracts/native/registry/src/commands.rs
  framework/contracts/native/registry/src/contract.rs
  framework/contracts/native/registry/src/queries.rs
  framework/contracts/native/registry/tests/direct_calls.rs
  framework/packages/abstract-integration-tests/src/account.rs
  framework/packages/abstract-interface/src/account.rs
  framework/packages/abstract-macros/tests/abstract_response.rs
  framework/packages/abstract-macros/tests/with_abstract_event.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-std/src/native/ibc/ibc_client.rs
  framework/packages/abstract-std/src/objects/entry/asset_entry.rs
  framework/packages/abstract-std/src/objects/gov_type.rs
  framework/packages/abstract-std/src/objects/module.rs
  framework/packages/abstract-std/src/objects/module_reference.rs
  framework/packages/abstract-std/src/objects/pool/pool_id.rs
  framework/packages/abstract-std/src/objects/truncated_chain_id.rs
  framework/packages/abstract-std/src/objects/validation/verifiers.rs
Labels: account, native, sdk, interface

Revert "Revert "formatting [skip ci]""
  framework/contracts/account/src/lib.rs
  framework/contracts/account/src/migrate.rs
  framework/contracts/account/src/versioning.rs
  framework/contracts/account/tests/apps.rs
  framework/contracts/account/tests/create.rs
  framework/contracts/account/tests/proxy.rs
  framework/contracts/account/tests/upgrades.rs
  framework/contracts/native/ans-host/src/contract.rs
  framework/contracts/native/ans-host/src/queries.rs
  framework/contracts/native/ans-host/src/tests/instantiate.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/contracts/native/ica-client/src/queries.rs
  framework/contracts/native/module-factory/src/commands.rs
  framework/contracts/native/module-factory/src/contract.rs
  framework/contracts/native/module-factory/tests/direct_calls.rs
  framework/contracts/native/registry/src/commands.rs
  framework/contracts/native/registry/src/contract.rs
  framework/contracts/native/registry/src/queries.rs
  framework/contracts/native/registry/tests/direct_calls.rs
  framework/packages/abstract-integration-tests/src/account.rs
  framework/packages/abstract-interface/src/account.rs
  framework/packages/abstract-macros/tests/abstract_response.rs
  framework/packages/abstract-macros/tests/with_abstract_event.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-std/src/native/ibc/ibc_client.rs
  framework/packages/abstract-std/src/objects/entry/asset_entry.rs
  framework/packages/abstract-std/src/objects/gov_type.rs
  framework/packages/abstract-std/src/objects/module.rs
  framework/packages/abstract-std/src/objects/module_reference.rs
  framework/packages/abstract-std/src/objects/pool/pool_id.rs
  framework/packages/abstract-std/src/objects/truncated_chain_id.rs
  framework/packages/abstract-std/src/objects/validation/verifiers.rs
Labels: account, native, sdk, interface
