Repository AbstractSDK/abstract, changes with the labels that .github/labeler.yml gives for each.
All labels: account, native, breaking?, sdk, adapter_base, app_base, build, CI, documentation, interface

Update VERSIONING.md
  framework/development/VERSIONING.md
Labels: none

Ensure that we generate llms-txt files and allow crawling
  .github/workflows/gh-pages.yml
  framework/docs/book.toml
  framework/docs/src/robots.txt
  framework/justfile
Labels: CI, documentation

Update robots.txt and ensure that all referenced markdown files are available at render-time
  framework/docs/src/robots.txt
  framework/justfile
Labels: documentation

Remove multilingual from mdbook config
  framework/docs/book.toml
Labels: none

Keep mdbook output in default book/ directory
  .github/workflows/gh-pages.yml
  framework/justfile
Labels: CI

Pin mdbook-llms-txt-tools version and update robots.txt
  framework/docs/src/robots.txt
  framework/justfile
Labels: documentation

Add codebase quality analysis report
  CODEBASE_ANALYSIS.md
Labels: none

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeller Github Action.
"account":
  # Match all of account folders
  - framework/contracts/account/**/*
"native":
  # Match all of native folders
  - framework/contracts/native/**/*
"breaking?":
  # Match all of abstract_std folders
  - framework/packages/abstract_std/**/*
"sdk":
  # Match all of sdk folders
  - framework/packages/abstract-sdk/**/*
"adapter_base":
  # Match all of adapter base folders
  - framework/packages/abstract-adapter/**/*
"app_base":
  # Match all of app base folders
  - framework/packages/abstract-app/**/*
"build":
  - build_release.sh
"CI":
  - .github/**/*.yml
# Add "C:documentation" label to documented related files and directories.
"documentation":
  - README.md
  - framework/contracts/**/*.md
  - framework/contracts/**/*/*.md
  - framework/docs/src/**/*
"interface":
  - framework/packages/abstract-interface/**/*
