Repository AbstractSDK/abstract, changes with the labels that .github/labeler.yml gives for each.
All labels: account, native, breaking?, sdk, adapter_base, app_base, build, CI, documentation, interface

ibc-client tests
  framework/contracts/native/ibc-client/src/contract.rs
  framework/contracts/native/ibc-client/src/lib.rs
Labels: native

ibc-host tests
  framework/contracts/native/ibc-host/src/endpoints/query.rs
  framework/contracts/native/ibc-host/src/endpoints/reply.rs
Labels: native

abstract-app tests
  framework/packages/abstract-app/src/endpoints.rs
  framework/packages/abstract-app/src/endpoints/execute.rs
  framework/packages/abstract-app/src/endpoints/instantiate.rs
  framework/packages/abstract-app/src/endpoints/query.rs
  framework/packages/abstract-app/src/features.rs
  framework/packages/abstract-app/src/lib.rs
Labels: app_base

Update README.md
  framework/contracts/native/account-factory/README.md
Labels: native, documentation

update evm-ibc imports
  framework/.cargo/config.toml
  framework/contracts/native/ica-client/Cargo.toml
  framework/contracts/native/ica-client/src/chain_types/evm.rs
  framework/packages/abstract-ica/Cargo.toml
Labels: native

fix test
  framework/contracts/native/ica-client/src/queries.rs
Labels: native

set dev-profile
  framework/Cargo.toml
Labels: none

remove etf file
  modules/contracts/apps/etf/src/handlers/custom.rs
Labels: none

formatting [skip ci]
  framework/packages/abstract-adapter/src/lib.rs
Labels: adapter_base

remove unused dep
  framework/packages/abstract-ica/Cargo.toml
Labels: none

add dependencies fn in macro
  framework/packages/abstract-adapter/src/interface.rs
  framework/packages/abstract-app/src/interface.rs
Labels: adapter_base, app_base

check in framework lock file
  .gitignore
  framework/Cargo.lock
Labels: none

add hakari workspace hack
  .github/workflows/hakari.yml
  framework/.config/hakari.toml
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/account/manager/Cargo.toml
  framework/contracts/account/proxy/Cargo.toml
  framework/contracts/native/account-factory/Cargo.toml
  framework/contracts/native/ans-host/Cargo.toml
  framework/contracts/native/ibc-client/Cargo.toml
  framework/contracts/native/ibc-host/Cargo.toml
  framework/contracts/native/module-factory/Cargo.toml
  framework/contracts/native/version-control/Cargo.toml
  framework/packages/abstract-adapter/Cargo.toml
  framework/packages/abstract-app/Cargo.toml
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-integration-tests/Cargo.toml
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-macros/Cargo.toml
  framework/packages/abstract-sdk/Cargo.toml
  framework/packages/abstract-standalone/Cargo.toml
  framework/packages/abstract-std/Cargo.toml
  framework/packages/abstract-testing/Cargo.toml
  framework/packages/standards/dex/Cargo.toml
  framework/packages/standards/money-market/Cargo.toml
  framework/packages/standards/staking/Cargo.toml
  framework/packages/standards/utils/Cargo.toml
  framework/workspace-hack/.gitattributes
  framework/workspace-hack/Cargo.toml
  framework/workspace-hack/build.rs
  framework/workspace-hack/src/lib.rs
Labels: account, native, sdk, adapter_base, app_base, CI, interface

update lock
  framework/Cargo.lock
Labels: none

add cargo udeps config
  framework/Cargo.toml
Labels: none

Support interchain ICA (#431)
  framework/.cargo/config.toml
  framework/Cargo.toml
  framework/contracts/account/proxy/src/commands.rs
  framework/contracts/account/proxy/src/contract.rs
  framework/contracts/native/ica-client/Cargo.toml
  framework/contracts/native/ica-client/README.md
  framework/contracts/native/ica-client/examples/schema.rs
  framework/contracts/native/ica-client/src/chain_types/evm.rs
  framework/contracts/native/ica-client/src/chain_types/mod.rs
  framework/contracts/native/ica-client/src/contract.rs
  framework/contracts/native/ica-client/src/error.rs
  framework/contracts/native/ica-client/src/lib.rs
  framework/contracts/native/ica-client/src/queries.rs
  framework/contracts/native/ica-client/src/state.rs
  framework/packages/abstract-ica/Cargo.toml
  framework/packages/abstract-ica/README.md
  framework/packages/abstract-ica/src/action.rs
  framework/packages/abstract-ica/src/chain_type.rs
  framework/packages/abstract-ica/src/lib.rs
  framework/packages/abstract-ica/src/msg.rs
  framework/packages/abstract-std/src/core/proxy.rs
  framework/packages/abstract-std/src/native/ibc_host.rs
  framework/packages/abstract-std/src/objects/module.rs
  framework/packages/abstract-std/src/registry.rs
  framework/packages/abstract-testing/src/abstract_mock_querier.rs
Labels: account, native, documentation

rebuild abstract_testing
  framework/contracts/native/version-control/src/commands.rs
  framework/packages/abstract-sdk/src/feature_objects.rs
  framework/packages/abstract-sdk/src/mock_module.rs
  framework/packages/abstract-standalone/src/lib.rs
  framework/packages/abstract-testing/src/abstract_mock_querier.rs
  framework/packages/abstract-testing/src/lib.rs
  framework/packages/abstract-testing/src/mock_ans.rs
  framework/packages/abstract-testing/src/mock_querier.rs
Labels: native, sdk

sdk ans tests
  framework/packages/abstract-adapter/src/lib.rs
  framework/packages/abstract-sdk/src/ans_resolve.rs
  framework/packages/abstract-sdk/src/base/features/identification.rs
Labels: sdk, adapter_base

update cargo lock
  framework/Cargo.lock
Labels: none

formatting [skip ci]
  framework/packages/abstract-sdk/src/lib.rs
Labels: sdk

update lock [no-ci]
  framework/Cargo.lock
  framework/workspace-hack/Cargo.toml
Labels: none

wip tests refactor
  framework/contracts/native/ans-host/src/commands.rs
  framework/contracts/native/ans-host/src/contract.rs
  framework/contracts/native/ans-host/src/lib.rs
  framework/contracts/native/ans-host/src/queries.rs
  framework/contracts/native/ans-host/src/tests/common.rs
  framework/contracts/native/ans-host/src/tests/instantiate.rs
  framework/contracts/native/ans-host/src/tests/interact.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/contracts/native/version-control/src/queries.rs
  framework/packages/abstract-adapter/src/endpoints/execute.rs
  framework/packages/abstract-adapter/src/features.rs
  framework/packages/abstract-sdk/src/apis/adapter.rs
  framework/packages/abstract-sdk/src/apis/app.rs
  framework/packages/abstract-sdk/src/apis/authz.rs
  framework/packages/abstract-sdk/src/apis/bank.rs
  framework/packages/abstract-sdk/src/apis/distribution.rs
  framework/packages/abstract-sdk/src/apis/execution.rs
  framework/packages/abstract-sdk/src/apis/feegrant.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-sdk/src/apis/modules.rs
  framework/packages/abstract-sdk/src/apis/splitter.rs
  framework/packages/abstract-sdk/src/apis/verify.rs
  framework/packages/abstract-testing/src/map_tester.rs
Labels: native, sdk, adapter_base

remove cw20 message support
  modules/contracts/apps/payment/src/contract.rs
Labels: none

update docs
  framework/docs/src/4_get_started/custom_endpoints.md
  framework/docs/src/SUMMARY.md
Labels: documentation

formatting [skip ci]
  modules/contracts/apps/payment/src/contract.rs
Labels: none

remove receive docs in builder
  framework/docs/src/4_get_started/3_module_builder.md
Labels: documentation

remove oracle from docs
  framework/docs/src/5_platform/index.md
  framework/docs/src/SUMMARY.md
Labels: documentation

Add section on service
  framework/docs/src/3_framework/6_module_types.md
Labels: documentation

update service logic in abstract client
  framework/packages/abstract-client/src/application.rs
  framework/packages/abstract-client/src/publisher.rs
  framework/packages/abstract-client/src/service.rs
  framework/packages/abstract-interface/src/deployers.rs
Labels: interface

formatting [skip ci]
  framework/packages/abstract-client/src/service.rs
Labels: none

formatting [skip ci]
  framework/contracts/account/merged/src/contract.rs
  framework/packages/abstract-std/src/core/merged.rs
  framework/packages/abstract-std/src/core/mod.rs
Labels: account

fix import
  framework/contracts/native/ica-client/Cargo.toml
Labels: native

add section on external use of adapters
  framework/docs/src/modules/defi-adapters.md
Labels: documentation

framework tests pass 🚀
  framework/contracts/native/version-control/src/commands.rs
  framework/packages/abstract-std/src/objects/module_reference.rs
  framework/packages/abstract-std/src/objects/ownership/gov_ownable.rs
  framework/packages/abstract-std/src/objects/pool/pool_id.rs
Labels: native

wasm-flag workspace hack
  framework/Cargo.lock
  framework/Cargo.toml
  framework/artifacts/abstract_account_factory.wasm
  framework/artifacts/abstract_ans_host.wasm
  framework/artifacts/abstract_ibc_client.wasm
  framework/artifacts/abstract_ibc_host.wasm
  framework/artifacts/abstract_manager.wasm
  framework/artifacts/abstract_module_factory.wasm
  framework/artifacts/abstract_proxy.wasm
  framework/artifacts/abstract_version_control.wasm
  framework/artifacts/checksums.txt
  framework/contracts/account/manager/Cargo.toml
  framework/contracts/account/proxy/Cargo.toml
  framework/contracts/native/account-factory/Cargo.toml
  framework/contracts/native/ans-host/Cargo.toml
  framework/contracts/native/ibc-client/Cargo.toml
  framework/contracts/native/ibc-host/Cargo.toml
  framework/contracts/native/ica-client/Cargo.toml
  framework/contracts/native/module-factory/Cargo.toml
  framework/contracts/native/version-control/Cargo.toml
  framework/justfile
  framework/packages/abstract-adapter/Cargo.toml
  framework/packages/abstract-app/Cargo.toml
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-integration-tests/Cargo.toml
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-macros/Cargo.toml
  framework/packages/abstract-sdk/Cargo.toml
  framework/packages/abstract-standalone/Cargo.toml
  framework/packages/abstract-std/Cargo.toml
  framework/packages/abstract-testing/Cargo.toml
  framework/packages/standards/dex/Cargo.toml
  framework/packages/standards/money-market/Cargo.toml
  framework/packages/standards/staking/Cargo.toml
  framework/packages/standards/utils/Cargo.toml
Labels: account, native, sdk, adapter_base, app_base, interface

wasm-flag workspace hack
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking-injective.wasm
  modules/artifacts/abstract_cw_staking-juno.wasm
  modules/artifacts/abstract_cw_staking-kujira.wasm
  modules/artifacts/abstract_cw_staking-neutron.wasm
  modules/artifacts/abstract_cw_staking-osmosis.wasm
  modules/artifacts/abstract_cw_staking-sei.wasm
  modules/artifacts/abstract_cw_staking-terra2.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter-injective.wasm
  modules/artifacts/abstract_dex_adapter-juno.wasm
  modules/artifacts/abstract_dex_adapter-kujira.wasm
  modules/artifacts/abstract_dex_adapter-neutron.wasm
  modules/artifacts/abstract_dex_adapter-osmosis.wasm
  modules/artifacts/abstract_dex_adapter-sei.wasm
  modules/artifacts/abstract_dex_adapter-terra2.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter-kujira.wasm
  modules/artifacts/abstract_money_market_adapter-osmosis.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/croncat_app.wasm
  modules/artifacts/dca_app.wasm
  modules/artifacts/etf_app.wasm
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
Labels: none

add small test
  framework/Cargo.toml
  framework/packages/abstract-interface/src/daemon_state.rs
  framework/packages/abstract-interface/src/ibc.rs
  modules/contracts/apps/calendar/examples/test-local.rs
Labels: interface

update lock
  framework/Cargo.lock
Labels: none

fix interchain
  interchain/scripts/src/bin/deploy-ibc.rs
Labels: none

apply wsh to ica
  framework/Cargo.lock
  framework/contracts/native/ica-client/Cargo.toml
  framework/packages/abstract-ica/Cargo.toml
Labels: native

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeller Github Action.
"account":
  # Match all of account folders
  - framework/contracts/account/**/*
"native":
  # Match all of native folders
  - framework/contracts/native/**/*
"breaking?":
  # Match all of abstract_std folders
  - framework/packages/abstract_std/**/*
"sdk":
  # Match all of sdk folders
  - framework/packages/abstract-sdk/**/*
"adapter_base":
  # Match all of adapter base folders
  - framework/packages/abstract-adapter/**/*
"app_base":
  # Match all of app base folders
  - framework/packages/abstract-app/**/*
"build":
  - build_release.sh
"CI":
  - .github/**/*.yml
# Add "C:documentation" label to documented related files and directories.
"documentation":
  - README.md
  - framework/contracts/**/*.md
  - framework/contracts/**/*/*.md
  - framework/docs/src/**/*
"interface":
  - framework/packages/abstract-interface/**/*
