Repository AbstractSDK/abstract, changes with the labels that .github/labeler.yml gives for each.
All labels: account, native, breaking?, sdk, adapter_base, app_base, build, CI, documentation, interface

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeller Github Action.
"account":
  # Match all of account folders
  - framework/contracts/account/**/*
"native":
  # Match all of native folders
  - framework/contracts/native/**/*
"breaking?":
  # Match all of abstract_std folders
  - framework/packages/abstract_std/**/*
"sdk":
  # Match all of sdk folders
  - framework/packages/abstract-sdk/**/*
"adapter_base":
  # Match all of adapter base folders
  - framework/packages/abstract-adapter/**/*
"app_base":
  # Match all of app base folders
  - framework/packages/abstract-app/**/*
"build":
  - build_release.sh
"CI":
  - .github/**/*.yml
# Add "C:documentation" label to documented related files and directories.
"documentation":
  - README.md
  - framework/contracts/**/*.md
  - framework/contracts/**/*/*.md
  - framework/docs/src/**/*
"interface":
  - framework/packages/abstract-interface/**/*

init accounts_query
  framework/contracts/native/version-control/src/contract.rs
  framework/contracts/native/version-control/src/queries.rs
  framework/packages/abstract-std/src/native/version_control.rs
Labels: native

use scrape updates for abstract framework
  framework/Cargo.toml
Labels: none

Revert "use scrape updates for abstract framework"
  framework/Cargo.toml
Labels: none

make state public
  framework/packages/abstract-interface/src/deployment.rs
Labels: interface

remove outdated comment
  framework/packages/abstract-interface/src/deployment.rs
Labels: interface

Update README.md
  README.md
Labels: documentation

Remove terraswap integration from terra
  modules/contracts/adapters/dex/Cargo.toml
Labels: none

update changelog
  modules/CHANGELOG.md
Labels: none

Remove cavern protocol integration
  framework/packages/standards/money-market/README.md
  integrations/Cargo.toml
  integrations/cavern-adapter/Cargo.toml
  integrations/cavern-adapter/README.md
  integrations/cavern-adapter/src/lib.rs
  integrations/cavern-adapter/src/money_market.rs
  interchain/modules-clone-testing/Cargo.toml
  interchain/modules-clone-testing/tests/money_market/cavern.rs
  interchain/modules-clone-testing/tests/money_market/mod.rs
  modules/Cargo.toml
  modules/contracts/adapters/money-market/Cargo.toml
  modules/contracts/adapters/money-market/README.md
  modules/contracts/adapters/money-market/STATUS.md
  modules/contracts/adapters/money-market/src/platform_resolver.rs
Labels: none

remove cavern artifacts: terra2 money-market wasm
  modules/artifacts/abstract_money_market_adapter-terra2.wasm
  modules/artifacts/checksums.txt
Labels: none

Update CHANGELOG.md
  modules/CHANGELOG.md
Labels: none

update modules CHANGELOG.md
  modules/CHANGELOG.md
Labels: none

Remove module factory binary setting endpoint
  framework/contracts/native/module-factory/src/commands.rs
  framework/contracts/native/module-factory/src/contract.rs
  framework/contracts/native/module-factory/src/lib.rs
  framework/contracts/native/module-factory/src/querier.rs
  framework/packages/abstract-std/src/native/module_factory.rs
Labels: native

update framework changelog
  framework/docs/src/releases/v0.md
Labels: documentation

update migration of module factory
  framework/contracts/native/module-factory/src/contract.rs
Labels: native

mars neutron tests
  interchain/modules-clone-testing/tests/money_market/mars.rs
Labels: none

rename `ChainName` to `TruncatedChainId`
  framework/contracts/native/ans-host/src/queries.rs
  framework/contracts/native/ibc-client/src/commands.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/contracts/native/ibc-client/src/ibc.rs
  framework/contracts/native/ibc-client/src/queries.rs
  framework/contracts/native/ibc-host/src/account_commands.rs
  framework/contracts/native/ibc-host/src/endpoints/execute.rs
  framework/contracts/native/ibc-host/src/endpoints/packet.rs
  framework/contracts/native/ibc-host/src/endpoints/query.rs
  framework/docs/src/releases/v0.md
  framework/packages/abstract-client/src/error.rs
  framework/packages/abstract-client/src/interchain/remote_account.rs
  framework/packages/abstract-interface/src/account/manager.rs
  framework/packages/abstract-interface/src/account/mod.rs
  framework/packages/abstract-interface/src/ibc.rs
  framework/packages/abstract-sdk/src/ans_resolve.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-std/src/native/ibc.rs
  framework/packages/abstract-std/src/native/ibc_client.rs
  framework/packages/abstract-std/src/native/ibc_host.rs
  framework/packages/abstract-std/src/objects/account/account_id.rs
  framework/packages/abstract-std/src/objects/account/account_trace.rs
  framework/packages/abstract-std/src/objects/entry/channel_entry.rs
  framework/packages/abstract-std/src/objects/mod.rs
  framework/packages/abstract-std/src/objects/salt.rs
  framework/packages/abstract-std/src/objects/truncated_chain_id.rs
  interchain/interchain-tests/src/bin/setup_funds.rs
  interchain/interchain-tests/src/interchain_accounts.rs
  interchain/interchain-tests/src/module_to_module_interactions.rs
  interchain/interchain-tests/src/setup.rs
  interchain/scripts/src/abstract_ibc.rs
  interchain/scripts/src/bin/create_remote_account.rs
  modules/contracts/adapters/cw-staking/src/handlers/execute.rs
  modules/contracts/adapters/dex/src/handlers/execute.rs
Labels: native, sdk, documentation, interface

deprecate ChainName
  framework/packages/abstract-std/src/objects/mod.rs
Labels: none

add ghost test (yes exactly one)
  integrations/kujira-adapter/src/money_market.rs
  interchain/modules-clone-testing/Cargo.toml
  interchain/modules-clone-testing/tests/money_market/ghost.rs
  interchain/modules-clone-testing/tests/money_market/mod.rs
Labels: none

add ghost test (yes exactly one)
  integrations/kujira-adapter/src/money_market.rs
  interchain/modules-clone-testing/Cargo.toml
  interchain/modules-clone-testing/tests/money_market/ghost.rs
  interchain/modules-clone-testing/tests/money_market/mod.rs
Labels: none

Revert "add ghost test (yes exactly one)"
  integrations/kujira-adapter/src/money_market.rs
  interchain/modules-clone-testing/Cargo.toml
  interchain/modules-clone-testing/tests/money_market/ghost.rs
  interchain/modules-clone-testing/tests/money_market/mod.rs
Labels: none

update changelog
  modules/CHANGELOG.md
Labels: none

Rename wins query to "game_status"
  interchain/interchain-tests/src/bin/setup_funds.rs
  modules/contracts/apps/ping-pong/src/error.rs
  modules/contracts/apps/ping-pong/src/handlers/query.rs
  modules/contracts/apps/ping-pong/src/msg.rs
  modules/contracts/apps/ping-pong/tests/ping_pong_tests.rs
Labels: none

formatting [skip ci]
  interchain/interchain-tests/src/bin/setup_funds.rs
Labels: none

add test
  modules/contracts/apps/ping-pong/tests/ping_pong_tests.rs
Labels: none

fix pingpong test
  framework/packages/abstract-std/src/native/ibc_client.rs
  modules/contracts/apps/ping-pong/tests/ping_pong_tests.rs
Labels: none

add more tests to ping pong example contract
  modules/contracts/apps/ping-pong/tests/ping_pong_tests.rs
Labels: none

clippy
  framework/packages/abstract-std/src/native/ibc.rs
  modules/contracts/apps/ping-pong/tests/ping_pong_tests.rs
Labels: none

replace deref for application with cw-orch traits
  framework/packages/abstract-client/src/application.rs
  framework/packages/abstract-client/tests/integration.rs
Labels: none

modules test fix
  modules/contracts/apps/calendar/tests/integration.rs
  modules/contracts/apps/ping-pong/README.md
Labels: none

Howard/ping pong changes (#380)
  framework/contracts/templates/standalone/Cargo.toml
  framework/docs/book.toml
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-client/src/application.rs
  framework/packages/abstract-client/src/interchain/remote_application.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-std/src/native/ibc.rs
  framework/packages/abstract-std/src/native/ibc_client.rs
  framework/packages/abstract-std/src/objects/account/account_id.rs
  interchain/interchain-tests/Cargo.toml
  interchain/interchain-tests/src/interchain_accounts.rs
  interchain/interchain-tests/src/module_to_module_interactions.rs
  modules/CHANGELOG.md
  modules/contracts/apps/calendar/tests/integration.rs
  modules/contracts/apps/ping-pong/Cargo.toml
  modules/contracts/apps/ping-pong/README.md
  modules/contracts/apps/ping-pong/src/contract.rs
  modules/contracts/apps/ping-pong/src/error.rs
  modules/contracts/apps/ping-pong/src/handlers/execute.rs
  modules/contracts/apps/ping-pong/src/handlers/instantiate.rs
  modules/contracts/apps/ping-pong/src/handlers/mod.rs
  modules/contracts/apps/ping-pong/src/handlers/query.rs
  modules/contracts/apps/ping-pong/src/ibc/callback.rs
  modules/contracts/apps/ping-pong/src/ibc/mod.rs
  modules/contracts/apps/ping-pong/src/ibc/module.rs
  modules/contracts/apps/ping-pong/src/lib.rs
  modules/contracts/apps/ping-pong/src/msg.rs
  modules/contracts/apps/ping-pong/src/state.rs
  modules/contracts/apps/ping-pong/tests/ping_pong_tests.rs
Labels: none

Add ghost test (#392)
  integrations/kujira-adapter/src/money_market.rs
  interchain/modules-clone-testing/Cargo.toml
  interchain/modules-clone-testing/tests/money_market/ghost.rs
  interchain/modules-clone-testing/tests/money_market/mod.rs
  modules/CHANGELOG.md
Labels: none

Remove cavern protocol intergration (#388)
  framework/packages/standards/money-market/README.md
  integrations/Cargo.toml
  integrations/cavern-adapter/Cargo.toml
  integrations/cavern-adapter/README.md
  integrations/cavern-adapter/src/lib.rs
  integrations/cavern-adapter/src/money_market.rs
  interchain/modules-clone-testing/Cargo.toml
  interchain/modules-clone-testing/tests/money_market/cavern.rs
  interchain/modules-clone-testing/tests/money_market/mod.rs
  modules/CHANGELOG.md
  modules/Cargo.toml
  modules/artifacts/abstract_money_market_adapter-terra2.wasm
  modules/artifacts/checksums.txt
  modules/contracts/adapters/money-market/Cargo.toml
  modules/contracts/adapters/money-market/README.md
  modules/contracts/adapters/money-market/STATUS.md
  modules/contracts/adapters/money-market/src/platform_resolver.rs
Labels: none

nit
  framework/docs/src/releases/v0.md
Labels: documentation

expose `TruncatedChainId` under `objects`
  framework/contracts/native/ans-host/src/queries.rs
  framework/contracts/native/ibc-client/src/commands.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/contracts/native/ibc-client/src/ibc.rs
  framework/contracts/native/ibc-client/src/queries.rs
  framework/contracts/native/ibc-host/src/account_commands.rs
  framework/contracts/native/ibc-host/src/endpoints/execute.rs
  framework/contracts/native/ibc-host/src/endpoints/packet.rs
  framework/contracts/native/ibc-host/src/endpoints/query.rs
  framework/packages/abstract-client/src/error.rs
  framework/packages/abstract-client/src/interchain/remote_account.rs
  framework/packages/abstract-interface/src/account/manager.rs
  framework/packages/abstract-interface/src/account/mod.rs
  framework/packages/abstract-interface/src/ibc.rs
  framework/packages/abstract-sdk/src/ans_resolve.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-std/src/native/ibc.rs
  framework/packages/abstract-std/src/native/ibc_client.rs
  framework/packages/abstract-std/src/native/ibc_host.rs
  framework/packages/abstract-std/src/objects/account/account_id.rs
  framework/packages/abstract-std/src/objects/account/account_trace.rs
  framework/packages/abstract-std/src/objects/entry/channel_entry.rs
  framework/packages/abstract-std/src/objects/mod.rs
  framework/packages/abstract-std/src/objects/salt.rs
  interchain/interchain-tests/src/interchain_accounts.rs
  interchain/interchain-tests/src/module_to_module_interactions.rs
  interchain/interchain-tests/src/setup.rs
  interchain/scripts/src/abstract_ibc.rs
  interchain/scripts/src/bin/create_remote_account.rs
  modules/contracts/adapters/cw-staking/src/handlers/execute.rs
  modules/contracts/adapters/dex/src/handlers/execute.rs
Labels: native, sdk, interface

formatting [skip ci]
  interchain/interchain-tests/src/interchain_accounts.rs
  interchain/interchain-tests/src/module_to_module_interactions.rs
  interchain/interchain-tests/src/setup.rs
  interchain/scripts/src/bin/create_remote_account.rs
  modules/contracts/adapters/dex/src/handlers/execute.rs
Labels: none

Remove module factory binary setting endpoint (#389)
  framework/contracts/native/module-factory/src/commands.rs
  framework/contracts/native/module-factory/src/contract.rs
  framework/contracts/native/module-factory/src/lib.rs
  framework/contracts/native/module-factory/src/querier.rs
  framework/docs/src/releases/v0.md
  framework/packages/abstract-std/src/native/module_factory.rs
Labels: native, documentation

merge main
  framework/packages/abstract-std/src/objects/account/account_id.rs
Labels: none

formatting [skip ci]
  framework/packages/abstract-std/src/objects/account/account_id.rs
Labels: none

Update WASM & Schemas [skip ci]
  framework/artifacts/abstract_manager.wasm
  framework/artifacts/abstract_module_factory.wasm
  framework/artifacts/checksums.txt
  schema/module-factory/0.23.0-beta.0/abstract-module-factory.json
Labels: none
