Repository AbstractSDK/abstract, changes with the labels that .github/labeler.yml gives for each.
All labels: account, native, breaking?, sdk, adapter_base, app_base, build, CI, documentation, interface

Deployed scripts, standardized apps deploy scripts
  interchain/scripts/src/bin/deploy_modules.rs
  interchain/scripts/src/bin/full_deploy.rs
  interchain/scripts/src/bin/manual_deploy.rs
  interchain/scripts/src/bin/migrate.rs
  interchain/scripts/state.json
  modules/contracts/adapters/cw-staking/examples/deploy.rs
  modules/contracts/adapters/dex/examples/deploy.rs
  modules/contracts/adapters/money-market/examples/deploy.rs
  modules/contracts/apps/calendar/examples/deploy.rs
  modules/contracts/apps/challenge/Cargo.toml
  modules/contracts/apps/payment/Cargo.toml
  modules/contracts/apps/payment/examples/deploy.rs
  modules/contracts/apps/ping-pong/Cargo.toml
  modules/contracts/apps/ping-pong/examples/deploy.rs
  modules/contracts/apps/subscription/Cargo.toml
  modules/contracts/apps/subscription/examples/deploy.rs
  modules/contracts/standalones/ica-owner/src/bin/publish.rs
Labels: none

emoved unused deps
  framework/Cargo.lock
  framework/packages/abstract-std/Cargo.toml
Labels: none

add ANS update script
  interchain/scripts/src/bin/full_deploy.rs
Labels: none

Added documentation and deployment and tests
  interchain/modules-clone-testing/tests/oracle/pyth/integration.rs
  interchain/modules-clone-testing/tests/oracle/pyth/live.rs
  interchain/modules-clone-testing/tests/oracle/pyth/mod.rs
  interchain/scripts/state.json
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking-osmosis.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter-osmosis.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
  modules/contracts/adapters/oracle/Cargo.toml
  modules/contracts/adapters/oracle/README.md
  modules/contracts/adapters/oracle/examples/deploy.rs
  modules/contracts/adapters/oracle/examples/register_ans.rs
  modules/contracts/adapters/oracle/examples/schema.rs
  modules/contracts/adapters/oracle/src/contract.rs
  modules/contracts/adapters/oracle/src/lib.rs
  modules/contracts/adapters/oracle/src/oracle_tester.rs
  modules/contracts/adapters/oracle/src/oracles/mod.rs
  modules/justfile
  scripts/wasm-all.sh
Labels: none

Readme
  modules/contracts/adapters/oracle/README.md
Labels: none

Better account id storage serialization
  framework/packages/abstract-std/src/objects/account/account_id.rs
  framework/packages/abstract-std/src/objects/account/account_trace.rs
  framework/packages/abstract-std/src/objects/entry/asset_entry.rs
  framework/packages/abstract-std/src/objects/entry/channel_entry.rs
  framework/packages/abstract-std/src/objects/entry/contract_entry.rs
  framework/packages/abstract-std/src/objects/entry/dex_asset_pairing.rs
  framework/packages/abstract-std/src/objects/module.rs
Labels: none

Modify key deserialize impl
  framework/packages/abstract-std/src/objects/account/account_trace.rs
Labels: none

formatting [skip ci]
  framework/packages/abstract-std/src/objects/account/account_id.rs
Labels: none

Insta testsé
  framework/contracts/account/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/tests/snapshots/apps__execute_on_account.snap
  framework/contracts/account/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_multiple_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_standalone_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_with_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__exec_on_account.snap
  framework/contracts/account/tests/snapshots/proxy__instantiate_account.snap
  framework/contracts/account/tests/snapshots/subaccount__account_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__creating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account.snap
  framework/contracts/account/tests/snapshots/subaccount__updating_on_subaccount_should_succeed.snap
  framework/contracts/native/ibc-client/tests/snapshots/multihop_accounts__multihop_account.snap
  framework/packages/abstract-std/src/objects/account/account_trace.rs
Labels: account, native

Fixing tests
  framework/packages/abstract-std/src/objects/account/account_trace.rs
Labels: none

rEMOVE TESTING for oracle
  framework/packages/standards/oracle/Cargo.toml
  framework/packages/standards/oracle/src/lib.rs
  framework/packages/standards/oracle/src/tests.rs
Labels: none

Remove ans deploy logic
  interchain/scripts/src/bin/full_deploy.rs
Labels: none

Update interchain/scripts/src/bin/ibc_disconnect.rs
  interchain/scripts/src/bin/ibc_disconnect.rs
Labels: none

Update interchain/scripts/src/bin/ibc_disconnect.rs
  interchain/scripts/src/bin/ibc_disconnect.rs
Labels: none

Update interchain/scripts/src/bin/ibc_disconnect.rs
  interchain/scripts/src/bin/ibc_disconnect.rs
Labels: none

Added disconnect script (#547)
  framework/Cargo.lock
  framework/packages/abstract-interface/src/ibc.rs
  framework/packages/abstract-std/Cargo.toml
  interchain/scripts/src/bin/full_deploy.rs
  interchain/scripts/src/bin/ibc_disconnect.rs
Labels: interface

Revert wasm alll script comments
  scripts/wasm-all.sh
Labels: none

Revert just file
  modules/justfile
Labels: none

Update framework/packages/standards/oracle/README.md
  framework/packages/standards/oracle/README.md
Labels: none

remove dex references inside oracle
  framework/packages/standards/oracle/src/command.rs
  framework/packages/standards/oracle/src/error.rs
  framework/packages/standards/oracle/src/msg.rs
  integrations/Cargo.toml
  modules/contracts/adapters/oracle/src/oracles/mod.rs
Labels: none

remove dex references inside oracle
  integrations/oracles/pyth/src/lib.rs
  modules/contracts/adapters/oracle/README.md
  modules/contracts/adapters/oracle/STATUS.md
  modules/contracts/adapters/oracle/src/api.rs
  modules/contracts/adapters/oracle/src/oracle_tester.rs
  modules/contracts/adapters/oracle/tests/common/mod.rs
  modules/contracts/adapters/oracle/tests/osmosis.rs
  modules/contracts/adapters/oracle/tests/raw.rs
  modules/contracts/adapters/oracle/tests/swap.rs
Labels: none

Update integrations/oracles/pyth/README.md
  integrations/oracles/pyth/README.md
Labels: none

Update WASM & Schemas [skip ci]
  framework/artifacts/abstract_account-xion.wasm
  framework/artifacts/abstract_account.wasm
  framework/artifacts/abstract_ans_host.wasm
  framework/artifacts/abstract_ibc_client.wasm
  framework/artifacts/abstract_ibc_host.wasm
  framework/artifacts/abstract_ica_client.wasm
  framework/artifacts/abstract_module_factory.wasm
  framework/artifacts/abstract_registry.wasm
  framework/artifacts/checksums.txt
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking-osmosis.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter-osmosis.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
Labels: none

Hakari
  framework/Cargo.lock
  framework/workspace-hack/Cargo.toml
Labels: none

Added account multi-hop test
  framework/contracts/native/ibc-client/src/contract.rs
Labels: native

Added tests, reduce length
  framework/contracts/account/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/tests/snapshots/apps__execute_on_account.snap
  framework/contracts/account/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_multiple_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_standalone_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_with_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__exec_on_account.snap
  framework/contracts/account/tests/snapshots/proxy__instantiate_account.snap
  framework/contracts/account/tests/snapshots/subaccount__account_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__creating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account.snap
  framework/contracts/account/tests/snapshots/subaccount__updating_on_subaccount_should_succeed.snap
  framework/contracts/native/ibc-client/src/contract.rs
  framework/contracts/native/ibc-client/tests/snapshots/multihop_accounts__multihop_account.snap
  framework/packages/abstract-std/src/objects/account/account_id.rs
  framework/packages/abstract-std/src/objects/account/account_trace.rs
Labels: account, native

Redice max trace length
  framework/packages/abstract-std/src/objects/account/account_trace.rs
Labels: none

Update snaps
  framework/contracts/account/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/tests/snapshots/apps__execute_on_account.snap
  framework/contracts/account/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_multiple_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_standalone_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_with_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__exec_on_account.snap
  framework/contracts/account/tests/snapshots/proxy__instantiate_account.snap
  framework/contracts/account/tests/snapshots/subaccount__account_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__creating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account.snap
  framework/contracts/account/tests/snapshots/subaccount__updating_on_subaccount_should_succeed.snap
  framework/contracts/native/ibc-client/tests/snapshots/multihop_accounts__multihop_account.snap
Labels: account, native

Added merge
  framework/contracts/account/src/config.rs
  framework/contracts/account/src/execution.rs
  framework/contracts/account/src/modules.rs
  framework/contracts/account/src/modules/migration.rs
  framework/contracts/account/src/sub_account.rs
  framework/contracts/account/tests/xion.rs
Labels: account

formatting [skip ci]
  framework/contracts/account/src/sub_account.rs
Labels: account

Added checks for admin rights on auth methods
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/execution.rs
Labels: account

No-admin-concurrency
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/execution.rs
Labels: account

Better xion fixes
  framework/contracts/account/src/config.rs
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/execution.rs
  framework/contracts/account/src/modules.rs
  framework/contracts/account/src/modules/migration.rs
  framework/contracts/account/src/sub_account.rs
  framework/contracts/account/tests/xion.rs
  framework/packages/abstract-std/src/objects/ownership/gov_ownable.rs
Labels: account

Less diff
  framework/contracts/account/src/config.rs
  framework/contracts/account/src/lib.rs
Labels: account

Added no init msg error
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/modules.rs
Labels: account

Added macro to admin execute on module
  framework/packages/abstract-std/src/account.rs
Labels: none

Better error handling for subaccount removal
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/sub_account.rs
Labels: account

Added errors
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/execution.rs
Labels: account

Changed validation errors for URL
  framework/Cargo.lock
  framework/packages/abstract-std/Cargo.toml
  framework/packages/abstract-std/src/objects/validation/error.rs
  framework/packages/abstract-std/src/objects/validation/verifiers.rs
Labels: none

Fix tests
  framework/contracts/account/tests/adapters.rs
  framework/contracts/account/tests/apps.rs
  framework/packages/abstract-integration-tests/src/account.rs
  framework/packages/abstract-interface/src/account.rs
Labels: account, interface

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeller Github Action.
"account":
  # Match all of account folders
  - framework/contracts/account/**/*
"native":
  # Match all of native folders
  - framework/contracts/native/**/*
"breaking?":
  # Match all of abstract_std folders
  - framework/packages/abstract_std/**/*
"sdk":
  # Match all of sdk folders
  - framework/packages/abstract-sdk/**/*
"adapter_base":
  # Match all of adapter base folders
  - framework/packages/abstract-adapter/**/*
"app_base":
  # Match all of app base folders
  - framework/packages/abstract-app/**/*
"build":
  - build_release.sh
"CI":
  - .github/**/*.yml
# Add "C:documentation" label to documented related files and directories.
"documentation":
  - README.md
  - framework/contracts/**/*.md
  - framework/contracts/**/*/*.md
  - framework/docs/src/**/*
"interface":
  - framework/packages/abstract-interface/**/*
