Repository AbstractSDK/abstract, changes with the labels that .github/labeler.yml gives for each.
All labels: account, native, breaking?, sdk, adapter_base, app_base, build, CI, documentation, interface

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeller Github Action.
"account":
  # Match all of account folders
  - framework/contracts/account/**/*
"native":
  # Match all of native folders
  - framework/contracts/native/**/*
"breaking?":
  # Match all of abstract_std folders
  - framework/packages/abstract_std/**/*
"sdk":
  # Match all of sdk folders
  - framework/packages/abstract-sdk/**/*
"adapter_base":
  # Match all of adapter base folders
  - framework/packages/abstract-adapter/**/*
"app_base":
  # Match all of app base folders
  - framework/packages/abstract-app/**/*
"build":
  - build_release.sh
"CI":
  - .github/**/*.yml
# Add "C:documentation" label to documented related files and directories.
"documentation":
  - README.md
  - framework/contracts/**/*.md
  - framework/contracts/**/*/*.md
  - framework/docs/src/**/*
"interface":
  - framework/packages/abstract-interface/**/*

More changes
  framework/contracts/account/tests/adapters.rs
  framework/contracts/account/tests/create.rs
  framework/contracts/account/tests/ibc-client.rs
  framework/contracts/account/tests/proxy.rs
  framework/contracts/native/ans-host/src/commands.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/packages/abstract-sdk/src/apis/adapter.rs
  framework/packages/abstract-sdk/src/apis/app.rs
Labels: account, native, sdk

formatting [skip ci]
  framework/contracts/account/tests/ibc-client.rs
Labels: account

move interchain mock tests to framework
  framework/Cargo.lock
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-interface/tests/integration_tests.rs
  framework/packages/abstract-interface/tests/interchain_integration/interchain_accounts.rs
  framework/packages/abstract-interface/tests/interchain_integration/mod.rs
  framework/packages/abstract-interface/tests/interchain_integration/module_to_module_interactions.rs
  interchain/Cargo.toml
  interchain/interchain-end_to_end_testing/Cargo.toml
  interchain/interchain-end_to_end_testing/src/bin/setup_funds.rs
  interchain/interchain-end_to_end_testing/src/bin/token_bridge.rs
  interchain/interchain-end_to_end_testing/src/lib.rs
  interchain/interchain-tests/Cargo.toml
  interchain/interchain-tests/src/bin/setup_funds.rs
  interchain/interchain-tests/src/bin/token_bridge.rs
  interchain/interchain-tests/src/interchain_accounts.rs
  interchain/interchain-tests/src/lib.rs
  interchain/interchain-tests/src/module_to_module_interactions.rs
  interchain/interchain-tests/src/setup.rs
Labels: interface

abstract app extra tests
  framework/packages/abstract-app/src/endpoints/module_ibc.rs
  framework/packages/abstract-app/src/endpoints/query.rs
Labels: app_base

migrate instantiate test
  framework/packages/abstract-app/src/endpoints/ibc_callback.rs
  framework/packages/abstract-interface/tests/instantiate_from_migration.rs
Labels: app_base, interface

standalone cover tests
  framework/packages/abstract-standalone/src/endpoints/instantiate.rs
  framework/packages/abstract-standalone/src/endpoints/migrate.rs
  framework/packages/abstract-standalone/src/features.rs
  framework/packages/abstract-standalone/src/lib.rs
  framework/packages/abstract-standalone/src/state.rs
Labels: none

add comment on _update_whitelisted_modules
  framework/contracts/account/src/modules.rs
Labels: account

typo
  framework/contracts/account/src/modules.rs
Labels: account

verify nft test
  framework/contracts/account/src/contract.rs
  framework/contracts/account/tests/standalones.rs
Labels: account

no interchain mock tests anymore
  .github/workflows/interchain-test.yml
Labels: CI

clippy
  framework/packages/abstract-app/src/endpoints/ibc_callback.rs
  framework/packages/abstract-interface/tests/instantiate_from_migration.rs
  framework/packages/abstract-interface/tests/interchain_integration/interchain_accounts.rs
Labels: app_base, interface

Fix interchain clippyé gop
  interchain/interchain-tests/src/bin/setup_funds.rs
Labels: none

Remove account callback and replace by reply (#496)
  framework/contracts/account/src/config.rs
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/modules/migration.rs
  framework/packages/abstract-std/src/account.rs
Labels: account

Funds in test
  interchain/interchain-tests/src/bin/setup_funds.rs
Labels: none

Update framework/contracts/native/ibc-client/src/commands.rs
  framework/contracts/native/ibc-client/src/commands.rs
Labels: native

Remove funds from IBC client SendFunds (#494)
  framework/contracts/account/src/execution.rs
  framework/contracts/native/ibc-client/src/commands.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/contracts/native/ibc-client/src/queries.rs
  framework/packages/abstract-client/src/interchain/remote_account.rs
  framework/packages/abstract-client/src/interchain/remote_application.rs
  framework/packages/abstract-interface/src/ibc.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-std/src/native/ibc/ibc_client.rs
Labels: account, native, sdk, interface

Moved send back logic
  interchain/Cargo.toml
  interchain/interchain-tests/src/bin/ica_client.rs
Labels: none

Fix
  framework/packages/abstract-interface/src/ibc.rs
Labels: interface

More helpers in remote crate
  interchain/Cargo.toml
  interchain/interchain-tests/src/bin/ica_client.rs
  interchain/scripts/state.json
Labels: none

Changelog
  framework/docs/src/releases/CHANGELOG.md
Labels: documentation

Better Interchain API for tests / execution (#474)
  framework/Cargo.lock
  framework/Cargo.toml
  framework/docs/src/releases/CHANGELOG.md
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/src/error.rs
  framework/packages/abstract-client/src/interchain/mod.rs
  framework/packages/abstract-client/src/interchain/remote_account.rs
  framework/packages/abstract-client/src/interchain/remote_application.rs
  framework/packages/abstract-client/src/lib.rs
  framework/packages/abstract-client/tests/abstract_interchain_client_builder.rs
  framework/packages/abstract-client/tests/interchain_integration.rs
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-interface/src/error.rs
  framework/packages/abstract-interface/src/ibc.rs
  integrations/Cargo.toml
  interchain/Cargo.toml
  interchain/interchain-tests/Cargo.toml
  interchain/interchain-tests/src/bin/setup_funds.rs
  interchain/interchain-tests/src/bin/token_bridge.rs
  interchain/interchain-tests/src/interchain_accounts.rs
  interchain/interchain-tests/src/module_to_module_interactions.rs
  modules/Cargo.toml
  modules/contracts/apps/ping-pong/tests/ping_pong_tests.rs
Labels: documentation, interface

cargo update
  framework/Cargo.lock
  framework/Cargo.toml
Labels: none

Polytone branch patched
  framework/Cargo.lock
  framework/Cargo.toml
  integrations/Cargo.toml
  modules/Cargo.toml
Labels: none

Restore union deployment
  interchain/scripts/state.json
Labels: none

fix namespace key and add migration
  framework/contracts/native/registry/src/migrate.rs
  framework/packages/abstract-std/src/native/registry.rs
  framework/packages/abstract-std/src/objects/storage_namespaces.rs
Labels: native

update workspace hack
  framework/Cargo.lock
  framework/workspace-hack/Cargo.toml
Labels: none

snapshots
  framework/contracts/account/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/tests/snapshots/apps__execute_on_account.snap
  framework/contracts/account/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_multiple_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_standalone_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_with_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__exec_on_account.snap
  framework/contracts/account/tests/snapshots/proxy__instantiate_account.snap
  framework/contracts/account/tests/snapshots/subaccount__account_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__creating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account.snap
  framework/contracts/account/tests/snapshots/subaccount__updating_on_subaccount_should_succeed.snap
Labels: account

postmerge fixes
  framework/contracts/account/tests/upgrades.rs
Labels: account

update hack
  framework/workspace-hack/Cargo.toml
Labels: none

rename `get_account` to `account` on registry interface
  framework/Cargo.lock
  framework/contracts/account/tests/create.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/src/interchain/remote_account.rs
  framework/packages/abstract-interface/src/interfaces.rs
  framework/packages/abstract-interface/src/native/registry.rs
Labels: account, interface

Added accounts query and tests (#495)
  framework/Cargo.lock
  framework/contracts/account/tests/create.rs
  framework/contracts/native/registry/src/contract.rs
  framework/contracts/native/registry/src/queries.rs
  framework/docs/src/releases/CHANGELOG.md
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/src/interchain/remote_account.rs
  framework/packages/abstract-interface/src/interfaces.rs
  framework/packages/abstract-interface/src/native/registry.rs
  framework/packages/abstract-std/src/native/registry.rs
  framework/workspace-hack/Cargo.toml
  interchain/interchain-tests/src/module_to_module_interactions.rs
  modules/contracts/apps/ping-pong/tests/ping_pong_tests.rs
Labels: account, native, documentation, interface

get_account->account
  framework/packages/abstract-interface/tests/interchain_integration/module_to_module_interactions.rs
Labels: interface

account getter fmt
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-interface/src/native/registry.rs
Labels: interface

feature coverage attribute
  framework/Cargo.toml
  framework/contracts/account/Cargo.toml
  framework/contracts/account/src/lib.rs
  framework/contracts/native/ans-host/Cargo.toml
  framework/contracts/native/ans-host/src/lib.rs
  framework/contracts/native/ibc-client/Cargo.toml
  framework/contracts/native/ibc-client/src/lib.rs
  framework/contracts/native/ibc-host/Cargo.toml
  framework/contracts/native/ibc-host/src/lib.rs
  framework/contracts/native/ica-client/Cargo.toml
  framework/contracts/native/ica-client/src/lib.rs
  framework/contracts/native/module-factory/Cargo.toml
  framework/contracts/native/module-factory/src/lib.rs
  framework/contracts/native/registry/Cargo.toml
  framework/contracts/native/registry/src/lib.rs
  framework/docs/src/1_products/3_abstract_testing.md
  framework/packages/abstract-adapter/Cargo.toml
  framework/packages/abstract-adapter/src/lib.rs
  framework/packages/abstract-app/Cargo.toml
  framework/packages/abstract-app/src/lib.rs
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-client/src/lib.rs
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-interface/src/lib.rs
  framework/packages/abstract-sdk/Cargo.toml
  framework/packages/abstract-standalone/Cargo.toml
  framework/packages/abstract-standalone/src/lib.rs
  framework/packages/abstract-std/Cargo.toml
  framework/packages/abstract-std/src/lib.rs
Labels: account, native, sdk, adapter_base, app_base, documentation, interface

bump versions
  framework/Cargo.lock
  framework/Cargo.toml
  framework/packages/abstract-adapter/Cargo.toml
  framework/packages/abstract-app/Cargo.toml
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-standalone/Cargo.toml
  framework/packages/standards/dex/Cargo.toml
  framework/packages/standards/money-market/Cargo.toml
  framework/packages/standards/staking/Cargo.toml
  integrations/Cargo.toml
  integrations/osmosis-adapter/Cargo.toml
  interchain/Cargo.toml
  interchain/framework-clone-testing/src/common.rs
  interchain/framework-clone-testing/tests/migrate.rs
  interchain/framework-clone-testing/tests/upgrade-account.rs
  interchain/interchain-end_to_end_testing/Cargo.toml
  interchain/interchain-end_to_end_testing/src/bin/setup_funds.rs
  interchain/interchain-end_to_end_testing/src/lib.rs
  modules/Cargo.toml
  modules/contracts/apps/ping-pong/Cargo.toml
  modules/contracts/apps/ping-pong/tests/ping_pong_tests.rs
Labels: adapter_base, app_base, interface

update publish script
  framework/publish/publish.sh
Labels: none

ica client specify version
  framework/Cargo.toml
  framework/contracts/native/ica-client/Cargo.toml
Labels: native

specify version of cosmos-sdk-proto
  framework/contracts/account/Cargo.toml
Labels: account

update publish script
  framework/publish/publish.sh
Labels: none

revert clone testing load
  interchain/framework-clone-testing/src/common.rs
  interchain/framework-clone-testing/tests/migrate.rs
  interchain/framework-clone-testing/tests/upgrade-account.rs
Labels: none
