Repository AbstractSDK/abstract, changes with the labels that .github/labeler.yml gives for each.
All labels: account, native, breaking?, sdk, adapter_base, app_base, build, CI, documentation, interface

Add docs for Standalone module type (#402)
  framework/docs/src/3_framework/6_module_types.md
  framework/packages/abstract-standalone/README.md
  framework/packages/abstract-std/src/standalone.rs
Labels: documentation

postmerge fixes
  interchain/interchain-tests/src/bin/setup_funds.rs
Labels: none

clippy
  framework/contracts/account/proxy/src/commands.rs
  framework/contracts/native/ibc-client/src/contract.rs
Labels: account, native

fix makefile
  modules/contracts/standalones/ica-owner/starship/Makefile
Labels: none

remove redundant setup file
  modules/contracts/standalones/ica-owner/starship/setup.md
Labels: none

Update version control config storage key (#403)
  framework/contracts/account/manager/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/manager/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/manager/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/manager/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/manager/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/manager/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/manager/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/manager/tests/snapshots/apps__execute_on_proxy_through_manager.snap
  framework/contracts/account/manager/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/manager/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/manager/tests/snapshots/proxy__exec_through_manager.snap
  framework/contracts/account/manager/tests/snapshots/proxy__instantiate_proxy.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_install_multiple_modules.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_install_standalone_modules.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_with_response_data.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__account_move_ownership_to_falsy_sub_account.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__creating_on_subaccount_should_succeed.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__proxy_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__sub_account_move_ownership.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__updating_on_subaccount_should_succeed.snap
  framework/contracts/native/version-control/src/lib.rs
  framework/contracts/native/version-control/src/migrate.rs
  framework/packages/abstract-std/src/native/version_control.rs
Labels: account, native

Update WASM & Schemas [skip ci]
  framework/artifacts/abstract_account_factory.wasm
  framework/artifacts/abstract_ibc_client.wasm
  framework/artifacts/abstract_ibc_host.wasm
  framework/artifacts/abstract_manager.wasm
  framework/artifacts/abstract_module_factory.wasm
  framework/artifacts/abstract_version_control.wasm
  framework/artifacts/checksums.txt
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking-injective.wasm
  modules/artifacts/abstract_cw_staking-juno.wasm
  modules/artifacts/abstract_cw_staking-kujira.wasm
  modules/artifacts/abstract_cw_staking-neutron.wasm
  modules/artifacts/abstract_cw_staking-osmosis.wasm
  modules/artifacts/abstract_cw_staking-sei.wasm
  modules/artifacts/abstract_cw_staking-terra2.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter-injective.wasm
  modules/artifacts/abstract_dex_adapter-juno.wasm
  modules/artifacts/abstract_dex_adapter-kujira.wasm
  modules/artifacts/abstract_dex_adapter-neutron.wasm
  modules/artifacts/abstract_dex_adapter-osmosis.wasm
  modules/artifacts/abstract_dex_adapter-sei.wasm
  modules/artifacts/abstract_dex_adapter-terra2.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter-kujira.wasm
  modules/artifacts/abstract_money_market_adapter-osmosis.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/checksums_intermediate.txt
  modules/artifacts/croncat_app.wasm
  modules/artifacts/dca_app.wasm
  modules/artifacts/etf_app.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
Labels: none

Chain Abstraction documentation
  framework/docs/src/0_introduction.md
  framework/docs/src/10_integrations.md
  framework/docs/src/11_contact.md
  framework/docs/src/3_framework/2_chain_abstraction.md
  framework/docs/src/3_framework/5_modules.md
  framework/docs/src/5_platform/4_account_console.md
  framework/docs/src/5_platform/index.md
  framework/docs/src/7_use_cases/1_equilibrium.md
  framework/docs/src/7_use_cases/2_4t2.md
  framework/docs/src/7_use_cases/3_xion.md
  framework/docs/src/SUMMARY.md
  framework/docs/src/modules/defi-adapters.md
  framework/docs/src/modules/index.md
Labels: documentation

Clarify docs further
  framework/docs/src/0_introduction.md
  framework/docs/src/1_products/1_cw_orchestrator.md
  framework/docs/src/1_products/4_abstract_js.md
  framework/docs/src/2_introduction/1_design_space.md
  framework/docs/src/3_framework/0_technologies.md
  framework/docs/src/3_framework/2_account_abstraction.md
  framework/docs/src/3_framework/2_chain_abstraction.md
  framework/docs/src/4_get_started/1_index.md
  framework/docs/src/5_platform/5_module_factory.md
  framework/docs/src/5_platform/8_modules.md
  framework/docs/src/7_use_cases/4t2.md
  framework/docs/src/7_use_cases/carrot.md
  framework/docs/src/7_use_cases/equilibrium.md
  framework/docs/src/7_use_cases/index.md
  framework/docs/src/7_use_cases/xion.md
  framework/docs/src/SUMMARY.md
  framework/docs/src/modules/defi-adapters.md
  framework/docs/src/modules/etf.md
  framework/docs/src/modules/index.md
  framework/docs/src/releases/index.md
  framework/docs/src/video_and_content/faq.md
  modules/contracts/adapters/dex/README.md
  modules/contracts/adapters/money-market/README.md
Labels: documentation

add standalone to publish script
  framework/publish/publish.sh
Labels: none

include fresh Cargo lock
  .gitignore
  framework/Cargo.lock
  integrations/Cargo.lock
  interchain/Cargo.lock
  modules/Cargo.lock
Labels: none

update state
  interchain/scripts/src/bin/migrate.rs
  interchain/scripts/state.json
Labels: none

ignore lock back
  .gitignore
Labels: none

update changelogs
  framework/docs/src/releases/v0.md
  modules/CHANGELOG.md
Labels: documentation

remove locks
  framework/Cargo.lock
  integrations/Cargo.lock
  interchain/Cargo.lock
  modules/Cargo.lock
Labels: none

crate publish fix
  framework/packages/abstract-standalone/Cargo.toml
Labels: none

add SwapNode
  framework/packages/standards/dex/Cargo.toml
  framework/packages/standards/dex/src/command.rs
  framework/packages/standards/dex/src/msg.rs
  framework/packages/standards/dex/src/raw_action.rs
  integrations/osmosis-adapter/src/dex.rs
  modules/contracts/adapters/dex/src/adapter.rs
  modules/contracts/adapters/dex/src/handlers/execute.rs
Labels: none

remove provide_liquidity_symmetric
  framework/packages/standards/dex/src/ans_action.rs
  framework/packages/standards/dex/src/command.rs
  framework/packages/standards/dex/src/raw_action.rs
  framework/packages/standards/dex/src/tests.rs
  integrations/astroport-adapter/src/dex.rs
  integrations/astrovault-adapter/src/dex.rs
  integrations/astrovault-adapter/src/mini_astrovault.rs
  integrations/kujira-adapter/src/dex.rs
  integrations/osmosis-adapter/src/dex.rs
  integrations/wyndex-adapter/src/dex.rs
  interchain/modules-clone-testing/tests/dex/astroport.rs
  interchain/modules-clone-testing/tests/dex/astrovault.rs
  interchain/modules-clone-testing/tests/dex/kujira.rs
  modules/CHANGELOG.md
  modules/contracts/adapters/dex/src/adapter.rs
  modules/contracts/adapters/dex/src/api.rs
  modules/contracts/adapters/dex/src/dex_tester.rs
  modules/contracts/adapters/dex/src/exchanges/exchange_resolver.rs
  modules/contracts/adapters/dex/src/exchanges/junoswap.rs
  modules/contracts/adapters/dex/src/exchanges/mod.rs
  modules/contracts/adapters/dex/src/handlers/execute.rs
  modules/contracts/adapters/dex/tests/osmosis.rs
Labels: none

remove nightly build
  .github/workflows/nightly.yml
  framework/docs/src/releases/v0.md
Labels: CI, documentation

remove nightly badge from readme
  README.md
Labels: documentation

Remove ans action from dex
  framework/packages/abstract-std/src/native/ans_host.rs
  framework/packages/standards/dex/Cargo.toml
  framework/packages/standards/dex/src/ans_action.rs
  framework/packages/standards/dex/src/msg.rs
  integrations/kujira-adapter/src/money_market.rs
  modules/contracts/adapters/dex/src/api.rs
  modules/contracts/adapters/dex/src/dex_tester.rs
  modules/contracts/adapters/dex/src/handlers/execute.rs
  modules/contracts/adapters/dex/src/handlers/query.rs
  modules/contracts/adapters/dex/src/lib.rs
  modules/contracts/adapters/dex/tests/swap.rs
Labels: none

update testing
  modules/contracts/adapters/dex/src/dex_tester.rs
  modules/contracts/adapters/dex/src/lib.rs
Labels: none

osmosis tests
  modules/contracts/adapters/dex/tests/osmosis.rs
Labels: none

changelog, renames
  framework/packages/standards/dex/src/action.rs
  framework/packages/standards/dex/src/ans_action.rs
  framework/packages/standards/dex/src/lib.rs
  framework/packages/standards/dex/src/msg.rs
  modules/CHANGELOG.md
  modules/contracts/adapters/dex/src/adapter.rs
  modules/contracts/adapters/dex/src/api.rs
  modules/contracts/adapters/dex/src/handlers/execute.rs
  modules/contracts/adapters/dex/src/handlers/query.rs
  modules/contracts/adapters/dex/src/lib.rs
  modules/contracts/adapters/dex/tests/raw.rs
Labels: none

publish script fix
  modules/contracts/standalones/ica-owner/src/bin/publish.rs
Labels: none

sender->sender_addr
  modules/contracts/standalones/ica-owner/src/bin/publish.rs
Labels: none

Update WASM & Schemas [skip ci]
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking-injective.wasm
  modules/artifacts/abstract_cw_staking-juno.wasm
  modules/artifacts/abstract_cw_staking-kujira.wasm
  modules/artifacts/abstract_cw_staking-neutron.wasm
  modules/artifacts/abstract_cw_staking-osmosis.wasm
  modules/artifacts/abstract_cw_staking-sei.wasm
  modules/artifacts/abstract_cw_staking-terra2.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter-injective.wasm
  modules/artifacts/abstract_dex_adapter-juno.wasm
  modules/artifacts/abstract_dex_adapter-kujira.wasm
  modules/artifacts/abstract_dex_adapter-neutron.wasm
  modules/artifacts/abstract_dex_adapter-osmosis.wasm
  modules/artifacts/abstract_dex_adapter-sei.wasm
  modules/artifacts/abstract_dex_adapter-terra2.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter-kujira.wasm
  modules/artifacts/abstract_money_market_adapter-osmosis.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/checksums_intermediate.txt
  modules/artifacts/my_standalone.wasm
Labels: none

remove message instead of action from wholedexaction resolve
  framework/packages/standards/dex/src/ans_action.rs
  modules/contracts/adapters/dex/src/api.rs
  modules/contracts/adapters/dex/src/handlers/query.rs
Labels: none

resolve swap route
  framework/packages/standards/dex/src/command.rs
  integrations/osmosis-adapter/src/dex.rs
  modules/contracts/adapters/dex/src/adapter.rs
Labels: none

route swap
  modules/contracts/adapters/dex/Cargo.toml
  modules/contracts/adapters/dex/src/adapter.rs
  modules/contracts/adapters/dex/tests/osmosis.rs
Labels: none

ibc naming consistency
  framework/contracts/native/ibc-host/src/account_commands.rs
  framework/contracts/native/ibc-host/src/endpoints/execute.rs
  framework/contracts/native/ibc-host/src/endpoints/packet.rs
  framework/docs/src/releases/v0.md
  framework/packages/abstract-client/src/interchain/remote_account.rs
  framework/packages/abstract-client/src/interchain/remote_application.rs
  framework/packages/abstract-interface/src/ibc.rs
  framework/packages/abstract-std/src/objects/account/account_id.rs
  interchain/interchain-tests/src/interchain_accounts.rs
  modules/contracts/apps/ping-pong/src/handlers/execute.rs
Labels: native, documentation, interface

add comments to swapnode
  framework/packages/standards/dex/src/msg.rs
Labels: none

abstract-standalone bump
  framework/Cargo.lock
  framework/packages/abstract-standalone/Cargo.toml
  integrations/Cargo.lock
  interchain/Cargo.lock
  modules/Cargo.lock
Labels: none

osmosis deployment
  framework/packages/abstract-interface/Cargo.toml
  interchain/scripts/state.json
Labels: interface

abstract-interface dep path for standalone
  framework/packages/abstract-standalone/Cargo.toml
Labels: none

remove locks
  .gitignore
  framework/Cargo.lock
  integrations/Cargo.lock
  interchain/Cargo.lock
  modules/Cargo.lock
Labels: none

Release 0.23 osmosis (#411)
  .gitignore
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-standalone/Cargo.toml
  interchain/scripts/state.json
Labels: interface

astroport router swap
  framework/packages/standards/dex/src/lib.rs
  integrations/astroport-adapter/src/dex.rs
  integrations/osmosis-adapter/src/dex.rs
Labels: none

update changelog
  modules/CHANGELOG.md
Labels: none

gitignore lock
  .gitignore
Labels: none

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeller Github Action.
"account":
  # Match all of account folders
  - framework/contracts/account/**/*
"native":
  # Match all of native folders
  - framework/contracts/native/**/*
"breaking?":
  # Match all of abstract_std folders
  - framework/packages/abstract_std/**/*
"sdk":
  # Match all of sdk folders
  - framework/packages/abstract-sdk/**/*
"adapter_base":
  # Match all of adapter base folders
  - framework/packages/abstract-adapter/**/*
"app_base":
  # Match all of app base folders
  - framework/packages/abstract-app/**/*
"build":
  - build_release.sh
"CI":
  - .github/**/*.yml
# Add "C:documentation" label to documented related files and directories.
"documentation":
  - README.md
  - framework/contracts/**/*.md
  - framework/contracts/**/*/*.md
  - framework/docs/src/**/*
"interface":
  - framework/packages/abstract-interface/**/*
