Repository AbstractSDK/abstract, changes with the labels that .github/labeler.yml gives for each.
All labels: account, native, breaking?, sdk, adapter_base, app_base, build, CI, documentation, interface

formatting [skip ci]
  framework/contracts/account/src/execution.rs
  framework/packages/abstract-std/src/account.rs
Labels: account

undo added authentication
  framework/contracts/account/src/execution.rs
Labels: account

update state assertion fn name to `assert_account_calling_to_as_admin_is_self`
  framework/contracts/account/src/reply.rs
  framework/contracts/account/tests/adapters.rs
  framework/packages/abstract-sdk/src/apis/verify.rs
  framework/packages/abstract-std/src/objects/ownership/nested_admin.rs
Labels: account, sdk

formatting [skip ci]
  framework/packages/abstract-sdk/src/apis/verify.rs
  framework/packages/abstract-std/src/objects/ownership/nested_admin.rs
Labels: sdk

nit renames
  framework/packages/abstract-adapter/src/endpoints/execute.rs
  framework/packages/abstract-sdk/src/apis/verify.rs
Labels: sdk, adapter_base

formatting [skip ci]
  framework/packages/abstract-adapter/src/endpoints/execute.rs
Labels: adapter_base

guest/host error
  framework/Cargo.lock
  framework/artifacts/abstract_account_factory.wasm
  framework/artifacts/abstract_ans_host.wasm
  framework/artifacts/abstract_ibc_client.wasm
  framework/artifacts/abstract_ibc_host.wasm
  framework/artifacts/abstract_ica_client.wasm
  framework/artifacts/abstract_manager.wasm
  framework/artifacts/abstract_module_factory.wasm
  framework/artifacts/abstract_proxy.wasm
  framework/artifacts/abstract_version_control.wasm
  framework/artifacts/checksums.txt
  framework/contracts/account/src/absacc/auth/mod.rs
  framework/contracts/account/src/absacc/mod.rs
  framework/packages/abstract-client/src/client.rs
  framework/scripts/Cargo.toml
  framework/scripts/src/main.rs
Labels: account

move abstract specific function to abstract trait
  framework/packages/abstract-testing/src/abstract_mock_querier.rs
  framework/packages/abstract-testing/src/mock_querier.rs
Labels: none

rename
  framework/packages/abstract-adapter/src/endpoints/execute.rs
  framework/packages/abstract-app/src/endpoints/execute.rs
Labels: adapter_base, app_base

Instantiated xion absacc
  framework/scripts/src/main.rs
Labels: none

fix: abstract deployment
  framework/scripts/src/main.rs
Labels: none

add helpers to Abstract<MockBase<A,S>>
  framework/packages/abstract-interface/src/deployment.rs
Labels: interface

readme
  framework/packages/abstract-std/src/objects/ownership/README.md
Labels: none

replace `mock_bech32_admin` helper with abstract-interface and abstract-client helpers
  framework/Cargo.lock
  framework/Cargo.toml
  framework/artifacts/abstract_account_factory.wasm
  framework/contracts/account/tests/adapters.rs
  framework/contracts/account/tests/apps.rs
  framework/contracts/account/tests/create.rs
  framework/contracts/account/tests/ibc-client.rs
  framework/contracts/account/tests/install_modules.rs
  framework/contracts/account/tests/proxy.rs
  framework/contracts/account/tests/standalones.rs
  framework/contracts/account/tests/subaccount.rs
  framework/contracts/account/tests/upgrades.rs
  framework/contracts/native/ibc-host/tests/integration.rs
  framework/contracts/native/module-factory/tests/direct_calls.rs
  framework/contracts/native/module-factory/tests/install_native_modules.rs
  framework/contracts/native/version-control/tests/direct_calls.rs
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/builder.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/src/lib.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-client/tests/interchain_integration.rs
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-testing/Cargo.toml
  framework/packages/abstract-testing/src/lib.rs
Labels: account, native, interface

fix doctests
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/src/publisher.rs
Labels: none

typo
  framework/packages/abstract-client/src/client.rs
  framework/scripts/src/main.rs
Labels: none

Rename mock deploys
  framework/contracts/account/tests/adapters.rs
  framework/contracts/account/tests/apps.rs
  framework/contracts/account/tests/create.rs
  framework/contracts/account/tests/ibc-client.rs
  framework/contracts/account/tests/install_modules.rs
  framework/contracts/account/tests/proxy.rs
  framework/contracts/account/tests/standalones.rs
  framework/contracts/account/tests/subaccount.rs
  framework/contracts/account/tests/upgrades.rs
  framework/contracts/native/module-factory/tests/direct_calls.rs
  framework/contracts/native/module-factory/tests/install_native_modules.rs
  framework/contracts/native/version-control/tests/direct_calls.rs
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/builder.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-client/tests/interchain_integration.rs
  framework/packages/abstract-interface/src/deployment.rs
Labels: account, native, interface

modules tests fixed
  modules/contracts/adapters/cw-staking/src/adapter.rs
  modules/contracts/adapters/cw-staking/src/handlers/execute.rs
  modules/contracts/adapters/cw-staking/src/lib.rs
  modules/contracts/adapters/cw-staking/src/staking_tester.rs
  modules/contracts/adapters/dex/src/api.rs
  modules/contracts/adapters/dex/src/dex_tester.rs
  modules/contracts/adapters/dex/src/handlers/execute.rs
  modules/contracts/adapters/dex/src/handlers/instantiate.rs
  modules/contracts/adapters/dex/src/lib.rs
  modules/contracts/adapters/dex/tests/raw.rs
  modules/contracts/adapters/dex/tests/swap.rs
  modules/contracts/adapters/money-market/src/api.rs
  modules/contracts/adapters/money-market/src/handlers/execute.rs
  modules/contracts/adapters/money-market/src/handlers/instantiate.rs
  modules/contracts/adapters/money-market/src/lib.rs
  modules/contracts/adapters/money-market/src/tester.rs
  modules/contracts/apps/calendar/examples/test-local.rs
  modules/contracts/apps/challenge/src/handlers/execute.rs
  modules/contracts/apps/challenge/src/msg.rs
  modules/contracts/apps/challenge/tests/integrations.rs
  modules/contracts/apps/croncat/tests/integration.rs
  modules/contracts/apps/dca/tests/integration.rs
  modules/contracts/apps/payment/tests/integration.rs
  modules/contracts/apps/ping-pong/src/contract.rs
  modules/contracts/apps/ping-pong/tests/ping_pong_tests.rs
  modules/contracts/apps/subscription/src/handlers/execute.rs
  modules/contracts/apps/subscription/tests/integration.rs
Labels: none

todo: rebuild wyndex bundle
  integrations/Cargo.toml
  integrations/bundles/mockdex/Cargo.toml
  integrations/bundles/mockdex/src/lib.rs
  integrations/bundles/mockdex/src/suite.rs
  integrations/bundles/mockdex/tests/abstract.rs
  integrations/bundles/mockdex/tests/staking.rs
  integrations/bundles/mockdex/tests/swap.rs
Labels: none

Use cw-plus-orch
  modules/Cargo.toml
  modules/contracts/apps/payment/Cargo.toml
  modules/contracts/apps/payment/tests/integration.rs
Labels: none

interchain tests
  framework/contracts/native/ibc-client/src/ibc.rs
  framework/packages/abstract-interface/src/native/version_control.rs
  interchain/interchain-tests/src/interchain_accounts.rs
  interchain/interchain-tests/src/module_to_module_interactions.rs
  interchain/modules-clone-testing/src/common.rs
Labels: native, interface

Nit collection and module update
  framework/Cargo.lock
  framework/packages/abstract-client/src/interchain/mod.rs
  framework/packages/abstract-client/src/lib.rs
Labels: none

update
  framework/Cargo.lock
  framework/Cargo.toml
  framework/artifacts/abstract_ans_host.wasm
  framework/artifacts/abstract_ibc_client.wasm
  framework/artifacts/abstract_ibc_host.wasm
  framework/artifacts/abstract_ica_client.wasm
  framework/artifacts/abstract_module_factory.wasm
  framework/artifacts/abstract_version_control.wasm
  framework/artifacts/checksums.txt
  framework/scripts/Cargo.toml
  framework/scripts/src/main.rs
  framework/workspace-hack/Cargo.toml
Labels: none

formatting [skip ci]
  framework/scripts/src/main.rs
Labels: none

Moved to env instead of self_addr inside assert_admin
  framework/packages/abstract-app/examples/counter.rs
  framework/packages/abstract-app/src/endpoints/execute.rs
  framework/packages/abstract-app/src/lib.rs
  framework/packages/abstract-sdk/src/apis/verify.rs
  framework/packages/abstract-std/src/objects/ownership/README.md
  framework/packages/abstract-std/src/objects/ownership/nested_admin.rs
Labels: sdk, app_base

Doing so inside modules
  modules/contracts/apps/calendar/src/handlers/execute.rs
  modules/contracts/apps/challenge/src/handlers/execute.rs
  modules/contracts/apps/croncat/src/handlers/execute.rs
  modules/contracts/apps/dca/src/handlers/execute.rs
  modules/contracts/apps/payment/src/handlers/execute.rs
  modules/contracts/apps/subscription/src/handlers/execute.rs
  modules/contracts/standalones/ica-owner/src/contract.rs
Labels: none

clone testing fixes
  interchain/Cargo.toml
  interchain/framework-clone-testing/src/common.rs
  interchain/framework-clone-testing/tests/migrate.rs
  interchain/framework-clone-testing/tests/upgrade-account.rs
  interchain/modules-clone-testing/src/common.rs
  interchain/modules-clone-testing/tests/money_market/mod.rs
  interchain/modules-clone-testing/tests/staking/astrovault.rs
Labels: none

fix account wasm selection
  framework/packages/abstract-interface/src/account.rs
Labels: interface

add query check on VC to ensure err on local deployments
  framework/packages/abstract-interface/src/deployment.rs
Labels: interface

remove default wasm build
  framework/contracts/account/Cargo.toml
Labels: account

remove redundant proto msg
  framework/contracts/account/src/absacc/mod.rs
Labels: account

update script
  framework/Cargo.lock
  framework/artifacts/checksums.txt
  framework/scripts/Cargo.toml
  framework/scripts/src/main.rs
Labels: none

update scripts
  framework/Cargo.lock
  framework/Cargo.toml
  integrations/Cargo.toml
  interchain/Cargo.toml
  interchain/scripts/src/bin/clone_mock_test.rs
  interchain/scripts/src/bin/full_deploy.rs
  interchain/scripts/src/bin/manual_deploy.rs
  modules/Cargo.toml
Labels: none

add abstract account to govdetails
  framework/contracts/account/src/absacc/auth/mod.rs
  framework/contracts/account/src/absacc/auth/secp256r1.rs
  framework/contracts/account/src/absacc/auth/sign_arb.rs
  framework/contracts/account/src/absacc/auth/util.rs
  framework/contracts/account/src/absacc/sudo.rs
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/execution.rs
  framework/contracts/account/src/lib.rs
  framework/contracts/account/tests/create.rs
  framework/contracts/account/tests/subaccount.rs
  framework/packages/abstract-std/src/objects/gov_type.rs
  framework/packages/abstract-std/src/objects/storage_namespaces.rs
  framework/scripts/Cargo.toml
  framework/scripts/src/main.rs
Labels: account

Too big auth id
  framework/contracts/account/src/absacc/auth/mod.rs
  framework/contracts/account/src/error.rs
Labels: account

small cleanup
  framework/contracts/account/src/absacc/auth/mod.rs
Labels: account

unused custom q
  framework/contracts/account/src/absacc/auth/sign_arb.rs
Labels: account

format
  framework/contracts/account/src/absacc/mod.rs
  framework/packages/abstract-interface/src/account.rs
Labels: account, interface

small doc comment on type
  framework/contracts/account/src/absacc/auth/mod.rs
Labels: account

Update WASM & Schemas [skip ci]
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking-injective.wasm
  modules/artifacts/abstract_cw_staking-juno.wasm
  modules/artifacts/abstract_cw_staking-kujira.wasm
  modules/artifacts/abstract_cw_staking-neutron.wasm
  modules/artifacts/abstract_cw_staking-osmosis.wasm
  modules/artifacts/abstract_cw_staking-sei.wasm
  modules/artifacts/abstract_cw_staking-terra2.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter-injective.wasm
  modules/artifacts/abstract_dex_adapter-juno.wasm
  modules/artifacts/abstract_dex_adapter-kujira.wasm
  modules/artifacts/abstract_dex_adapter-neutron.wasm
  modules/artifacts/abstract_dex_adapter-osmosis.wasm
  modules/artifacts/abstract_dex_adapter-sei.wasm
  modules/artifacts/abstract_dex_adapter-terra2.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter-kujira.wasm
  modules/artifacts/abstract_money_market_adapter-osmosis.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/croncat_app.wasm
  modules/artifacts/dca_app.wasm
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
Labels: none

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeller Github Action.
"account":
  # Match all of account folders
  - framework/contracts/account/**/*
"native":
  # Match all of native folders
  - framework/contracts/native/**/*
"breaking?":
  # Match all of abstract_std folders
  - framework/packages/abstract_std/**/*
"sdk":
  # Match all of sdk folders
  - framework/packages/abstract-sdk/**/*
"adapter_base":
  # Match all of adapter base folders
  - framework/packages/abstract-adapter/**/*
"app_base":
  # Match all of app base folders
  - framework/packages/abstract-app/**/*
"build":
  - build_release.sh
"CI":
  - .github/**/*.yml
# Add "C:documentation" label to documented related files and directories.
"documentation":
  - README.md
  - framework/contracts/**/*.md
  - framework/contracts/**/*/*.md
  - framework/docs/src/**/*
"interface":
  - framework/packages/abstract-interface/**/*
