Repository AbstractSDK/abstract, changes with the labels that .github/labeler.yml gives for each.
All labels: account, native, breaking?, sdk, adapter_base, app_base, build, CI, documentation, interface

include readme for abstract-client
  framework/packages/abstract-client/src/lib.rs
Labels: none

include workspace-hack for abstract-xion
  framework/Cargo.lock
  framework/packages/abstract-xion/Cargo.toml
Labels: none

fixed abstract-xion compilation
  framework/Cargo.lock
  framework/packages/abstract-xion/Cargo.toml
Labels: none

enable std for workspace hack
  framework/workspace-hack/Cargo.toml
Labels: none

Creator pubkey script (#492)
  framework/packages/abstract-interface/examples/creator_public_key.rs
Labels: interface

formatting [skip ci]
  interchain/scripts/src/bin/xion_test.rs
Labels: none

Update state
  interchain/scripts/state.json
Labels: none

Added xion code proposal
  interchain/scripts/Cargo.toml
  interchain/scripts/src/bin/propose_code_xion.rs
Labels: none

add abstract-xion description
  framework/packages/abstract-xion/Cargo.toml
  framework/publish/publish.sh
Labels: none

bump polytone note version
  framework/Cargo.toml
Labels: none

specify abstract-interface version in workspace toml
  framework/Cargo.toml
Labels: none

update schemas
  schema/account/0.24.1-beta.2/abstract-account.json
  schema/ans-host/0.24.1-beta.2/abstract-ans-host.json
  schema/cw-staking/0.24.1-beta.2/execute_msg.json
  schema/cw-staking/0.24.1-beta.2/instantiate_msg.json
  schema/cw-staking/0.24.1-beta.2/module-schema.json
  schema/cw-staking/0.24.1-beta.2/query_msg.json
  schema/dex/0.24.1-beta.2/adapter_response.json
  schema/dex/0.24.1-beta.2/execute_msg.json
  schema/dex/0.24.1-beta.2/instantiate_msg.json
  schema/dex/0.24.1-beta.2/module-schema.json
  schema/dex/0.24.1-beta.2/query_msg.json
  schema/ibc-client/0.24.1-beta.2/abstract-ibc-client.json
  schema/ibc-host/0.24.1-beta.2/abstract-ibc-host.json
  schema/ica-client/0.24.1-beta.2/abstract-ica-client.json
  schema/module-factory/0.24.1-beta.2/abstract-module-factory.json
  schema/money-market/0.24.1-beta.2/execute_msg.json
  schema/money-market/0.24.1-beta.2/instantiate_msg.json
  schema/money-market/0.24.1-beta.2/module-schema.json
  schema/money-market/0.24.1-beta.2/query_msg.json
  schema/registry/0.24.1-beta.2/abstract-registry.json
  schema/subscription/0.24.1-beta.2/execute_msg.json
  schema/subscription/0.24.1-beta.2/instantiate_msg.json
  schema/subscription/0.24.1-beta.2/migrate_msg.json
  schema/subscription/0.24.1-beta.2/module-schema.json
  schema/subscription/0.24.1-beta.2/query_msg.json
  schema/tendermint-staking/0.24.1-beta.2/execute_msg.json
  schema/tendermint-staking/0.24.1-beta.2/instantiate_msg.json
  schema/tendermint-staking/0.24.1-beta.2/module-schema.json
  schema/tendermint-staking/0.24.1-beta.2/query_msg.json
Labels: none

snapshots
  framework/contracts/account/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/tests/snapshots/apps__execute_on_account.snap
  framework/contracts/account/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_multiple_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_standalone_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_with_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__exec_on_account.snap
  framework/contracts/account/tests/snapshots/proxy__instantiate_account.snap
  framework/contracts/account/tests/snapshots/subaccount__account_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__creating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account.snap
  framework/contracts/account/tests/snapshots/subaccount__updating_on_subaccount_should_succeed.snap
Labels: account

Add transparent with from error thiseror
  framework/contracts/native/ans-host/src/error.rs
  framework/contracts/native/ibc-client/src/error.rs
  framework/contracts/native/ibc-host/src/error.rs
  framework/contracts/native/ica-client/src/error.rs
  framework/contracts/native/module-factory/src/error.rs
  framework/contracts/native/registry/src/error.rs
  framework/packages/abstract-adapter/src/error.rs
  framework/packages/abstract-adapter/src/lib.rs
  framework/packages/abstract-app/examples/counter.rs
  framework/packages/abstract-app/src/error.rs
  framework/packages/abstract-app/src/lib.rs
  framework/packages/abstract-client/src/error.rs
  framework/packages/abstract-interface/src/error.rs
  framework/packages/abstract-interface/tests/interchain_integration/module_to_module_interactions.rs
  framework/packages/abstract-sdk/src/base/contract_base.rs
  framework/packages/abstract-sdk/src/cw_helpers/cw_ownable.rs
  framework/packages/abstract-standalone/examples/counter.rs
  framework/packages/abstract-standalone/src/lib.rs
  framework/packages/abstract-std/src/error.rs
  framework/packages/abstract-std/src/objects/ownership/gov_ownable.rs
  framework/packages/abstract-xion/src/error.rs
  framework/packages/standards/dex/src/error.rs
  framework/packages/standards/money-market/src/error.rs
  framework/packages/standards/staking/src/error.rs
  modules/contracts/adapters/tendermint-staking/src/error.rs
  modules/contracts/apps/calendar/src/error.rs
  modules/contracts/apps/challenge/src/error.rs
  modules/contracts/apps/payment/src/error.rs
  modules/contracts/apps/ping-pong/src/error.rs
  modules/contracts/apps/subscription/src/error.rs
  modules/contracts/standalones/ica-owner/src/error.rs
Labels: native, sdk, adapter_base, app_base, interface

ubuntu tries to fetch yanked version sometimes
  .github/workflows/framework-test.yml
Labels: CI

Added failing test
  framework/packages/abstract-client/tests/integration.rs
Labels: none

add a note on currenly existing applications in docs
  framework/docs/src/3_framework/6_module_types.md
Labels: documentation

nit doc update
  framework/docs/src/3_framework/6_module_types.md
Labels: documentation

Fixed Readme of client
  framework/packages/abstract-client/README.md
Labels: none

Add link to module types page in sdk section
  framework/docs/src/3_framework/1_abstract_sdk.md
Labels: documentation

rename app-template repo to templates
  README.md
  framework/docs/src/1_products/2_abstract_app_template.md
  framework/docs/src/4_get_started/2_installation.md
  framework/docs/src/4_get_started/3_module_builder.md
  framework/docs/src/4_get_started/6_module_testing.md
Labels: documentation

simplify keydeserialize
  framework/contracts/native/registry/src/commands.rs
  framework/contracts/native/registry/src/queries.rs
  framework/packages/abstract-std/src/objects/entry/dex_asset_pairing.rs
  framework/packages/abstract-std/src/objects/module.rs
  framework/packages/abstract-std/src/objects/pool/unique_pool_id.rs
Labels: native

clippy
  framework/packages/abstract-std/src/objects/entry/dex_asset_pairing.rs
  framework/packages/abstract-std/src/objects/pool/unique_pool_id.rs
Labels: none

remove todo comment
  framework/packages/abstract-std/src/objects/module.rs
Labels: none

Remove unused fields and variants
  framework/contracts/account/src/contract.rs
  framework/packages/abstract-app/src/endpoints/execute.rs
  framework/packages/abstract-std/src/app.rs
  framework/packages/abstract-std/src/native_addrs.rs
  framework/packages/abstract-std/src/objects/gov_type.rs
  framework/packages/abstract-std/src/objects/ownership/gov_ownable.rs
Labels: account, app_base

reorder back
  framework/packages/abstract-app/src/endpoints/execute.rs
Labels: app_base

Added fecth or build on client
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/tests/integration.rs
Labels: none

Removed publisher builder and added publisher constructors
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/src/error.rs
  framework/packages/abstract-client/src/lib.rs
  framework/packages/abstract-client/src/publisher.rs
  framework/packages/abstract-client/tests/integration.rs
Labels: none

don't map errors
  framework/contracts/account/src/contract.rs
Labels: account

namespace raw query
  framework/packages/abstract-app/src/features.rs
  framework/packages/abstract-sdk/src/apis/version_registry.rs
  framework/packages/abstract-standalone/src/features.rs
  framework/packages/abstract-std/src/objects/registry.rs
Labels: sdk, app_base

update ownership readme snippets
  framework/packages/abstract-std/src/objects/ownership/README.md
  framework/packages/abstract-std/src/objects/ownership/gov_ownable.rs
Labels: none

update mirror ANS state doc comment
  framework/packages/abstract-testing/src/mock_ans.rs
Labels: none

match against exact errors
  framework/contracts/account/tests/adapters.rs
  framework/packages/abstract-interface/src/error.rs
Labels: account, interface

add upgrade modules on account tests
  framework/contracts/account/tests/upgrades.rs
Labels: account

fix recursive ours merge
  framework/contracts/account/src/execution.rs
  framework/contracts/native/ibc-client/src/commands.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/packages/abstract-client/src/interchain/remote_account.rs
  framework/packages/abstract-interface/tests/interchain_integration/interchain_accounts.rs
  framework/packages/abstract-sdk/Cargo.toml
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-sdk/src/apis/ibc_memo.rs
  framework/packages/abstract-sdk/src/apis/ibc_memo/hooks.rs
  framework/packages/abstract-sdk/src/apis/ibc_memo/pfm.rs
  framework/packages/abstract-std/src/native/ibc/ibc_client.rs
Labels: account, native, sdk, interface

latest code-ids
  interchain/scripts/state.json
Labels: none

Simpler Primarykey/prefixer for DexAssetPairing
  framework/packages/abstract-std/src/objects/entry/asset_entry.rs
  framework/packages/abstract-std/src/objects/entry/dex_asset_pairing.rs
Labels: none

Fixed Readme of client (#504)
  framework/packages/abstract-client/README.md
Labels: none

Using workspace
  framework/contracts/account/Cargo.toml
Labels: account

Update WASM & Schemas [skip ci]
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
Labels: none

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeller Github Action.
"account":
  # Match all of account folders
  - framework/contracts/account/**/*
"native":
  # Match all of native folders
  - framework/contracts/native/**/*
"breaking?":
  # Match all of abstract_std folders
  - framework/packages/abstract_std/**/*
"sdk":
  # Match all of sdk folders
  - framework/packages/abstract-sdk/**/*
"adapter_base":
  # Match all of adapter base folders
  - framework/packages/abstract-adapter/**/*
"app_base":
  # Match all of app base folders
  - framework/packages/abstract-app/**/*
"build":
  - build_release.sh
"CI":
  - .github/**/*.yml
# Add "C:documentation" label to documented related files and directories.
"documentation":
  - README.md
  - framework/contracts/**/*.md
  - framework/contracts/**/*/*.md
  - framework/docs/src/**/*
"interface":
  - framework/packages/abstract-interface/**/*
