Repository AbstractSDK/abstract, changes with the labels that .github/labeler.yml gives for each.
All labels: account, native, breaking?, sdk, adapter_base, app_base, build, CI, documentation, interface

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeller Github Action.
"account":
  # Match all of account folders
  - framework/contracts/account/**/*
"native":
  # Match all of native folders
  - framework/contracts/native/**/*
"breaking?":
  # Match all of abstract_std folders
  - framework/packages/abstract_std/**/*
"sdk":
  # Match all of sdk folders
  - framework/packages/abstract-sdk/**/*
"adapter_base":
  # Match all of adapter base folders
  - framework/packages/abstract-adapter/**/*
"app_base":
  # Match all of app base folders
  - framework/packages/abstract-app/**/*
"build":
  - build_release.sh
"CI":
  - .github/**/*.yml
# Add "C:documentation" label to documented related files and directories.
"documentation":
  - README.md
  - framework/contracts/**/*.md
  - framework/contracts/**/*/*.md
  - framework/docs/src/**/*
"interface":
  - framework/packages/abstract-interface/**/*

fix registry rev namespace for abstract
  framework/artifacts/abstract_registry.wasm
  framework/artifacts/checksums.txt
  framework/contracts/native/registry/src/contract.rs
  framework/contracts/native/registry/src/migrate.rs
  framework/packages/abstract-interface/build.rs
  modules/contracts/adapters/cw-staking/tests/osmosis_stake.rs
  modules/contracts/adapters/dex/tests/osmosis.rs
Labels: native, interface

less versions of bech32 crate
  framework/Cargo.lock
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-xion/Cargo.toml
  framework/packages/abstract-xion/src/auth/util.rs
  framework/packages/abstract-xion/src/error.rs
Labels: none

clippy, remove changes to creator_public_key
  framework/packages/abstract-interface/examples/creator_public_key.rs
Labels: interface

Moved tests
  framework/Cargo.lock
  framework/Cargo.toml
  framework/tests/Cargo.toml
  framework/tests/bin/ibc_hook.rs
  framework/tests/bin/pfm.rs
  framework/tests/bin/setup_funds.rs
  framework/tests/bin/token_bridge.rs
  framework/tests/four-chain-starship/Makefile
  framework/tests/four-chain-starship/configs/four-junos.yaml
  framework/tests/four-chain-starship/configs/two-junos.yaml
  framework/tests/four-chain-starship/port-forward.sh
  framework/tests/src/clone_testing/common.rs
  framework/tests/src/clone_testing/mod.rs
  framework/tests/src/interchain/mod.rs
  framework/tests/src/lib.rs
  framework/tests/tests/migrate.rs
  framework/tests/tests/upgrade-account.rs
  interchain/Cargo.toml
  interchain/framework-clone-testing/Cargo.toml
  modules/Cargo.toml
  modules/contracts/adapters/cw-staking/Cargo.toml
  modules/contracts/adapters/cw-staking/src/lib.rs
  modules/contracts/adapters/dex/Cargo.toml
  modules/tests/Cargo.toml
  modules/tests/src/common.rs
  modules/tests/src/lib.rs
  modules/tests/tests/dex/astroport.rs
  modules/tests/tests/dex/astrovault.rs
  modules/tests/tests/dex/mod.rs
  modules/tests/tests/money_market/mars.rs
  modules/tests/tests/money_market/mod.rs
  modules/tests/tests/staking/astroport.rs
  modules/tests/tests/staking/astrovault.rs
  modules/tests/tests/staking/mod.rs
  modules/tests/tests/tests.rs
Labels: none

formatting [skip ci]
  framework/packages/abstract-sdk/src/apis/traits.rs
Labels: sdk

deprecate account_from
  framework/packages/abstract-client/src/client.rs
Labels: none

update deprecated
  framework/packages/abstract-client/tests/integration.rs
  interchain/scripts/src/bin/xion_test.rs
Labels: none

Update WASM & Schemas [skip ci]
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
Labels: none

Fix tests, modify cu
  .github/workflows/interchain-check.yml
  .github/workflows/interchain-test.yml
  framework/Cargo.lock
  framework/artifacts/abstract_account-xion.wasm
  framework/artifacts/abstract_account.wasm
  framework/artifacts/abstract_ans_host.wasm
  framework/artifacts/abstract_ibc_client.wasm
  framework/artifacts/abstract_ibc_host.wasm
  framework/artifacts/abstract_ica_client.wasm
  framework/artifacts/abstract_module_factory.wasm
  framework/artifacts/abstract_registry.wasm
  framework/artifacts/checksums.txt
  framework/packages/abstract-interface/tests/integration_tests.rs
  framework/packages/abstract-interface/tests/interchain_integration/bin/ibc_hook.rs
  framework/packages/abstract-interface/tests/interchain_integration/bin/pfm.rs
  framework/packages/abstract-interface/tests/interchain_integration/mod.rs
  framework/tests/Cargo.toml
  framework/tests/src/interchain/mod.rs
  framework/tests/tests/clone_tests/migrate.rs
  framework/tests/tests/clone_tests/mod.rs
  framework/tests/tests/clone_tests/upgrade_account.rs
  framework/tests/tests/interchain/interchain_accounts.rs
  framework/tests/tests/interchain/mod.rs
  framework/tests/tests/mod.rs
  framework/tests/tests/module_to_module_interactions.rs
Labels: CI, interface

add propose migrate
  framework/Cargo.lock
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-interface/src/lib.rs
  framework/packages/abstract-interface/src/migrate.rs
  framework/packages/abstract-interface/src/multisig.rs
  framework/packages/abstract-interface/src/native/registry.rs
Labels: interface

Updated hakari
  framework/Cargo.lock
  framework/workspace-hack/Cargo.toml
Labels: none

Removed version
  framework/Cargo.toml
Labels: none

Update hakari
  framework/Cargo.lock
  framework/tests/Cargo.toml
Labels: none

add small interchain script
  framework/Cargo.lock
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-interface/src/multisig.rs
  interchain/scripts/src/bin/update_to_multisig.rs
Labels: interface

modules query fix
  framework/contracts/native/registry/src/queries.rs
Labels: native

vc->registry in a couple of places
  framework/contracts/account/src/modules.rs
  framework/contracts/native/registry/src/commands.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-sdk/src/apis/version_registry.rs
  framework/packages/abstract-std/src/account.rs
  framework/packages/abstract-std/src/native/registry.rs
  framework/packages/abstract-std/src/objects/module_factory.rs
  framework/packages/abstract-std/src/objects/registry.rs
Labels: account, native, sdk

Ignore beta versions in modules smart query (#522)
  framework/contracts/native/registry/src/queries.rs
Labels: native

Update WASM & Schemas [skip ci]
  framework/artifacts/abstract_registry.wasm
  framework/artifacts/checksums.txt
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
Labels: none

Migrated
  framework/Cargo.lock
  framework/artifacts/abstract_ans_host.wasm
  framework/artifacts/abstract_registry.wasm
  framework/artifacts/checksums.txt
  framework/contracts/native/ans-host/Cargo.toml
  framework/contracts/native/registry/Cargo.toml
  interchain/interchain-end_to_end_testing/Cargo.toml
  interchain/scripts/state.json
  modules/Cargo.toml
Labels: native

Update WASM & Schemas [skip ci]
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
  schema/ans-host/0.24.2/abstract-ans-host.json
  schema/registry/0.24.2/abstract-registry.json
Labels: none

small updates
  framework/packages/abstract-interface/src/multisig.rs
  interchain/scripts/Cargo.toml
Labels: interface

fixes after tests
  framework/packages/abstract-interface/src/multisig.rs
Labels: interface

update ibc client and host predictable addrs
  framework/Cargo.lock
  framework/contracts/native/ibc-client/src/contract.rs
  framework/contracts/native/ibc-host/src/contract.rs
  framework/packages/abstract-adapter/src/endpoints/ibc_callback.rs
  framework/packages/abstract-adapter/src/endpoints/module_ibc.rs
  framework/packages/abstract-app/Cargo.toml
  framework/packages/abstract-app/src/endpoints/ibc_callback.rs
  framework/packages/abstract-app/src/endpoints/module_ibc.rs
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-interface/src/migrate.rs
  framework/packages/abstract-std/src/native/ibc/ibc_client.rs
  framework/packages/abstract-std/src/native/ibc/ibc_host.rs
  framework/packages/abstract-std/src/native_addrs.rs
Labels: native, adapter_base, app_base, interface

remove instantiation from migration for ibc-client and ibc-host
  framework/contracts/account/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/tests/snapshots/apps__execute_on_account.snap
  framework/contracts/account/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_multiple_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_standalone_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_with_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__exec_on_account.snap
  framework/contracts/account/tests/snapshots/proxy__instantiate_account.snap
  framework/contracts/account/tests/snapshots/subaccount__account_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__creating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account.snap
  framework/contracts/account/tests/snapshots/subaccount__updating_on_subaccount_should_succeed.snap
  framework/packages/abstract-app/src/endpoints/ibc_callback.rs
  framework/packages/abstract-app/src/endpoints/module_ibc.rs
  framework/packages/abstract-interface/tests/instantiate_from_migration.rs
Labels: account, app_base, interface

Patched deploy abstract-client and ion
  framework/Cargo.lock
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-xion/Cargo.toml
Labels: none

Carg lock
  framework/Cargo.lock
Labels: none

Fix abstract client fetch methods (#519)
  framework/Cargo.lock
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-xion/Cargo.toml
  framework/packages/abstract-xion/src/auth/util.rs
  framework/packages/abstract-xion/src/error.rs
  interchain/scripts/src/bin/xion_test.rs
Labels: none

Ibc client and ibc host removal of predictable addresses (#523)
  framework/Cargo.lock
  framework/contracts/account/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/tests/snapshots/apps__execute_on_account.snap
  framework/contracts/account/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_multiple_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_standalone_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_with_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__exec_on_account.snap
  framework/contracts/account/tests/snapshots/proxy__instantiate_account.snap
  framework/contracts/account/tests/snapshots/subaccount__account_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__creating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account.snap
  framework/contracts/account/tests/snapshots/subaccount__updating_on_subaccount_should_succeed.snap
  framework/contracts/native/ibc-client/src/contract.rs
  framework/contracts/native/ibc-host/src/contract.rs
  framework/packages/abstract-adapter/src/endpoints/ibc_callback.rs
  framework/packages/abstract-adapter/src/endpoints/module_ibc.rs
  framework/packages/abstract-app/Cargo.toml
  framework/packages/abstract-app/src/endpoints/ibc_callback.rs
  framework/packages/abstract-app/src/endpoints/module_ibc.rs
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-interface/src/migrate.rs
  framework/packages/abstract-interface/tests/instantiate_from_migration.rs
  framework/packages/abstract-std/src/native/ibc/ibc_client.rs
  framework/packages/abstract-std/src/native/ibc/ibc_host.rs
  framework/packages/abstract-std/src/native_addrs.rs
Labels: account, native, adapter_base, app_base, interface

Version Control renamed to Registry in a few doc comments (#521)
  framework/contracts/account/src/modules.rs
  framework/contracts/native/registry/src/commands.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-sdk/src/apis/version_registry.rs
  framework/packages/abstract-std/src/account.rs
  framework/packages/abstract-std/src/native/registry.rs
  framework/packages/abstract-std/src/objects/module_factory.rs
  framework/packages/abstract-std/src/objects/registry.rs
Labels: account, native, sdk

Generate proper ica_client schemas (#516)
  framework/contracts/native/ica-client/examples/schema.rs
Labels: native

Manager and Proxy mentions remove from the docs (#510)
  framework/contracts/account/Cargo.toml
  framework/contracts/account/VERSIONING.md
  framework/contracts/native/ibc-client/README.md
  framework/development/IBC.md
  framework/packages/abstract-integration-tests/README.md
Labels: account, native, documentation

creator unknown until publish
  framework/contracts/account/Cargo.toml
  framework/contracts/native/ans-host/Cargo.toml
  framework/contracts/native/ibc-client/Cargo.toml
  framework/contracts/native/ibc-host/Cargo.toml
  framework/contracts/native/ica-client/Cargo.toml
  framework/contracts/native/module-factory/Cargo.toml
  framework/contracts/native/registry/Cargo.toml
  framework/packages/abstract-adapter/Cargo.toml
  framework/packages/abstract-adapter/src/interface.rs
  framework/packages/abstract-app/Cargo.toml
  framework/packages/abstract-app/src/interface.rs
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-interface/src/account.rs
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-interface/src/native/ans_host.rs
  framework/packages/abstract-interface/src/native/ibc_client.rs
  framework/packages/abstract-interface/src/native/ibc_host.rs
  framework/packages/abstract-interface/src/native/module_factory.rs
  framework/packages/abstract-interface/src/native/registry.rs
  framework/packages/abstract-std/Cargo.toml
  framework/packages/abstract-std/src/native_addrs.rs
  framework/packages/abstract-std/src/objects/registry.rs
  modules/contracts/adapters/cw-staking/Cargo.toml
  modules/contracts/adapters/cw-staking/src/lib.rs
  modules/contracts/adapters/dex/Cargo.toml
  modules/contracts/adapters/dex/src/lib.rs
Labels: account, native, adapter_base, app_base, interface

Added xion crate instead of local xion
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/execution.rs
  framework/contracts/account/src/lib.rs
  framework/contracts/account/tests/xion.rs
  framework/packages/abstract-std/src/account.rs
  framework/packages/abstract-xion/Cargo.toml
  framework/packages/abstract-xion/src/auth/eth_crypto.rs
  framework/packages/abstract-xion/src/auth/jwt.rs
  framework/packages/abstract-xion/src/auth/mod.rs
  framework/packages/abstract-xion/src/auth/passkey.rs
  framework/packages/abstract-xion/src/auth/secp256r1.rs
  framework/packages/abstract-xion/src/auth/sign_arb.rs
  framework/packages/abstract-xion/src/auth/util.rs
  framework/packages/abstract-xion/src/error.rs
  framework/packages/abstract-xion/src/lib.rs
  framework/packages/abstract-xion/src/queries.rs
  framework/packages/abstract-xion/src/state.rs
  framework/packages/abstract-xion/src/sudo.rs
  framework/packages/abstract-xion/src/xion_proto/jwk.rs
  framework/packages/abstract-xion/src/xion_proto/mod.rs
Labels: account

Revert "Added xion crate instead of local xion"
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/execution.rs
  framework/contracts/account/src/lib.rs
  framework/contracts/account/tests/xion.rs
  framework/packages/abstract-std/src/account.rs
  framework/packages/abstract-xion/Cargo.toml
  framework/packages/abstract-xion/src/auth/eth_crypto.rs
  framework/packages/abstract-xion/src/auth/jwt.rs
  framework/packages/abstract-xion/src/auth/mod.rs
  framework/packages/abstract-xion/src/auth/passkey.rs
  framework/packages/abstract-xion/src/auth/secp256r1.rs
  framework/packages/abstract-xion/src/auth/sign_arb.rs
  framework/packages/abstract-xion/src/auth/util.rs
  framework/packages/abstract-xion/src/error.rs
  framework/packages/abstract-xion/src/lib.rs
  framework/packages/abstract-xion/src/queries.rs
  framework/packages/abstract-xion/src/state.rs
  framework/packages/abstract-xion/src/sudo.rs
  framework/packages/abstract-xion/src/xion_proto/jwk.rs
  framework/packages/abstract-xion/src/xion_proto/mod.rs
Labels: account

Added XION work to separate crate
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/execution.rs
  framework/contracts/account/src/lib.rs
  framework/contracts/account/tests/xion.rs
  framework/packages/abstract-std/src/account.rs
  framework/packages/abstract-xion/Cargo.toml
  framework/packages/abstract-xion/src/auth/eth_crypto.rs
  framework/packages/abstract-xion/src/auth/jwt.rs
  framework/packages/abstract-xion/src/auth/mod.rs
  framework/packages/abstract-xion/src/auth/passkey.rs
  framework/packages/abstract-xion/src/auth/secp256r1.rs
  framework/packages/abstract-xion/src/auth/sign_arb.rs
  framework/packages/abstract-xion/src/auth/util.rs
  framework/packages/abstract-xion/src/error.rs
  framework/packages/abstract-xion/src/lib.rs
  framework/packages/abstract-xion/src/queries.rs
  framework/packages/abstract-xion/src/state.rs
  framework/packages/abstract-xion/src/sudo.rs
  framework/packages/abstract-xion/src/xion_proto/jwk.rs
  framework/packages/abstract-xion/src/xion_proto/mod.rs
  framework/workspace-hack/Cargo.toml
  interchain/Cargo.toml
  interchain/scripts/Cargo.toml
  interchain/scripts/src/bin/xion_test.rs
Labels: account

update uses
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/modules.rs
  framework/contracts/account/src/modules/migration.rs
  framework/contracts/account/src/queries.rs
  framework/contracts/account/src/sub_account.rs
  framework/contracts/native/ibc-client/src/commands.rs
  framework/contracts/native/ibc-client/src/queries.rs
  framework/contracts/native/ibc-host/src/account_commands.rs
  framework/contracts/native/ibc-host/src/endpoints/packet.rs
  framework/contracts/native/ibc-host/src/endpoints/query.rs
  framework/contracts/native/ica-client/src/chain_types/evm.rs
  framework/contracts/native/ica-client/src/queries.rs
  framework/contracts/native/module-factory/src/commands.rs
  framework/contracts/native/module-factory/src/contract.rs
  framework/packages/abstract-adapter/src/features.rs
  framework/packages/abstract-app/src/endpoints/ibc_callback.rs
  framework/packages/abstract-app/src/endpoints/module_ibc.rs
  framework/packages/abstract-app/src/endpoints/query.rs
  framework/packages/abstract-app/src/features.rs
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-sdk/src/apis/bank.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-sdk/src/apis/splitter.rs
  framework/packages/abstract-sdk/src/apis/verify.rs
  framework/packages/abstract-sdk/src/apis/version_registry.rs
  framework/packages/abstract-sdk/src/base/endpoints/ibc_callback.rs
  framework/packages/abstract-sdk/src/base/endpoints/modules_ibc.rs
  framework/packages/abstract-sdk/src/base/features/abstract_name_service.rs
  framework/packages/abstract-sdk/src/base/features/abstract_registry_access.rs
  framework/packages/abstract-sdk/src/feature_objects.rs
  framework/packages/abstract-sdk/src/mock_module.rs
  framework/packages/abstract-std/src/adapter.rs
  framework/packages/abstract-std/src/native_addrs.rs
  framework/packages/abstract-std/src/objects/ans_host.rs
  framework/packages/abstract-std/src/objects/gov_type.rs
  framework/packages/abstract-std/src/objects/module_factory.rs
  framework/packages/abstract-testing/src/lib.rs
  framework/packages/abstract-testing/src/mock_querier.rs
Labels: account, native, sdk, adapter_base, app_base, interface

dev deps optimization is not required
  framework/Cargo.toml
Labels: none

adapter changes
  framework/packages/abstract-adapter/src/endpoints/execute.rs
  framework/packages/abstract-adapter/src/endpoints/ibc_callback.rs
  framework/packages/abstract-adapter/src/endpoints/instantiate.rs
  framework/packages/abstract-adapter/src/endpoints/module_ibc.rs
  framework/packages/abstract-adapter/src/endpoints/query.rs
  framework/packages/abstract-adapter/src/features.rs
Labels: adapter_base

test fix init
  framework/contracts/native/ibc-host/tests/integration.rs
  framework/contracts/native/module-factory/tests/direct_calls.rs
  framework/contracts/native/module-factory/tests/install_native_modules.rs
  framework/contracts/native/registry/tests/direct_calls.rs
  framework/packages/abstract-app/src/features.rs
  framework/packages/abstract-app/src/lib.rs
  framework/packages/abstract-standalone/src/features.rs
  framework/packages/abstract-std/src/native_addrs.rs
Labels: native, app_base

Implementation of sending a message
  framework/Cargo.lock
  framework/contracts/account/Cargo.toml
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/execution.rs
  framework/contracts/account/src/lib.rs
  framework/contracts/account/src/reply.rs
  framework/contracts/native/ibc-host/src/account_commands.rs
  framework/contracts/native/ibc-host/src/endpoints/execute.rs
  framework/contracts/native/ibc-host/src/endpoints/packet.rs
  framework/contracts/native/ica-client/src/chain_types/evm.rs
  framework/contracts/native/ica-client/src/queries.rs
  framework/packages/abstract-std/src/account.rs
  framework/packages/abstract-std/src/native/ibc.rs
  framework/packages/abstract-std/src/native/ibc/ibc_host.rs
  framework/packages/abstract-std/src/objects/storage_namespaces.rs
Labels: account, native
