Repository AbstractSDK/abstract, changes with the labels that .github/labeler.yml gives for each.
All labels: account, native, breaking?, sdk, adapter_base, app_base, build, CI, documentation, interface

abstract sdk codecov progress
  framework/packages/abstract-sdk/Cargo.toml
  framework/packages/abstract-sdk/src/account_action.rs
  framework/packages/abstract-sdk/src/ans_resolve.rs
  framework/packages/abstract-sdk/src/apis/bank.rs
  framework/packages/abstract-sdk/src/apis/splitter.rs
  framework/packages/abstract-sdk/src/error.rs
  framework/packages/abstract-sdk/src/feature_objects.rs
  framework/packages/abstract-sdk/src/lib.rs
Labels: sdk

bump packages
  framework/Cargo.lock
  framework/Cargo.toml
  framework/packages/abstract-adapter/Cargo.toml
  framework/packages/abstract-app/Cargo.toml
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-standalone/Cargo.toml
  framework/packages/standards/dex/Cargo.toml
  framework/packages/standards/money-market/Cargo.toml
  framework/packages/standards/staking/Cargo.toml
  framework/workspace-hack/Cargo.toml
  integrations/Cargo.toml
  interchain/Cargo.toml
  interchain/interchain-tests/Cargo.toml
  modules/Cargo.toml
  modules/contracts/apps/ping-pong/Cargo.toml
Labels: adapter_base, app_base, interface

update snapshots
  framework/contracts/account/tests/snapshots/proxy__account_install_multiple_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_standalone_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_with_response_data.snap
  framework/contracts/account/tests/snapshots/subaccount__account_updating_on_subaccount_should_succeed.snap
Labels: account

protobuf unused dep
  framework/Cargo.lock
  framework/contracts/native/module-factory/Cargo.toml
Labels: native

Integration test start
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/account/src/execution.rs
  framework/contracts/native/ica-client/Cargo.toml
  framework/contracts/native/ica-client/examples/integration_test.rs
  framework/contracts/native/ica-client/src/lib.rs
  framework/contracts/native/ica-client/src/queries.rs
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/error.rs
  interchain/scripts/state.json
Labels: account, native

Added no-id replies preliminary
  framework/packages/abstract-adapter/src/endpoints/execute.rs
  framework/packages/abstract-adapter/src/features.rs
  framework/packages/abstract-adapter/src/lib.rs
  framework/packages/abstract-adapter/src/state.rs
  framework/packages/abstract-app/examples/counter.rs
  framework/packages/abstract-app/src/endpoints/execute.rs
  framework/packages/abstract-app/src/lib.rs
  framework/packages/abstract-app/src/state.rs
  framework/packages/abstract-sdk/src/base/contract_base.rs
  framework/packages/abstract-sdk/src/base/endpoints/reply.rs
  framework/packages/abstract-sdk/src/base/handler.rs
  framework/packages/abstract-sdk/src/base/mod.rs
  framework/packages/abstract-sdk/src/base/response.rs
  framework/packages/abstract-sdk/src/base/submsg.rs
Labels: sdk, adapter_base, app_base

change code coverage tool
  framework/packages/abstract-integration-tests/Cargo.toml
  framework/packages/abstract-integration-tests/src/lib.rs
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-interface/src/lib.rs
  framework/packages/abstract-sdk/Cargo.toml
  framework/packages/abstract-sdk/src/apis/bank.rs
  framework/packages/abstract-sdk/src/lib.rs
  framework/packages/abstract-testing/Cargo.toml
  framework/packages/abstract-testing/src/lib.rs
  scripts/framework-coverage.sh
Labels: sdk, interface

download correct binary
  scripts/framework-coverage.sh
Labels: none

Fix and update
  framework/contracts/native/ica-client/examples/integration_test.rs
  framework/packages/abstract-std/src/native/ibc/ica_client.rs
Labels: native

tarpaulin misses branches
  framework/packages/abstract-integration-tests/Cargo.toml
  framework/packages/abstract-integration-tests/src/lib.rs
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-interface/src/lib.rs
  framework/packages/abstract-sdk/Cargo.toml
  framework/packages/abstract-testing/Cargo.toml
  framework/packages/abstract-testing/src/lib.rs
  scripts/framework-coverage.sh
Labels: sdk, interface

try nightly coverage
  .circleci/config.yml
  framework/Cargo.lock
  framework/packages/abstract-sdk/Cargo.toml
  framework/packages/abstract-sdk/src/apis/adapter.rs
  framework/packages/abstract-sdk/src/lib.rs
  scripts/framework-coverage.sh
Labels: sdk

rollback 2_0
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/account/Cargo.toml
  framework/workspace-hack/Cargo.toml
Labels: account

circlecli orb typo
  .circleci/config.yml
Labels: none

roll-back cosmwasm_2_0
  framework/Cargo.lock
  framework/contracts/account/Cargo.toml
  framework/contracts/native/ibc-client/src/commands.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/packages/abstract-sdk/src/apis.rs
  framework/packages/abstract-sdk/src/apis/authz.rs
  framework/packages/abstract-sdk/src/apis/distribution.rs
  framework/packages/abstract-sdk/src/apis/feegrant.rs
Labels: account, native, sdk

no coverage feature
  framework/packages/abstract-sdk/src/lib.rs
Labels: sdk

update snapshots
  framework/contracts/account/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/tests/snapshots/apps__execute_on_account.snap
  framework/contracts/account/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_multiple_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_standalone_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_with_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__exec_on_account.snap
  framework/contracts/account/tests/snapshots/proxy__instantiate_account.snap
  framework/contracts/account/tests/snapshots/subaccount__account_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__creating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account.snap
  framework/contracts/account/tests/snapshots/subaccount__updating_on_subaccount_should_succeed.snap
Labels: account

0.24 abstract bump (#485)
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/account/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/tests/snapshots/apps__execute_on_account.snap
  framework/contracts/account/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_multiple_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_standalone_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_with_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__exec_on_account.snap
  framework/contracts/account/tests/snapshots/proxy__instantiate_account.snap
  framework/contracts/account/tests/snapshots/subaccount__account_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__creating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account.snap
  framework/contracts/account/tests/snapshots/subaccount__updating_on_subaccount_should_succeed.snap
  framework/packages/abstract-adapter/Cargo.toml
  framework/packages/abstract-app/Cargo.toml
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-standalone/Cargo.toml
  framework/packages/standards/dex/Cargo.toml
  framework/packages/standards/money-market/Cargo.toml
  framework/packages/standards/staking/Cargo.toml
  framework/workspace-hack/Cargo.toml
  integrations/Cargo.toml
  interchain/Cargo.toml
  interchain/interchain-tests/Cargo.toml
  modules/Cargo.toml
  modules/contracts/apps/ping-pong/Cargo.toml
Labels: account, adapter_base, app_base, interface

Update cw-orch cw-orch-interchain, polytone
  framework/Cargo.lock
  framework/Cargo.toml
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/src/error.rs
  framework/packages/abstract-client/src/interchain/mod.rs
  framework/packages/abstract-client/src/interchain/remote_account.rs
  framework/packages/abstract-client/src/interchain/remote_application.rs
  framework/packages/abstract-client/tests/interchain_integration.rs
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-interface/src/error.rs
  framework/packages/abstract-interface/src/ibc.rs
  integrations/Cargo.toml
  interchain/Cargo.toml
  interchain/interchain-tests/src/interchain_accounts.rs
  interchain/interchain-tests/src/module_to_module_interactions.rs
  modules/Cargo.toml
  modules/contracts/apps/ping-pong/tests/better_interchain_api.rs
  modules/contracts/apps/ping-pong/tests/ping_pong_tests.rs
Labels: interface

formatting [skip ci]
  framework/packages/abstract-client/src/client.rs
Labels: none

Roll back feature cosmwasm_2_0 of cosmwasm std (#488)
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/account/Cargo.toml
  framework/contracts/native/ibc-client/src/commands.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/packages/abstract-sdk/src/apis.rs
  framework/packages/abstract-sdk/src/apis/authz.rs
  framework/packages/abstract-sdk/src/apis/distribution.rs
  framework/packages/abstract-sdk/src/apis/feegrant.rs
Labels: account, native, sdk

Update WASM & Schemas [skip ci]
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking-injective.wasm
  modules/artifacts/abstract_cw_staking-juno.wasm
  modules/artifacts/abstract_cw_staking-kujira.wasm
  modules/artifacts/abstract_cw_staking-neutron.wasm
  modules/artifacts/abstract_cw_staking-osmosis.wasm
  modules/artifacts/abstract_cw_staking-sei.wasm
  modules/artifacts/abstract_cw_staking-terra2.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter-injective.wasm
  modules/artifacts/abstract_dex_adapter-juno.wasm
  modules/artifacts/abstract_dex_adapter-kujira.wasm
  modules/artifacts/abstract_dex_adapter-neutron.wasm
  modules/artifacts/abstract_dex_adapter-osmosis.wasm
  modules/artifacts/abstract_dex_adapter-sei.wasm
  modules/artifacts/abstract_dex_adapter-terra2.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter-kujira.wasm
  modules/artifacts/abstract_money_market_adapter-osmosis.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/croncat_app.wasm
  modules/artifacts/dca_app.wasm
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
Labels: none

Re-added cw-orch-proto dependent tests
  framework/packages/abstract-client/src/interchain/mod.rs
  framework/packages/abstract-interface/src/ibc.rs
  interchain/interchain-tests/Cargo.toml
  interchain/interchain-tests/src/bin/setup_funds.rs
  interchain/interchain-tests/src/bin/token_bridge.rs
  interchain/interchain-tests/src/interchain_accounts.rs
Labels: interface

AbstractApi update
  framework/packages/abstract-sdk/src/account_action.rs
  framework/packages/abstract-sdk/src/ans_resolve.rs
  framework/packages/abstract-sdk/src/apis.rs
  framework/packages/abstract-sdk/src/apis/adapter.rs
  framework/packages/abstract-sdk/src/apis/app.rs
  framework/packages/abstract-sdk/src/apis/authz.rs
  framework/packages/abstract-sdk/src/apis/bank.rs
  framework/packages/abstract-sdk/src/apis/distribution.rs
  framework/packages/abstract-sdk/src/apis/execution.rs
  framework/packages/abstract-sdk/src/apis/feegrant.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-sdk/src/apis/modules.rs
  framework/packages/abstract-sdk/src/apis/splitter.rs
  framework/packages/abstract-sdk/src/apis/traits.rs
  framework/packages/abstract-sdk/src/apis/verify.rs
  framework/packages/abstract-sdk/src/apis/version_registry.rs
  framework/packages/abstract-sdk/src/base/contract_base.rs
  framework/packages/abstract-sdk/src/base/features/abstract_name_service.rs
  framework/packages/abstract-sdk/src/base/features/identification.rs
  framework/packages/abstract-sdk/src/cw_helpers/cosmwasm_std/abstract_attributes.rs
  framework/packages/abstract-sdk/src/cw_helpers/cosmwasm_std/wasm_query.rs
  framework/packages/abstract-sdk/src/cw_helpers/cw_ownable.rs
  framework/packages/abstract-sdk/src/cw_helpers/fees.rs
  framework/packages/abstract-sdk/src/feature_objects.rs
  framework/packages/abstract-sdk/src/mock_module.rs
Labels: sdk

update module id for MockBinding
  framework/packages/abstract-sdk/src/apis/verify.rs
Labels: sdk

small-wasm
  framework/Cargo.lock
  framework/Cargo.toml
  framework/artifacts/abstract_ans_host.wasm
  framework/artifacts/abstract_ibc_client.wasm
  framework/artifacts/abstract_ibc_host.wasm
  framework/artifacts/abstract_ica_client.wasm
  framework/artifacts/abstract_module_factory.wasm
  framework/artifacts/checksums.txt
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/execution.rs
  framework/packages/abstract-client/src/interchain/remote_account.rs
  framework/packages/abstract-interface/src/account.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-std/src/account.rs
Labels: account, sdk, interface

compiling wasm
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/account/Cargo.toml
  framework/contracts/native/ans-host/Cargo.toml
  framework/contracts/native/ibc-client/Cargo.toml
  framework/contracts/native/ica-client/Cargo.toml
  framework/contracts/native/ica-client/src/queries.rs
  framework/contracts/native/module-factory/Cargo.toml
  framework/contracts/native/registry/Cargo.toml
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-std/Cargo.toml
  integrations/Cargo.toml
  interchain/Cargo.toml
  interchain/interchain-tests/Cargo.toml
  interchain/interchain-tests/src/bin/gov-prop-abstract.rs
  interchain/interchain-tests/src/bin/ica_client.rs
  interchain/scripts/state.json
  modules/Cargo.toml
  scripts/wasm-framework.sh
Labels: account, native, interface

only upload blob if needed
  framework/packages/abstract-interface/src/deployment.rs
Labels: interface

clean up deployment and migrate script
  interchain/scripts/src/bin/full_deploy.rs
  interchain/scripts/src/bin/migrate.rs
Labels: none

remove old deployments from state.
  interchain/scripts/state.json
Labels: none

formatting [skip ci]
  interchain/scripts/src/bin/migrate.rs
Labels: none

remove ibc client message
  framework/artifacts/abstract_version_control.wasm
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/execution.rs
  framework/contracts/account/src/modules.rs
  framework/contracts/account/tests/adapters.rs
  framework/contracts/account/tests/proxy.rs
  framework/packages/abstract-client/src/interchain/remote_account.rs
  framework/packages/abstract-client/src/interchain/remote_application.rs
  framework/packages/abstract-interface/src/account.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-std/src/account.rs
Labels: account, sdk, interface

Avoid usage of instantiate msg for sub account creation
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/sub_account.rs
  framework/contracts/account/tests/adapters.rs
  framework/contracts/account/tests/apps.rs
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-interface/src/account.rs
  framework/packages/abstract-std/src/account.rs
Labels: account, interface

update interchain and wasms
  interchain/interchain-tests/src/interchain_accounts.rs
  modules/contracts/adapters/cw-staking/src/handlers/execute.rs
  modules/contracts/adapters/dex/src/handlers/execute.rs
  modules/contracts/apps/ping-pong/tests/ping_pong_tests.rs
Labels: none

Revert "Avoid usage of instantiate msg for sub account creation"
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/sub_account.rs
  framework/contracts/account/tests/adapters.rs
  framework/contracts/account/tests/apps.rs
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-interface/src/account.rs
  framework/packages/abstract-std/src/account.rs
Labels: account, interface

Removed local patch
  interchain/Cargo.toml
Labels: none

Preliminar TODO removal
  modules/contracts/adapters/cw-staking/src/staking_tester.rs
  modules/contracts/adapters/dex/Cargo.toml
  modules/contracts/adapters/dex/src/dex_tester.rs
  modules/contracts/adapters/money-market/src/tester.rs
  modules/contracts/apps/calendar/src/msg.rs
  modules/contracts/apps/challenge/src/handlers/execute.rs
  modules/contracts/apps/dca/tests/integration.rs
  modules/contracts/apps/ping-pong/src/ibc/callback.rs
  modules/contracts/apps/ping-pong/src/ibc/module.rs
Labels: none

update names
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-std/Cargo.toml
  framework/packages/abstract-std/src/constants.rs
  framework/packages/abstract-std/src/native_addrs.rs
  framework/packages/abstract-std/src/objects/registry.rs
  framework/packages/abstract-testing/src/lib.rs
  interchain/scripts/src/bin/xion_test.rs
Labels: interface

Remove test TODOS
  framework/contracts/account/src/config.rs
  framework/contracts/account/src/modules.rs
  framework/contracts/account/tests/adapters.rs
  framework/contracts/account/tests/upgrades.rs
  framework/packages/abstract-app/src/features.rs
  framework/packages/abstract-standalone/src/features.rs
  framework/packages/abstract-std/src/objects/ownership/gov_ownable.rs
Labels: account, app_base

Forgot one
  framework/contracts/account/src/modules.rs
Labels: account

Remove some todos with associated tasks
  framework/contracts/account/src/absacc/auth/mod.rs
  framework/contracts/account/src/absacc/auth/secp256r1.rs
  framework/contracts/account/src/absacc/sudo.rs
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/error.rs
  framework/contracts/native/ibc-client/src/commands.rs
  framework/contracts/native/ica-client/src/error.rs
  framework/contracts/native/ica-client/src/queries.rs
  framework/packages/abstract-app/src/endpoints/execute.rs
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/builder.rs
  framework/packages/abstract-client/src/interchain/remote_account.rs
  framework/packages/abstract-client/src/lib.rs
  framework/packages/abstract-sdk/src/base/endpoints/execute.rs
  framework/packages/abstract-std/src/native/ibc/ibc_host.rs
  framework/packages/abstract-std/src/objects/gov_type.rs
  framework/packages/abstract-std/src/objects/voting.rs
  framework/packages/abstract-testing/src/lib.rs
Labels: account, native, sdk, app_base

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeller Github Action.
"account":
  # Match all of account folders
  - framework/contracts/account/**/*
"native":
  # Match all of native folders
  - framework/contracts/native/**/*
"breaking?":
  # Match all of abstract_std folders
  - framework/packages/abstract_std/**/*
"sdk":
  # Match all of sdk folders
  - framework/packages/abstract-sdk/**/*
"adapter_base":
  # Match all of adapter base folders
  - framework/packages/abstract-adapter/**/*
"app_base":
  # Match all of app base folders
  - framework/packages/abstract-app/**/*
"build":
  - build_release.sh
"CI":
  - .github/**/*.yml
# Add "C:documentation" label to documented related files and directories.
"documentation":
  - README.md
  - framework/contracts/**/*.md
  - framework/contracts/**/*/*.md
  - framework/docs/src/**/*
"interface":
  - framework/packages/abstract-interface/**/*
