Repository AbstractSDK/abstract, changes with the labels that .github/labeler.yml gives for each.
All labels: account, native, breaking?, sdk, adapter_base, app_base, build, CI, documentation, interface

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeller Github Action.
"account":
  # Match all of account folders
  - framework/contracts/account/**/*
"native":
  # Match all of native folders
  - framework/contracts/native/**/*
"breaking?":
  # Match all of abstract_std folders
  - framework/packages/abstract_std/**/*
"sdk":
  # Match all of sdk folders
  - framework/packages/abstract-sdk/**/*
"adapter_base":
  # Match all of adapter base folders
  - framework/packages/abstract-adapter/**/*
"app_base":
  # Match all of app base folders
  - framework/packages/abstract-app/**/*
"build":
  - build_release.sh
"CI":
  - .github/**/*.yml
# Add "C:documentation" label to documented related files and directories.
"documentation":
  - README.md
  - framework/contracts/**/*.md
  - framework/contracts/**/*/*.md
  - framework/docs/src/**/*
"interface":
  - framework/packages/abstract-interface/**/*

middleware forward memo builder
  framework/Cargo.toml
  framework/contracts/native/module-factory/Cargo.toml
  framework/docs/src/releases/v0.md
  framework/packages/abstract-sdk/Cargo.toml
  framework/packages/abstract-sdk/src/apis/ibc.rs
Labels: native, sdk, documentation

ibc memo
  framework/docs/src/releases/v0.md
  framework/packages/abstract-sdk/src/apis.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-sdk/src/apis/ibc_memo.rs
  framework/packages/abstract-sdk/src/lib.rs
Labels: sdk, documentation

clippy
  framework/packages/abstract-sdk/src/apis/ibc_memo.rs
Labels: sdk

Chain Abstraction Documentation (#406)
  framework/docs/src/0_introduction.md
  framework/docs/src/10_integrations.md
  framework/docs/src/11_contact.md
  framework/docs/src/1_products/1_cw_orchestrator.md
  framework/docs/src/1_products/4_abstract_js.md
  framework/docs/src/2_introduction/1_design_space.md
  framework/docs/src/3_framework/0_technologies.md
  framework/docs/src/3_framework/2_account_abstraction.md
  framework/docs/src/3_framework/2_chain_abstraction.md
  framework/docs/src/3_framework/5_modules.md
  framework/docs/src/4_get_started/1_index.md
  framework/docs/src/5_platform/4_account_console.md
  framework/docs/src/5_platform/5_module_factory.md
  framework/docs/src/5_platform/8_modules.md
  framework/docs/src/5_platform/index.md
  framework/docs/src/7_use_cases/1_equilibrium.md
  framework/docs/src/7_use_cases/2_4t2.md
  framework/docs/src/7_use_cases/4t2.md
  framework/docs/src/7_use_cases/carrot.md
  framework/docs/src/7_use_cases/equilibrium.md
  framework/docs/src/7_use_cases/index.md
  framework/docs/src/7_use_cases/xion.md
  framework/docs/src/SUMMARY.md
  framework/docs/src/modules/defi-adapters.md
  framework/docs/src/modules/etf.md
  framework/docs/src/modules/index.md
  framework/docs/src/releases/index.md
  framework/docs/src/video_and_content/faq.md
  modules/contracts/adapters/dex/README.md
  modules/contracts/adapters/money-market/README.md
Labels: documentation

Fix incorrect git repository URL
  framework/docs/book.toml
Labels: none

Use assets that supports deposit
  interchain/modules-clone-testing/tests/money_market/mars.rs
Labels: none

Fix incorrect git repository URL (#413)
  framework/docs/book.toml
Labels: none

End checksums.txt with a newline
  modules/artifacts/checksums.txt
Labels: none

Review fixes
  modules/contracts/adapters/dex/Cargo.toml
  modules/contracts/adapters/dex/src/handlers/execute.rs
Labels: none

update status.md
  modules/contracts/adapters/dex/STATUS.md
Labels: none

remove junoswap
  modules/contracts/adapters/dex/Cargo.toml
  modules/contracts/adapters/dex/src/exchanges/junoswap.rs
Labels: none

update status.md
  modules/contracts/adapters/dex/STATUS.md
Labels: none

rename types
  framework/packages/abstract-sdk/src/apis/ibc_memo.rs
Labels: sdk

Move impls and format
  framework/packages/abstract-sdk/src/apis/ibc_memo.rs
  framework/packages/abstract-sdk/src/apis/ibc_memo/hooks.rs
  framework/packages/abstract-sdk/src/apis/ibc_memo/pfm.rs
Labels: sdk

clippy
  framework/packages/standards/dex/src/msg.rs
Labels: none

nit renames
  framework/packages/abstract-interface/src/ibc.rs
  framework/packages/abstract-std/src/objects/account/account_id.rs
Labels: interface

Integrate ica into a standalone contract (#381)
  modules/Cargo.toml
  modules/artifacts/checksums.txt
  modules/artifacts/checksums_intermediate.txt
  modules/artifacts/my_standalone.wasm
  modules/contracts/standalones/ica-owner/Cargo.toml
  modules/contracts/standalones/ica-owner/README.md
  modules/contracts/standalones/ica-owner/resources/cw_ica_controller.wasm
  modules/contracts/standalones/ica-owner/src/bin/publish.rs
  modules/contracts/standalones/ica-owner/src/bin/schema.rs
  modules/contracts/standalones/ica-owner/src/contract.rs
  modules/contracts/standalones/ica-owner/src/error.rs
  modules/contracts/standalones/ica-owner/src/interface.rs
  modules/contracts/standalones/ica-owner/src/lib.rs
  modules/contracts/standalones/ica-owner/src/msg.rs
  modules/contracts/standalones/ica-owner/src/state.rs
  modules/contracts/standalones/ica-owner/starship/Makefile
  modules/contracts/standalones/ica-owner/starship/configs/osmo-juno.yaml
  modules/contracts/standalones/ica-owner/starship/port-forward.sh
  modules/contracts/standalones/ica-owner/tests/starship.rs
Labels: none

Add union testnet deployment
  interchain/scripts/state.json
Labels: none

rename `app:` and `adapter:` function attributes to `module:` for consistency
  framework/packages/abstract-std/src/adapter.rs
  framework/packages/abstract-std/src/app.rs
Labels: none

account action on executor should take `impl IntoIter`
  framework/packages/abstract-sdk/src/apis/execution.rs
  modules/contracts/adapters/cw-staking/src/adapter.rs
  modules/contracts/adapters/dex/src/handlers/execute.rs
  modules/contracts/adapters/money-market/src/handlers/execute.rs
  modules/contracts/adapters/tendermint-staking/src/contract.rs
  modules/contracts/apps/croncat/src/handlers/execute.rs
  modules/contracts/apps/croncat/src/replies/execute.rs
Labels: sdk

add execute_with_funds to executor
  framework/packages/abstract-sdk/src/apis/execution.rs
  framework/packages/abstract-sdk/src/base/features/executor.rs
Labels: sdk

changelog
  framework/docs/src/releases/v0.md
Labels: documentation

rename app and adapter to module in abstract-interface
  framework/packages/abstract-interface/src/account/mod.rs
Labels: interface

install_on_sub_account should be false by default on account builder
  framework/packages/abstract-client/src/account.rs
Labels: none

small abstract-client improvements
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/interchain/remote_account.rs
  framework/packages/abstract-client/tests/integration.rs
Labels: none

Use private grpc in ci
  .github/workflows/interchain-test.yml
Labels: CI

move changelog
  framework/CHANGELOG.md
Labels: none

rm changelog
  framework/CHANGELOG.md
Labels: none

move changelog and add symlink
  framework/CHANGELOG.md
  framework/docs/src/SUMMARY.md
  framework/docs/src/releases/CHANGELOG.md
  framework/docs/src/releases/index.md
Labels: documentation

fix cw-orch bumps
  integrations/Cargo.toml
  integrations/bundles/wyndex/src/lib.rs
  interchain/Cargo.toml
  modules/Cargo.toml
  modules/contracts/adapters/cw-staking/tests/stake.rs
  modules/contracts/adapters/dex/tests/raw.rs
  modules/contracts/adapters/dex/tests/swap.rs
  modules/contracts/apps/etf/tests/integration.rs
Labels: none

put config in cw-orch networks.json
  .github/workflows/interchain-test.yml
Labels: CI

ica owner bump starship
  modules/contracts/standalones/ica-owner/Cargo.toml
Labels: none

clippy
  framework/contracts/native/account-factory/src/response.rs
  framework/contracts/native/module-factory/src/response.rs
Labels: native

clippy
  modules/contracts/apps/etf/src/response.rs
Labels: none

Use private grpc url in ci (#418)
  .github/workflows/interchain-test.yml
  framework/contracts/native/account-factory/src/response.rs
  framework/contracts/native/module-factory/src/response.rs
  integrations/Cargo.toml
  integrations/bundles/wyndex/src/lib.rs
  interchain/Cargo.toml
  modules/Cargo.toml
  modules/contracts/adapters/cw-staking/tests/stake.rs
  modules/contracts/adapters/dex/tests/raw.rs
  modules/contracts/adapters/dex/tests/swap.rs
  modules/contracts/apps/etf/src/response.rs
  modules/contracts/apps/etf/tests/integration.rs
  modules/contracts/standalones/ica-owner/Cargo.toml
Labels: native, CI

Add union testnet deployment (#415)
  interchain/scripts/state.json
Labels: none

Update WASM & Schemas [skip ci]
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking-injective.wasm
  modules/artifacts/abstract_cw_staking-juno.wasm
  modules/artifacts/abstract_cw_staking-kujira.wasm
  modules/artifacts/abstract_cw_staking-neutron.wasm
  modules/artifacts/abstract_cw_staking-osmosis.wasm
  modules/artifacts/abstract_cw_staking-sei.wasm
  modules/artifacts/abstract_cw_staking-terra2.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter-injective.wasm
  modules/artifacts/abstract_dex_adapter-juno.wasm
  modules/artifacts/abstract_dex_adapter-kujira.wasm
  modules/artifacts/abstract_dex_adapter-neutron.wasm
  modules/artifacts/abstract_dex_adapter-osmosis.wasm
  modules/artifacts/abstract_dex_adapter-sei.wasm
  modules/artifacts/abstract_dex_adapter-terra2.wasm
  modules/artifacts/abstract_money_market_adapter-kujira.wasm
  modules/artifacts/abstract_money_market_adapter-osmosis.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/checksums_intermediate.txt
  modules/artifacts/etf_app.wasm
  modules/artifacts/payment_app.wasm
Labels: none

query_module + query_ans_balance
  framework/packages/abstract-client/src/interchain/remote_account.rs
Labels: none

query module_installed, add modules on installed account from retrieved account builder
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/tests/integration.rs
Labels: none

Use assets that supports deposit (#414)
  interchain/modules-clone-testing/tests/money_market/mars.rs
Labels: none
