Repository AbstractSDK/abstract, changes with the labels that .github/labeler.yml gives for each.
All labels: account, native, breaking?, sdk, adapter_base, app_base, build, CI, documentation, interface

update readmes
  framework/contracts/native/ibc-client/README.md
  framework/contracts/native/ica-client/README.md
Labels: native, documentation

Allow developers to register contracts as service contracts (#430)
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/account/manager/src/queries.rs
  framework/contracts/native/ibc-client/src/commands.rs
  framework/contracts/native/ibc-host/src/endpoints/packet.rs
  framework/contracts/native/module-factory/src/commands.rs
  framework/contracts/native/version-control/src/commands.rs
  framework/docs/src/releases/CHANGELOG.md
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/src/error.rs
  framework/packages/abstract-client/src/lib.rs
  framework/packages/abstract-client/src/publisher.rs
  framework/packages/abstract-client/src/service.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-client/tests/mock_service.rs
  framework/packages/abstract-interface/src/deployers.rs
  framework/packages/abstract-interface/src/native/version_control.rs
  framework/packages/abstract-sdk/src/apis/version_registry.rs
  framework/packages/abstract-std/src/native/ibc_client.rs
  framework/packages/abstract-std/src/native/version_control.rs
  framework/packages/abstract-std/src/objects/module.rs
  framework/packages/abstract-std/src/objects/module_reference.rs
  framework/packages/abstract-std/src/objects/version_control.rs
Labels: account, native, sdk, documentation, interface

add contract state setter on mock querier
  framework/packages/abstract-testing/src/abstract_mock_querier.rs
Labels: none

clean up msg definition
  framework/packages/abstract-ica/src/msg.rs
Labels: none

implement querier tests
  framework/contracts/native/ica-client/src/chain_types/evm.rs
  framework/contracts/native/ica-client/src/contract.rs
  framework/contracts/native/ica-client/src/error.rs
  framework/contracts/native/ica-client/src/queries.rs
Labels: native

formatting
  framework/contracts/native/ica-client/src/contract.rs
  framework/contracts/native/ica-client/src/error.rs
  framework/packages/abstract-ica/src/msg.rs
Labels: native

Custom messages
  framework/packages/abstract-app/src/endpoints.rs
  framework/packages/abstract-sdk/src/base/endpoints.rs
  framework/packages/abstract-sdk/src/base/endpoints/execute.rs
  framework/packages/abstract-sdk/src/base/mod.rs
  modules/contracts/apps/etf/src/contract.rs
  modules/contracts/apps/etf/src/handlers/custom.rs
  modules/contracts/apps/etf/src/handlers/mod.rs
  modules/contracts/apps/etf/src/msg.rs
Labels: sdk, app_base

format / clippy
  framework/contracts/account/proxy/src/contract.rs
Labels: account

app macro refactor
  framework/packages/abstract-adapter/src/msgs.rs
  framework/packages/abstract-app/src/interface.rs
  framework/packages/abstract-app/src/msgs.rs
  framework/packages/abstract-app/src/schema.rs
  framework/packages/abstract-sdk/src/base/endpoints/execute.rs
  framework/packages/abstract-sdk/src/mock_module.rs
  framework/packages/abstract-std/src/adapter.rs
  framework/packages/abstract-std/src/app.rs
  framework/packages/standards/dex/src/msg.rs
  framework/packages/standards/money-market/src/msg.rs
  framework/packages/standards/staking/src/msg.rs
  modules/contracts/apps/etf/src/contract.rs
  modules/contracts/apps/etf/src/msg.rs
  modules/contracts/apps/payment/src/contract.rs
  modules/contracts/apps/payment/src/handlers/custom.rs
  modules/contracts/apps/payment/src/handlers/mod.rs
  modules/contracts/apps/payment/src/msg.rs
  modules/contracts/apps/subscription/src/contract.rs
  modules/contracts/apps/subscription/src/handlers/custom.rs
  modules/contracts/apps/subscription/src/handlers/mod.rs
  modules/contracts/apps/subscription/src/msg.rs
Labels: sdk, adapter_base, app_base

update macros for adapter
  framework/packages/abstract-adapter/src/endpoints.rs
  framework/packages/abstract-adapter/src/interface.rs
  framework/packages/abstract-app/src/endpoints.rs
  framework/packages/abstract-app/src/interface.rs
Labels: adapter_base, app_base

changelog docs update
  framework/docs/src/releases/CHANGELOG.md
  framework/packages/abstract-sdk/src/base/endpoints/execute.rs
Labels: sdk, documentation

update interchain ws
  interchain/interchain-tests/src/module_to_module_interactions.rs
Labels: none

update doc
  framework/packages/abstract-sdk/src/base/endpoints/execute.rs
Labels: sdk

TODOs cleanup
  framework/packages/abstract-std/src/adapter.rs
  framework/packages/abstract-std/src/app.rs
  modules/contracts/apps/etf/src/handlers/receive.rs
  modules/contracts/apps/payment/src/handlers/receive.rs
  modules/contracts/apps/subscription/src/handlers/receive.rs
Labels: none

update changelog
  framework/docs/src/releases/CHANGELOG.md
Labels: documentation

Add few tests
  framework/contracts/native/ica-client/src/chain_types/evm.rs
  framework/contracts/native/ica-client/src/queries.rs
  framework/packages/abstract-ica/src/chain_type.rs
Labels: native

fix clippy
  framework/packages/abstract-client/tests/mock_service.rs
Labels: none

Forward stargate feature for abstract modules (#428)
  framework/docs/src/releases/CHANGELOG.md
  framework/packages/abstract-adapter/Cargo.toml
  framework/packages/abstract-app/Cargo.toml
  framework/packages/abstract-standalone/Cargo.toml
Labels: adapter_base, app_base, documentation

fix merge
  framework/packages/abstract-client/src/interchain/remote_account.rs
Labels: none

fix module merge
  modules/contracts/apps/ping-pong/src/handlers/execute.rs
Labels: none

remove holding amount query
  framework/contracts/account/proxy/src/contract.rs
  framework/contracts/account/proxy/src/queries.rs
  framework/packages/abstract-std/src/core/proxy.rs
Labels: account

move ans_balance to the AnsHost API
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/interchain/remote_account.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-interface/src/native/ans_host.rs
Labels: interface

changelog update
  framework/docs/src/releases/CHANGELOG.md
Labels: documentation

update migrate methods
  framework/contracts/account/manager/src/migrate.rs
  framework/contracts/account/proxy/src/contract.rs
Labels: account

update snapshots
  framework/contracts/account/manager/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/manager/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/manager/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/manager/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/manager/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/manager/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/manager/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/manager/tests/snapshots/apps__execute_on_proxy_through_manager.snap
  framework/contracts/account/manager/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/manager/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/manager/tests/snapshots/proxy__exec_through_manager.snap
  framework/contracts/account/manager/tests/snapshots/proxy__instantiate_proxy.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_install_multiple_modules.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_install_standalone_modules.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_with_response_data.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__account_move_ownership_to_falsy_sub_account.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__creating_on_subaccount_should_succeed.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__proxy_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__sub_account_move_ownership.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__updating_on_subaccount_should_succeed.snap
Labels: account

IBC naming consistency (#410)
  framework/contracts/native/ibc-host/src/account_commands.rs
  framework/contracts/native/ibc-host/src/endpoints/execute.rs
  framework/contracts/native/ibc-host/src/endpoints/packet.rs
  framework/docs/src/releases/CHANGELOG.md
  framework/packages/abstract-client/src/interchain/remote_account.rs
  framework/packages/abstract-client/src/interchain/remote_application.rs
  framework/packages/abstract-interface/src/ibc.rs
  framework/packages/abstract-std/src/objects/account/account_id.rs
  interchain/interchain-tests/src/interchain_accounts.rs
  modules/contracts/apps/ping-pong/src/handlers/execute.rs
Labels: native, documentation, interface

ica action tests and fixes
  framework/contracts/account/proxy/src/commands.rs
Labels: account

Add todo comment
  framework/contracts/native/ica-client/src/queries.rs
Labels: native

remove old adapter migration
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/account/manager/src/contract.rs
  framework/contracts/account/manager/tests/adapters.rs
  framework/packages/abstract-adapter/src/lib.rs
  framework/packages/abstract-std/src/core/manager.rs
Labels: account, adapter_base

update changelog
  framework/docs/src/releases/CHANGELOG.md
Labels: documentation

parse state files to fill infrastructures
  framework/Cargo.toml
  framework/packages/abstract-interface/src/daemon_state.rs
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-interface/src/ibc.rs
  framework/packages/abstract-interface/src/lib.rs
  framework/packages/abstract-interface/src/migrate.rs
Labels: interface

validate schema in export_schema_custom
  framework/packages/abstract-adapter/src/schema.rs
  framework/packages/abstract-app/src/schema.rs
  modules/contracts/apps/etf/examples/schema.rs
  modules/contracts/apps/subscription/examples/schema.rs
Labels: adapter_base, app_base

Ensure ica-client references ICA_CLIENT
  framework/contracts/native/ica-client/src/contract.rs
Labels: native

IbcClientResponse to IcaClientResponse
  framework/contracts/native/ica-client/src/contract.rs
Labels: native

Remove migration of old(pre 0.19) adapters on manager (#433)
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/account/manager/src/contract.rs
  framework/contracts/account/manager/tests/adapters.rs
  framework/docs/src/releases/CHANGELOG.md
  framework/packages/abstract-adapter/src/lib.rs
  framework/packages/abstract-std/src/core/manager.rs
Labels: account, adapter_base, documentation

Update WASM & Schemas [skip ci]
  framework/artifacts/abstract_account_factory.wasm
  framework/artifacts/abstract_ans_host.wasm
  framework/artifacts/abstract_ibc_client.wasm
  framework/artifacts/abstract_ibc_host.wasm
  framework/artifacts/abstract_manager.wasm
  framework/artifacts/abstract_module_factory.wasm
  framework/artifacts/abstract_proxy.wasm
  framework/artifacts/abstract_version_control.wasm
  framework/artifacts/checksums.txt
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking-injective.wasm
  modules/artifacts/abstract_cw_staking-juno.wasm
  modules/artifacts/abstract_cw_staking-kujira.wasm
  modules/artifacts/abstract_cw_staking-neutron.wasm
  modules/artifacts/abstract_cw_staking-osmosis.wasm
  modules/artifacts/abstract_cw_staking-sei.wasm
  modules/artifacts/abstract_cw_staking-terra2.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter-injective.wasm
  modules/artifacts/abstract_dex_adapter-juno.wasm
  modules/artifacts/abstract_dex_adapter-kujira.wasm
  modules/artifacts/abstract_dex_adapter-neutron.wasm
  modules/artifacts/abstract_dex_adapter-osmosis.wasm
  modules/artifacts/abstract_dex_adapter-sei.wasm
  modules/artifacts/abstract_dex_adapter-terra2.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter-kujira.wasm
  modules/artifacts/abstract_money_market_adapter-osmosis.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/croncat_app.wasm
  modules/artifacts/dca_app.wasm
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
Labels: none

address comments
  framework/contracts/native/ica-client/src/queries.rs
  framework/packages/abstract-ica/src/action.rs
Labels: native

account factory and manager tests
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/account/manager/src/contract.rs
  framework/contracts/account/manager/src/lib.rs
  framework/contracts/native/account-factory/src/contract.rs
  framework/contracts/native/account-factory/src/lib.rs
  framework/packages/abstract-adapter/src/features.rs
  framework/packages/abstract-adapter/src/lib.rs
  framework/packages/abstract-testing/src/abstract_mock_querier.rs
Labels: account, native, adapter_base

adapter tests
  framework/packages/abstract-adapter/src/endpoints.rs
  framework/packages/abstract-adapter/src/endpoints/execute.rs
  framework/packages/abstract-adapter/src/endpoints/instantiate.rs
  framework/packages/abstract-adapter/src/features.rs
  framework/packages/abstract-testing/src/lib.rs
  framework/packages/abstract-testing/src/mock_querier.rs
Labels: adapter_base

ans host tests
  framework/Cargo.toml
  framework/contracts/native/ans-host/src/commands.rs
  framework/contracts/native/ans-host/src/lib.rs
  framework/contracts/native/ans-host/src/queries.rs
  framework/contracts/native/ans-host/src/tests/common.rs
  framework/contracts/native/ans-host/src/tests/instantiate.rs
  framework/contracts/native/ans-host/src/tests/interact.rs
Labels: native

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeller Github Action.
"account":
  # Match all of account folders
  - framework/contracts/account/**/*
"native":
  # Match all of native folders
  - framework/contracts/native/**/*
"breaking?":
  # Match all of abstract_std folders
  - framework/packages/abstract_std/**/*
"sdk":
  # Match all of sdk folders
  - framework/packages/abstract-sdk/**/*
"adapter_base":
  # Match all of adapter base folders
  - framework/packages/abstract-adapter/**/*
"app_base":
  # Match all of app base folders
  - framework/packages/abstract-app/**/*
"build":
  - build_release.sh
"CI":
  - .github/**/*.yml
# Add "C:documentation" label to documented related files and directories.
"documentation":
  - README.md
  - framework/contracts/**/*.md
  - framework/contracts/**/*/*.md
  - framework/docs/src/**/*
"interface":
  - framework/packages/abstract-interface/**/*
