Repository AbstractSDK/abstract, changes with the labels that .github/labeler.yml gives for each.
All labels: account, native, breaking?, sdk, adapter_base, app_base, build, CI, documentation, interface

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeller Github Action.
"account":
  # Match all of account folders
  - framework/contracts/account/**/*
"native":
  # Match all of native folders
  - framework/contracts/native/**/*
"breaking?":
  # Match all of abstract_std folders
  - framework/packages/abstract_std/**/*
"sdk":
  # Match all of sdk folders
  - framework/packages/abstract-sdk/**/*
"adapter_base":
  # Match all of adapter base folders
  - framework/packages/abstract-adapter/**/*
"app_base":
  # Match all of app base folders
  - framework/packages/abstract-app/**/*
"build":
  - build_release.sh
"CI":
  - .github/**/*.yml
# Add "C:documentation" label to documented related files and directories.
"documentation":
  - README.md
  - framework/contracts/**/*.md
  - framework/contracts/**/*/*.md
  - framework/docs/src/**/*
"interface":
  - framework/packages/abstract-interface/**/*

fix other networks.json use
  .github/workflows/interchain-test.yml
Labels: CI

remove thread limit on test runner
  .github/workflows/interchain-test.yml
Labels: CI

add module artifacts
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking-injective.wasm
  modules/artifacts/abstract_cw_staking-juno.wasm
  modules/artifacts/abstract_cw_staking-kujira.wasm
  modules/artifacts/abstract_cw_staking-neutron.wasm
  modules/artifacts/abstract_cw_staking-osmosis.wasm
  modules/artifacts/abstract_cw_staking-sei.wasm
  modules/artifacts/abstract_cw_staking-terra2.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter-injective.wasm
  modules/artifacts/abstract_dex_adapter-juno.wasm
  modules/artifacts/abstract_dex_adapter-kujira.wasm
  modules/artifacts/abstract_dex_adapter-neutron.wasm
  modules/artifacts/abstract_dex_adapter-osmosis.wasm
  modules/artifacts/abstract_dex_adapter-sei.wasm
  modules/artifacts/abstract_dex_adapter-terra2.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter-kujira.wasm
  modules/artifacts/abstract_money_market_adapter-osmosis.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/croncat_app.wasm
  modules/artifacts/dca_app.wasm
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
Labels: none

add caching to interchain tests
  .github/workflows/interchain-test.yml
Labels: CI

remove `deploy_or_migrate_if_version_changed`
  framework/packages/abstract-interface/src/migrate.rs
Labels: interface

small framework upgrades
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/account/proxy/Cargo.toml
  framework/contracts/account/proxy/src/commands.rs
  framework/contracts/native/ica-client/Cargo.toml
  framework/packages/abstract-sdk/Cargo.toml
  framework/packages/standards/dex/src/msg.rs
Labels: account, native, sdk

move register_infrastructure implementation to `Daemon` env
  framework/packages/abstract-interface/src/ibc.rs
Labels: interface

formatting [skip ci]
  framework/contracts/account/merged/src/contract.rs
  framework/packages/abstract-std/src/core/merged.rs
  framework/packages/abstract-std/src/core/mod.rs
Labels: account

fix import
  framework/contracts/native/ica-client/Cargo.toml
Labels: native

formatting [skip ci]
  framework/packages/abstract-std/src/core/merged.rs
Labels: none

formatting [skip ci]
  framework/packages/abstract-std/src/core/mod.rs
Labels: none

move message variants
  framework/packages/abstract-std/src/core/account.rs
  framework/packages/abstract-std/src/core/merged.rs
  framework/packages/abstract-std/src/core/mod.rs
Labels: none

formatting [skip ci]
  framework/contracts/account/account/src/contract.rs
  framework/contracts/account/account/src/error.rs
Labels: account

continue merge
  framework/contracts/account/account/src/contract.rs
  framework/packages/abstract-std/src/core/account.rs
Labels: account

fix err
  framework/contracts/account/account/src/contract.rs
Labels: account

merge progress
  framework/contracts/account/account/src/contract.rs
  framework/contracts/account/account/src/error.rs
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/account/proxy/src/lib.rs
  framework/packages/abstract-std/src/core/account.rs
  framework/packages/abstract-std/src/registry.rs
Labels: account

formatting [skip ci]
  framework/packages/abstract-std/src/core/account.rs
Labels: none

update merge
  framework/Cargo.lock
  framework/contracts/account/account/Cargo.toml
  framework/contracts/account/account/src/contract.rs
  framework/contracts/account/manager/src/lib.rs
  framework/contracts/account/proxy/src/lib.rs
  framework/packages/abstract-std/Cargo.toml
  framework/packages/abstract-std/src/core/account.rs
Labels: account

formatting [skip ci]
  framework/contracts/account/account/src/contract.rs
  framework/packages/abstract-std/src/core/account.rs
Labels: account

update lockfile
  framework/Cargo.lock
  framework/packages/abstract-client/Cargo.toml
Labels: none

put abstract-ica back
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/account/proxy/Cargo.toml
  framework/contracts/account/proxy/src/commands.rs
  framework/contracts/native/ans-host/src/commands.rs
  framework/contracts/native/ica-client/src/queries.rs
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-sdk/src/ans_resolve.rs
  framework/packages/abstract-testing/src/mock_querier.rs
Labels: account, native, sdk

allow deprecated submsg data
  framework/contracts/account/proxy/src/reply.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/contracts/native/ibc-host/src/endpoints/reply.rs
  framework/packages/abstract-adapter/src/endpoints/reply.rs
  framework/packages/abstract-adapter/src/lib.rs
  framework/packages/abstract-adapter/src/state.rs
  framework/packages/abstract-app/examples/counter.rs
  framework/packages/abstract-app/src/lib.rs
  framework/packages/abstract-app/src/state.rs
  framework/packages/abstract-testing/src/mock_querier.rs
Labels: account, native, adapter_base, app_base

fix migrate_if_version_changed
  framework/packages/abstract-interface/src/migrate.rs
Labels: interface

Rename `AccountBase` to `Account`
  framework/contracts/account/account/src/contract.rs
  framework/contracts/native/account-factory/src/commands.rs
  framework/contracts/native/account-factory/tests/create_account.rs
  framework/contracts/native/ibc-client/src/commands.rs
  framework/contracts/native/ibc-host/src/account_commands.rs
  framework/contracts/native/version-control/src/commands.rs
  framework/contracts/native/version-control/src/queries.rs
  framework/packages/abstract-adapter/src/endpoints/execute.rs
  framework/packages/abstract-adapter/src/features.rs
  framework/packages/abstract-adapter/src/state.rs
  framework/packages/abstract-integration-tests/src/account_factory.rs
  framework/packages/abstract-interface/src/native/version_control.rs
  framework/packages/abstract-sdk/src/apis/verify.rs
  framework/packages/abstract-sdk/src/base/features/identification.rs
  framework/packages/abstract-sdk/src/feature_objects.rs
  framework/packages/abstract-std/src/app.rs
  framework/packages/abstract-std/src/core/account.rs
  framework/packages/abstract-std/src/native/account_factory.rs
  framework/packages/abstract-std/src/native/module_factory.rs
  framework/packages/abstract-std/src/native/version_control.rs
  framework/packages/abstract-std/src/objects/version_control.rs
  framework/packages/abstract-testing/src/abstract_mock_querier.rs
  framework/packages/abstract-testing/src/lib.rs
Labels: account, native, sdk, adapter_base, interface

formatting [skip ci]
  framework/contracts/account/account/src/contract.rs
  framework/contracts/native/version-control/src/commands.rs
  framework/packages/abstract-sdk/src/base/features/identification.rs
Labels: account, native, sdk

apply suggestions
  framework/packages/abstract-sdk/src/apis/ibc_memo.rs
  framework/packages/abstract-sdk/src/apis/ibc_memo/hooks.rs
  framework/packages/abstract-sdk/src/apis/ibc_memo/pfm.rs
Labels: sdk

update names
  framework/docs/src/releases/CHANGELOG.md
  framework/packages/abstract-sdk/src/apis/ibc_memo.rs
  framework/packages/abstract-sdk/src/apis/ibc_memo/hooks.rs
  framework/packages/abstract-sdk/src/apis/ibc_memo/pfm.rs
  interchain/interchain-tests/src/bin/ibc_hook.rs
  interchain/interchain-tests/src/bin/pfm.rs
Labels: sdk, documentation

update tests
  interchain/Cargo.toml
  interchain/interchain-tests/Cargo.toml
  interchain/interchain-tests/src/bin/ibc_hook.rs
  interchain/interchain-tests/src/bin/pfm.rs
Labels: none

update evm-polytone version
  framework/Cargo.lock
  framework/contracts/native/ica-client/Cargo.toml
  framework/packages/abstract-ica/Cargo.toml
  framework/workspace-hack/Cargo.toml
Labels: native

remove useless objects from abstract-std
  framework/packages/abstract-std/src/objects/deposit_manager.rs
  framework/packages/abstract-std/src/objects/mod.rs
  framework/packages/abstract-std/src/objects/paged_map.rs
Labels: none

update changelog
  framework/docs/src/releases/CHANGELOG.md
Labels: documentation

lock update
  framework/Cargo.lock
Labels: none

renames
  framework/Cargo.lock
  framework/contracts/native/ibc-client/src/commands.rs
  framework/contracts/native/ibc-host/src/account_commands.rs
  framework/contracts/native/module-factory/src/commands.rs
  framework/packages/abstract-sdk/src/apis/verify.rs
  framework/packages/abstract-std/src/native/ibc_client.rs
  framework/packages/abstract-std/src/native/version_control.rs
  framework/packages/abstract-std/src/objects/gov_type.rs
  framework/packages/abstract-std/src/objects/ownership/gov_ownable.rs
  framework/packages/abstract-std/src/objects/ownership/nested_admin.rs
  framework/packages/abstract-std/src/objects/version_control.rs
  framework/packages/abstract-testing/src/abstract_mock_querier.rs
  framework/packages/abstract-testing/src/lib.rs
  framework/packages/abstract-testing/src/mock_querier.rs
Labels: native, sdk

formatting [skip ci]
  framework/contracts/native/ibc-client/src/commands.rs
  framework/packages/abstract-std/src/objects/gov_type.rs
  framework/packages/abstract-std/src/objects/ownership/gov_ownable.rs
  framework/packages/abstract-std/src/objects/version_control.rs
Labels: native

remove proxy / manager getters
  framework/packages/abstract-sdk/src/apis/verify.rs
Labels: sdk

Advance Account change
  framework/contracts/account/account/src/contract.rs
  framework/contracts/account/account/tests/apps.rs
  framework/contracts/account/account/tests/proxy.rs
  framework/contracts/account/account/tests/subaccount.rs
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/account/manager/src/contract.rs
  framework/contracts/account/manager/src/migrate.rs
  framework/contracts/account/manager/src/validation.rs
  framework/contracts/account/manager/tests/apps.rs
  framework/contracts/account/manager/tests/proxy.rs
  framework/contracts/account/manager/tests/subaccount.rs
  framework/contracts/account/proxy/src/contract.rs
  framework/contracts/native/account-factory/src/commands.rs
  framework/contracts/native/ibc-host/src/account_commands.rs
  framework/contracts/native/ibc-host/tests/integration.rs
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/src/interchain/remote_account.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-integration-tests/src/manager.rs
  framework/packages/abstract-interface/src/account/manager.rs
  framework/packages/abstract-interface/src/account/mod.rs
  framework/packages/abstract-interface/src/account/proxy.rs
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-interface/src/migrate.rs
  framework/packages/abstract-sdk/src/apis/adapter.rs
  framework/packages/abstract-sdk/src/apis/bank.rs
  framework/packages/abstract-sdk/src/apis/execution.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-sdk/src/apis/modules.rs
  framework/packages/abstract-sdk/src/base/features/executor.rs
  framework/packages/abstract-sdk/src/base/features/identification.rs
  framework/packages/abstract-sdk/src/feature_objects.rs
  framework/packages/abstract-sdk/src/mock_module.rs
  framework/packages/abstract-std/src/registry.rs
Labels: account, native, sdk, interface

formatting [skip ci]
  framework/contracts/account/account/tests/ibc-client.rs
  framework/contracts/account/account/tests/install_modules.rs
  framework/contracts/account/account/tests/upgrades.rs
  framework/contracts/account/manager/src/contract.rs
  framework/contracts/account/manager/tests/ibc-client.rs
  framework/contracts/account/manager/tests/install_modules.rs
  framework/contracts/account/manager/tests/upgrades.rs
  framework/contracts/native/account-factory/src/commands.rs
  framework/contracts/native/ibc-client/src/commands.rs
  framework/contracts/native/ibc-host/src/account_commands.rs
  framework/contracts/native/ibc-host/src/endpoints/packet.rs
  framework/contracts/native/ibc-host/tests/integration.rs
  framework/contracts/native/module-factory/tests/install_native_modules.rs
  framework/contracts/native/version-control/src/commands.rs
  framework/packages/abstract-adapter/src/endpoints/execute.rs
  framework/packages/abstract-app/src/endpoints/instantiate.rs
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/interchain/remote_account.rs
  framework/packages/abstract-integration-tests/src/manager.rs
  framework/packages/abstract-interface/src/account/manager.rs
  framework/packages/abstract-interface/src/account/mod.rs
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-interface/src/interfaces.rs
  framework/packages/abstract-interface/src/migrate.rs
  framework/packages/abstract-sdk/src/apis/bank.rs
  framework/packages/abstract-sdk/src/feature_objects.rs
  framework/packages/abstract-sdk/src/mock_module.rs
  framework/packages/abstract-std/src/core/account.rs
  framework/packages/abstract-std/src/native/ibc_host.rs
Labels: account, native, sdk, adapter_base, app_base, interface

make things compile
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/account/account/Cargo.toml
  framework/contracts/account/manager/Cargo.toml
  framework/contracts/native/account-factory/Cargo.toml
  framework/contracts/native/module-factory/Cargo.toml
  framework/packages/abstract-app/Cargo.toml
  framework/packages/abstract-app/src/lib.rs
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/infrastructure.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-standalone/Cargo.toml
  framework/packages/abstract-standalone/src/endpoints/instantiate.rs
  framework/packages/abstract-standalone/src/features.rs
  framework/packages/abstract-std/src/core/account.rs
  framework/packages/abstract-std/src/core/manager.rs
  framework/packages/abstract-std/src/core/proxy.rs
  framework/packages/abstract-std/src/standalone.rs
  framework/packages/ignored-abstract-integration-tests/Cargo.toml
  framework/packages/ignored-abstract-integration-tests/README.md
  framework/packages/ignored-abstract-integration-tests/src/account_factory.rs
  framework/packages/ignored-abstract-integration-tests/src/lib.rs
  framework/packages/ignored-abstract-integration-tests/src/manager.rs
  framework/packages/ignored-abstract-integration-tests/src/mock_modules.rs
Labels: account, native, app_base

formatting [skip ci]
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-std/src/core/account.rs
  framework/packages/abstract-std/src/standalone.rs
Labels: none

Register polytone connection on ibc infrastructure (#427)
  framework/Cargo.toml
  framework/packages/abstract-ica/Cargo.toml
  framework/packages/abstract-interface/src/daemon_state.rs
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-interface/src/ibc.rs
  framework/packages/abstract-interface/src/lib.rs
  framework/packages/abstract-interface/src/migrate.rs
  interchain/scripts/src/bin/deploy-ibc.rs
  modules/contracts/apps/calendar/examples/test-local.rs
Labels: interface
