Repository AbstractSDK/abstract, changes with the labels that .github/labeler.yml gives for each.
All labels: account, native, breaking?, sdk, adapter_base, app_base, build, CI, documentation, interface

Hakari
  framework/Cargo.lock
  framework/workspace-hack/Cargo.toml
Labels: none

verifier errors
  framework/packages/abstract-std/src/objects/validation/error.rs
  framework/packages/abstract-std/src/objects/validation/verifiers.rs
Labels: none

Changes
  framework/contracts/account/src/migrate.rs
Labels: account

Code nits
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/migrate.rs
Labels: account

Better Gov docs
  framework/docs/src/3_framework/4_ownership.md
  framework/packages/abstract-std/src/objects/gov_type.rs
Labels: documentation

Clippy
  framework/contracts/account/src/migrate.rs
Labels: account

Migration function easier to read
  framework/contracts/account/src/migrate.rs
Labels: account

Tests upload the dex adapter now
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-interface/src/error.rs
  interchain/modules-clone-testing/tests/dex/astrovault.rs
Labels: interface

Some more corrections and remove deps
  .github/workflows/framework-check.yml
  framework/Cargo.lock
  framework/contracts/account/Cargo.toml
  framework/contracts/native/ans-host/Cargo.toml
  framework/contracts/native/ibc-client/Cargo.toml
  framework/contracts/native/ibc-host/Cargo.toml
  framework/contracts/native/ica-client/Cargo.toml
  framework/contracts/native/module-factory/Cargo.toml
  framework/contracts/native/registry/Cargo.toml
  framework/packages/abstract-adapter/Cargo.toml
  framework/packages/abstract-app/Cargo.toml
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-ica/Cargo.toml
  framework/packages/abstract-integration-tests/Cargo.toml
  framework/packages/abstract-macros/Cargo.toml
  framework/packages/abstract-sdk/Cargo.toml
  framework/packages/abstract-standalone/Cargo.toml
  framework/packages/abstract-std/Cargo.toml
  framework/packages/abstract-testing/Cargo.toml
  framework/packages/standards/dex/Cargo.toml
  framework/packages/standards/money-market/Cargo.toml
  framework/packages/standards/staking/Cargo.toml
  framework/workspace-hack/Cargo.toml
Labels: account, native, sdk, adapter_base, app_base, CI

Modified workflows
  .github/workflows/framework-check.yml
  .github/workflows/modules-check.yml
Labels: CI

Corrections
  .github/workflows/framework-check.yml
  framework/contracts/native/ibc-host/Cargo.toml
  framework/contracts/native/ica-client/Cargo.toml
  framework/contracts/native/module-factory/Cargo.toml
  framework/contracts/native/registry/Cargo.toml
  framework/workspace-hack/Cargo.toml
  modules/contracts/adapters/cw-staking/Cargo.toml
  modules/contracts/adapters/dex/Cargo.toml
  modules/contracts/adapters/money-market/Cargo.toml
  modules/contracts/apps/calendar/Cargo.toml
  modules/contracts/apps/challenge/Cargo.toml
  modules/contracts/apps/payment/Cargo.toml
  modules/contracts/apps/ping-pong/Cargo.toml
  modules/contracts/apps/subscription/Cargo.toml
  modules/contracts/standalones/ica-owner/Cargo.toml
Labels: native, CI

Another fix
  .github/workflows/framework-check.yml
  .github/workflows/modules-check.yml
  framework/workspace-hack/Cargo.toml
Labels: CI

Update module action
  .github/workflows/modules-check.yml
Labels: CI

Framework machete
  .github/workflows/framework-check.yml
Labels: CI

machete test
  .github/workflows/framework-check.yml
Labels: CI

Same syntax with modules ?
  .github/workflows/framework-check.yml
Labels: CI

Nochmal
  .github/workflows/framework-check.yml
  .github/workflows/modules-check.yml
Labels: CI

Trace length back to 6
  framework/packages/abstract-std/src/objects/account/account_trace.rs
Labels: none

Framework
  .github/workflows/framework-check.yml
  .github/workflows/framework-test.yml
Labels: CI

Modules ci
  .github/workflows/modules-check.yml
Labels: CI

Fix other tests
  interchain/modules-clone-testing/tests/dex/astrovault.rs
Labels: none

Lint
  interchain/modules-clone-testing/tests/dex/astrovault.rs
  interchain/scripts/src/bin/deploy_modules.rs
  interchain/scripts/src/bin/proposal_template.rs
Labels: none

Update framework/packages/abstract-std/src/objects/ownership/gov_ownable.rs
  framework/packages/abstract-std/src/objects/ownership/gov_ownable.rs
Labels: none

Lint
  interchain/scripts/src/bin/full_deploy.rs
  interchain/scripts/src/bin/migrate.rs
Labels: none

Added self admin test
  framework/contracts/account/src/execution.rs
Labels: account

Test
  framework/contracts/account/src/execution.rs
Labels: account

Test
  framework/contracts/account/tests/apps.rs
  framework/packages/abstract-testing/src/lib.rs
Labels: account

Clippy and test fix
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-client/src/builder.rs
  integrations/taplo.toml
  interchain/modules-clone-testing/Cargo.toml
  interchain/modules-clone-testing/src/common.rs
  interchain/modules-clone-testing/tests/dex/astrovault.rs
  interchain/taplo.toml
  modules/taplo.toml
  taplo.toml
Labels: none

Fix features on client
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-client/src/builder.rs
Labels: none

Some clippy fixes
  framework/packages/abstract-client/src/builder.rs
  framework/packages/abstract-std/src/native/ibc.rs
  framework/packages/abstract-std/src/objects/account/account_id.rs
  framework/packages/abstract-std/src/objects/account/account_trace.rs
  framework/packages/abstract-std/src/objects/entry/asset_entry.rs
  framework/packages/abstract-std/src/objects/entry/channel_entry.rs
  framework/packages/abstract-std/src/objects/entry/contract_entry.rs
  framework/packages/abstract-std/src/objects/module.rs
  framework/packages/abstract-std/src/objects/namespace.rs
  framework/packages/abstract-std/src/objects/pool/unique_pool_id.rs
  framework/packages/abstract-std/src/objects/truncated_chain_id.rs
  interchain/framework-clone-testing/Cargo.toml
Labels: none

Clippy
  framework/contracts/native/registry/src/migrate.rs
  framework/packages/abstract-adapter/src/msgs.rs
  framework/packages/abstract-app/src/msgs.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-sdk/README.md
  framework/packages/abstract-sdk/src/apis/adapter.rs
  framework/packages/abstract-sdk/src/apis/app.rs
  framework/packages/abstract-sdk/src/apis/bank.rs
  framework/packages/abstract-sdk/src/apis/execution.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-sdk/src/apis/modules.rs
  framework/packages/abstract-sdk/src/apis/splitter.rs
  framework/packages/abstract-sdk/src/apis/verify.rs
  framework/packages/abstract-sdk/src/apis/version_registry.rs
  framework/packages/abstract-sdk/src/base/features/abstract_name_service.rs
  framework/packages/abstract-std/src/objects/account/account_id.rs
  framework/packages/abstract-std/src/objects/account/account_trace.rs
  framework/packages/abstract-std/src/objects/entry/asset_entry.rs
  framework/packages/abstract-std/src/objects/entry/channel_entry.rs
  framework/packages/abstract-std/src/objects/entry/contract_entry.rs
  framework/packages/abstract-std/src/objects/entry/dex_asset_pairing.rs
  framework/packages/abstract-std/src/objects/module.rs
  framework/packages/abstract-std/src/objects/namespace.rs
  framework/packages/abstract-std/src/objects/pool/unique_pool_id.rs
  framework/packages/abstract-std/src/objects/truncated_chain_id.rs
  framework/packages/abstract-std/src/objects/voting.rs
Labels: native, sdk, adapter_base, app_base

Added cw2 adapters updated
  integrations/Cargo.toml
  integrations/astrovault-adapter/Cargo.toml
  integrations/kujira-adapter/Cargo.toml
  integrations/kujira-adapter/src/lib.rs
  integrations/kujira-adapter/src/money_market.rs
  integrations/osmosis-adapter/src/dex.rs
  integrations/osmosis-adapter/src/staking.rs
  integrations/wyndex-adapter/Cargo.toml
  integrations/wyndex-adapter/src/lib.rs
  integrations/wyndex-adapter/src/staking.rs
  modules/contracts/adapters/cw-staking/Cargo.toml
  modules/contracts/adapters/dex/Cargo.toml
  modules/contracts/adapters/dex/src/api.rs
  modules/contracts/adapters/money-market/Cargo.toml
  modules/contracts/adapters/money-market/src/api.rs
  modules/contracts/adapters/money-market/src/platform_resolver.rs
Labels: none

Reactivation of adapters
  integrations/Cargo.toml
  integrations/bundles/mockdex/Cargo.toml
  integrations/bundles/mockdex/src/lib.rs
  integrations/bundles/mockdex/src/suite.rs
  integrations/bundles/mockdex/tests/abstract.rs
  integrations/bundles/mockdex/tests/staking.rs
  integrations/bundles/mockdex/tests/swap.rs
  interchain/framework-clone-testing/tests/upgrade-account.rs
  interchain/modules-clone-testing/Cargo.toml
  interchain/scripts/src/bin/manual_deploy.rs
  modules/Cargo.toml
  modules/contracts/adapters/cw-staking/Cargo.toml
  modules/contracts/adapters/cw-staking/src/resolver.rs
  modules/contracts/adapters/cw-staking/tests/common/mod.rs
  modules/contracts/adapters/cw-staking/tests/osmosis_stake.rs
  modules/contracts/adapters/cw-staking/tests/stake.rs
  modules/contracts/adapters/dex/Cargo.toml
  modules/contracts/adapters/dex/src/exchanges/exchange_resolver.rs
  modules/contracts/adapters/dex/tests/common/mod.rs
  modules/contracts/adapters/dex/tests/osmosis.rs
  modules/contracts/adapters/dex/tests/raw.rs
  modules/contracts/adapters/dex/tests/swap.rs
  modules/contracts/adapters/money-market/Cargo.toml
  modules/contracts/apps/payment/Cargo.toml
  modules/contracts/apps/payment/tests/integration.rs
  modules/contracts/standalones/ica-owner/Cargo.toml
  modules/contracts/standalones/ica-owner/src/bin/publish.rs
Labels: none

Clippy
  framework/packages/abstract-sdk/src/apis/authz.rs
  framework/packages/abstract-sdk/src/apis/feegrant.rs
Labels: sdk

Remove unused dep
  modules/contracts/adapters/cw-staking/Cargo.toml
Labels: none

Started adding neutron dex adapter
  integrations/Cargo.toml
  integrations/neutron-dex-adapter/Cargo.toml
  integrations/neutron-dex-adapter/src/dex.rs
  integrations/neutron-dex-adapter/src/lib.rs
  modules/Cargo.toml
  modules/contracts/adapters/dex/Cargo.toml
  modules/contracts/adapters/dex/src/exchanges/exchange_resolver.rs
  modules/contracts/adapters/dex/tests/neutron.rs
  modules/contracts/adapters/dex/tests/swap.rs
Labels: none

Updated to cosmwasm 2.0, dex adapter on neutron
  framework/Cargo.toml
  framework/artifacts/abstract_account-xion.wasm
  framework/artifacts/abstract_account.wasm
  framework/artifacts/abstract_ans_host.wasm
  framework/artifacts/abstract_ibc_client.wasm
  framework/artifacts/abstract_ibc_host.wasm
  framework/artifacts/abstract_ica_client.wasm
  framework/artifacts/abstract_module_factory.wasm
  framework/artifacts/abstract_registry.wasm
  framework/artifacts/checksums.txt
  framework/packages/standards/dex/src/error.rs
  integrations/kujira-adapter/src/money_market.rs
  interchain/scripts/state.json
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking-osmosis.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter-osmosis.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
  modules/contracts/adapters/dex/Cargo.toml
  modules/contracts/adapters/dex/src/exchanges/exchange_resolver.rs
  modules/contracts/adapters/dex/tests/neutron.rs
  modules/contracts/adapters/dex/tests/raw.rs
  modules/contracts/adapters/dex/tests/swap.rs
Labels: none

Neutron and osmosis tests
  interchain/scripts/state.json
  modules/contracts/adapters/dex/Cargo.toml
  modules/contracts/adapters/dex/examples/neutron_testnet.rs
  modules/contracts/adapters/dex/examples/osmosis_testnet.rs
  modules/contracts/adapters/dex/tests/neutron.rs
Labels: none

Added local for testing on dex adapter
  modules/contracts/adapters/dex/Cargo.toml
Labels: none

Added payment app + corrected local chain
  integrations/neutron-dex-adapter/src/lib.rs
  interchain/scripts/state.json
Labels: none

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeller Github Action.
"account":
  # Match all of account folders
  - framework/contracts/account/**/*
"native":
  # Match all of native folders
  - framework/contracts/native/**/*
"breaking?":
  # Match all of abstract_std folders
  - framework/packages/abstract_std/**/*
"sdk":
  # Match all of sdk folders
  - framework/packages/abstract-sdk/**/*
"adapter_base":
  # Match all of adapter base folders
  - framework/packages/abstract-adapter/**/*
"app_base":
  # Match all of app base folders
  - framework/packages/abstract-app/**/*
"build":
  - build_release.sh
"CI":
  - .github/**/*.yml
# Add "C:documentation" label to documented related files and directories.
"documentation":
  - README.md
  - framework/contracts/**/*.md
  - framework/contracts/**/*/*.md
  - framework/docs/src/**/*
"interface":
  - framework/packages/abstract-interface/**/*
