Repository AbstractSDK/abstract, changes with the labels that .github/labeler.yml gives for each.
All labels: account, native, breaking?, sdk, adapter_base, app_base, build, CI, documentation, interface

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeller Github Action.
"account":
  # Match all of account folders
  - framework/contracts/account/**/*
"native":
  # Match all of native folders
  - framework/contracts/native/**/*
"breaking?":
  # Match all of abstract_std folders
  - framework/packages/abstract_std/**/*
"sdk":
  # Match all of sdk folders
  - framework/packages/abstract-sdk/**/*
"adapter_base":
  # Match all of adapter base folders
  - framework/packages/abstract-adapter/**/*
"app_base":
  # Match all of app base folders
  - framework/packages/abstract-app/**/*
"build":
  - build_release.sh
"CI":
  - .github/**/*.yml
# Add "C:documentation" label to documented related files and directories.
"documentation":
  - README.md
  - framework/contracts/**/*.md
  - framework/contracts/**/*/*.md
  - framework/docs/src/**/*
"interface":
  - framework/packages/abstract-interface/**/*

Update v0.24.1 beta.1 (#498)
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/account/Cargo.toml
  framework/contracts/native/ica-client/Cargo.toml
  framework/packages/abstract-adapter/Cargo.toml
  framework/packages/abstract-app/Cargo.toml
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-standalone/Cargo.toml
  framework/packages/standards/dex/Cargo.toml
  framework/packages/standards/money-market/Cargo.toml
  framework/packages/standards/staking/Cargo.toml
  framework/publish/publish.sh
  integrations/Cargo.toml
  integrations/osmosis-adapter/Cargo.toml
  interchain/Cargo.toml
  interchain/interchain-end_to_end_testing/Cargo.toml
  interchain/interchain-end_to_end_testing/src/bin/setup_funds.rs
  interchain/interchain-end_to_end_testing/src/lib.rs
  modules/Cargo.toml
  modules/contracts/apps/ping-pong/Cargo.toml
  modules/contracts/apps/ping-pong/tests/ping_pong_tests.rs
Labels: account, native, adapter_base, app_base, interface

postmerge fixes
  framework/contracts/account/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/tests/snapshots/apps__execute_on_account.snap
  framework/contracts/account/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_multiple_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_standalone_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_with_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__exec_on_account.snap
  framework/contracts/account/tests/snapshots/proxy__instantiate_account.snap
  framework/contracts/account/tests/snapshots/subaccount__account_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__creating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account.snap
  framework/contracts/account/tests/snapshots/subaccount__updating_on_subaccount_should_succeed.snap
  framework/packages/abstract-client/src/publisher.rs
  framework/packages/abstract-interface/src/daemon_state.rs
  framework/packages/abstract-interface/src/deployers.rs
  framework/packages/abstract-interface/src/deployment.rs
Labels: account, interface

Update changelog
  framework/docs/src/releases/CHANGELOG.md
Labels: documentation

Fixes and state
  framework/Cargo.lock
  framework/Cargo.toml
  framework/packages/abstract-interface/src/deployment.rs
  interchain/interchain-tests/Cargo.toml
  interchain/scripts/state.json
Labels: interface

remove speculoos from account
  framework/contracts/account/Cargo.toml
  framework/contracts/account/src/config.rs
  framework/contracts/account/src/execution.rs
  framework/contracts/account/src/lib.rs
  framework/contracts/account/src/migrate.rs
  framework/contracts/account/src/modules.rs
  framework/contracts/account/src/versioning.rs
  framework/contracts/account/tests/adapters.rs
  framework/contracts/account/tests/apps.rs
  framework/contracts/account/tests/create.rs
  framework/contracts/account/tests/ibc-client.rs
  framework/contracts/account/tests/proxy.rs
  framework/contracts/account/tests/upgrades.rs
Labels: account

Added account proposal
  framework/Cargo.lock
  framework/artifacts/abstract_ans_host.wasm
  framework/artifacts/abstract_ibc_client.wasm
  framework/artifacts/abstract_ibc_host.wasm
  framework/artifacts/abstract_ica_client.wasm
  framework/artifacts/abstract_module_factory.wasm
  framework/artifacts/checksums.txt
  interchain/interchain-end_to_end_testing/Cargo.toml
  interchain/interchain-end_to_end_testing/src/bin/dump_account_wasm.rs
  interchain/scripts/proposals/upload-account-v0.24.1-beta.1.json
  scripts/wasm-framework.sh
Labels: none

Use proper cosmwasm MsgStoreCode typeURL
  interchain/scripts/proposals/upload-account-v0.24.1-beta.1.json
Labels: none

Account upload signer -> sender
  interchain/scripts/proposals/upload-account-v0.24.1-beta.1.json
Labels: none

Account doesn't have unused variants
  framework/contracts/account/src/error.rs
Labels: account

formatting [skip ci]
  framework/contracts/account/src/error.rs
Labels: account

Ans errors
  framework/contracts/native/ans-host/src/error.rs
Labels: native

formatting [skip ci]
  framework/contracts/native/ibc-client/src/error.rs
Labels: native

Ibc Client
  framework/contracts/native/ibc-client/src/error.rs
Labels: native

Ibc Host
  framework/contracts/native/ibc-host/src/error.rs
Labels: native

natives progress
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/native/ans-host/Cargo.toml
  framework/contracts/native/ans-host/src/commands.rs
  framework/contracts/native/ans-host/src/contract.rs
  framework/contracts/native/ans-host/src/queries.rs
  framework/contracts/native/ans-host/src/tests/instantiate.rs
  framework/contracts/native/ibc-client/Cargo.toml
  framework/contracts/native/ibc-client/src/contract.rs
  framework/contracts/native/ica-client/Cargo.toml
  framework/contracts/native/ica-client/src/contract.rs
  framework/contracts/native/ica-client/src/queries.rs
  framework/contracts/native/module-factory/Cargo.toml
  framework/contracts/native/module-factory/src/commands.rs
  framework/contracts/native/module-factory/src/contract.rs
  framework/contracts/native/module-factory/tests/direct_calls.rs
  framework/contracts/native/registry/Cargo.toml
  framework/contracts/native/registry/src/commands.rs
  framework/contracts/native/registry/src/contract.rs
  framework/contracts/native/registry/src/queries.rs
  framework/contracts/native/registry/tests/direct_calls.rs
Labels: native

New Abstract Account Code Id proposal
  interchain/scripts/proposals/add-abstr-account-v0.24.1-beta.1.json
Labels: none

Ica Client
  framework/contracts/native/ica-client/src/error.rs
Labels: native

Module Factory
  framework/contracts/native/module-factory/src/error.rs
Labels: native

Registyr
  framework/contracts/native/registry/src/error.rs
Labels: native

Adapter and app
  framework/packages/abstract-adapter/src/error.rs
  framework/packages/abstract-app/src/error.rs
Labels: adapter_base, app_base

Interface and client
  framework/contracts/native/registry/src/error.rs
  framework/packages/abstract-client/src/error.rs
  framework/packages/abstract-interface/src/error.rs
Labels: native, interface

Sdk and std
  framework/packages/abstract-sdk/src/error.rs
  framework/packages/abstract-std/src/error.rs
  framework/packages/abstract-std/src/objects/validation/error.rs
Labels: sdk

formatting [skip ci]
  framework/packages/abstract-sdk/src/error.rs
  framework/packages/abstract-std/src/error.rs
Labels: sdk

split xion from account implementation
  framework/Cargo.lock
  framework/contracts/account/Cargo.toml
  framework/contracts/account/src/absacc/auth/sign_arb.rs
  framework/contracts/account/src/config.rs
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/execution.rs
  framework/contracts/account/src/lib.rs
  framework/contracts/account/src/migrate.rs
  framework/contracts/account/src/modules.rs
  framework/contracts/account/src/modules/migration.rs
  framework/contracts/account/src/sub_account.rs
  framework/contracts/account/src/versioning.rs
  framework/contracts/account/tests/apps.rs
  framework/contracts/account/tests/install_modules.rs
  framework/contracts/account/tests/proxy.rs
  framework/contracts/account/tests/standalones.rs
  framework/contracts/account/tests/subaccount.rs
  framework/contracts/account/tests/upgrades.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-integration-tests/src/account.rs
  framework/packages/abstract-xion/Cargo.toml
  framework/packages/abstract-xion/src/auth/eth_crypto.rs
  framework/packages/abstract-xion/src/auth/jwt.rs
  framework/packages/abstract-xion/src/auth/mod.rs
  framework/packages/abstract-xion/src/auth/passkey.rs
  framework/packages/abstract-xion/src/auth/secp256r1.rs
  framework/packages/abstract-xion/src/auth/sign_arb.rs
  framework/packages/abstract-xion/src/auth/util.rs
  framework/packages/abstract-xion/src/error.rs
  framework/packages/abstract-xion/src/lib.rs
  framework/packages/abstract-xion/src/queries.rs
  framework/packages/abstract-xion/src/state.rs
  framework/packages/abstract-xion/src/sudo.rs
  framework/packages/abstract-xion/src/xion_proto/jwk.rs
  framework/packages/abstract-xion/src/xion_proto/mod.rs
Labels: account

move tests and format
  framework/Cargo.lock
  framework/contracts/account/Cargo.toml
  framework/contracts/account/src/config.rs
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/modules.rs
  framework/contracts/account/src/versioning.rs
  framework/contracts/account/tests/xion.rs
  framework/packages/abstract-integration-tests/src/account.rs
  framework/packages/abstract-xion/src/auth/mod.rs
  framework/packages/abstract-xion/src/auth/sign_arb.rs
  framework/packages/abstract-xion/src/lib.rs
Labels: account

fix accidental rename
  framework/contracts/account/src/config.rs
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/execution.rs
  framework/contracts/account/src/lib.rs
  framework/contracts/account/src/migrate.rs
  framework/contracts/account/src/modules.rs
  framework/contracts/account/src/modules/migration.rs
  framework/contracts/account/src/sub_account.rs
  framework/contracts/account/src/versioning.rs
  framework/contracts/account/tests/apps.rs
  framework/contracts/account/tests/install_modules.rs
  framework/contracts/account/tests/proxy.rs
  framework/contracts/account/tests/standalones.rs
  framework/contracts/account/tests/subaccount.rs
  framework/contracts/account/tests/upgrades.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-integration-tests/src/account.rs
Labels: account

keep it only separation without changes
  framework/contracts/account/src/contract.rs
Labels: account

remove moved test
  framework/packages/abstract-xion/src/auth/sign_arb.rs
Labels: none

revert tests/proxy.rs
  framework/contracts/account/tests/proxy.rs
Labels: account

unused deps and hakari
  framework/Cargo.lock
  framework/packages/abstract-xion/Cargo.toml
  framework/workspace-hack/Cargo.toml
Labels: none

missed custom getrandom
  framework/packages/abstract-xion/src/lib.rs
Labels: none

remove speculoos from ans-host
  framework/contracts/native/ans-host/src/commands.rs
  framework/contracts/native/ans-host/src/contract.rs
  framework/contracts/native/ans-host/src/queries.rs
  framework/contracts/native/ans-host/src/tests/instantiate.rs
Labels: native

remove speculoos from ibc-client
  framework/contracts/native/ibc-client/src/contract.rs
Labels: native

remove speculoos from ica-client
  framework/contracts/native/ica-client/src/contract.rs
  framework/contracts/native/ica-client/src/queries.rs
Labels: native

remove speculoos from module factory
  framework/contracts/native/module-factory/src/commands.rs
  framework/contracts/native/module-factory/src/contract.rs
  framework/contracts/native/module-factory/tests/direct_calls.rs
Labels: native

remove speculoos from registry
  framework/contracts/native/registry/src/commands.rs
  framework/contracts/native/registry/src/contract.rs
  framework/contracts/native/registry/src/queries.rs
  framework/contracts/native/registry/tests/direct_calls.rs
Labels: native

clippy
  framework/contracts/account/src/versioning.rs
Labels: account

missed bang(!)
  framework/contracts/native/registry/src/commands.rs
Labels: native

removed speculoos from modules
  modules/contracts/adapters/dex/src/api.rs
  modules/contracts/adapters/money-market/src/api.rs
  modules/contracts/apps/calendar/examples/test-local.rs
Labels: none

Separate xion abstract account from account (#500)
  framework/Cargo.lock
  framework/contracts/account/Cargo.toml
  framework/contracts/account/src/absacc/auth/sign_arb.rs
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/execution.rs
  framework/contracts/account/src/lib.rs
  framework/contracts/account/tests/xion.rs
  framework/packages/abstract-xion/Cargo.toml
  framework/packages/abstract-xion/src/auth/eth_crypto.rs
  framework/packages/abstract-xion/src/auth/jwt.rs
  framework/packages/abstract-xion/src/auth/mod.rs
  framework/packages/abstract-xion/src/auth/passkey.rs
  framework/packages/abstract-xion/src/auth/secp256r1.rs
  framework/packages/abstract-xion/src/auth/sign_arb.rs
  framework/packages/abstract-xion/src/auth/util.rs
  framework/packages/abstract-xion/src/error.rs
  framework/packages/abstract-xion/src/lib.rs
  framework/packages/abstract-xion/src/queries.rs
  framework/packages/abstract-xion/src/state.rs
  framework/packages/abstract-xion/src/sudo.rs
  framework/packages/abstract-xion/src/xion_proto/jwk.rs
  framework/packages/abstract-xion/src/xion_proto/mod.rs
  framework/workspace-hack/Cargo.toml
Labels: account
