Repository AbstractSDK/abstract, changes with the labels that .github/labeler.yml gives for each.
All labels: account, native, breaking?, sdk, adapter_base, app_base, build, CI, documentation, interface

no native contracts in apps/adapters state
  framework/contracts/account/src/modules.rs
  framework/contracts/account/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__proxy_with_response_data.snap
  framework/contracts/native/module-factory/src/commands.rs
  framework/packages/abstract-adapter/src/endpoints.rs
  framework/packages/abstract-adapter/src/endpoints/instantiate.rs
  framework/packages/abstract-adapter/src/endpoints/query.rs
  framework/packages/abstract-adapter/src/features.rs
  framework/packages/abstract-adapter/src/lib.rs
  framework/packages/abstract-app/src/endpoints.rs
  framework/packages/abstract-app/src/endpoints/execute.rs
  framework/packages/abstract-app/src/endpoints/instantiate.rs
  framework/packages/abstract-app/src/endpoints/query.rs
  framework/packages/abstract-app/src/features.rs
  framework/packages/abstract-app/src/lib.rs
  framework/packages/abstract-interface/src/deployers.rs
  framework/packages/abstract-sdk/src/apis/bank.rs
  framework/packages/abstract-std/src/adapter.rs
  framework/packages/abstract-std/src/app.rs
Labels: account, native, sdk, adapter_base, app_base, interface

snapshot updates
  framework/contracts/account/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/tests/snapshots/apps__execute_on_account.snap
  framework/contracts/account/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__exec_on_account.snap
  framework/contracts/account/tests/snapshots/proxy__instantiate_account.snap
  framework/contracts/account/tests/snapshots/proxy__proxy_install_multiple_modules.snap
  framework/contracts/account/tests/snapshots/proxy__proxy_install_standalone_modules.snap
  framework/contracts/account/tests/snapshots/proxy__proxy_with_response_data.snap
  framework/contracts/account/tests/snapshots/subaccount__creating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__proxy_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account.snap
  framework/contracts/account/tests/snapshots/subaccount__updating_on_subaccount_should_succeed.snap
Labels: account

fix set_account_admin_call_to env
  framework/packages/abstract-testing/src/abstract_mock_querier.rs
Labels: none

minimize ibc-client state
  framework/contracts/native/ibc-client/src/contract.rs
  framework/contracts/native/ibc-client/src/lib.rs
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-interface/src/ibc.rs
  framework/packages/abstract-interface/src/migrate.rs
  framework/packages/abstract-std/src/native/ibc/ibc_client.rs
  framework/packages/abstract-testing/src/abstract_mock_querier.rs
  interchain/scripts/src/bin/deploy-ibc.rs
Labels: native, interface

account schema will be in different PR
  schema/account/0.23.0/abstract-account.json
Labels: none

recompile with state changes
  framework/artifacts/abstract_ans_host.wasm
  framework/artifacts/abstract_ibc_client.wasm
  framework/artifacts/abstract_ibc_host.wasm
  framework/artifacts/abstract_ica_client.wasm
  framework/artifacts/abstract_module_factory.wasm
  framework/artifacts/checksums.txt
Labels: none

remove references to ETF module
  framework/docs/src/SUMMARY.md
  framework/docs/src/ibc/account-ibc.md
  framework/docs/src/modules/etf.md
  framework/docs/src/modules/index.md
Labels: documentation

update Architecture doc
  framework/docs/src/3_framework/3_architecture.md
Labels: documentation

update whitelist tests and fixes
  framework/contracts/account/src/config.rs
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/modules.rs
  framework/contracts/account/src/modules/migration.rs
  framework/contracts/account/tests/upgrades.rs
Labels: account

set env inside execute helper
  framework/contracts/native/ans-host/src/commands.rs
Labels: native

remove ping_grpc helper
  interchain/scripts/src/bin/full_deploy.rs
Labels: none

Moved ica-client
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/account/proxy/Cargo.toml
  framework/contracts/account/proxy/src/commands.rs
  framework/contracts/native/ica-client/Cargo.toml
  framework/contracts/native/ica-client/examples/integration_test.rs
  framework/contracts/native/ica-client/src/chain_types/evm.rs
  framework/contracts/native/ica-client/src/lib.rs
  framework/contracts/native/ica-client/src/queries.rs
  framework/packages/abstract-ica/Cargo.toml
  framework/packages/abstract-ica/README.md
  framework/packages/abstract-ica/src/action.rs
  framework/packages/abstract-ica/src/chain_type.rs
  framework/packages/abstract-ica/src/lib.rs
  framework/packages/abstract-ica/src/msg.rs
  framework/packages/abstract-interface/src/native/ica_client.rs
  framework/packages/abstract-interface/src/native/mod.rs
  framework/packages/abstract-std/Cargo.toml
  framework/packages/abstract-std/src/native/ica_client.rs
  framework/packages/abstract-std/src/native/mod.rs
Labels: account, native, interface

update docs
  framework/docs/src/1_products/1_cw_orchestrator.md
  framework/docs/src/1_products/3_abstract_testing.md
  framework/docs/src/3_framework/3_architecture.md
  framework/docs/src/3_framework/4_ownership.md
  framework/docs/src/3_framework/5_modules.md
  framework/docs/src/3_framework/6_module_types.md
  framework/docs/src/3_framework/7_upgradability.md
  framework/docs/src/3_framework/8_ibc.md
  framework/docs/src/4_get_started/8_dependencies.md
  framework/docs/src/5_platform/2_registry.md
  framework/docs/src/5_platform/3_account_creation.md
  framework/docs/src/5_platform/3_account_factory.md
  framework/docs/src/5_platform/4_account_console.md
  framework/docs/src/5_platform/7_oracle.md
  framework/docs/src/5_platform/index.md
  framework/docs/src/SUMMARY.md
Labels: documentation

remove occurrences of account factory
  framework/contracts/native/registry/src/commands.rs
  framework/contracts/native/registry/src/contract.rs
  framework/docs/src/3_framework/8_ibc.md
  framework/docs/src/5_platform/3_account_creation.md
  framework/docs/src/9_glossary.md
  framework/docs/src/SUMMARY.md
  framework/docs/src/ibc/account-ibc.md
  framework/packages/abstract-integration-tests/README.md
  framework/packages/abstract-std/src/account.rs
  interchain/scripts/README.md
Labels: native, documentation

Updated cw-orch
  framework/Cargo.lock
  framework/contracts/native/ica-client/examples/integration_test.rs
Labels: native

rename all references to version control to registry in docs
  framework/docs/src/1_products/1_cw_orchestrator.md
  framework/docs/src/1_products/3_abstract_testing.md
  framework/docs/src/3_framework/3_architecture.md
  framework/docs/src/3_framework/5_modules.md
  framework/docs/src/3_framework/7_upgradability.md
  framework/docs/src/4_get_started/7_module_deployment.md
  framework/docs/src/5_platform/2_registry.md
  framework/docs/src/5_platform/3_account_creation.md
  framework/docs/src/5_platform/4_account_console.md
  framework/docs/src/5_platform/5_module_factory.md
  framework/docs/src/5_platform/6_monetization.md
  framework/docs/src/5_platform/8_modules.md
  framework/docs/src/5_platform/index.md
  framework/docs/src/9_glossary.md
  framework/docs/src/SUMMARY.md
Labels: documentation

rid documentation of "manager"
  framework/docs/src/5_platform/5_module_factory.md
  framework/docs/src/5_platform/8_modules.md
  framework/docs/src/9_glossary.md
  framework/docs/src/ibc/account-ibc.md
Labels: documentation

get rid of references to "proxy"
  framework/docs/src/3_framework/1_abstract_sdk.md
  framework/docs/src/4_get_started/4_sdk.md
  framework/docs/src/5_platform/5_module_factory.md
  framework/docs/src/5_platform/8_modules.md
  framework/docs/src/9_glossary.md
  framework/docs/src/ibc/account-ibc.md
Labels: documentation

rename comments with "version control" in them
  framework/contracts/account/src/modules.rs
  framework/contracts/account/src/modules/migration.rs
  framework/contracts/account/src/queries.rs
  framework/contracts/account/tests/adapters.rs
  framework/contracts/native/ibc-host/src/account_commands.rs
  framework/contracts/native/module-factory/src/commands.rs
  framework/contracts/native/registry/src/commands.rs
  framework/contracts/native/registry/src/error.rs
  framework/contracts/native/registry/src/queries.rs
  framework/packages/abstract-adapter/src/features.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/src/service.rs
  framework/packages/abstract-interface/src/account.rs
  framework/packages/abstract-interface/src/migrate.rs
  framework/packages/abstract-interface/src/native/registry.rs
  framework/packages/abstract-sdk/src/apis/version_registry.rs
  framework/packages/abstract-sdk/src/base/features/abstract_registry_access.rs
  framework/packages/abstract-sdk/src/lib.rs
  framework/packages/abstract-std/src/adapter.rs
  framework/packages/abstract-std/src/native/ibc/ibc_host.rs
  framework/packages/abstract-std/src/native/registry.rs
  framework/packages/abstract-std/src/objects/registry.rs
  framework/packages/abstract-testing/src/abstract_mock_querier.rs
  integrations/astrovault-adapter/src/staking.rs
  integrations/osmosis-adapter/src/dex.rs
  integrations/osmosis-adapter/src/staking.rs
  modules/contracts/adapters/dex/tests/common/mod.rs
  modules/contracts/apps/calendar/examples/deploy.rs
Labels: account, native, sdk, adapter_base, interface

rename mentions of VC to Registry
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-interface/src/migrate.rs
  framework/packages/abstract-std/src/native/registry.rs
  framework/packages/abstract-std/src/objects/module.rs
Labels: interface

upgrade account test
  framework/contracts/account/src/modules.rs
  framework/contracts/account/src/modules/migration.rs
  framework/contracts/account/src/versioning.rs
  framework/contracts/account/tests/install_modules.rs
  framework/contracts/account/tests/upgrades.rs
  framework/packages/abstract-interface/src/account.rs
  framework/packages/abstract-interface/src/migrate.rs
  framework/packages/abstract-interface/src/native/registry.rs
Labels: account, interface

ans host full filter test
  framework/contracts/native/ans-host/src/queries.rs
Labels: native

formatting [skip ci]
  framework/packages/abstract-interface/src/account.rs
  interchain/framework-clone-testing/tests/upgrade-account.rs
Labels: interface

partially replace use of "proxy"
  framework/contracts/account/src/execution.rs
  framework/contracts/account/src/modules.rs
  framework/contracts/account/src/modules/migration.rs
  framework/contracts/account/tests/adapters.rs
  framework/contracts/account/tests/apps.rs
  framework/contracts/account/tests/proxy.rs
  framework/contracts/account/tests/subaccount.rs
  framework/contracts/account/tests/upgrades.rs
  framework/contracts/native/ibc-client/src/commands.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/contracts/native/ibc-client/src/queries.rs
  framework/contracts/native/ibc-host/src/account_commands.rs
  framework/contracts/native/ibc-host/src/endpoints/packet.rs
  framework/contracts/native/ibc-host/src/error.rs
  framework/packages/abstract-adapter/src/endpoints/execute.rs
  framework/packages/abstract-adapter/src/endpoints/query.rs
  framework/packages/abstract-adapter/src/state.rs
  framework/packages/abstract-app/src/features.rs
  framework/packages/abstract-app/src/lib.rs
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/interchain/remote_account.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-integration-tests/src/account.rs
  framework/packages/abstract-integration-tests/src/lib.rs
  framework/packages/abstract-interface/src/account.rs
  framework/packages/abstract-sdk/src/apis/authz.rs
  framework/packages/abstract-sdk/src/apis/feegrant.rs
  framework/packages/abstract-sdk/src/error.rs
  framework/packages/abstract-sdk/src/feature_objects.rs
Labels: account, native, sdk, adapter_base, app_base, interface

formatting [skip ci]
  framework/contracts/native/ibc-client/src/commands.rs
  framework/contracts/native/ibc-client/src/queries.rs
  framework/contracts/native/ibc-host/src/account_commands.rs
Labels: native

further fix use of "proxy" in codebase
  framework/packages/abstract-sdk/src/apis/execution.rs
  framework/packages/abstract-sdk/src/apis/feegrant.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-sdk/src/apis/verify.rs
  framework/packages/abstract-sdk/src/base/features/executor.rs
  framework/packages/abstract-sdk/src/base/features/identification.rs
  framework/packages/abstract-std/src/account.rs
  framework/packages/abstract-std/src/adapter.rs
  framework/packages/abstract-std/src/app.rs
  framework/packages/abstract-std/src/native/ibc/ibc_client.rs
  framework/packages/abstract-std/src/native/ibc/ibc_host.rs
  framework/packages/abstract-std/src/objects/module.rs
  framework/packages/abstract-std/src/standalone.rs
  integrations/osmosis-adapter/src/dex.rs
  interchain/framework-clone-testing/tests/migrate.rs
  interchain/interchain-tests/src/interchain_accounts.rs
  modules/contracts/adapters/cw-staking/src/handlers/execute.rs
  modules/contracts/adapters/cw-staking/src/staking_tester.rs
  modules/contracts/adapters/cw-staking/tests/osmosis_stake.rs
  modules/contracts/adapters/cw-staking/tests/stake.rs
  modules/contracts/adapters/dex/src/dex_tester.rs
Labels: sdk

Updated cw-orch
  framework/Cargo.lock
  framework/contracts/native/ica-client/examples/integration_test.rs
Labels: native

Moved ica-client
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/native/ica-client/Cargo.toml
  framework/contracts/native/ica-client/src/chain_types/evm.rs
  framework/contracts/native/ica-client/src/lib.rs
  framework/contracts/native/ica-client/src/queries.rs
  framework/packages/abstract-ica/Cargo.toml
  framework/packages/abstract-ica/README.md
  framework/packages/abstract-ica/src/action.rs
  framework/packages/abstract-ica/src/chain_type.rs
  framework/packages/abstract-ica/src/lib.rs
  framework/packages/abstract-ica/src/msg.rs
  framework/packages/abstract-interface/src/native/ica_client.rs
  framework/packages/abstract-interface/src/native/mod.rs
  framework/packages/abstract-std/Cargo.toml
  framework/packages/abstract-std/src/native/ibc/ica_client.rs
Labels: native, interface

finish migration to "account" from "proxy"
  framework/packages/abstract-std/src/native/ibc/ibc_host.rs
  modules/contracts/adapters/dex/src/handlers/execute.rs
  modules/contracts/adapters/dex/tests/osmosis.rs
  modules/contracts/adapters/dex/tests/raw.rs
  modules/contracts/adapters/dex/tests/swap.rs
  modules/contracts/adapters/money-market/src/handlers/execute.rs
  modules/contracts/adapters/tendermint-staking/src/staking.rs
  modules/contracts/apps/calendar/src/handlers/execute.rs
  modules/contracts/apps/croncat/examples/deploy.rs
  modules/contracts/apps/croncat/src/handlers/execute.rs
  modules/contracts/apps/croncat/src/replies/execute.rs
  modules/contracts/apps/croncat/src/utils.rs
  modules/contracts/apps/croncat/tests/integration.rs
  modules/contracts/apps/dca/tests/integration.rs
  modules/contracts/apps/payment/src/handlers/execute.rs
  modules/contracts/apps/payment/tests/integration.rs
  modules/contracts/apps/subscription/src/handlers/execute.rs
  modules/contracts/standalones/ica-owner/tests/starship.rs
Labels: none

Update WASM & Schemas [skip ci]
  modules/artifacts/checksums.txt
  modules/artifacts/croncat_app.wasm
  modules/artifacts/dca_app.wasm
Labels: none

fix unused warnings for non-xion compilation
  framework/contracts/account/src/contract.rs
  framework/contracts/account/tests/snapshots/proxy__account_install_multiple_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_standalone_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_with_response_data.snap
  framework/contracts/account/tests/snapshots/subaccount__account_updating_on_subaccount_should_succeed.snap
  framework/contracts/native/ibc-host/src/endpoints/packet.rs
  framework/contracts/native/ibc-host/src/endpoints/reply.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
Labels: account, native, sdk

formatting [skip ci]
  modules/contracts/adapters/tendermint-staking/src/staking.rs
Labels: none

Fix clippy
  framework/Cargo.lock
  framework/contracts/account/Cargo.toml
  framework/contracts/account/src/execution.rs
  framework/contracts/native/ica-client/src/contract.rs
  framework/contracts/native/ica-client/src/queries.rs
  framework/packages/abstract-std/src/native/ibc/ica_client.rs
Labels: account, native

rename uses of `Proxy`
  framework/contracts/account/src/modules.rs
  framework/contracts/native/module-factory/tests/direct_calls.rs
  framework/contracts/native/registry/tests/direct_calls.rs
  framework/packages/abstract-adapter/src/state.rs
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/interchain/remote_account.rs
Labels: account, native, adapter_base

rename uses of "Manager"
  framework/contracts/account/tests/adapters.rs
  framework/contracts/native/module-factory/src/error.rs
  framework/packages/abstract-adapter/src/error.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-std/src/objects/registry.rs
  interchain/interchain-tests/src/interchain_accounts.rs
  modules/contracts/adapters/cw-staking/tests/osmosis_stake.rs
Labels: account, native, sdk, adapter_base

Last renames and test fixes
  framework/contracts/native/module-factory/tests/direct_calls.rs
  framework/contracts/native/registry/tests/direct_calls.rs
  framework/packages/abstract-adapter/src/endpoints/execute.rs
  framework/packages/abstract-app/src/lib.rs
  framework/packages/abstract-standalone/src/lib.rs
  framework/packages/abstract-testing/src/lib.rs
  framework/packages/abstract-testing/src/mock_querier.rs
  modules/contracts/adapters/cw-staking/tests/osmosis_stake.rs
Labels: native, adapter_base, app_base

formatting [skip ci]
  framework/contracts/native/module-factory/tests/direct_calls.rs
  modules/contracts/adapters/cw-staking/tests/osmosis_stake.rs
Labels: native

ans-host coverage
  framework/contracts/native/ans-host/src/contract.rs
  framework/contracts/native/ans-host/src/queries.rs
  framework/contracts/native/module-factory/src/lib.rs
  framework/contracts/native/module-factory/src/response.proto
  framework/contracts/native/module-factory/src/response.rs
  framework/packages/abstract-sdk/src/cw_helpers/cw_storage_plus.rs
  framework/packages/abstract-sdk/src/cw_helpers/mod.rs
  framework/packages/abstract-std/src/native/ans_host.rs
  scripts/framework-coverage.sh
Labels: native, sdk

aftermerge fixes
  framework/contracts/account/src/config.rs
  framework/contracts/account/src/modules.rs
  framework/contracts/account/tests/install_modules.rs
  framework/contracts/native/ans-host/src/queries.rs
  framework/packages/abstract-interface/src/account.rs
  scripts/framework-coverage.sh
Labels: account, native, interface

bump codecov circle pod
  .circleci/config.yml
Labels: none

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeller Github Action.
"account":
  # Match all of account folders
  - framework/contracts/account/**/*
"native":
  # Match all of native folders
  - framework/contracts/native/**/*
"breaking?":
  # Match all of abstract_std folders
  - framework/packages/abstract_std/**/*
"sdk":
  # Match all of sdk folders
  - framework/packages/abstract-sdk/**/*
"adapter_base":
  # Match all of adapter base folders
  - framework/packages/abstract-adapter/**/*
"app_base":
  # Match all of app base folders
  - framework/packages/abstract-app/**/*
"build":
  - build_release.sh
"CI":
  - .github/**/*.yml
# Add "C:documentation" label to documented related files and directories.
"documentation":
  - README.md
  - framework/contracts/**/*.md
  - framework/contracts/**/*/*.md
  - framework/docs/src/**/*
"interface":
  - framework/packages/abstract-interface/**/*
