Repository AbstractSDK/abstract, changes with the labels that .github/labeler.yml gives for each.
All labels: account, native, breaking?, sdk, adapter_base, app_base, build, CI, documentation, interface

clippy
  framework/contracts/account/manager/tests/proxy.rs
  framework/packages/abstract-std/src/objects/ownership/gov_ownable.rs
Labels: account

Update ping-pong readme
  modules/contracts/apps/ping-pong/README.md
Labels: none

add recursive migration of sub accounts during account upgrading
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-interface/src/account/mod.rs
  interchain/framework-clone-testing/tests/migrate.rs
  interchain/framework-clone-testing/tests/upgrade-account.rs
Labels: interface

Allow NFT governance to be pending
  framework/contracts/account/manager/tests/proxy.rs
  framework/packages/abstract-std/src/objects/ownership/gov_ownable.rs
Labels: account

nits
  framework/docs/src/releases/v0.md
  framework/packages/abstract-std/src/core/manager.rs
  framework/packages/abstract-std/src/objects/ownership/gov_ownable.rs
Labels: documentation

unite uninstall fns
  framework/contracts/account/manager/src/commands.rs
Labels: account

ignore astroport tests
  interchain/modules-clone-testing/tests/dex/mod.rs
  interchain/modules-clone-testing/tests/staking/mod.rs
Labels: none

move functions to methods for `&Ownership`
  framework/packages/abstract-std/src/objects/ownership/gov_ownable.rs
Labels: none

nit fn renames
  framework/contracts/account/manager/src/commands.rs
  framework/packages/abstract-std/src/objects/ownership.rs
  framework/packages/abstract-std/src/objects/ownership/gov_ownable.rs
Labels: account

nit rename of assertion function
  framework/packages/abstract-std/src/objects/ownership/gov_ownable.rs
Labels: none

fmt
  framework/packages/abstract-std/src/objects/ownership.rs
  framework/packages/abstract-std/src/objects/ownership/gov_ownable.rs
Labels: none

rm unused macro deps in workspace
  framework/Cargo.toml
  framework/packages/abstract-macros/Cargo.toml
Labels: none

update module ibc docs
  framework/docs/src/ibc/module-ibc.md
  modules/contracts/apps/ping-pong/src/handlers/execute.rs
  modules/contracts/apps/ping-pong/src/ibc/module.rs
Labels: documentation

formatting [skip ci]
  modules/contracts/apps/ping-pong/src/ibc/module.rs
Labels: none

Update framework/docs/src/ibc/module-ibc.md
  framework/docs/src/ibc/module-ibc.md
Labels: documentation

nit
  framework/docs/src/ibc/module-ibc.md
Labels: documentation

100k min gas
  interchain/interchain-tests/src/bin/setup_funds.rs
Labels: none

remove msrv CI runs
  .github/workflows/framework-check.yml
  .github/workflows/modules-check.yml
Labels: CI

fix link
  framework/docs/src/ibc/module-ibc.md
Labels: documentation

clean up bad references
  framework/docs/src/3_framework/7_upgradability.md
  framework/docs/src/4_get_started/8_dependencies.md
Labels: documentation

Update IBC related documentation (#397)
  framework/docs/src/ibc/module-ibc.md
  modules/contracts/apps/ping-pong/src/handlers/execute.rs
  modules/contracts/apps/ping-pong/src/ibc/module.rs
Labels: documentation

init standalone readme
  framework/packages/abstract-standalone/README.md
Labels: none

remove msrv CI runs (#400)
  .github/workflows/framework-check.yml
  .github/workflows/modules-check.yml
Labels: CI

Fix broken link in CI (#401)
  framework/docs/src/3_framework/7_upgradability.md
  framework/docs/src/4_get_started/8_dependencies.md
  framework/docs/src/ibc/module-ibc.md
Labels: documentation

add standalone to module types
  framework/docs/src/3_framework/6_module_types.md
Labels: documentation

nits
  framework/packages/abstract-std/src/standalone.rs
Labels: none

remove my_standalone wasm
  framework/artifacts/my_standalone.wasm
Labels: none

postmerge tests with `sender()`
  framework/contracts/account/manager/tests/proxy.rs
  framework/contracts/account/manager/tests/subaccount.rs
  interchain/framework-clone-testing/tests/upgrade-account.rs
Labels: account

update interchain memo field
  framework/contracts/account/proxy/src/commands.rs
  framework/contracts/native/ibc-client/src/commands.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-std/src/native/ibc_client.rs
  interchain/interchain-tests/src/bin/setup_funds.rs
  interchain/interchain-tests/src/interchain_accounts.rs
  modules/contracts/adapters/cw-staking/src/handlers/execute.rs
  modules/contracts/adapters/dex/src/handlers/execute.rs
Labels: account, native, sdk

no need to set min gas anymore
  interchain/interchain-tests/src/bin/setup_funds.rs
Labels: none

update config key
  framework/contracts/native/version-control/src/migrate.rs
  framework/packages/abstract-std/src/native/version_control.rs
Labels: native

Update v0.md
  framework/docs/src/releases/v0.md
Labels: documentation

insta review
  framework/contracts/account/manager/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/manager/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/manager/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/manager/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/manager/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/manager/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/manager/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/manager/tests/snapshots/apps__execute_on_proxy_through_manager.snap
  framework/contracts/account/manager/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/manager/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/manager/tests/snapshots/proxy__exec_through_manager.snap
  framework/contracts/account/manager/tests/snapshots/proxy__instantiate_proxy.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_install_multiple_modules.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_install_standalone_modules.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_with_response_data.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__account_move_ownership_to_falsy_sub_account.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__creating_on_subaccount_should_succeed.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__proxy_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__sub_account_move_ownership.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__updating_on_subaccount_should_succeed.snap
  framework/contracts/native/version-control/src/lib.rs
Labels: account, native

bump abstract to 0.23.0
  framework/Cargo.toml
  framework/packages/abstract-adapter/Cargo.toml
  framework/packages/abstract-app/Cargo.toml
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/standards/dex/Cargo.toml
  framework/packages/standards/money-market/Cargo.toml
  framework/packages/standards/staking/Cargo.toml
  integrations/Cargo.toml
  interchain/Cargo.toml
  interchain/interchain-tests/Cargo.toml
  modules/Cargo.toml
  modules/contracts/apps/ping-pong/Cargo.toml
Labels: adapter_base, app_base, interface

accounts query impl
  framework/contracts/native/version-control/src/queries.rs
Labels: native

changelog
  framework/docs/src/releases/v0.md
Labels: documentation

snapshots
  framework/contracts/account/manager/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/manager/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/manager/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/manager/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/manager/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/manager/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/manager/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/manager/tests/snapshots/apps__execute_on_proxy_through_manager.snap
  framework/contracts/account/manager/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/manager/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/manager/tests/snapshots/proxy__exec_through_manager.snap
  framework/contracts/account/manager/tests/snapshots/proxy__instantiate_proxy.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_install_multiple_modules.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_install_standalone_modules.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_with_response_data.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__account_move_ownership_to_falsy_sub_account.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__creating_on_subaccount_should_succeed.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__proxy_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__sub_account_move_ownership.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__updating_on_subaccount_should_succeed.snap
Labels: account

duplicate checksums of framework
  framework/artifacts/checksums.txt
Labels: none

Bump abstract to 0.23.0 (#405)
  framework/Cargo.toml
  framework/contracts/account/manager/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/manager/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/manager/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/manager/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/manager/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/manager/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/manager/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/manager/tests/snapshots/apps__execute_on_proxy_through_manager.snap
  framework/contracts/account/manager/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/manager/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/manager/tests/snapshots/proxy__exec_through_manager.snap
  framework/contracts/account/manager/tests/snapshots/proxy__instantiate_proxy.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_install_multiple_modules.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_install_standalone_modules.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_with_response_data.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__account_move_ownership_to_falsy_sub_account.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__creating_on_subaccount_should_succeed.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__proxy_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__sub_account_move_ownership.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__updating_on_subaccount_should_succeed.snap
  framework/packages/abstract-adapter/Cargo.toml
  framework/packages/abstract-app/Cargo.toml
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/standards/dex/Cargo.toml
  framework/packages/standards/money-market/Cargo.toml
  framework/packages/standards/staking/Cargo.toml
  integrations/Cargo.toml
  interchain/Cargo.toml
  interchain/interchain-tests/Cargo.toml
  modules/Cargo.toml
  modules/contracts/apps/ping-pong/Cargo.toml
Labels: account, adapter_base, app_base, interface

ignore astroport tests (#396)
  interchain/modules-clone-testing/tests/dex/mod.rs
  interchain/modules-clone-testing/tests/staking/mod.rs
Labels: none

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeller Github Action.
"account":
  # Match all of account folders
  - framework/contracts/account/**/*
"native":
  # Match all of native folders
  - framework/contracts/native/**/*
"breaking?":
  # Match all of abstract_std folders
  - framework/packages/abstract_std/**/*
"sdk":
  # Match all of sdk folders
  - framework/packages/abstract-sdk/**/*
"adapter_base":
  # Match all of adapter base folders
  - framework/packages/abstract-adapter/**/*
"app_base":
  # Match all of app base folders
  - framework/packages/abstract-app/**/*
"build":
  - build_release.sh
"CI":
  - .github/**/*.yml
# Add "C:documentation" label to documented related files and directories.
"documentation":
  - README.md
  - framework/contracts/**/*.md
  - framework/contracts/**/*/*.md
  - framework/docs/src/**/*
"interface":
  - framework/packages/abstract-interface/**/*
