Repository AbstractSDK/abstract, changes with the labels that .github/labeler.yml gives for each.
All labels: account, native, breaking?, sdk, adapter_base, app_base, build, CI, documentation, interface

require xion for schema
  framework/contracts/account/.cargo/config.toml
  framework/contracts/account/Cargo.toml
  framework/contracts/account/examples/schema.rs
Labels: account

comment out logic and checks
  framework/contracts/account/src/absacc/auth/mod.rs
  framework/contracts/account/src/absacc/sudo.rs
  framework/contracts/account/src/lib.rs
Labels: account

framework tests
  framework/contracts/native/ibc-client/src/contract.rs
  framework/contracts/native/ibc-client/src/ibc.rs
Labels: native

modules tests
  framework/Cargo.lock
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/builder.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/src/publisher.rs
  modules/contracts/apps/calendar/examples/test-local.rs
  modules/contracts/apps/calendar/tests/integration.rs
  modules/contracts/apps/challenge/tests/integrations.rs
  modules/contracts/apps/ping-pong/tests/ping_pong_tests.rs
  modules/contracts/apps/subscription/tests/integration.rs
Labels: none

interchain tests
  framework/packages/abstract-client/src/interchain/remote_account.rs
  framework/packages/abstract-client/src/interchain/remote_application.rs
  framework/packages/abstract-client/tests/interchain_integration.rs
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-interface/src/deployment.rs
  interchain/framework-clone-testing/src/common.rs
  interchain/framework-clone-testing/tests/migrate.rs
  interchain/framework-clone-testing/tests/upgrade-account.rs
  interchain/interchain-tests/src/interchain_accounts.rs
  interchain/interchain-tests/src/setup.rs
  interchain/modules-clone-testing/src/common.rs
  interchain/scripts/src/bin/full_deploy.rs
  interchain/scripts/src/bin/manual_deploy.rs
Labels: interface

fix clone tests
  framework/packages/abstract-client/src/client.rs
  interchain/interchain-tests/src/interchain_accounts.rs
  interchain/interchain-tests/src/setup.rs
  interchain/modules-clone-testing/src/common.rs
  interchain/modules-clone-testing/tests/dex/astrovault.rs
  interchain/modules-clone-testing/tests/staking/astrovault.rs
  interchain/scripts/src/bin/create_remote_account.rs
  interchain/scripts/src/bin/ibc-test.rs
Labels: none

clippy
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/src/interchain/remote_account.rs
  framework/packages/abstract-client/src/interchain/remote_application.rs
Labels: none

Add abstract account to govdetails (#476)
  framework/contracts/account/.cargo/config.toml
  framework/contracts/account/Cargo.toml
  framework/contracts/account/examples/schema.rs
  framework/contracts/account/src/absacc/auth/mod.rs
  framework/contracts/account/src/absacc/auth/secp256r1.rs
  framework/contracts/account/src/absacc/auth/sign_arb.rs
  framework/contracts/account/src/absacc/auth/util.rs
  framework/contracts/account/src/absacc/mod.rs
  framework/contracts/account/src/absacc/sudo.rs
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/execution.rs
  framework/contracts/account/src/lib.rs
  framework/contracts/account/tests/create.rs
  framework/contracts/account/tests/subaccount.rs
  framework/packages/abstract-interface/src/account.rs
  framework/packages/abstract-std/src/objects/gov_type.rs
  framework/packages/abstract-std/src/objects/storage_namespaces.rs
  framework/scripts/Cargo.toml
  framework/scripts/src/main.rs
Labels: account, interface

V2/xion deploy (#473)
  framework/Cargo.lock
  framework/Cargo.toml
  framework/artifacts/abstract_account_factory.wasm
  framework/artifacts/abstract_ans_host.wasm
  framework/artifacts/abstract_ibc_client.wasm
  framework/artifacts/abstract_ibc_host.wasm
  framework/artifacts/abstract_ica_client.wasm
  framework/artifacts/abstract_manager.wasm
  framework/artifacts/abstract_module_factory.wasm
  framework/artifacts/abstract_proxy.wasm
  framework/artifacts/abstract_version_control.wasm
  framework/artifacts/checksums.txt
  framework/contracts/account/.cargo/config.toml
  framework/contracts/account/Cargo.toml
  framework/contracts/account/examples/schema.rs
  framework/contracts/account/src/absacc/auth/mod.rs
  framework/contracts/account/src/absacc/auth/secp256r1.rs
  framework/contracts/account/src/absacc/auth/sign_arb.rs
  framework/contracts/account/src/absacc/auth/util.rs
  framework/contracts/account/src/absacc/mod.rs
  framework/contracts/account/src/absacc/sudo.rs
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/execution.rs
  framework/contracts/account/src/lib.rs
  framework/contracts/account/tests/create.rs
  framework/contracts/account/tests/subaccount.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-interface/src/account.rs
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-std/src/objects/gov_type.rs
  framework/packages/abstract-std/src/objects/storage_namespaces.rs
  framework/scripts/Cargo.toml
  framework/scripts/src/main.rs
  framework/workspace-hack/Cargo.toml
Labels: account, interface

rename remove namespaces
  framework/contracts/account/src/sub_account.rs
  framework/contracts/native/version-control/src/commands.rs
  framework/contracts/native/version-control/src/contract.rs
  framework/packages/abstract-std/src/native/version_control.rs
Labels: account, native

doc comment update
  framework/contracts/native/version-control/src/commands.rs
Labels: native

postmerge fixes
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/account/src/absacc/auth/mod.rs
  framework/contracts/account/src/absacc/auth/sign_arb.rs
  framework/contracts/account/src/contract.rs
  framework/packages/abstract-interface/src/account.rs
  interchain/interchain-tests/src/interchain_accounts.rs
Labels: account, interface

move xion script to interchain/scripts
  framework/scripts/Cargo.toml
  interchain/Cargo.toml
  interchain/scripts/Cargo.toml
  interchain/scripts/src/bin/xion_test.rs
Labels: none

format
  framework/contracts/native/version-control/src/commands.rs
  framework/packages/abstract-app/src/endpoints/instantiate.rs
  framework/packages/abstract-app/src/lib.rs
Labels: native, app_base

Rename RemoveNamespaces on VersionControl (#477)
  framework/contracts/account/src/sub_account.rs
  framework/contracts/native/version-control/src/commands.rs
  framework/contracts/native/version-control/src/contract.rs
  framework/packages/abstract-std/src/native/version_control.rs
Labels: account, native

modules tests
  framework/contracts/account/src/absacc/auth/mod.rs
  framework/contracts/account/src/absacc/auth/secp256r1.rs
  framework/contracts/account/src/absacc/auth/sign_arb.rs
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/modules.rs
  framework/contracts/account/tests/proxy.rs
  framework/contracts/account/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__proxy_with_response_data.snap
  framework/contracts/native/ibc-host/src/account_commands.rs
  framework/packages/abstract-adapter/src/endpoints/instantiate.rs
  framework/packages/abstract-app/src/endpoints/execute.rs
  framework/packages/abstract-app/src/lib.rs
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/src/interchain/remote_account.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-ica/src/chain_type.rs
  framework/packages/abstract-interface/src/account.rs
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-sdk/README.md
  framework/packages/abstract-std/src/constants.rs
  framework/packages/abstract-std/src/lib.rs
  framework/packages/abstract-std/src/objects/mod.rs
  framework/packages/abstract-std/src/objects/ownership/gov_ownable.rs
  framework/packages/abstract-std/src/registry_names.rs
  integrations/astrovault-adapter/src/lib.rs
  modules/contracts/adapters/cw-staking/examples/deploy.rs
  modules/contracts/adapters/money-market/src/api.rs
  modules/contracts/standalones/ica-owner/tests/starship.rs
Labels: account, native, sdk, adapter_base, app_base, interface

fix xion test
  interchain/scripts/src/bin/xion_test.rs
Labels: none

cleanup
  framework/Cargo.lock
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-interface/Cargo.toml
  framework/workspace-hack/Cargo.toml
  interchain/interchain-tests/src/module_to_module_interactions.rs
Labels: interface

nit rename fn
  framework/contracts/account/src/contract.rs
  framework/packages/abstract-std/src/account.rs
Labels: account

without cosmwasm_2_0 features
  framework/Cargo.lock
  framework/Cargo.toml
  framework/artifacts/abstract_ans_host.wasm
  framework/artifacts/abstract_ibc_client.wasm
  framework/artifacts/abstract_ibc_host.wasm
  framework/artifacts/abstract_ica_client.wasm
  framework/artifacts/abstract_module_factory.wasm
  framework/artifacts/abstract_version_control.wasm
  framework/artifacts/checksums.txt
  framework/contracts/account/Cargo.toml
  framework/contracts/native/ibc-client/src/commands.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/packages/abstract-sdk/src/apis/authz.rs
  framework/packages/abstract-sdk/src/apis/distribution.rs
  framework/packages/abstract-sdk/src/apis/feegrant.rs
  framework/packages/abstract-std/src/native_addrs.rs
  framework/workspace-hack/Cargo.toml
  interchain/scripts/src/bin/full_deploy.rs
  interchain/scripts/state.json
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
Labels: account, native, sdk

readme nit
  framework/packages/abstract-std/src/objects/ownership/README.md
Labels: none

fix manager usage
  interchain/interchain-tests/src/interchain_accounts.rs
Labels: none

fix test compilation
  interchain/interchain-tests/src/interchain_accounts.rs
Labels: none

fix cargo hack
  modules/contracts/adapters/dex/Cargo.toml
Labels: none

remove unused dep
  framework/Cargo.lock
  framework/packages/abstract-client/Cargo.toml
Labels: none

rm ignored dep
  modules/contracts/adapters/dex/Cargo.toml
Labels: none

fix module tests
  modules/contracts/apps/challenge/tests/integrations.rs
  modules/contracts/apps/subscription/tests/integration.rs
Labels: none

free disk space on framework test
  .github/workflows/framework-test.yml
Labels: CI

wip fix predictable addresses
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/account/src/absacc/auth/util.rs
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/modules.rs
  framework/contracts/account/src/modules/migration.rs
  framework/contracts/account/src/queries.rs
  framework/contracts/account/src/sub_account.rs
  framework/contracts/native/ibc-client/src/commands.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/contracts/native/ibc-client/src/queries.rs
  framework/contracts/native/ibc-host/src/account_commands.rs
  framework/contracts/native/ibc-host/src/endpoints/packet.rs
  framework/contracts/native/ibc-host/src/endpoints/query.rs
  framework/contracts/native/ica-client/src/chain_types/evm.rs
  framework/contracts/native/ica-client/src/contract.rs
  framework/contracts/native/ica-client/src/queries.rs
  framework/contracts/native/module-factory/src/commands.rs
  framework/contracts/native/module-factory/src/contract.rs
  framework/packages/abstract-interface/examples/abstract_addrs.rs
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-interface/src/error.rs
  framework/packages/abstract-sdk/src/ans_resolve.rs
  framework/packages/abstract-sdk/src/apis/bank.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-sdk/src/apis/verify.rs
  framework/packages/abstract-sdk/src/apis/version_registry.rs
  framework/packages/abstract-sdk/src/base/features/abstract_name_service.rs
  framework/packages/abstract-sdk/src/base/features/abstract_registry_access.rs
  framework/packages/abstract-sdk/src/feature_objects.rs
  framework/packages/abstract-sdk/src/mock_module.rs
  framework/packages/abstract-standalone/src/features.rs
  framework/packages/abstract-std/Cargo.toml
  framework/packages/abstract-std/src/error.rs
  framework/packages/abstract-std/src/native_addrs.rs
  framework/packages/abstract-std/src/objects/ans_host.rs
  framework/packages/abstract-std/src/objects/module_factory.rs
  framework/packages/abstract-std/src/objects/version_control.rs
  framework/packages/abstract-std/src/registry.rs
  framework/packages/abstract-testing/src/lib.rs
Labels: account, native, sdk, interface

lower deposit amount
  interchain/modules-clone-testing/tests/dex/astrovault.rs
Labels: none

formatting [skip ci]
  framework/packages/abstract-std/src/account.rs
Labels: none

update workspace hack
  framework/Cargo.lock
  framework/workspace-hack/Cargo.toml
Labels: none

fmt
  framework/packages/abstract-sdk/src/apis/verify.rs
Labels: sdk

fix cw-blob version
  framework/Cargo.toml
Labels: none

Update WASM & Schemas [skip ci]
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking-injective.wasm
  modules/artifacts/abstract_cw_staking-juno.wasm
  modules/artifacts/abstract_cw_staking-kujira.wasm
  modules/artifacts/abstract_cw_staking-neutron.wasm
  modules/artifacts/abstract_cw_staking-osmosis.wasm
  modules/artifacts/abstract_cw_staking-sei.wasm
  modules/artifacts/abstract_cw_staking-terra2.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter-injective.wasm
  modules/artifacts/abstract_dex_adapter-juno.wasm
  modules/artifacts/abstract_dex_adapter-kujira.wasm
  modules/artifacts/abstract_dex_adapter-neutron.wasm
  modules/artifacts/abstract_dex_adapter-osmosis.wasm
  modules/artifacts/abstract_dex_adapter-sei.wasm
  modules/artifacts/abstract_dex_adapter-terra2.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter-kujira.wasm
  modules/artifacts/abstract_money_market_adapter-osmosis.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/croncat_app.wasm
  modules/artifacts/dca_app.wasm
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
Labels: none

recompile with test creator
  framework/artifacts/abstract_ibc_client.wasm
  framework/artifacts/abstract_ibc_host.wasm
  framework/artifacts/abstract_ica_client.wasm
  framework/artifacts/abstract_module_factory.wasm
  framework/artifacts/checksums.txt
  framework/packages/abstract-std/src/native_addrs.rs
Labels: none

state
  interchain/scripts/state.json
Labels: none

fix clippy
  framework/contracts/account/src/contract.rs
Labels: account

refresh schemas
  schema/account/0.23.0/abstract-account.json
  schema/ibc-host/0.23.0/abstract-ibc-host.json
  schema/module-factory/0.23.0/abstract-module-factory.json
  schema/tendermint-staking/0.23.0/execute_msg.json
  schema/tendermint-staking/0.23.0/instantiate_msg.json
  schema/tendermint-staking/0.23.0/module-schema.json
  schema/tendermint-staking/0.23.0/query_msg.json
Labels: none

fix modules
  integrations/astrovault-adapter/src/staking.rs
  interchain/interchain-tests/src/module_to_module_interactions.rs
  modules/contracts/adapters/cw-staking/examples/deploy.rs
  modules/contracts/adapters/cw-staking/src/adapter.rs
  modules/contracts/adapters/cw-staking/src/handlers/execute.rs
  modules/contracts/adapters/cw-staking/src/handlers/query.rs
  modules/contracts/adapters/dex/src/adapter.rs
  modules/contracts/adapters/dex/src/api.rs
  modules/contracts/adapters/dex/src/handlers/execute.rs
  modules/contracts/adapters/dex/src/handlers/instantiate.rs
  modules/contracts/adapters/dex/src/handlers/query.rs
  modules/contracts/adapters/money-market/src/adapter.rs
  modules/contracts/adapters/money-market/src/api.rs
  modules/contracts/adapters/money-market/src/handlers/execute.rs
  modules/contracts/adapters/money-market/src/handlers/instantiate.rs
  modules/contracts/adapters/money-market/src/handlers/query.rs
  modules/contracts/apps/calendar/src/handlers/execute.rs
  modules/contracts/apps/calendar/src/handlers/instantiate.rs
  modules/contracts/apps/challenge/src/handlers/execute.rs
  modules/contracts/apps/challenge/src/msg.rs
  modules/contracts/apps/payment/src/handlers/execute.rs
  modules/contracts/apps/payment/src/handlers/instantiate.rs
  modules/contracts/apps/ping-pong/src/handlers/execute.rs
  modules/contracts/apps/ping-pong/src/ibc/callback.rs
  modules/contracts/apps/subscription/src/handlers/execute.rs
Labels: none

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeller Github Action.
"account":
  # Match all of account folders
  - framework/contracts/account/**/*
"native":
  # Match all of native folders
  - framework/contracts/native/**/*
"breaking?":
  # Match all of abstract_std folders
  - framework/packages/abstract_std/**/*
"sdk":
  # Match all of sdk folders
  - framework/packages/abstract-sdk/**/*
"adapter_base":
  # Match all of adapter base folders
  - framework/packages/abstract-adapter/**/*
"app_base":
  # Match all of app base folders
  - framework/packages/abstract-app/**/*
"build":
  - build_release.sh
"CI":
  - .github/**/*.yml
# Add "C:documentation" label to documented related files and directories.
"documentation":
  - README.md
  - framework/contracts/**/*.md
  - framework/contracts/**/*/*.md
  - framework/docs/src/**/*
"interface":
  - framework/packages/abstract-interface/**/*
