Repository AbstractSDK/abstract, changes with the labels that .github/labeler.yml gives for each.
All labels: account, native, breaking?, sdk, adapter_base, app_base, build, CI, documentation, interface

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeller Github Action.
"account":
  # Match all of account folders
  - framework/contracts/account/**/*
"native":
  # Match all of native folders
  - framework/contracts/native/**/*
"breaking?":
  # Match all of abstract_std folders
  - framework/packages/abstract_std/**/*
"sdk":
  # Match all of sdk folders
  - framework/packages/abstract-sdk/**/*
"adapter_base":
  # Match all of adapter base folders
  - framework/packages/abstract-adapter/**/*
"app_base":
  # Match all of app base folders
  - framework/packages/abstract-app/**/*
"build":
  - build_release.sh
"CI":
  - .github/**/*.yml
# Add "C:documentation" label to documented related files and directories.
"documentation":
  - README.md
  - framework/contracts/**/*.md
  - framework/contracts/**/*/*.md
  - framework/docs/src/**/*
"interface":
  - framework/packages/abstract-interface/**/*

Fix changelog (#417)
  framework/CHANGELOG.md
  framework/docs/src/SUMMARY.md
  framework/docs/src/releases/CHANGELOG.md
  framework/docs/src/releases/index.md
Labels: documentation

SendAllBack should not be easily accessible
  framework/packages/abstract-client/src/interchain/remote_account.rs
Labels: none

add `address()` helper
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/interchain/remote_account.rs
Labels: none

upgrade method
  framework/packages/abstract-client/src/application.rs
Labels: none

changelog
  framework/docs/src/releases/CHANGELOG.md
Labels: documentation

fix tests
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/tests/integration.rs
  modules/contracts/apps/ping-pong/tests/ping_pong_tests.rs
Labels: none

replace wasm optimizer
  .github/workflows/release-artifacts.yml
  framework/docs/src/4_get_started/2_installation.md
  modules/build_release.sh
  scripts/wasm-all-ci.sh
  scripts/wasm-all.sh
  scripts/wasm-framework-ci.sh
  scripts/wasm-modules-ci.sh
Labels: CI, documentation

modules wasm build fix
  modules/build_release.sh
Labels: none

Swap out wasm optimizer (#420)
  .github/workflows/release-artifacts.yml
  framework/docs/src/4_get_started/2_installation.md
  modules/build_release.sh
  scripts/wasm-all-ci.sh
  scripts/wasm-all.sh
  scripts/wasm-framework-ci.sh
  scripts/wasm-modules-ci.sh
Labels: CI, documentation

Fix oversized dex contracts (#408)
  framework/packages/abstract-std/src/native/ans_host.rs
  framework/packages/standards/dex/Cargo.toml
  framework/packages/standards/dex/src/action.rs
  framework/packages/standards/dex/src/ans_action.rs
  framework/packages/standards/dex/src/command.rs
  framework/packages/standards/dex/src/lib.rs
  framework/packages/standards/dex/src/msg.rs
  framework/packages/standards/dex/src/tests.rs
  integrations/astroport-adapter/src/dex.rs
  integrations/astrovault-adapter/src/dex.rs
  integrations/astrovault-adapter/src/mini_astrovault.rs
  integrations/kujira-adapter/src/dex.rs
  integrations/kujira-adapter/src/money_market.rs
  integrations/osmosis-adapter/src/dex.rs
  integrations/wyndex-adapter/src/dex.rs
  interchain/modules-clone-testing/tests/dex/astroport.rs
  interchain/modules-clone-testing/tests/dex/astrovault.rs
  interchain/modules-clone-testing/tests/dex/kujira.rs
  modules/CHANGELOG.md
  modules/contracts/adapters/dex/Cargo.toml
  modules/contracts/adapters/dex/STATUS.md
  modules/contracts/adapters/dex/src/adapter.rs
  modules/contracts/adapters/dex/src/api.rs
  modules/contracts/adapters/dex/src/dex_tester.rs
  modules/contracts/adapters/dex/src/exchanges/exchange_resolver.rs
  modules/contracts/adapters/dex/src/exchanges/junoswap.rs
  modules/contracts/adapters/dex/src/exchanges/mod.rs
  modules/contracts/adapters/dex/src/handlers/execute.rs
  modules/contracts/adapters/dex/src/handlers/query.rs
  modules/contracts/adapters/dex/src/lib.rs
  modules/contracts/adapters/dex/tests/osmosis.rs
  modules/contracts/adapters/dex/tests/raw.rs
  modules/contracts/adapters/dex/tests/swap.rs
Labels: none

Update WASM & Schemas [skip ci]
  modules/artifacts/abstract_cw_staking-injective.wasm
  modules/artifacts/abstract_cw_staking-juno.wasm
  modules/artifacts/abstract_cw_staking-kujira.wasm
  modules/artifacts/abstract_cw_staking-neutron.wasm
  modules/artifacts/abstract_cw_staking-sei.wasm
  modules/artifacts/abstract_cw_staking-terra2.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter-injective.wasm
  modules/artifacts/abstract_dex_adapter-juno.wasm
  modules/artifacts/abstract_dex_adapter-kujira.wasm
  modules/artifacts/abstract_dex_adapter-neutron.wasm
  modules/artifacts/abstract_dex_adapter-osmosis.wasm
  modules/artifacts/abstract_dex_adapter-sei.wasm
  modules/artifacts/abstract_dex_adapter-terra2.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter-kujira.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/dca_app.wasm
  modules/artifacts/payment_app.wasm
  schema/ans-host/0.23.0/abstract-ans-host.json
  schema/dex/0.23.0/execute_msg.json
  schema/dex/0.23.0/module-schema.json
  schema/dex/0.23.0/query_msg.json
Labels: none

small starship config edit
  modules/contracts/standalones/ica-owner/starship/Makefile
  modules/contracts/standalones/ica-owner/starship/configs/osmo-juno.yaml
  modules/contracts/standalones/ica-owner/starship/port-forward.sh
Labels: none

ibc_enable
  framework/contracts/account/manager/tests/ibc-client.rs
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-interface/src/account/manager.rs
Labels: account, interface

module status
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-interface/src/native/version_control.rs
Labels: interface

update changelog
  framework/docs/src/releases/CHANGELOG.md
Labels: documentation

fix interchain scripts
  interchain/interchain-tests/src/interchain_accounts.rs
  interchain/scripts/src/bin/create_remote_account.rs
  interchain/scripts/src/bin/ibc-test.rs
Labels: none

dedup on `install_module_current_internal` as well
  framework/packages/abstract-client/src/account.rs
Labels: none

rename fns ibc_enable to set_ibc_status and enable_ibc()
  framework/contracts/account/manager/tests/ibc-client.rs
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-interface/src/account/manager.rs
  interchain/interchain-tests/src/interchain_accounts.rs
  interchain/scripts/src/bin/create_remote_account.rs
  interchain/scripts/src/bin/ibc-test.rs
Labels: account, interface

fix tests
  framework/contracts/account/manager/tests/ibc-client.rs
Labels: account

update changelog
  framework/docs/src/releases/CHANGELOG.md
Labels: documentation

ibc not enabled by default
  framework/packages/abstract-client/src/account.rs
Labels: none

Resolve feedback abstract client (#419)
  framework/docs/src/releases/CHANGELOG.md
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/application.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/src/interchain/remote_account.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-interface/src/native/version_control.rs
  modules/contracts/apps/ping-pong/tests/ping_pong_tests.rs
Labels: documentation, interface

formatting [skip ci]
  modules/contracts/adapters/dex/src/adapter.rs
Labels: none

update status.md
  modules/contracts/adapters/dex/STATUS.md
Labels: none

clippy fix
  modules/contracts/adapters/dex/src/adapter.rs
  modules/contracts/adapters/dex/tests/osmosis.rs
  modules/contracts/apps/calendar/Cargo.toml
Labels: none

make sure 0.23 dex compatible with 0.23 abstract
  framework/packages/standards/dex/Cargo.toml
  integrations/Cargo.toml
  modules/Cargo.toml
Labels: none

push locks
  .gitignore
  framework/Cargo.lock
  integrations/Cargo.lock
  interchain/Cargo.lock
  modules/Cargo.lock
Labels: none

modules artifacts
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking-injective.wasm
  modules/artifacts/abstract_cw_staking-juno.wasm
  modules/artifacts/abstract_cw_staking-kujira.wasm
  modules/artifacts/abstract_cw_staking-neutron.wasm
  modules/artifacts/abstract_cw_staking-osmosis.wasm
  modules/artifacts/abstract_cw_staking-sei.wasm
  modules/artifacts/abstract_cw_staking-terra2.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter-injective.wasm
  modules/artifacts/abstract_dex_adapter-juno.wasm
  modules/artifacts/abstract_dex_adapter-kujira.wasm
  modules/artifacts/abstract_dex_adapter-neutron.wasm
  modules/artifacts/abstract_dex_adapter-osmosis.wasm
  modules/artifacts/abstract_dex_adapter-sei.wasm
  modules/artifacts/abstract_dex_adapter-terra2.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter-kujira.wasm
  modules/artifacts/abstract_money_market_adapter-osmosis.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/croncat_app.wasm
  modules/artifacts/dca_app.wasm
  modules/artifacts/etf_app.wasm
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
  scripts/wasm-all.sh
Labels: none

Update WASM & Schemas [skip ci]
  framework/artifacts/abstract_account_factory.wasm
  framework/artifacts/abstract_ibc_client.wasm
  framework/artifacts/abstract_module_factory.wasm
  framework/artifacts/checksums.txt
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking-injective.wasm
  modules/artifacts/abstract_cw_staking-juno.wasm
  modules/artifacts/abstract_cw_staking-kujira.wasm
  modules/artifacts/abstract_cw_staking-neutron.wasm
  modules/artifacts/abstract_cw_staking-osmosis.wasm
  modules/artifacts/abstract_cw_staking-sei.wasm
  modules/artifacts/abstract_cw_staking-terra2.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter-injective.wasm
  modules/artifacts/abstract_dex_adapter-juno.wasm
  modules/artifacts/abstract_dex_adapter-kujira.wasm
  modules/artifacts/abstract_dex_adapter-neutron.wasm
  modules/artifacts/abstract_dex_adapter-osmosis.wasm
  modules/artifacts/abstract_dex_adapter-sei.wasm
  modules/artifacts/abstract_dex_adapter-terra2.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter-kujira.wasm
  modules/artifacts/abstract_money_market_adapter-osmosis.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/croncat_app.wasm
  modules/artifacts/dca_app.wasm
  modules/artifacts/etf_app.wasm
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
Labels: none

abstract testing not workspace dep
  framework/Cargo.lock
  framework/packages/standards/dex/Cargo.toml
Labels: none

use crate registry for abstract-dex-standard
  integrations/Cargo.lock
  integrations/Cargo.toml
  modules/Cargo.lock
  modules/Cargo.toml
Labels: none

wasms
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking-injective.wasm
  modules/artifacts/abstract_cw_staking-juno.wasm
  modules/artifacts/abstract_cw_staking-kujira.wasm
  modules/artifacts/abstract_cw_staking-neutron.wasm
  modules/artifacts/abstract_cw_staking-osmosis.wasm
  modules/artifacts/abstract_cw_staking-sei.wasm
  modules/artifacts/abstract_cw_staking-terra2.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter-injective.wasm
  modules/artifacts/abstract_dex_adapter-juno.wasm
  modules/artifacts/abstract_dex_adapter-kujira.wasm
  modules/artifacts/abstract_dex_adapter-neutron.wasm
  modules/artifacts/abstract_dex_adapter-osmosis.wasm
  modules/artifacts/abstract_dex_adapter-sei.wasm
  modules/artifacts/abstract_dex_adapter-terra2.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter-kujira.wasm
  modules/artifacts/abstract_money_market_adapter-osmosis.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/dca_app.wasm
  modules/artifacts/payment_app.wasm
Labels: none

include migrate script
  interchain/scripts/src/bin/migrate.rs
Labels: none

update state.json
  interchain/scripts/state.json
Labels: none

update state.json
  interchain/scripts/state.json
Labels: none

add pfm test
  interchain/Cargo.toml
  interchain/interchain-tests/Cargo.toml
  interchain/interchain-tests/src/bin/pfm_test.rs
  interchain/interchain-tests/src/interchain_accounts.rs
  interchain/three-chain-starship/Makefile
  interchain/three-chain-starship/configs/osmo-juno.yaml
  interchain/three-chain-starship/port-forward.sh
Labels: none

abstract-interface should have only non-wasm32 deps
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/standards/dex/Cargo.toml
Labels: interface

Update adapter readmes to use <latest-tag> in import version
  modules/contracts/adapters/cw-staking/README.md
  modules/contracts/adapters/dex/README.md
  modules/contracts/adapters/money-market/README.md
  modules/contracts/apps/calendar/README.md
  modules/contracts/apps/croncat/README.md
  modules/contracts/apps/dca/README.md
Labels: none

4chain
  interchain/Cargo.toml
  interchain/interchain-tests/src/bin/pfm_test.rs
  interchain/three-chain-starship/configs/osmo-juno.yaml
Labels: none

delete ibc chain registry dep for dex standard
  framework/packages/standards/dex/Cargo.toml
Labels: none
