Repository AbstractSDK/abstract, changes with the labels that .github/labeler.yml gives for each.
All labels: account, native, breaking?, sdk, adapter_base, app_base, build, CI, documentation, interface

Abstract-interface should have only non-wasm32 dependencies (#424)
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/standards/dex/Cargo.toml
Labels: interface

add receiver to ibc sendfunds
  framework/contracts/account/proxy/src/commands.rs
  framework/contracts/native/ibc-client/src/commands.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-sdk/src/apis/ibc_memo.rs
  framework/packages/abstract-sdk/src/apis/ibc_memo/hooks.rs
  framework/packages/abstract-sdk/src/apis/ibc_memo/pfm.rs
  framework/packages/abstract-std/src/native/ibc_client.rs
  interchain/Cargo.toml
  interchain/four-chain-starship/Makefile
  interchain/four-chain-starship/configs/four-junos.yaml
  interchain/four-chain-starship/port-forward.sh
  interchain/interchain-tests/Cargo.toml
  interchain/interchain-tests/src/bin/ibc_hook.rs
  interchain/interchain-tests/src/bin/pfm.rs
  interchain/interchain-tests/src/bin/setup_funds.rs
  interchain/interchain-tests/src/interchain_accounts.rs
  interchain/interchain-tests/src/setup.rs
  modules/contracts/adapters/cw-staking/src/handlers/execute.rs
  modules/contracts/adapters/dex/src/handlers/execute.rs
Labels: account, native, sdk

add ibc mermaid diagram
  framework/contracts/native/ibc-client/README.md
Labels: native, documentation

memo api improvements
  framework/packages/abstract-sdk/src/apis/ibc_memo.rs
  framework/packages/abstract-sdk/src/apis/ibc_memo/hooks.rs
  framework/packages/abstract-sdk/src/apis/ibc_memo/pfm.rs
Labels: sdk

finalize tests
  interchain/Cargo.toml
  interchain/four-chain-starship/configs/four-junos.yaml
  interchain/interchain-tests/Cargo.toml
  interchain/interchain-tests/src/bin/ibc_hook.rs
  interchain/interchain-tests/src/bin/pfm.rs
Labels: none

update state.json (#423)
  interchain/scripts/state.json
Labels: none

Update AppDeployer requirements
  framework/Cargo.toml
  framework/contracts/account/manager/Cargo.toml
  framework/contracts/account/manager/src/versioning.rs
  framework/contracts/native/ibc-client/Cargo.toml
  framework/contracts/native/ibc-client/src/contract.rs
  framework/contracts/native/ibc-host/Cargo.toml
  framework/contracts/native/ibc-host/src/contract.rs
  framework/contracts/native/ibc-host/src/error.rs
  framework/contracts/native/version-control/Cargo.toml
  framework/contracts/native/version-control/src/contract.rs
  framework/contracts/native/version-control/src/error.rs
  framework/contracts/native/version-control/src/migrate.rs
  framework/packages/abstract-adapter/src/interface.rs
  framework/packages/abstract-app/src/interface.rs
  framework/packages/abstract-app/src/lib.rs
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-interface/src/account/mod.rs
  framework/packages/abstract-interface/src/deployers.rs
  framework/packages/abstract-interface/src/error.rs
  framework/packages/abstract-interface/src/migrate.rs
  framework/packages/abstract-interface/src/native/ibc_client.rs
  framework/packages/abstract-sdk/src/base/features/dependencies.rs
  framework/packages/abstract-sdk/src/mock_module.rs
  framework/packages/abstract-standalone/src/features.rs
  framework/packages/abstract-standalone/src/lib.rs
  framework/packages/abstract-std/Cargo.toml
  framework/packages/abstract-std/src/error.rs
  framework/packages/abstract-std/src/objects/dependency.rs
  framework/packages/abstract-std/src/objects/module.rs
  framework/packages/abstract-std/src/objects/module_version.rs
  integrations/Cargo.toml
  interchain/Cargo.toml
  interchain/framework-clone-testing/Cargo.toml
  interchain/framework-clone-testing/tests/upgrade-account.rs
  modules/Cargo.toml
  modules/contracts/adapters/cw-staking/src/lib.rs
  modules/contracts/adapters/dex/src/lib.rs
  modules/contracts/adapters/money-market/src/lib.rs
  modules/contracts/standalones/ica-owner/src/interface.rs
Labels: account, native, sdk, adapter_base, app_base, interface

assert_dependencies_deployed
  framework/packages/abstract-adapter/src/lib.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-interface/src/deployers.rs
  framework/packages/abstract-interface/src/error.rs
  framework/packages/abstract-interface/src/native/version_control.rs
  framework/packages/abstract-standalone/src/lib.rs
Labels: adapter_base, interface

update changelog
  framework/docs/src/releases/CHANGELOG.md
Labels: documentation

modules compilation fix
  modules/Cargo.toml
  modules/contracts/adapters/cw-staking/tests/osmosis_stake.rs
  modules/contracts/standalones/ica-owner/src/interface.rs
Labels: none

Register polytone connection on ibc infrastructure
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-interface/src/ibc.rs
  framework/packages/abstract-interface/src/migrate.rs
  interchain/scripts/src/bin/deploy-ibc.rs
Labels: interface

init
  framework/Cargo.toml
  framework/contracts/native/ica-client/Cargo.toml
  framework/contracts/native/ica-client/README.md
  framework/contracts/native/ica-client/examples/schema.rs
  framework/contracts/native/ica-client/src/commands.rs
  framework/contracts/native/ica-client/src/contract.rs
  framework/contracts/native/ica-client/src/error.rs
  framework/contracts/native/ica-client/src/ibc.rs
  framework/contracts/native/ica-client/src/lib.rs
  framework/contracts/native/ica-client/src/msg.rs
  framework/contracts/native/ica-client/src/queries.rs
  framework/packages/abstract-ica/Cargo.toml
  framework/packages/abstract-ica/README.md
  framework/packages/abstract-ica/src/account.rs
  framework/packages/abstract-ica/src/action.rs
  framework/packages/abstract-ica/src/cosmos.rs
  framework/packages/abstract-ica/src/evm.rs
  framework/packages/abstract-ica/src/lib.rs
  framework/packages/abstract-std/src/core/proxy.rs
  framework/packages/abstract-std/src/native/ibc_client.rs
  framework/packages/abstract-std/src/native/ibc_host.rs
Labels: native, documentation

formatting [skip ci]
  framework/contracts/native/ica-client/src/contract.rs
  framework/contracts/native/ica-client/src/lib.rs
  framework/contracts/native/ica-client/src/msg.rs
  framework/contracts/native/ica-client/src/queries.rs
  framework/packages/abstract-ica/src/action.rs
  framework/packages/abstract-ica/src/cosmos.rs
  framework/packages/abstract-ica/src/evm.rs
  framework/packages/abstract-ica/src/lib.rs
  framework/packages/abstract-std/src/core/proxy.rs
Labels: native

forward stargate feature
  framework/packages/abstract-adapter/Cargo.toml
  framework/packages/abstract-app/Cargo.toml
  framework/packages/abstract-standalone/Cargo.toml
Labels: adapter_base, app_base

changelog
  framework/docs/src/releases/CHANGELOG.md
Labels: documentation

Update adapter readmes to use <latest-tag> in import version (#425)
  modules/contracts/adapters/cw-staking/README.md
  modules/contracts/adapters/dex/README.md
  modules/contracts/adapters/money-market/README.md
  modules/contracts/apps/calendar/README.md
  modules/contracts/apps/croncat/README.md
  modules/contracts/apps/dca/README.md
Labels: none

Service module type
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/native/ibc-client/src/commands.rs
  framework/contracts/native/ibc-host/src/endpoints/packet.rs
  framework/contracts/native/module-factory/src/commands.rs
  framework/docs/src/releases/CHANGELOG.md
  framework/packages/abstract-interface/src/native/version_control.rs
  framework/packages/abstract-sdk/src/apis/version_registry.rs
  framework/packages/abstract-std/src/native/ibc_client.rs
  framework/packages/abstract-std/src/objects/module.rs
  framework/packages/abstract-std/src/objects/module_reference.rs
Labels: account, native, sdk, documentation, interface

update changelog
  framework/docs/src/releases/CHANGELOG.md
Labels: documentation

progress
  framework/contracts/account/proxy/Cargo.toml
  framework/contracts/account/proxy/src/contract.rs
  framework/contracts/native/ica-client/Cargo.toml
  framework/contracts/native/ica-client/src/commands.rs
  framework/contracts/native/ica-client/src/contract.rs
  framework/contracts/native/ica-client/src/error.rs
  framework/contracts/native/ica-client/src/ibc.rs
  framework/contracts/native/ica-client/src/lib.rs
  framework/contracts/native/ica-client/src/queries.rs
  framework/packages/abstract-ica/Cargo.toml
  framework/packages/abstract-ica/src/account.rs
  framework/packages/abstract-ica/src/action.rs
  framework/packages/abstract-ica/src/chain_type.rs
  framework/packages/abstract-ica/src/lib.rs
  framework/packages/abstract-ica/src/msg.rs
  framework/packages/abstract-std/src/core/proxy.rs
  framework/packages/abstract-std/src/native/ibc_client.rs
  framework/packages/abstract-std/src/native/ibc_host.rs
  framework/packages/abstract-std/src/objects/module.rs
  framework/packages/abstract-std/src/registry.rs
Labels: account, native

formatting [skip ci]
  framework/contracts/account/proxy/src/contract.rs
  framework/packages/abstract-ica/src/chain_type.rs
  framework/packages/abstract-ica/src/lib.rs
  framework/packages/abstract-std/src/core/proxy.rs
Labels: account

add support for services in abstract client
  framework/contracts/account/manager/src/queries.rs
  framework/contracts/native/version-control/src/commands.rs
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/publisher.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-client/tests/mock_service.rs
  framework/packages/abstract-interface/src/deployers.rs
  framework/packages/abstract-std/src/native/version_control.rs
  framework/packages/abstract-std/src/objects/module.rs
  framework/packages/abstract-std/src/objects/version_control.rs
Labels: account, native, interface

add service api to client
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/src/lib.rs
  framework/packages/abstract-client/src/service.rs
  framework/packages/abstract-client/tests/integration.rs
Labels: none

changelog
  framework/docs/src/releases/CHANGELOG.md
Labels: documentation

ensure only service obtainable
  framework/packages/abstract-client/src/error.rs
  framework/packages/abstract-client/src/service.rs
Labels: none

cleanup
  framework/contracts/account/proxy/src/commands.rs
  framework/contracts/account/proxy/src/contract.rs
  framework/contracts/native/ica-client/Cargo.toml
  framework/contracts/native/ica-client/src/chain_types/evm.rs
  framework/contracts/native/ica-client/src/chain_types/mod.rs
  framework/contracts/native/ica-client/src/contract.rs
  framework/contracts/native/ica-client/src/error.rs
  framework/contracts/native/ica-client/src/lib.rs
  framework/contracts/native/ica-client/src/queries.rs
  framework/packages/abstract-ica/Cargo.toml
  framework/packages/abstract-ica/src/action.rs
  framework/packages/abstract-ica/src/chain_type.rs
  framework/packages/abstract-ica/src/evm.rs
  framework/packages/abstract-ica/src/lib.rs
  framework/packages/abstract-ica/src/msg.rs
  framework/packages/abstract-std/src/core/proxy.rs
Labels: account, native

formatting [skip ci]
  framework/contracts/native/ica-client/src/contract.rs
  framework/contracts/native/ica-client/src/queries.rs
Labels: native

clippy
  framework/contracts/native/ica-client/src/contract.rs
  framework/contracts/native/ica-client/src/queries.rs
  framework/packages/abstract-ica/src/account.rs
  framework/packages/abstract-ica/src/action.rs
  framework/packages/abstract-ica/src/cosmos.rs
  framework/packages/abstract-ica/src/lib.rs
  framework/packages/abstract-ica/src/msg.rs
  framework/packages/abstract-std/src/core/proxy.rs
Labels: native

formatting [skip ci]
  framework/contracts/native/ica-client/src/queries.rs
Labels: native

clippy
  framework/contracts/account/manager/src/queries.rs
Labels: account

fix: set address of the service
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/src/service.rs
Labels: none

remove branch dep
  interchain/Cargo.toml
Labels: none

allow unused: maybe we move mock_service.rs somewhere public
  framework/packages/abstract-client/tests/mock_service.rs
Labels: none

clippy
  framework/contracts/native/ibc-client/src/commands.rs
  framework/packages/abstract-sdk/src/apis/ibc_memo/pfm.rs
Labels: native, sdk

bizarre handling of different cw_orchs for testing ibc_hook
  interchain/Cargo.toml
  interchain/interchain-tests/Cargo.toml
  interchain/interchain-tests/src/bin/ibc_hook.rs
Labels: none

Apply suggestions from code review
  framework/docs/src/releases/CHANGELOG.md
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-std/src/objects/module_reference.rs
Labels: documentation

small improvements on manager queries
  framework/contracts/account/manager/src/queries.rs
Labels: account

use existing module helper for getting module safely
  framework/packages/abstract-client/src/account.rs
Labels: none

Use DeployStrategy::Try for maybe_deploy
  framework/packages/abstract-interface/src/deployers.rs
Labels: interface

patch publish script
  framework/publish/publish.sh
Labels: none

move ica-client state and remove unused evm types
  framework/contracts/native/ica-client/src/chain_types/evm.rs
  framework/contracts/native/ica-client/src/contract.rs
  framework/contracts/native/ica-client/src/lib.rs
  framework/contracts/native/ica-client/src/queries.rs
  framework/contracts/native/ica-client/src/state.rs
  framework/packages/abstract-ica/src/evm.rs
  framework/packages/abstract-ica/src/lib.rs
  framework/packages/abstract-ica/src/msg.rs
Labels: native

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeller Github Action.
"account":
  # Match all of account folders
  - framework/contracts/account/**/*
"native":
  # Match all of native folders
  - framework/contracts/native/**/*
"breaking?":
  # Match all of abstract_std folders
  - framework/packages/abstract_std/**/*
"sdk":
  # Match all of sdk folders
  - framework/packages/abstract-sdk/**/*
"adapter_base":
  # Match all of adapter base folders
  - framework/packages/abstract-adapter/**/*
"app_base":
  # Match all of app base folders
  - framework/packages/abstract-app/**/*
"build":
  - build_release.sh
"CI":
  - .github/**/*.yml
# Add "C:documentation" label to documented related files and directories.
"documentation":
  - README.md
  - framework/contracts/**/*.md
  - framework/contracts/**/*/*.md
  - framework/docs/src/**/*
"interface":
  - framework/packages/abstract-interface/**/*
