Repository AbstractSDK/abstract, changes with the labels that .github/labeler.yml gives for each.
All labels: account, native, breaking?, sdk, adapter_base, app_base, build, CI, documentation, interface

Update WASM & Schemas [skip ci]
  framework/artifacts/abstract_account-xion.wasm
  framework/artifacts/abstract_account.wasm
  framework/artifacts/abstract_ans_host.wasm
  framework/artifacts/abstract_ibc_client.wasm
  framework/artifacts/abstract_ibc_host.wasm
  framework/artifacts/abstract_ica_client.wasm
  framework/artifacts/abstract_module_factory.wasm
  framework/artifacts/abstract_registry.wasm
  framework/artifacts/checksums.txt
  schema/account/0.26.0/abstract-account.json
  schema/ibc-client/0.26.0/abstract-ibc-client.json
  schema/ibc-host/0.26.0/abstract-ibc-host.json
  schema/ica-client/0.26.0/abstract-ica-client.json
Labels: none

xion-testnet-2 abstract deployment
  interchain/scripts/state.json
Labels: none

upload latest account contract
  interchain/scripts/state.json
Labels: none

update changelog
  framework/docs/src/releases/CHANGELOG.md
Labels: documentation

update artifacts and abstract-account version
  framework/Cargo.lock
  framework/Cargo.toml
  framework/artifacts/abstract_account-xion.wasm
  framework/artifacts/abstract_account.wasm
  framework/artifacts/checksums.txt
  framework/contracts/account/Cargo.toml
  framework/packages/abstract-interface/Cargo.toml
  integrations/Cargo.lock
  interchain/Cargo.lock
  interchain/Cargo.toml
  modules/Cargo.lock
Labels: account, interface

Update CHANGELOG.md
  framework/docs/src/releases/CHANGELOG.md
Labels: documentation

upload wasm with 0.1.1 xion-account
  framework/artifacts/abstract_account-xion.wasm
  interchain/scripts/state.json
Labels: none

Update WASM & Schemas [skip ci]
  schema/account/0.26.1/abstract-account.json
Labels: none

evm-note bump for ica-client
  framework/Cargo.lock
  framework/contracts/native/ica-client/Cargo.toml
Labels: native

update everything
  framework/Cargo.lock
  framework/contracts/native/ica-client/Cargo.toml
  framework/packages/abstract-ica/Cargo.toml
  framework/rust-toolchain.toml
  integrations/Cargo.lock
  interchain/Cargo.lock
  interchain/scripts/state.json
  modules/Cargo.lock
Labels: native

manual build
  framework/artifacts/abstract_ica_client.wasm
Labels: none

update tests
  framework/contracts/native/ica-client/src/queries.rs
Labels: native

deploy ica-client
  framework/Cargo.lock
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-interface/src/native/ica_client.rs
  framework/packages/abstract-interface/src/native/mod.rs
  interchain/Cargo.lock
  interchain/Cargo.toml
  interchain/scripts/Cargo.toml
  interchain/scripts/src/bin/deploy_ica.rs
  interchain/scripts/state.json
Labels: interface

make polytone-evm pub for abstract-ica
  framework/packages/abstract-ica/src/lib.rs
Labels: none

deploy_ica script
  integrations/Cargo.lock
  interchain/scripts/src/bin/deploy_ica.rs
  modules/Cargo.lock
Labels: none

support multiple evm connections on ica client
  framework/contracts/native/ica-client/src/chain_types/evm.rs
  framework/contracts/native/ica-client/src/contract.rs
  framework/contracts/native/ica-client/src/error.rs
  framework/contracts/native/ica-client/src/queries.rs
  framework/packages/abstract-ica/src/msg.rs
  framework/packages/abstract-std/src/native/ibc/ica_client.rs
  framework/packages/abstract-std/src/objects/storage_namespaces.rs
Labels: native

format
  framework/contracts/native/ica-client/src/chain_types/evm.rs
Labels: native

format taplo
  framework/Cargo.toml
  framework/contracts/native/ica-client/Cargo.toml
  framework/packages/abstract-interface/Cargo.toml
  integrations/Cargo.lock
  integrations/astrovault-adapter/Cargo.toml
  integrations/neutron-dex-adapter/Cargo.toml
  interchain/Cargo.lock
  interchain/Cargo.toml
  interchain/interchain-end_to_end_testing/Cargo.toml
  interchain/modules-clone-testing/Cargo.toml
  modules/Cargo.lock
  modules/contracts/adapters/cw-staking/Cargo.toml
  modules/contracts/adapters/dex/Cargo.toml
Labels: native, interface

update to ucs03
  framework/Cargo.lock
  framework/contracts/native/ica-client/Cargo.toml
  framework/contracts/native/ica-client/src/chain_types/evm.rs
  framework/contracts/native/ica-client/src/queries.rs
  framework/packages/abstract-std/src/native/ibc/ica_client.rs
  framework/rust-toolchain.toml
  interchain/Cargo.lock
  modules/Cargo.lock
Labels: native

Support multiple polytone evm connections on ica client (#567)
  framework/contracts/native/ica-client/src/chain_types/evm.rs
  framework/contracts/native/ica-client/src/contract.rs
  framework/contracts/native/ica-client/src/error.rs
  framework/contracts/native/ica-client/src/queries.rs
  framework/packages/abstract-ica/src/msg.rs
  framework/packages/abstract-std/src/native/ibc/ica_client.rs
  framework/packages/abstract-std/src/objects/storage_namespaces.rs
Labels: native

lock
  framework/Cargo.lock
Labels: none

Remove polytone deployments
  interchain/scripts/state.json
Labels: none

patch sccache
  .github/workflows/framework-check.yml
Labels: CI

xion-testnet-2 abstract deployment (#564)
  .github/workflows/framework-check.yml
  interchain/scripts/state.json
Labels: CI

ica-client deployment
  framework/Cargo.lock
  framework/artifacts/abstract_ica_client.wasm
  interchain/scripts/src/bin/deploy_ica.rs
  interchain/scripts/state.json
Labels: none

union deployment ica
  interchain/scripts/src/bin/deploy_ica.rs
  interchain/scripts/state.json
Labels: none

fix ci?
  .github/workflows/framework-test.yml
  .github/workflows/interchain-test.yml
  .github/workflows/modules-check.yml
Labels: CI

update versions
  framework/Cargo.lock
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-std/Cargo.toml
  integrations/Cargo.lock
  interchain/Cargo.lock
  modules/Cargo.lock
Labels: interface

ica-client format
  framework/contracts/native/ica-client/src/contract.rs
Labels: native

artifacts
  framework/artifacts/abstract_account-xion.wasm
  framework/artifacts/abstract_account.wasm
  framework/artifacts/abstract_ans_host.wasm
  framework/artifacts/abstract_ibc_client.wasm
  framework/artifacts/abstract_ibc_host.wasm
  framework/artifacts/abstract_ica_client.wasm
  framework/artifacts/abstract_module_factory.wasm
  framework/artifacts/abstract_registry.wasm
  framework/artifacts/checksums.txt
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking-juno.wasm
  modules/artifacts/abstract_cw_staking-kujira.wasm
  modules/artifacts/abstract_cw_staking-osmosis.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter-juno.wasm
  modules/artifacts/abstract_dex_adapter-kujira.wasm
  modules/artifacts/abstract_dex_adapter-neutron.wasm
  modules/artifacts/abstract_dex_adapter-osmosis.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter-kujira.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
Labels: none

patch everything to 0.26.1, and add a comment on abstract-std version
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/account/Cargo.toml
  framework/packages/abstract-adapter/Cargo.toml
  framework/packages/abstract-app/Cargo.toml
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-standalone/Cargo.toml
  framework/packages/abstract-std/Cargo.toml
  framework/packages/standards/dex/Cargo.toml
  integrations/Cargo.lock
  integrations/Cargo.toml
  interchain/Cargo.lock
  interchain/Cargo.toml
  modules/Cargo.lock
  modules/Cargo.toml
  modules/contracts/apps/ping-pong/Cargo.toml
Labels: account, adapter_base, app_base, interface

fix ica-client tests
  framework/contracts/native/ica-client/src/lib.rs
Labels: native

snapshots
  framework/contracts/account/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/tests/snapshots/apps__execute_on_account.snap
  framework/contracts/account/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_multiple_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_standalone_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_with_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__exec_on_account.snap
  framework/contracts/account/tests/snapshots/proxy__instantiate_account.snap
  framework/contracts/account/tests/snapshots/subaccount__account_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__creating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account.snap
  framework/contracts/account/tests/snapshots/subaccount__updating_on_subaccount_should_succeed.snap
  framework/contracts/native/ibc-client/tests/snapshots/multihop_accounts__multihop_account.snap
Labels: account, native

artifacts
  framework/artifacts/abstract_account-xion.wasm
  framework/artifacts/abstract_account.wasm
  framework/artifacts/abstract_ans_host.wasm
  framework/artifacts/abstract_ibc_client.wasm
  framework/artifacts/abstract_ibc_host.wasm
  framework/artifacts/abstract_ica_client.wasm
  framework/artifacts/abstract_module_factory.wasm
  framework/artifacts/abstract_registry.wasm
  framework/artifacts/checksums.txt
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking-juno.wasm
  modules/artifacts/abstract_cw_staking-kujira.wasm
  modules/artifacts/abstract_cw_staking-osmosis.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter-juno.wasm
  modules/artifacts/abstract_dex_adapter-kujira.wasm
  modules/artifacts/abstract_dex_adapter-neutron.wasm
  modules/artifacts/abstract_dex_adapter-osmosis.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter-kujira.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
Labels: none

clippy fixes
  framework/packages/abstract-std/src/account.rs
  framework/packages/abstract-std/src/native_addrs.rs
  framework/packages/abstract-std/src/objects/module_version.rs
Labels: none

clippy non-test fix
  framework/contracts/account/src/execution.rs
  framework/contracts/account/tests/xion.rs
  framework/contracts/native/ans-host/src/queries.rs
  framework/contracts/native/ibc-host/src/endpoints/packet.rs
  framework/packages/abstract-interface/src/account.rs
  framework/packages/abstract-std/src/account.rs
Labels: account, native, interface

fix clippy
  framework/packages/abstract-sdk/src/apis/authz.rs
Labels: sdk

bump workspace optimizer @ 0.17.0
  .github/workflows/release-artifacts.yml
  framework/artifacts/abstract_account-xion.wasm
  framework/artifacts/abstract_account.wasm
  framework/artifacts/abstract_ans_host.wasm
  framework/artifacts/abstract_ibc_client.wasm
  framework/artifacts/abstract_ibc_host.wasm
  framework/artifacts/abstract_ica_client.wasm
  framework/artifacts/abstract_module_factory.wasm
  framework/artifacts/abstract_registry.wasm
  framework/artifacts/checksums.txt
  framework/build_release.sh
  framework/justfile
  modules/build_release.sh
  scripts/wasm-all-ci.sh
  scripts/wasm-all.sh
  scripts/wasm-framework-ci.sh
  scripts/wasm-modules-ci.sh
Labels: CI

just wasm-all w/ latest optimizer
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking-juno.wasm
  modules/artifacts/abstract_cw_staking-kujira.wasm
  modules/artifacts/abstract_cw_staking-osmosis.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter-juno.wasm
  modules/artifacts/abstract_dex_adapter-kujira.wasm
  modules/artifacts/abstract_dex_adapter-neutron.wasm
  modules/artifacts/abstract_dex_adapter-osmosis.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter-kujira.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
Labels: none

changelog
  framework/docs/src/releases/CHANGELOG.md
Labels: documentation

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeller Github Action.
"account":
  # Match all of account folders
  - framework/contracts/account/**/*
"native":
  # Match all of native folders
  - framework/contracts/native/**/*
"breaking?":
  # Match all of abstract_std folders
  - framework/packages/abstract_std/**/*
"sdk":
  # Match all of sdk folders
  - framework/packages/abstract-sdk/**/*
"adapter_base":
  # Match all of adapter base folders
  - framework/packages/abstract-adapter/**/*
"app_base":
  # Match all of app base folders
  - framework/packages/abstract-app/**/*
"build":
  - build_release.sh
"CI":
  - .github/**/*.yml
# Add "C:documentation" label to documented related files and directories.
"documentation":
  - README.md
  - framework/contracts/**/*.md
  - framework/contracts/**/*/*.md
  - framework/docs/src/**/*
"interface":
  - framework/packages/abstract-interface/**/*
