Repository AbstractSDK/abstract, changes with the labels that .github/labeler.yml gives for each.
All labels: account, native, breaking?, sdk, adapter_base, app_base, build, CI, documentation, interface

formatting [skip ci]
  framework/contracts/native/ibc-host/src/account_commands.rs
Labels: native

Started test, missing IBC hooks inside cw-multi-test
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/account/Cargo.toml
  framework/contracts/account/src/execution.rs
  framework/contracts/account/src/reply.rs
  framework/contracts/account/tests/token_transfers.rs
Labels: account

working cw-multi-test hook test
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/account/tests/token_transfers.rs
Labels: account

update account instantiation
  framework/artifacts/abstract_account-xion.wasm
  framework/artifacts/abstract_account.wasm
  framework/artifacts/abstract_ibc_host.wasm
  framework/artifacts/checksums.txt
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/lib.rs
  framework/contracts/account/src/sub_account.rs
  framework/contracts/account/tests/create.rs
  framework/contracts/account/tests/xion.rs
  framework/contracts/native/ibc-host/src/account_commands.rs
  framework/packages/abstract-interface/src/account.rs
  framework/packages/abstract-interface/tests/interchain_integration/interchain_accounts.rs
  framework/packages/abstract-std/src/account.rs
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking-osmosis.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter-osmosis.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
  modules/contracts/adapters/cw-staking/src/lib.rs
  modules/contracts/adapters/cw-staking/tests/osmosis_stake.rs
  modules/contracts/adapters/dex/src/lib.rs
  modules/contracts/apps/subscription/tests/integration.rs
Labels: account, native, interface

rev namespace for abstract
  framework/contracts/native/registry/src/contract.rs
  framework/contracts/native/registry/src/migrate.rs
Labels: native

Rev namespace for abstract (#524)
  framework/contracts/native/registry/src/contract.rs
  framework/contracts/native/registry/src/migrate.rs
Labels: native

update interchain tests
  framework/artifacts/abstract_registry.wasm
  framework/artifacts/checksums.txt
  framework/packages/abstract-client/src/interchain/mod.rs
  framework/packages/abstract-client/tests/abstract_interchain_client_builder.rs
  framework/packages/abstract-std/src/native_addrs.rs
  interchain/framework-clone-testing/src/common.rs
  interchain/modules-clone-testing/src/common.rs
  interchain/scripts/src/bin/xion_test.rs
  modules/contracts/apps/calendar/tests/integration.rs
  modules/contracts/apps/ping-pong/tests/ping_pong_tests.rs
  modules/contracts/apps/subscription/tests/integration.rs
Labels: none

update deps
  framework/Cargo.lock
  framework/packages/abstract-std/Cargo.toml
  framework/packages/abstract-std/src/error.rs
  framework/packages/abstract-xion/Cargo.toml
  framework/packages/abstract-xion/src/error.rs
  framework/workspace-hack/Cargo.toml
Labels: none

Ibc Source callbacks work, ack still needs to be processed correctly
  framework/Cargo.lock
  framework/contracts/account/Cargo.toml
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/execution.rs
  framework/contracts/account/tests/token_transfers.rs
  framework/packages/abstract-interface/src/account.rs
  interchain/Cargo.toml
  interchain/interchain-end_to_end_testing/src/bin/ibc_hook.rs
Labels: account, interface

Better doc comment
  framework/packages/abstract-client/src/builder.rs
Labels: none

Added xion crate instead of local xion (#525)
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/execution.rs
  framework/contracts/account/src/lib.rs
  framework/contracts/account/tests/xion.rs
  framework/packages/abstract-std/src/account.rs
  framework/packages/abstract-xion/Cargo.toml
  framework/packages/abstract-xion/src/auth/eth_crypto.rs
  framework/packages/abstract-xion/src/auth/jwt.rs
  framework/packages/abstract-xion/src/auth/mod.rs
  framework/packages/abstract-xion/src/auth/passkey.rs
  framework/packages/abstract-xion/src/auth/secp256r1.rs
  framework/packages/abstract-xion/src/auth/sign_arb.rs
  framework/packages/abstract-xion/src/auth/util.rs
  framework/packages/abstract-xion/src/error.rs
  framework/packages/abstract-xion/src/lib.rs
  framework/packages/abstract-xion/src/queries.rs
  framework/packages/abstract-xion/src/state.rs
  framework/packages/abstract-xion/src/sudo.rs
  framework/packages/abstract-xion/src/xion_proto/jwk.rs
  framework/packages/abstract-xion/src/xion_proto/mod.rs
  framework/workspace-hack/Cargo.toml
  interchain/Cargo.toml
  interchain/scripts/Cargo.toml
  interchain/scripts/src/bin/xion_test.rs
Labels: account

Update framework/packages/abstract-client/src/builder.rs
  framework/packages/abstract-client/src/builder.rs
Labels: none

Better doc comment (#529)
  framework/packages/abstract-client/src/builder.rs
Labels: none

use two statics and only in wasms
  framework/contracts/account/src/modules.rs
  framework/contracts/account/src/modules/migration.rs
  framework/contracts/account/src/queries.rs
  framework/contracts/account/src/sub_account.rs
  framework/contracts/native/ibc-client/src/commands.rs
  framework/contracts/native/ibc-client/src/queries.rs
  framework/contracts/native/ibc-host/src/account_commands.rs
  framework/contracts/native/ibc-host/src/endpoints/packet.rs
  framework/contracts/native/ibc-host/src/endpoints/query.rs
  framework/contracts/native/ica-client/src/chain_types/evm.rs
  framework/contracts/native/ica-client/src/queries.rs
  framework/contracts/native/module-factory/src/commands.rs
  framework/contracts/native/module-factory/src/contract.rs
  framework/packages/abstract-adapter/src/endpoints/query.rs
  framework/packages/abstract-app/src/endpoints/query.rs
  framework/packages/abstract-app/src/features.rs
  framework/packages/abstract-interface/src/native/registry.rs
  framework/packages/abstract-standalone/src/features.rs
  framework/packages/abstract-std/src/native_addrs.rs
  framework/packages/abstract-std/src/objects/gov_type.rs
  modules/contracts/adapters/cw-staking/tests/osmosis_stake.rs
  modules/contracts/adapters/dex/tests/osmosis.rs
Labels: account, native, adapter_base, app_base, interface

small fixes, new artifacts
  framework/Cargo.lock
  framework/Cargo.toml
  framework/artifacts/abstract_account-xion.wasm
  framework/artifacts/abstract_account.wasm
  framework/artifacts/abstract_ans_host.wasm
  framework/artifacts/abstract_ibc_client.wasm
  framework/artifacts/abstract_ibc_host.wasm
  framework/artifacts/abstract_ica_client.wasm
  framework/artifacts/abstract_module_factory.wasm
  framework/artifacts/abstract_registry.wasm
  framework/artifacts/checksums.txt
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking-osmosis.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter-osmosis.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
  modules/contracts/adapters/cw-staking/tests/osmosis_stake.rs
  modules/contracts/adapters/dex/tests/osmosis.rs
Labels: none

hakari
  framework/workspace-hack/Cargo.toml
Labels: none

registry bump
  framework/Cargo.lock
  framework/artifacts/abstract_account-xion.wasm
  framework/artifacts/abstract_account.wasm
  framework/artifacts/abstract_ibc_client.wasm
  framework/artifacts/abstract_ibc_host.wasm
  framework/artifacts/abstract_ica_client.wasm
  framework/artifacts/abstract_module_factory.wasm
  framework/artifacts/abstract_registry.wasm
  framework/artifacts/checksums.txt
  framework/contracts/native/registry/Cargo.toml
  interchain/scripts/state.json
Labels: native

fix patches counts as breaking
  framework/packages/abstract-interface/src/migrate.rs
Labels: interface

upload_and_migrate if needed
  framework/packages/abstract-interface/src/migrate.rs
Labels: interface

more deprecation
  framework/packages/abstract-interface/src/migrate.rs
Labels: interface

clippy
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-interface/src/multisig.rs
Labels: interface

upgrades
  framework/Cargo.lock
  framework/packages/abstract-interface/src/multisig.rs
  interchain/scripts/src/bin/propose_migrate.rs
  interchain/scripts/src/bin/update_to_multisig.rs
Labels: interface

fixes
  framework/packages/abstract-interface/src/multisig.rs
  interchain/Cargo.toml
  interchain/scripts/Cargo.toml
  interchain/scripts/src/bin/update_to_multisig.rs
Labels: interface

keeping optimizations for the future
  framework/packages/abstract-std/src/native_addrs.rs
Labels: none

format and clippy
  framework/contracts/account/src/migrate.rs
  framework/packages/abstract-testing/src/lib.rs
  framework/packages/abstract-testing/src/mock_querier.rs
Labels: account

fix bug
  framework/packages/abstract-interface/src/native/registry.rs
  framework/packages/abstract-std/src/account.rs
Labels: interface

updated snapshots
  framework/contracts/account/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/tests/snapshots/apps__execute_on_account.snap
  framework/contracts/account/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_multiple_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_standalone_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_with_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__exec_on_account.snap
  framework/contracts/account/tests/snapshots/proxy__instantiate_account.snap
  framework/contracts/account/tests/snapshots/subaccount__account_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__creating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account.snap
  framework/contracts/account/tests/snapshots/subaccount__updating_on_subaccount_should_succeed.snap
Labels: account

Registry 0.24.3 release (#530)
  framework/Cargo.lock
  framework/artifacts/abstract_account-xion.wasm
  framework/artifacts/abstract_account.wasm
  framework/artifacts/abstract_ibc_client.wasm
  framework/artifacts/abstract_ibc_host.wasm
  framework/artifacts/abstract_ica_client.wasm
  framework/artifacts/abstract_module_factory.wasm
  framework/artifacts/abstract_registry.wasm
  framework/artifacts/checksums.txt
  framework/contracts/native/registry/Cargo.toml
  interchain/scripts/state.json
Labels: native

fix check
  framework/packages/abstract-interface/src/migrate.rs
Labels: interface

feature flag and some more helpers and small template
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-interface/src/lib.rs
  framework/packages/abstract-interface/src/multisig.rs
  interchain/scripts/Cargo.toml
  interchain/scripts/src/bin/gov_proposal_template.rs
  interchain/scripts/src/bin/multisig_proposal_template.rs
  interchain/scripts/src/bin/multisig_propose_migrate.rs
  interchain/scripts/src/bin/update_to_multisig.rs
Labels: interface

clippy and hakari
  framework/Cargo.lock
  framework/packages/abstract-interface/src/multisig.rs
  framework/workspace-hack/Cargo.toml
Labels: interface

Modified pre version match
  framework/packages/abstract-interface/src/migrate.rs
Labels: interface

Clippy
  framework/packages/abstract-interface/src/migrate.rs
Labels: interface

Added migration function from xion accounts
  framework/Cargo.lock
  framework/contracts/account/Cargo.toml
  framework/contracts/account/src/migrate.rs
  framework/packages/abstract-interface/src/deployment.rs
  interchain/framework-clone-testing/tests/migrate.rs
Labels: account, interface

Fix tests
  framework/contracts/account/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/tests/snapshots/apps__execute_on_account.snap
  framework/contracts/account/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_multiple_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_standalone_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_with_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__exec_on_account.snap
  framework/contracts/account/tests/snapshots/proxy__instantiate_account.snap
  framework/contracts/account/tests/snapshots/subaccount__account_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__creating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account.snap
  framework/contracts/account/tests/snapshots/subaccount__updating_on_subaccount_should_succeed.snap
  framework/packages/abstract-client/src/client.rs
Labels: account

Some comment resolutiosn
  framework/contracts/account/Cargo.toml
  framework/contracts/account/src/migrate.rs
Labels: account

Nits
  framework/contracts/account/src/migrate.rs
  framework/packages/abstract-interface/src/deployment.rs
Labels: account, interface

Nit
  framework/Cargo.lock
  framework/contracts/account/Cargo.toml
Labels: account

Updated snaps
  framework/contracts/account/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/tests/snapshots/apps__execute_on_account.snap
  framework/contracts/account/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_multiple_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_standalone_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_with_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__exec_on_account.snap
  framework/contracts/account/tests/snapshots/proxy__instantiate_account.snap
  framework/contracts/account/tests/snapshots/subaccount__account_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__creating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account.snap
  framework/contracts/account/tests/snapshots/subaccount__updating_on_subaccount_should_succeed.snap
Labels: account

Fixed tests, not snaps
  framework/contracts/account/src/migrate.rs
Labels: account

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeller Github Action.
"account":
  # Match all of account folders
  - framework/contracts/account/**/*
"native":
  # Match all of native folders
  - framework/contracts/native/**/*
"breaking?":
  # Match all of abstract_std folders
  - framework/packages/abstract_std/**/*
"sdk":
  # Match all of sdk folders
  - framework/packages/abstract-sdk/**/*
"adapter_base":
  # Match all of adapter base folders
  - framework/packages/abstract-adapter/**/*
"app_base":
  # Match all of app base folders
  - framework/packages/abstract-app/**/*
"build":
  - build_release.sh
"CI":
  - .github/**/*.yml
# Add "C:documentation" label to documented related files and directories.
"documentation":
  - README.md
  - framework/contracts/**/*.md
  - framework/contracts/**/*/*.md
  - framework/docs/src/**/*
"interface":
  - framework/packages/abstract-interface/**/*
