Repository AbstractSDK/abstract, changes with the labels that .github/labeler.yml gives for each.
All labels: account, native, breaking?, sdk, adapter_base, app_base, build, CI, documentation, interface

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
# until this file is merged into main. This is due to oddities of the labeller Github Action.
"account":
  # Match all of account folders
  - framework/contracts/account/**/*
"native":
  # Match all of native folders
  - framework/contracts/native/**/*
"breaking?":
  # Match all of abstract_std folders
  - framework/packages/abstract_std/**/*
"sdk":
  # Match all of sdk folders
  - framework/packages/abstract-sdk/**/*
"adapter_base":
  # Match all of adapter base folders
  - framework/packages/abstract-adapter/**/*
"app_base":
  # Match all of app base folders
  - framework/packages/abstract-app/**/*
"build":
  - build_release.sh
"CI":
  - .github/**/*.yml
# Add "C:documentation" label to documented related files and directories.
"documentation":
  - README.md
  - framework/contracts/**/*.md
  - framework/contracts/**/*/*.md
  - framework/docs/src/**/*
"interface":
  - framework/packages/abstract-interface/**/*

Hakari change
  framework/workspace-hack/Cargo.toml
Labels: none

Added upload, migrated provider (#535)
  framework/packages/abstract-interface/src/migrate.rs
  interchain/scripts/state.json
Labels: interface

less diff
  scripts/wasm-framework-ci.sh
Labels: none

Uupdate deps
  framework/Cargo.lock
  framework/Cargo.toml
  interchain/Cargo.toml
Labels: none

UPdated tests
  framework/contracts/account/src/migrate.rs
  framework/packages/abstract-client/src/builder.rs
  framework/packages/abstract-interface/src/account.rs
  interchain/framework-clone-testing/Cargo.toml
  interchain/framework-clone-testing/src/common.rs
  interchain/framework-clone-testing/tests/upgrade-account.rs
Labels: account, interface

Fix last migration test
  framework/contracts/account/src/migrate.rs
  framework/packages/abstract-interface/src/account.rs
  interchain/framework-clone-testing/tests/upgrade-account.rs
Labels: account, interface

Another CI fix (#539)
  .circleci/config.yml
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/account/src/migrate.rs
  framework/packages/abstract-client/src/builder.rs
  framework/packages/abstract-interface/src/account.rs
  framework/workspace-hack/Cargo.toml
  interchain/Cargo.toml
  interchain/framework-clone-testing/Cargo.toml
  interchain/framework-clone-testing/src/common.rs
  interchain/framework-clone-testing/tests/upgrade-account.rs
  justfile
  modules/artifacts/abstract_cw_staking-osmosis.wasm
  modules/artifacts/abstract_dex_adapter-osmosis.wasm
  schema/account/0.24.2/abstract-account.json
  schema/cw-staking/0.24.1/instantiate_msg.json
  schema/dex/0.24.1/instantiate_msg.json
  schema/ibc-client/0.24.1/abstract-ibc-client.json
  schema/ibc-host/0.24.1/abstract-ibc-host.json
  schema/money-market/0.24.1/instantiate_msg.json
  schema/tendermint-staking/0.24.1/instantiate_msg.json
  scripts/wasm-framework-ci.sh
Labels: account, interface

Update WASM & Schemas [skip ci]
  framework/artifacts/abstract_account-xion.wasm
  framework/artifacts/abstract_account.wasm
  framework/artifacts/abstract_ans_host.wasm
  framework/artifacts/abstract_ibc_client.wasm
  framework/artifacts/abstract_ibc_host.wasm
  framework/artifacts/abstract_ica_client.wasm
  framework/artifacts/abstract_module_factory.wasm
  framework/artifacts/abstract_registry.wasm
  framework/artifacts/checksums.txt
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
Labels: none

update security_disabled to !security_enabled
  framework/contracts/account/tests/apps.rs
  framework/contracts/account/tests/create.rs
  framework/contracts/native/registry/src/commands.rs
  framework/contracts/native/registry/src/contract.rs
  framework/contracts/native/registry/src/migrate.rs
  framework/contracts/native/registry/src/queries.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-interface/tests/instantiate_from_migration.rs
  framework/packages/abstract-sdk/src/apis/verify.rs
  framework/packages/abstract-std/src/native/registry.rs
  framework/packages/abstract-testing/src/lib.rs
Labels: account, native, sdk, interface

snapshots
  framework/contracts/account/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/tests/snapshots/apps__execute_on_account.snap
  framework/contracts/account/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_multiple_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_standalone_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_with_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__exec_on_account.snap
  framework/contracts/account/tests/snapshots/proxy__instantiate_account.snap
  framework/contracts/account/tests/snapshots/subaccount__account_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__creating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account.snap
  framework/contracts/account/tests/snapshots/subaccount__updating_on_subaccount_should_succeed.snap
Labels: account

wasms for osmosis test tube tests to pass
  framework/artifacts/abstract_account-xion.wasm
  framework/artifacts/abstract_account.wasm
  framework/artifacts/abstract_module_factory.wasm
  framework/artifacts/abstract_registry.wasm
  framework/artifacts/checksums.txt
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking-osmosis.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter-osmosis.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
Labels: none

Suggestion
  framework/packages/abstract-interface/src/deployment.rs
Labels: interface

remove unused "instantiate"
  framework/packages/abstract-interface/src/deployment.rs
Labels: interface

change integration feature, disable default
  framework/packages/abstract-adapter/Cargo.toml
  framework/packages/abstract-app/Cargo.toml
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-interface/src/native/ans_host.rs
  framework/packages/abstract-interface/src/native/ibc_client.rs
  framework/packages/abstract-interface/src/native/ibc_host.rs
  framework/packages/abstract-interface/src/native/registry.rs
  framework/packages/abstract-standalone/Cargo.toml
  framework/packages/standards/dex/Cargo.toml
  integrations/bundles/mockdex/Cargo.toml
Labels: adapter_base, app_base, interface

Update WASM & Schemas [skip ci]
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking-osmosis.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter-osmosis.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
  schema/registry/0.24.3/abstract-registry.json
Labels: none

version bump
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/account/Cargo.toml
  framework/contracts/native/ans-host/Cargo.toml
  framework/contracts/native/registry/Cargo.toml
  framework/packages/abstract-adapter/Cargo.toml
  framework/packages/abstract-app/Cargo.toml
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-standalone/Cargo.toml
  framework/packages/standards/dex/Cargo.toml
  framework/packages/standards/money-market/Cargo.toml
  framework/packages/standards/staking/Cargo.toml
  integrations/Cargo.toml
  interchain/Cargo.toml
  interchain/interchain-end_to_end_testing/Cargo.toml
  modules/Cargo.toml
  modules/contracts/apps/ping-pong/Cargo.toml
Labels: account, native, adapter_base, app_base, interface

small clone-test tweaks to test migration
  interchain/framework-clone-testing/src/common.rs
  interchain/framework-clone-testing/tests/migrate.rs
Labels: none

Version bumps in a snapshot
  framework/contracts/account/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/tests/snapshots/apps__execute_on_account.snap
  framework/contracts/account/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_multiple_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_standalone_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_with_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__exec_on_account.snap
  framework/contracts/account/tests/snapshots/proxy__instantiate_account.snap
  framework/contracts/account/tests/snapshots/subaccount__account_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__creating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account.snap
  framework/contracts/account/tests/snapshots/subaccount__updating_on_subaccount_should_succeed.snap
Labels: account

disable fmt for workspace-hack
  framework/taplo.toml
  framework/workspace-hack/Cargo.toml
Labels: none

comment on right line
  framework/packages/abstract-interface/Cargo.toml
Labels: interface

Change integration feature (#541)
  framework/packages/abstract-adapter/Cargo.toml
  framework/packages/abstract-app/Cargo.toml
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-interface/src/native/ans_host.rs
  framework/packages/abstract-interface/src/native/ibc_client.rs
  framework/packages/abstract-interface/src/native/ibc_host.rs
  framework/packages/abstract-interface/src/native/registry.rs
  framework/packages/abstract-standalone/Cargo.toml
  framework/packages/standards/dex/Cargo.toml
  integrations/bundles/mockdex/Cargo.toml
Labels: adapter_base, app_base, interface

Revert "version bump"
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/account/Cargo.toml
  framework/contracts/native/ans-host/Cargo.toml
  framework/contracts/native/registry/Cargo.toml
  framework/packages/abstract-adapter/Cargo.toml
  framework/packages/abstract-app/Cargo.toml
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-standalone/Cargo.toml
  framework/packages/standards/dex/Cargo.toml
  framework/packages/standards/money-market/Cargo.toml
  framework/packages/standards/staking/Cargo.toml
  integrations/Cargo.toml
  interchain/Cargo.toml
  interchain/interchain-end_to_end_testing/Cargo.toml
  modules/Cargo.toml
  modules/contracts/apps/ping-pong/Cargo.toml
Labels: account, native, adapter_base, app_base, interface

reapplied version bumps
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/account/Cargo.toml
  framework/contracts/native/ans-host/Cargo.toml
  framework/contracts/native/registry/Cargo.toml
  framework/packages/abstract-adapter/Cargo.toml
  framework/packages/abstract-app/Cargo.toml
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-standalone/Cargo.toml
  framework/packages/standards/dex/Cargo.toml
  framework/packages/standards/money-market/Cargo.toml
  framework/packages/standards/staking/Cargo.toml
  integrations/Cargo.toml
  interchain/Cargo.toml
  interchain/interchain-end_to_end_testing/Cargo.toml
  modules/Cargo.toml
  modules/contracts/apps/ping-pong/Cargo.toml
Labels: account, native, adapter_base, app_base, interface

Update WASM & Schemas [skip ci]
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking-osmosis.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter-osmosis.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
Labels: none

update state
  interchain/scripts/state.json
Labels: none

Invert order of vec
  framework/packages/abstract-std/src/objects/account/account_trace.rs
Labels: none

collect trace from string in single iteration
  framework/packages/abstract-std/src/objects/account/account_trace.rs
Labels: none

account trace parsing funtion
  framework/packages/abstract-std/src/objects/account/account_trace.rs
Labels: none

Removed unused
  framework/packages/abstract-std/src/objects/account/account_trace.rs
Labels: none

add minimal snapshot test for multihop account
  framework/Cargo.lock
  framework/contracts/native/ibc-client/Cargo.toml
  framework/contracts/native/ibc-client/src/ibc.rs
  framework/contracts/native/ibc-client/tests/multihop_accounts.rs
  framework/contracts/native/ibc-client/tests/snapshots/multihop_accounts__multihop_account.snap
Labels: native

found state bug
  framework/contracts/native/ibc-client/src/queries.rs
  framework/contracts/native/ibc-client/tests/multihop_accounts.rs
  framework/contracts/native/registry/src/queries.rs
  framework/packages/abstract-std/src/objects/account/account_id.rs
  framework/packages/abstract-std/src/objects/account/account_trace.rs
Labels: native

add failing tests
  framework/contracts/native/ibc-client/tests/multihop_accounts.rs
  framework/packages/abstract-std/src/objects/account/account_trace.rs
Labels: native

fix AccountTrace key, but not the composite
  framework/packages/abstract-std/src/objects/account/account_trace.rs
Labels: none

Started adding docs
  framework/docs/src/SUMMARY.md
  framework/docs/src/ibc/evm-ibc.md
Labels: documentation

Fix multi-hop test
  framework/packages/abstract-std/src/objects/account/account_id.rs
Labels: none

Added pyth oracle tests
  interchain/modules-clone-testing/Cargo.toml
  interchain/modules-clone-testing/tests/oracle/pyth.rs
  modules/contracts/adapters/oracle/src/oracle_tester.rs
  modules/contracts/adapters/oracle/src/oracles/mod.rs
Labels: none

Doc and builds
  integrations/oracles/pyth/README.md
  modules/contracts/adapters/oracle/Cargo.toml
Labels: none

Added fix and test
  framework/contracts/account/src/config.rs
  framework/contracts/account/src/lib.rs
  framework/contracts/account/tests/xion.rs
Labels: account

Added disconnect script
  framework/packages/abstract-interface/src/ibc.rs
  interchain/scripts/src/bin/ibc_disconnect.rs
Labels: interface

Fix clippy
  framework/packages/abstract-interface/src/ibc.rs
  interchain/scripts/src/bin/full_deploy.rs
  interchain/scripts/src/bin/ibc_disconnect.rs
Labels: interface
