Repository AbstractSDK/abstract, pull requests merged in 2023-10, with the labels that each got.

#99 is_module_installed pulled up to top level
  framework/CHANGELOG.md
  framework/packages/abstract-interface/src/account/manager.rs
  framework/packages/abstract-interface/src/account/mod.rs
Labels: interface

#102 Configure codecov
  .github/codecov.yml
  .github/workflows/modules-test.yml
Labels: CI

#106 add payable attr to create_subaccount
  framework/contracts/account/manager/tests/subaccount.rs
  framework/contracts/account/manager/tests/upgrades.rs
  framework/packages/abstract-core/src/core/manager.rs
Labels: account

#108 Centralize scripts
  .github/workflows/framework-check.yml
  .github/workflows/modules-test.yml
  .github/workflows/nightly.yml
  README.md
  framework/packages/abstract-testing/Cargo.toml
  framework/packages/standards/dex/Cargo.toml
  framework/packages/standards/staking/Cargo.toml
  integrations/wyndex-adapter/src/staking.rs
  interchain/Cargo.toml
  interchain/scripts/Cargo.toml
  interchain/scripts/src/bin/deploy_modules.rs
  interchain/scripts/src/bin/full_deploy.rs
  interchain/tests/Cargo.toml
  interchain/tests/src/setup.rs
  modules/Cargo.toml
  modules/contracts/adapters/cw-staking/Cargo.toml
  modules/contracts/adapters/dex/Cargo.toml
  modules/scripts/.gitignore
  modules/scripts/Cargo.toml
  modules/scripts/deployments.json
  modules/scripts/src/lib.rs
  modules/scripts/state.json
  schema/execute_msg.json
  schema/instantiate_msg.json
  schema/migrate_msg.json
  schema/query_msg.json
Labels: documentation, CI

#110 Remove DepositMsgs
  framework/CHANGELOG.md
  framework/packages/abstract-sdk/src/apis/bank.rs
  modules/contracts/apps/calendar/src/handlers/execute.rs
Labels: sdk

#109 Ibc client unit tests for execute
  framework/contracts/native/ibc-client/src/commands.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/contracts/native/ibc-client/src/ibc.rs
  framework/packages/abstract-testing/src/abstract_mock_querier.rs
Labels: native

#114 Update docs styling
  framework/docs/book.toml
  framework/docs/mermaid-init.js
  framework/docs/src/0_introduction.md
  framework/docs/src/SUMMARY.md
  framework/docs/theme/css/variables.css
  framework/docs/theme/favicon.ico
  framework/docs/theme/favicon.png
  framework/docs/theme/favicon.svg
  framework/docs/theme/index.hbs
Labels: documentation
