Repository AbstractSDK/abstract, pull requests merged in 2023-11, with the labels that each got.

#117 Replace to_binary with to_json_binary and from_binary with from_json
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/account/manager/src/queries.rs
  framework/contracts/account/manager/tests/apps.rs
  framework/contracts/account/manager/tests/proxy.rs
  framework/contracts/account/manager/tests/upgrades.rs
  framework/contracts/account/proxy/src/commands.rs
  framework/contracts/account/proxy/src/contract.rs
  framework/contracts/account/proxy/src/queries.rs
  framework/contracts/native/account-factory/src/commands.rs
  framework/contracts/native/account-factory/src/contract.rs
  framework/contracts/native/ans-host/src/queries.rs
  framework/contracts/native/ans-host/src/tests/mock_querier.rs
  framework/contracts/native/ibc-client/src/commands.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/contracts/native/ibc-client/src/ibc.rs
  framework/contracts/native/ibc-host/src/account_commands.rs
  framework/contracts/native/ibc-host/src/endpoints/query.rs
  framework/contracts/native/module-factory/src/commands.rs
  framework/contracts/native/module-factory/src/contract.rs
  framework/contracts/native/version-control/src/commands.rs
  framework/contracts/native/version-control/src/contract.rs
  framework/contracts/native/version-control/src/queries.rs
  framework/packages/abstract-adapter/src/endpoints/query.rs
  framework/packages/abstract-adapter/src/lib.rs
  framework/packages/abstract-adapter/src/state.rs
  framework/packages/abstract-app/examples/counter.rs
  framework/packages/abstract-app/src/endpoints/query.rs
  framework/packages/abstract-app/src/lib.rs
  framework/packages/abstract-app/src/state.rs
  framework/packages/abstract-core/src/native/ibc.rs
  framework/packages/abstract-core/src/native/ibc_client.rs
  framework/packages/abstract-core/src/objects/module.rs
  framework/packages/abstract-core/src/objects/price_source.rs
  framework/packages/abstract-interface/src/account/manager.rs
  framework/packages/abstract-sdk/src/apis/adapter.rs
  framework/packages/abstract-sdk/src/apis/app.rs
  framework/packages/abstract-sdk/src/apis/bank.rs
  framework/packages/abstract-sdk/src/apis/distribution.rs
  framework/packages/abstract-sdk/src/apis/execution.rs
  framework/packages/abstract-sdk/src/apis/grant.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-sdk/src/base/contract_base.rs
  framework/packages/abstract-sdk/src/cw_helpers/cosmwasm_std/wasm_query.rs
  framework/packages/abstract-sdk/src/cw_helpers/cw_ownable.rs
  framework/packages/abstract-testing/src/lib.rs
  framework/packages/abstract-testing/src/mock_querier.rs
  framework/packages/standards/utils/src/util.rs
Labels: account, native, sdk, adapter_base, interface, app_base

#116 Ibc client query tests
  framework/contracts/native/ibc-client/src/commands.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/contracts/native/ibc-client/src/ibc.rs
  framework/contracts/native/ibc-client/src/queries.rs
  framework/packages/abstract-core/src/native/ibc_client.rs
  framework/packages/abstract-core/src/objects/account/account_id.rs
Labels: native

#118 Docs/improvements 4
  framework/docs/src/0_introduction.md
  framework/docs/src/1_abstract_platform_overview.md
  framework/docs/src/1_products/index.md
  framework/docs/src/3_framework/1_abstract_sdk.md
  framework/docs/src/3_framework/4_ownership.md
  framework/docs/src/8_vision.md
  framework/docs/src/SUMMARY.md
  framework/docs/src/resources/abstract_platform/twitter_cover-1.png
Labels: documentation

#120 Add chain delimiter to account_trace serialization
  framework/contracts/native/ibc-client/src/contract.rs
  framework/packages/abstract-core/src/objects/account/account_id.rs
  framework/packages/abstract-core/src/objects/account/account_trace.rs
Labels: native

#124 Add section on Interchain Accounts in docs
  framework/docs/src/3_framework/8_ibc.md
  framework/docs/src/SUMMARY.md
Labels: documentation

#132 Update the Abstract IBC client README.md
  framework/contracts/native/ibc-client/README.md
  framework/contracts/native/ibc-host/README.md
  integrations/Cargo.toml
Labels: documentation, native

#121 Remove unused dependencies and binaries
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-interface/examples/download_wasms.rs
Labels: interface

#133 Incorporate docs feedback
  framework/docs/src/0_introduction.md
  framework/docs/src/3_framework/0_prerequisites.md
  framework/docs/src/3_framework/3_architecture.md
  framework/docs/src/3_framework/4_ownership.md
  framework/docs/src/3_framework/6_module_types.md
  framework/docs/src/3_framework/7_upgradability.md
  framework/docs/src/3_framework/8_ibc.md
  framework/docs/src/4_get_started/2_installation.md
  framework/docs/src/4_get_started/8_dependencies.md
  framework/docs/src/5_platform/2_version_control.md
  framework/docs/src/5_platform/5_module_factory.md
  framework/docs/src/5_platform/7_oracle.md
  framework/docs/src/5_platform/index.md
  framework/docs/src/SUMMARY.md
Labels: documentation

#134 docs: fix framework components page
  framework/docs/src/5_platform/2_version_control.md
  framework/docs/src/5_platform/index.md
Labels: documentation

#135 Add videos to the Abstract docs
  framework/docs/src/0_introduction.md
  framework/docs/src/SUMMARY.md
  framework/docs/src/video_and_content/videos.md
Labels: documentation

#125 docs: fix broken links
  framework/docs/src/3_framework/0_prerequisites.md
  framework/docs/src/3_framework/3_architecture.md
  framework/docs/src/3_framework/5_modularity.md
  framework/docs/src/4_get_started/3_module_builder.md
  framework/docs/src/4_get_started/4_sdk.md
  framework/docs/src/4_get_started/6_module_testing.md
  framework/docs/src/video_and_content/faq.md
Labels: documentation

#126 Instantiate2 module install
  framework/Cargo.toml
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/account/manager/src/contract.rs
  framework/contracts/account/manager/src/error.rs
  framework/contracts/account/manager/tests/install_modules.rs
  framework/contracts/account/manager/tests/proxy.rs
  framework/contracts/account/manager/tests/upgrades.rs
  framework/contracts/native/account-factory/src/commands.rs
  framework/contracts/native/module-factory/src/commands.rs
  framework/contracts/native/module-factory/src/contract.rs
  framework/contracts/native/module-factory/src/error.rs
  framework/contracts/native/module-factory/tests/direct_calls.rs
  framework/contracts/native/version-control/tests/direct_calls.rs
  framework/packages/abstract-app/src/endpoints/instantiate.rs
  framework/packages/abstract-app/src/lib.rs
  framework/packages/abstract-core/src/core/manager.rs
  framework/packages/abstract-core/src/native/account_factory.rs
  framework/packages/abstract-core/src/native/module_factory.rs
  framework/packages/abstract-core/src/objects/module.rs
  framework/packages/abstract-interface/src/account/manager.rs
  framework/packages/abstract-interface/src/account/mod.rs
  framework/packages/abstract-interface/src/native/account_factory.rs
  framework/packages/abstract-interface/src/native/module_factory.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
Labels: account, native, sdk, interface, app_base

#141 Added possiblity to whitelist module ids AND module addresses
  framework/packages/abstract-adapter/src/endpoints/execute.rs
  framework/packages/abstract-adapter/src/error.rs
Labels: adapter_base

#113 [Add] Abstract client package
  framework/packages/abstract-app/src/endpoints.rs
  framework/packages/abstract-app/src/endpoints/execute.rs
  framework/packages/abstract-app/src/endpoints/instantiate.rs
  framework/packages/abstract-app/src/endpoints/query.rs
  framework/packages/abstract-app/src/features.rs
  framework/packages/abstract-app/src/interface.rs
  framework/packages/abstract-app/src/lib.rs
  framework/packages/abstract-app/src/state.rs
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/application.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/src/error.rs
  framework/packages/abstract-client/src/infrastructure.rs
  framework/packages/abstract-client/src/lib.rs
  framework/packages/abstract-client/src/publisher.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-interface/src/account/mod.rs
  framework/packages/abstract-interface/src/deployers.rs
Labels: interface, app_base

#143 Remove requirement for base message in app instantiate
  framework/CHANGELOG.md
  framework/contracts/account/manager/tests/adapters.rs
  framework/contracts/account/manager/tests/apps.rs
  framework/contracts/account/manager/tests/common/mod.rs
  framework/contracts/account/manager/tests/proxy.rs
  framework/contracts/account/manager/tests/upgrades.rs
  framework/contracts/native/module-factory/Cargo.toml
  framework/contracts/native/module-factory/src/commands.rs
  framework/contracts/native/module-factory/src/contract.rs
  framework/packages/abstract-app/src/endpoints.rs
  framework/packages/abstract-app/src/endpoints/instantiate.rs
  framework/packages/abstract-app/src/lib.rs
  framework/packages/abstract-app/src/schema.rs
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-core/src/app.rs
  framework/packages/abstract-core/src/native/module_factory.rs
  framework/packages/abstract-interface/src/account/manager.rs
  framework/packages/abstract-interface/src/account/mod.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  interchain/tests/src/interchain_accounts.rs
  modules/contracts/adapters/cw-staking/tests/osmosis_stake.rs
  modules/contracts/adapters/cw-staking/tests/stake.rs
  modules/contracts/adapters/dex/tests/osmosis.rs
  modules/contracts/adapters/dex/tests/swap.rs
  modules/contracts/apps/calendar/examples/test-local.rs
  modules/contracts/apps/calendar/tests/integration.rs
  modules/contracts/apps/challenge/tests/integrations.rs
  modules/contracts/apps/croncat/examples/deploy.rs
  modules/contracts/apps/croncat/tests/integration.rs
  modules/contracts/apps/dca/tests/integration.rs
  modules/contracts/apps/etf/tests/integration.rs
  modules/contracts/apps/payment/tests/integration.rs
  modules/contracts/apps/subscription/src/lib.rs
  modules/contracts/apps/subscription/tests/integration.rs
Labels: account, native, sdk, interface, app_base

#146 Remove caching of modules to install for freshly created accounts
  framework/CHANGELOG.md
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/account/manager/src/contract.rs
  framework/contracts/account/manager/src/lib.rs
  framework/contracts/account/proxy/src/commands.rs
  framework/contracts/account/proxy/src/contract.rs
  framework/contracts/account/proxy/src/lib.rs
  framework/contracts/account/proxy/src/queries.rs
  framework/contracts/native/account-factory/src/commands.rs
  framework/contracts/native/account-factory/src/contract.rs
  framework/contracts/native/account-factory/src/error.rs
  framework/contracts/native/ibc-host/tests/integration.rs
  framework/contracts/native/version-control/src/commands.rs
  framework/contracts/native/version-control/src/contract.rs
  framework/contracts/native/version-control/src/queries.rs
  framework/packages/abstract-core/Cargo.toml
  framework/packages/abstract-core/src/core/manager.rs
  framework/packages/abstract-core/src/core/proxy.rs
  framework/packages/abstract-core/src/native/account_factory.rs
  framework/packages/abstract-core/src/native/version_control.rs
  framework/packages/abstract-core/src/objects/account.rs
  framework/packages/abstract-core/src/objects/module.rs
Labels: account, native

#137 Bump cw-orch to version 0.18.1
  framework/CHANGELOG.md
  framework/Cargo.toml
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-sdk/src/base/mod.rs
  integrations/Cargo.toml
  integrations/bundles/wyndex/Cargo.toml
  integrations/bundles/wyndex/src/lib.rs
  integrations/justfile
  integrations/kujira-adapter/Cargo.toml
  interchain/Cargo.toml
  interchain/scripts/Cargo.toml
  interchain/scripts/src/abstract_ibc.rs
  interchain/tests/Cargo.toml
  interchain/tests/src/setup.rs
  modules/Cargo.toml
Labels: sdk, interface

#147 Update feegrant API
  framework/CHANGELOG.md
  framework/packages/abstract-sdk/Cargo.toml
  framework/packages/abstract-sdk/src/apis.rs
  framework/packages/abstract-sdk/src/apis/feegrant.rs
  framework/packages/abstract-sdk/src/apis/grant.rs
  framework/packages/abstract-sdk/src/apis/stargate/feegrant.rs
  framework/packages/abstract-sdk/src/apis/stargate/mod.rs
  framework/packages/abstract-sdk/src/lib.rs
  framework/packages/abstract-sdk/src/prelude.rs
Labels: sdk

#151 Fix namespace registration fee for account creation
  framework/CHANGELOG.md
  framework/contracts/native/account-factory/src/commands.rs
  framework/contracts/native/account-factory/tests/create_account.rs
  framework/packages/abstract-core/src/native/account_factory.rs
  framework/packages/abstract-sdk/src/apis/verify.rs
Labels: native, sdk

#150 SDK AuthZ API
  framework/CHANGELOG.md
  framework/packages/abstract-sdk/src/apis.rs
  framework/packages/abstract-sdk/src/apis/authz.rs
  framework/packages/abstract-sdk/src/apis/stargate/authz.rs
  framework/packages/abstract-sdk/src/apis/stargate/feegrant.rs
  framework/packages/abstract-sdk/src/apis/stargate/mod.rs
  framework/packages/abstract-sdk/src/lib.rs
Labels: sdk

#138 Extend IBC register account API
  framework/CHANGELOG.md
  framework/contracts/account/proxy/src/commands.rs
  framework/contracts/native/ibc-client/src/commands.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/contracts/native/ibc-host/Cargo.toml
  framework/contracts/native/ibc-host/src/account_commands.rs
  framework/contracts/native/ibc-host/src/endpoints/packet.rs
  framework/contracts/native/ibc-host/tests/integration.rs
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-core/src/native/ibc_client.rs
  framework/packages/abstract-core/src/native/ibc_host.rs
  framework/packages/abstract-interface/src/account/manager.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  integrations/astrovault-adapter/src/dex.rs
Labels: account, native, sdk, interface

#161 clippy nightly fix
  framework/contracts/account/manager/src/queries.rs
  framework/contracts/native/ans-host/src/queries.rs
  framework/packages/abstract-sdk/src/cw_helpers/cosmwasm_std/abstract_attributes.rs
  framework/packages/abstract-sdk/src/cw_helpers/mod.rs
  integrations/astrovault-adapter/src/dex.rs
  modules/Cargo.toml
  modules/contracts/apps/payment/src/lib.rs
  modules/contracts/apps/payment/src/replies/instantiate.rs
  modules/contracts/apps/payment/src/replies/mod.rs
Labels: account, native, sdk

#162 Add section on Sub-Accounts
  framework/docs/src/3_framework/3_architecture.md
  framework/docs/src/3_framework/4_ownership.md
  framework/docs/src/3_framework/8_ibc.md
  framework/docs/src/4_get_started/5_account_creation.md
  framework/docs/src/4_get_started/6_module_testing.md
  framework/docs/src/9_glossary.md
  framework/docs/src/ibc/spec.md
  modules/contracts/apps/challenge/README.md
  modules/contracts/apps/croncat/README.md
Labels: documentation

#160 App+Adapter admin verification
  framework/CHANGELOG.md
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/account/manager/tests/adapters.rs
  framework/contracts/account/manager/tests/apps.rs
  framework/contracts/account/manager/tests/proxy.rs
  framework/contracts/account/manager/tests/subaccount.rs
  framework/packages/abstract-adapter/src/endpoints/execute.rs
  framework/packages/abstract-adapter/src/error.rs
  framework/packages/abstract-adapter/src/lib.rs
  framework/packages/abstract-app/src/lib.rs
  framework/packages/abstract-app/src/state.rs
  framework/packages/abstract-core/src/adapter.rs
  framework/packages/abstract-core/src/objects/mod.rs
  framework/packages/abstract-core/src/objects/nested_admin.rs
  framework/packages/abstract-interface/src/account/manager.rs
Labels: account, adapter_base, interface, app_base
