Repository AbstractSDK/abstract, pull requests merged in 2023-09, with the labels that each got.

#57 Support multi module installation
  framework/CHANGELOG.md
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/account/manager/src/contract.rs
  framework/contracts/account/manager/tests/proxy.rs
  framework/contracts/account/manager/tests/upgrades.rs
  framework/contracts/native/account-factory/src/commands.rs
  framework/contracts/native/module-factory/src/commands.rs
  framework/contracts/native/module-factory/src/contract.rs
  framework/contracts/native/module-factory/tests/direct_calls.rs
  framework/contracts/native/version-control/tests/direct_calls.rs
  framework/packages/abstract-app/src/lib.rs
  framework/packages/abstract-core/src/core/manager.rs
  framework/packages/abstract-core/src/native/account_factory.rs
  framework/packages/abstract-core/src/native/module_factory.rs
  framework/packages/abstract-interface/src/account/manager.rs
  framework/packages/abstract-interface/src/account/mod.rs
  framework/packages/abstract-interface/src/native/account_factory.rs
  framework/packages/abstract-sdk/src/apis/version_registry.rs
Labels: account, native, sdk, interface, app_base

#59 Docs/improvements 2
  framework/docs/src/1_products/abstract_app_template.md
  framework/docs/src/1_products/abstract_js.md
  framework/docs/src/1_products/abstract_testing.md
  framework/docs/src/1_products/cw_orchestrator.md
  framework/docs/src/1_sdk_intro_bak.md
  framework/docs/src/5_platform/version_control.md
  framework/docs/src/6_flows/vc/propose_modules.md
  framework/docs/src/9_glossary.md
Labels: documentation

#65 Allow funds to be transferred to module on instantiation
  framework/CHANGELOG.md
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/account/manager/src/contract.rs
  framework/contracts/account/manager/tests/common/mod.rs
  framework/contracts/account/manager/tests/proxy.rs
  framework/contracts/account/manager/tests/upgrades.rs
  framework/contracts/native/module-factory/src/commands.rs
  framework/contracts/native/module-factory/src/contract.rs
  framework/contracts/native/version-control/src/commands.rs
  framework/contracts/native/version-control/src/contract.rs
  framework/contracts/native/version-control/src/error.rs
  framework/contracts/native/version-control/src/queries.rs
  framework/packages/abstract-core/src/native/module_factory.rs
  framework/packages/abstract-core/src/native/version_control.rs
  framework/packages/abstract-core/src/objects/module.rs
  framework/packages/abstract-core/src/objects/validation/verifiers.rs
Labels: account, native

#47 ABS-166: Create accountability module
  app-template/artifacts/checksums.txt
  app-template/artifacts/checksums_intermediate.txt
  integrations/osmosis/tests/osmosis-std-cosmwasm-test/Cargo.toml
  modules/Cargo.toml
  modules/artifacts/abstract_challenge_app-aarch64.wasm
  modules/artifacts/abstract_cw_staking-aarch64.wasm
  modules/artifacts/abstract_dca_app-aarch64.wasm
  modules/artifacts/abstract_dex_adapter-aarch64.wasm
  modules/artifacts/abstract_etf-aarch64.wasm
  modules/artifacts/abstract_tendermint_staking_adapter-aarch64.wasm
  modules/artifacts/checksums_intermediate.txt
  modules/artifacts/croncat_app-aarch64.wasm
  modules/contracts/apps/challenge/Cargo.toml
  modules/contracts/apps/challenge/README.md
  modules/contracts/apps/challenge/examples/deploy.rs
  modules/contracts/apps/challenge/examples/schema.rs
  modules/contracts/apps/challenge/justfile
  modules/contracts/apps/challenge/metadata.json
  modules/contracts/apps/challenge/schema/execute_msg.json
  modules/contracts/apps/challenge/schema/instantiate_msg.json
  modules/contracts/apps/challenge/schema/migrate_msg.json
  modules/contracts/apps/challenge/schema/module-schema.json
  modules/contracts/apps/challenge/schema/query_msg.json
  modules/contracts/apps/challenge/schema/raw/execute.json
  modules/contracts/apps/challenge/schema/raw/instantiate.json
  modules/contracts/apps/challenge/schema/raw/migrate.json
  modules/contracts/apps/challenge/schema/raw/query.json
  modules/contracts/apps/challenge/schema/raw/response_to_base_admin.json
  modules/contracts/apps/challenge/schema/raw/response_to_base_config.json
  modules/contracts/apps/challenge/schema/raw/response_to_challenge.json
  modules/contracts/apps/challenge/schema/raw/response_to_challenges.json
  modules/contracts/apps/challenge/schema/raw/response_to_check_ins.json
  modules/contracts/apps/challenge/schema/raw/response_to_friends.json
  modules/contracts/apps/challenge/schema/raw/response_to_module_data.json
  modules/contracts/apps/challenge/schema/raw/response_to_vote.json
  modules/contracts/apps/challenge/src/contract.rs
  modules/contracts/apps/challenge/src/error.rs
  modules/contracts/apps/challenge/src/handlers/execute.rs
  modules/contracts/apps/challenge/src/handlers/instantiate.rs
  modules/contracts/apps/challenge/src/handlers/mod.rs
  modules/contracts/apps/challenge/src/handlers/query.rs
  modules/contracts/apps/challenge/src/lib.rs
  modules/contracts/apps/challenge/src/msg.rs
  modules/contracts/apps/challenge/src/state.rs
  modules/contracts/apps/challenge/tests/integrations.rs
  modules/contracts/apps/challenge/tests/wasm.rs
Labels: module

#78 Add new release action
  .github/workflows/release.yml
Labels: CI

#79 Fixed labels
  framework/contracts/native/account-factory/src/commands.rs
Labels: native

#69 Add ability to query version of no-cw2 modules
  framework/CHANGELOG.md
  framework/Cargo.toml
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/account/manager/src/queries.rs
  framework/contracts/account/manager/tests/proxy.rs
  framework/contracts/native/version-control/src/commands.rs
  framework/packages/abstract-core/src/native/version_control.rs
  framework/packages/abstract-core/src/objects/module.rs
  framework/packages/abstract-sdk/src/apis/version_registry.rs
  framework/packages/abstract-sdk/src/error.rs
Labels: account, native, sdk

#73 Update register_modules to accept multiple modules on manager
  framework/CHANGELOG.md
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/account/manager/src/contract.rs
  framework/contracts/account/manager/tests/subaccount.rs
  framework/contracts/account/proxy/src/commands.rs
  framework/contracts/account/proxy/src/contract.rs
  framework/contracts/account/proxy/src/queries.rs
  framework/contracts/native/account-factory/src/commands.rs
  framework/contracts/native/module-factory/src/commands.rs
  framework/contracts/native/module-factory/src/contract.rs
  framework/packages/abstract-app/src/endpoints/instantiate.rs
  framework/packages/abstract-app/src/lib.rs
  framework/packages/abstract-core/src/core/manager.rs
  framework/packages/abstract-core/src/core/proxy.rs
  framework/packages/abstract-core/src/native/module_factory.rs
  framework/packages/abstract-interface/src/account/mod.rs
Labels: account, native, interface, app_base

#81 0xmovses/update action main
  .github/workflows/release.yml
Labels: CI

#86 Update/Must use on abstract sdk methods
  framework/CHANGELOG.md
  framework/packages/abstract-sdk/src/account_action.rs
  framework/packages/abstract-sdk/src/apis/bank.rs
  framework/packages/abstract-sdk/src/apis/execution.rs
  framework/packages/abstract-sdk/src/apis/splitter.rs
Labels: sdk

#90 updates for CI for release
  .circleci/config.yml
  .github/workflows/manual-build.yml
  .github/workflows/release.yml
  framework/artifacts/abstract_ibc_client.wasm
  framework/artifacts/checksums.txt
  framework/artifacts/checksums_intermediate.txt
  framework/scripts/src/bin/full_deploy.rs
  framework/scripts/src/lib.rs
  modules/artifacts/abstract_challenge_app.wasm
  modules/artifacts/abstract_cw_staking-juno.wasm
  modules/artifacts/abstract_cw_staking-kujira.wasm
  modules/artifacts/abstract_cw_staking-neutron.wasm
  modules/artifacts/abstract_cw_staking-osmosis.wasm
  modules/artifacts/abstract_cw_staking-terra.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dca_app.wasm
  modules/artifacts/abstract_dex_adapter-juno.wasm
  modules/artifacts/abstract_dex_adapter-kujira.wasm
  modules/artifacts/abstract_dex_adapter-neutron.wasm
  modules/artifacts/abstract_dex_adapter-osmosis.wasm
  modules/artifacts/abstract_dex_adapter-terra.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_etf.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/checksums_intermediate.txt
  modules/artifacts/croncat_app.wasm
Labels: CI
