Repository AbstractSDK/abstract, pull requests merged in 2023-12, with the labels that each got.

#166 [ABS-263] Replace `cw-controllers` with `cw-ownable` for auth handling in ibc_cilent
  framework/contracts/account/manager/tests/snapshots/adapters__account_install_adapter-contract4.snap
  framework/contracts/account/manager/tests/snapshots/adapters__install_one_adapter-contract4.snap
  framework/contracts/account/manager/tests/snapshots/adapters__install_one_adapter_with_fee-contract4.snap
  framework/contracts/account/manager/tests/snapshots/adapters__installing_specific_version_should_install_expected-contract4.snap
  framework/contracts/account/manager/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed-contract4.snap
  framework/contracts/account/manager/tests/snapshots/adapters__reinstalling_new_version_should_install_latest-contract4.snap
  framework/contracts/account/manager/tests/snapshots/apps__account_install_app-contract4.snap
  framework/contracts/account/manager/tests/snapshots/apps__execute_on_proxy_through_manager-contract4.snap
  framework/contracts/account/manager/tests/snapshots/install_modules__adds_module_to_account_modules-contract4.snap
  framework/contracts/account/manager/tests/snapshots/proxy__default_without_response_data-contract4.snap
  framework/contracts/account/manager/tests/snapshots/proxy__exec_through_manager-contract4.snap
  framework/contracts/account/manager/tests/snapshots/proxy__instantiate_proxy-contract4.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_install_multiple_modules-contract4.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_install_standalone_modules-contract4.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_with_response_data-contract4.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__account_move_ownership_to_falsy_sub_account-contract4.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__account_move_ownership_to_sub_account-contract4.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__creating_on_subaccount_should_succeed-contract4.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed-contract4.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__proxy_updating_on_subaccount_should_succeed-contract4.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed-contract4.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__sub_account_move_ownership-contract4.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account-contract4.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__updating_on_subaccount_should_succeed-contract4.snap
  framework/contracts/native/ibc-client/Cargo.toml
  framework/contracts/native/ibc-client/src/commands.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/contracts/native/ibc-client/src/error.rs
  framework/contracts/native/ibc-client/src/queries.rs
  framework/packages/abstract-core/src/native/ibc_client.rs
Labels: account, native

#170 Change account to sub-account
  framework/CHANGELOG.md
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/account/manager/src/contract.rs
  framework/contracts/account/manager/src/error.rs
  framework/contracts/account/manager/tests/subaccount.rs
  framework/contracts/native/ibc-host/tests/integration.rs
  framework/packages/abstract-core/src/core/manager.rs
Labels: account, native

#172 Add registered dexes query to ans API
  framework/CHANGELOG.md
  framework/packages/abstract-core/src/objects/ans_host.rs
  framework/packages/abstract-sdk/src/base/features/abstract_name_service.rs
Labels: sdk

#171 Update VC settings and registration procedure
  framework/contracts/native/version-control/src/contract.rs
  framework/contracts/native/version-control/src/queries.rs
  framework/packages/abstract-core/src/objects/module.rs
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-interface/src/native/version_control.rs
Labels: native, interface

#183 update builder to cancel previous builds
  .github/workflows/wasm-builder.yml
  scripts/cancel-wasm.sh
Labels: CI

#178 Add support to client for installing an app with dependencies
  framework/packages/abstract-app/src/lib.rs
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/publisher.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-interface/src/deployers.rs
  framework/packages/abstract-testing/src/lib.rs
  modules/contracts/apps/calendar/tests/integration.rs
  modules/contracts/apps/croncat/src/contract.rs
  modules/contracts/apps/dca/Cargo.toml
  modules/contracts/apps/dca/src/contract.rs
  modules/contracts/apps/dca/tests/integration.rs
Labels: interface, app_base

#174 Make framework concise
  framework/docs/.markdownlint.json
  framework/docs/src/0_introduction.md
  framework/docs/src/2_introduction/1_design_space.md
  framework/docs/src/3_framework/0_prerequisites.md
  framework/docs/src/3_framework/0_technologies.md
  framework/docs/src/3_framework/1_abstract_sdk.md
  framework/docs/src/3_framework/2_account_abstraction.md
  framework/docs/src/3_framework/3_architecture.md
  framework/docs/src/3_framework/4_ownership.md
  framework/docs/src/3_framework/5_modularity.md
  framework/docs/src/3_framework/5_modules.md
  framework/docs/src/3_framework/6_module_types.md
  framework/docs/src/3_framework/7_upgradability.md
  framework/docs/src/3_framework/8_ibc.md
  framework/docs/src/4_get_started/1_index.md
  framework/docs/src/4_get_started/2_installation.md
  framework/docs/src/4_get_started/3_module_builder.md
  framework/docs/src/5_platform/1_ans.md
  framework/docs/src/5_platform/2_version_control.md
  framework/docs/src/5_platform/3_account_factory.md
  framework/docs/src/5_platform/5_module_factory.md
  framework/docs/src/5_platform/index.md
  framework/docs/src/9_glossary.md
  framework/docs/src/SUMMARY.md
  framework/docs/src/assets/modules.svg
Labels: documentation

#184 Fix Version Control Config smart query
  framework/CHANGELOG.md
  framework/contracts/account/manager/tests/snapshots/adapters__account_install_adapter-contract1.snap
  framework/contracts/account/manager/tests/snapshots/adapters__install_one_adapter-contract1.snap
  framework/contracts/account/manager/tests/snapshots/adapters__install_one_adapter_with_fee-contract1.snap
  framework/contracts/account/manager/tests/snapshots/adapters__installing_specific_version_should_install_expected-contract1.snap
  framework/contracts/account/manager/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed-contract1.snap
  framework/contracts/account/manager/tests/snapshots/adapters__reinstalling_new_version_should_install_latest-contract1.snap
  framework/contracts/account/manager/tests/snapshots/apps__account_install_app-contract1.snap
  framework/contracts/account/manager/tests/snapshots/apps__execute_on_proxy_through_manager-contract1.snap
  framework/contracts/account/manager/tests/snapshots/install_modules__adds_module_to_account_modules-contract1.snap
  framework/contracts/account/manager/tests/snapshots/proxy__default_without_response_data-contract1.snap
  framework/contracts/account/manager/tests/snapshots/proxy__exec_through_manager-contract1.snap
  framework/contracts/account/manager/tests/snapshots/proxy__instantiate_proxy-contract1.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_install_multiple_modules-contract1.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_install_standalone_modules-contract1.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_with_response_data-contract1.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__account_move_ownership_to_falsy_sub_account-contract1.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__account_move_ownership_to_sub_account-contract1.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__creating_on_subaccount_should_succeed-contract1.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed-contract1.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__proxy_updating_on_subaccount_should_succeed-contract1.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed-contract1.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__sub_account_move_ownership-contract1.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account-contract1.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__updating_on_subaccount_should_succeed-contract1.snap
  framework/contracts/native/account-factory/tests/create_account.rs
  framework/contracts/native/version-control/Cargo.toml
  framework/contracts/native/version-control/src/commands.rs
  framework/contracts/native/version-control/src/contract.rs
  framework/contracts/native/version-control/src/error.rs
  framework/contracts/native/version-control/src/queries.rs
  framework/packages/abstract-core/src/native/version_control.rs
  framework/packages/abstract-interface/src/deployment.rs
Labels: account, native, interface

#185 Add cw-clearable to abstract
  framework/CHANGELOG.md
  framework/Cargo.toml
  framework/contracts/account/manager/tests/snapshots/adapters__account_install_adapter-contract1.snap
  framework/contracts/account/manager/tests/snapshots/adapters__install_one_adapter-contract1.snap
  framework/contracts/account/manager/tests/snapshots/adapters__install_one_adapter_with_fee-contract1.snap
  framework/contracts/account/manager/tests/snapshots/adapters__installing_specific_version_should_install_expected-contract1.snap
  framework/contracts/account/manager/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed-contract1.snap
  framework/contracts/account/manager/tests/snapshots/adapters__reinstalling_new_version_should_install_latest-contract1.snap
  framework/contracts/account/manager/tests/snapshots/apps__account_install_app-contract1.snap
  framework/contracts/account/manager/tests/snapshots/apps__execute_on_proxy_through_manager-contract1.snap
  framework/contracts/account/manager/tests/snapshots/install_modules__adds_module_to_account_modules-contract1.snap
  framework/contracts/account/manager/tests/snapshots/proxy__default_without_response_data-contract1.snap
  framework/contracts/account/manager/tests/snapshots/proxy__exec_through_manager-contract1.snap
  framework/contracts/account/manager/tests/snapshots/proxy__instantiate_proxy-contract1.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_install_multiple_modules-contract1.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_install_standalone_modules-contract1.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_with_response_data-contract1.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__account_move_ownership_to_falsy_sub_account-contract1.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__account_move_ownership_to_sub_account-contract1.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__creating_on_subaccount_should_succeed-contract1.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed-contract1.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__proxy_updating_on_subaccount_should_succeed-contract1.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed-contract1.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__sub_account_move_ownership-contract1.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account-contract1.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__updating_on_subaccount_should_succeed-contract1.snap
  framework/contracts/native/account-factory/tests/create_account.rs
  framework/contracts/native/version-control/src/commands.rs
  framework/contracts/native/version-control/src/contract.rs
  framework/packages/abstract-core/Cargo.toml
  framework/packages/abstract-core/src/native/version_control.rs
  framework/packages/abstract-core/src/objects/version_control.rs
  framework/packages/abstract-sdk/Cargo.toml
  framework/packages/abstract-sdk/src/cw_helpers/mod.rs
  modules/contracts/apps/payment/src/contract.rs
  modules/contracts/apps/payment/src/handlers/execute.rs
  modules/contracts/apps/payment/src/msg.rs
  modules/contracts/apps/payment/tests/integration.rs
  modules/contracts/apps/subscription/src/handlers/execute.rs
  modules/contracts/apps/subscription/src/msg.rs
Labels: account, native, sdk

#187 Remove floats from wasm V1 (removes flatten)
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/account/manager/src/contract.rs
  framework/packages/abstract-core/src/adapter.rs
  framework/packages/abstract-core/src/core/manager.rs
Labels: account

#193 Only allow for incremental migrations of modules.
  framework/CHANGELOG.md
  framework/contracts/account/manager/src/contract.rs
  framework/contracts/account/proxy/src/contract.rs
  framework/contracts/native/account-factory/src/contract.rs
  framework/contracts/native/ans-host/src/contract.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/contracts/native/module-factory/src/contract.rs
  framework/contracts/native/version-control/src/contract.rs
  framework/packages/abstract-core/src/error.rs
  framework/packages/abstract-core/src/objects/module_version.rs
Labels: account, native

#195 [CI] Move modules tests to circle ci
  .circleci/config.yml
  .github/workflows/modules-test.yml
  modules/contracts/apps/subscription/README.md
  scripts/modules-tests.sh
Labels: CI

#194 Add top level owner queries
  framework/CHANGELOG.md
  framework/contracts/account/manager/src/contract.rs
  framework/contracts/account/manager/src/queries.rs
  framework/contracts/account/manager/tests/apps.rs
  framework/contracts/account/manager/tests/subaccount.rs
  framework/packages/abstract-app/src/endpoints/query.rs
  framework/packages/abstract-core/src/app.rs
  framework/packages/abstract-core/src/core/manager.rs
  framework/packages/abstract-core/src/objects/nested_admin.rs
Labels: account, app_base

#200 Namespace Unclaim Docs
  framework/docs/src/5_platform/2_version_control.md
Labels: documentation

#196 Tagged response remove response as parameter
  framework/CHANGELOG.md
  framework/packages/abstract-adapter/src/endpoints/execute.rs
  framework/packages/abstract-app/examples/counter.rs
  framework/packages/abstract-app/src/endpoints/execute.rs
  framework/packages/abstract-sdk/src/apis/respond.rs
  modules/contracts/adapters/cw-staking/src/handlers/execute.rs
  modules/contracts/apps/calendar/src/handlers/execute.rs
  modules/contracts/apps/calendar/src/handlers/migrate.rs
  modules/contracts/apps/challenge/src/handlers/execute.rs
  modules/contracts/apps/croncat/src/handlers/execute.rs
  modules/contracts/apps/croncat/src/replies/execute.rs
  modules/contracts/apps/dca/src/handlers/execute.rs
  modules/contracts/apps/etf/src/handlers/execute.rs
  modules/contracts/apps/etf/src/handlers/reply.rs
  modules/contracts/apps/payment/src/handlers/execute.rs
  modules/contracts/apps/payment/src/handlers/migrate.rs
  modules/contracts/apps/subscription/src/handlers/execute.rs
Labels: sdk, adapter_base, app_base

#190 Add MutCwEnv to client + other improvements
  framework/contracts/account/manager/tests/snapshots/subaccount__account_move_ownership_to_sub_account.snap
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/application.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/src/infrastructure.rs
  framework/packages/abstract-client/src/lib.rs
  framework/packages/abstract-client/src/publisher.rs
  framework/packages/abstract-client/src/test_utils.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-sdk/src/apis/verify.rs
  framework/packages/abstract-sdk/src/apis/version_registry.rs
  framework/packages/abstract-testing/src/mock_querier.rs
  integrations/Cargo.toml
  modules/contracts/apps/calendar/tests/integration.rs
  modules/contracts/apps/subscription/tests/integration.rs
Labels: account, sdk

#204 Fix beta clippy
  framework/contracts/account/manager/tests/adapters.rs
  framework/contracts/account/manager/tests/apps.rs
  framework/contracts/account/manager/tests/common/mod.rs
  framework/contracts/account/manager/tests/install_modules.rs
  framework/contracts/account/manager/tests/proxy.rs
  framework/contracts/account/manager/tests/subaccount.rs
  framework/contracts/account/manager/tests/upgrades.rs
  framework/packages/abstract-integration-tests/src/mock_modules.rs
Labels: account

#203 Properly handle renouncing accounts
  framework/CHANGELOG.md
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/account/manager/src/contract.rs
  framework/contracts/account/manager/src/error.rs
  framework/contracts/account/manager/tests/proxy.rs
  framework/contracts/account/manager/tests/subaccount.rs
  framework/contracts/account/manager/tests/upgrades.rs
  framework/contracts/native/version-control/src/commands.rs
  framework/contracts/native/version-control/src/contract.rs
  framework/contracts/native/version-control/src/queries.rs
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/error.rs
  framework/packages/abstract-core/src/native/version_control.rs
  framework/packages/abstract-core/src/objects/gov_type.rs
  framework/packages/abstract-core/src/objects/nested_admin.rs
  framework/packages/abstract-core/src/objects/version_control.rs
  framework/packages/abstract-sdk/src/apis/version_registry.rs
Labels: account, native, sdk
