Repository AbstractSDK/abstract, pull requests merged in 2023-08, with the labels that each got.

#44 Fix/standalone modules
  framework/contracts/account/manager/tests/common/mock_modules.rs
  framework/contracts/account/manager/tests/proxy.rs
  framework/contracts/native/module-factory/src/lib.rs
  framework/packages/abstract-adapter/src/endpoints/instantiate.rs
  framework/packages/abstract-app/src/endpoints/instantiate.rs
  framework/packages/abstract-core/src/objects/module.rs
  framework/packages/abstract-ibc-host/src/endpoints/instantiate.rs
  framework/packages/abstract-sdk/src/apis/modules.rs
  framework/packages/abstract-sdk/src/base/handler.rs
Labels: account, native, sdk, adapter_base, app_base

#51 fix: typo in execute_create_module function docs
  framework/contracts/native/module-factory/src/commands.rs
Labels: enhancement, native

#46 Add ability to install modules on account creation
  framework/CHANGELOG.md
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/account/manager/src/contract.rs
  framework/contracts/account/manager/src/lib.rs
  framework/contracts/account/manager/tests/subaccount.rs
  framework/contracts/account/manager/tests/upgrades.rs
  framework/contracts/native/account-factory/src/commands.rs
  framework/contracts/native/account-factory/src/contract.rs
  framework/contracts/native/account-factory/tests/create_account.rs
  framework/packages/abstract-core/src/core/manager.rs
  framework/packages/abstract-core/src/native/account_factory.rs
  framework/packages/abstract-interface/src/native/account_factory.rs
  integrations/astroport/packages/abstract-adapter/src/staking.rs
  integrations/wyndex/packages/wyndex-adapter/src/staking.rs
Labels: account, native, interface

#54 Fix sub account admin assertion
  framework/CHANGELOG.md
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/account/manager/src/contract.rs
  framework/contracts/account/manager/tests/subaccount.rs
  framework/packages/abstract-core/src/objects/gov_type.rs
Labels: account

#55 Register the sub account on the main account on creation
  framework/CHANGELOG.md
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/account/manager/src/contract.rs
  framework/contracts/account/manager/src/error.rs
  framework/contracts/account/manager/src/queries.rs
  framework/contracts/account/manager/tests/subaccount.rs
  framework/contracts/native/account-factory/src/commands.rs
  framework/contracts/native/account-factory/src/contract.rs
  framework/packages/abstract-core/src/core/manager.rs
  framework/packages/abstract-core/src/objects/gov_type.rs
Labels: account, native

#23 Feature/Query handler for module data
  framework/CHANGELOG.md
  framework/packages/abstract-adapter/src/endpoints/query.rs
  framework/packages/abstract-app/src/endpoints/query.rs
  framework/packages/abstract-core/src/adapter.rs
  framework/packages/abstract-core/src/app.rs
  framework/packages/abstract-core/src/objects/dependency.rs
  framework/packages/abstract-core/src/objects/module_version.rs
  modules/contracts/adapters/cw-staking/tests/stake.rs
  modules/contracts/apps/dca/tests/integration.rs
Labels: adapter_base, app_base
