Repository AbstractSDK/abstract, pull requests merged in 2023-07, with the labels that each got.

#2 Update nightly cron job
  .github/workflows/nightly.yml
  justfile
Labels: CI

#3 Add gh-pages action
  .github/workflows/gh-pages.yml
Labels: CI

#10 Add testing CI to apps and adapters
  .github/workflows/adapters-test.yml
  .github/workflows/apps-test.yml
Labels: CI

#11 Set the app address after instantiation
  framework/contracts/account/manager/tests/common/mod.rs
  framework/contracts/native/account-factory/tests/create_account.rs
  framework/packages/abstract-core/src/registry.rs
  framework/packages/abstract-interface/src/account/manager.rs
  framework/packages/abstract-interface/src/account/mod.rs
  framework/packages/abstract-interface/src/native/account_factory.rs
  framework/packages/abstract-sdk/src/apis/adapter.rs
  framework/packages/abstract-sdk/src/apis/app.rs
  framework/packages/abstract-testing/src/mock_querier.rs
  justfile
Labels: account, native, sdk, interface

#21 Set adapter addr on install_adapter
  framework/CHANGELOG.md
  framework/contracts/account/manager/tests/adapters.rs
  framework/contracts/account/manager/tests/apps.rs
  framework/contracts/native/module-factory/src/commands.rs
  framework/contracts/native/version-control/src/queries.rs
  framework/packages/abstract-core/src/objects/entry/channel_entry.rs
  framework/packages/abstract-core/src/objects/entry/contract_entry.rs
  framework/packages/abstract-core/src/objects/entry/dex_asset_pairing.rs
  framework/packages/abstract-core/src/objects/module.rs
  framework/packages/abstract-core/src/objects/pool/pool_metadata.rs
  framework/packages/abstract-interface/src/account/mod.rs
Labels: account, native, interface

#16 Instantiate admins to native contracts
  framework/CHANGELOG.md
  framework/contracts/account/manager/tests/adapters.rs
  framework/contracts/account/manager/tests/apps.rs
  framework/contracts/account/manager/tests/proxy.rs
  framework/contracts/account/manager/tests/upgrades.rs
  framework/contracts/native/account-factory/src/contract.rs
  framework/contracts/native/account-factory/src/lib.rs
  framework/contracts/native/account-factory/tests/create_account.rs
  framework/contracts/native/ans-host/src/contract.rs
  framework/contracts/native/ans-host/src/lib.rs
  framework/contracts/native/ans-host/src/queries.rs
  framework/contracts/native/ans-host/src/tests/instantiate.rs
  framework/contracts/native/module-factory/src/contract.rs
  framework/contracts/native/module-factory/src/lib.rs
  framework/contracts/native/module-factory/tests/direct_calls.rs
  framework/contracts/native/version-control/src/commands.rs
  framework/contracts/native/version-control/src/contract.rs
  framework/contracts/native/version-control/src/lib.rs
  framework/contracts/native/version-control/src/queries.rs
  framework/contracts/native/version-control/tests/direct_calls.rs
  framework/packages/abstract-core/src/native/account_factory.rs
  framework/packages/abstract-core/src/native/ans_host.rs
  framework/packages/abstract-core/src/native/module_factory.rs
  framework/packages/abstract-core/src/native/version_control.rs
  framework/packages/abstract-interface/src/deployment.rs
  framework/scripts/src/bin/full_deploy.rs
  modules/contracts/adapters/cw-staking/tests/stake.rs
  modules/contracts/adapters/dex/tests/swap.rs
  modules/contracts/apps/croncat/tests/integration.rs
  modules/contracts/apps/dca/tests/integration.rs
  modules/packages/bundles/wyndex/tests/abstract.rs
Labels: account, native, interface

#25 Add lazy_static initialization for astroport chains
  framework/contracts/account/manager/tests/adapters.rs
  framework/contracts/account/manager/tests/apps.rs
  framework/contracts/account/manager/tests/upgrades.rs
  framework/packages/abstract-core/src/registry.rs
  integrations/astroport/packages/abstract-adapter/Cargo.toml
  integrations/astroport/packages/abstract-adapter/src/lib.rs
Labels: account
