Repository AbstractSDK/abstract, pull requests merged in 2024-11, with the labels that each got.

#522 Ignore beta versions in modules smart query
  framework/contracts/native/registry/src/queries.rs
Labels: native

#523 Ibc client and ibc host removal of predictable addresses
  framework/Cargo.lock
  framework/contracts/account/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/tests/snapshots/apps__execute_on_account.snap
  framework/contracts/account/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_multiple_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_standalone_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_with_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__exec_on_account.snap
  framework/contracts/account/tests/snapshots/proxy__instantiate_account.snap
  framework/contracts/account/tests/snapshots/subaccount__account_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__creating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account.snap
  framework/contracts/account/tests/snapshots/subaccount__updating_on_subaccount_should_succeed.snap
  framework/contracts/native/ibc-client/src/contract.rs
  framework/contracts/native/ibc-host/src/contract.rs
  framework/packages/abstract-adapter/src/endpoints/ibc_callback.rs
  framework/packages/abstract-adapter/src/endpoints/module_ibc.rs
  framework/packages/abstract-app/Cargo.toml
  framework/packages/abstract-app/src/endpoints/ibc_callback.rs
  framework/packages/abstract-app/src/endpoints/module_ibc.rs
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-interface/src/migrate.rs
  framework/packages/abstract-interface/tests/instantiate_from_migration.rs
  framework/packages/abstract-std/src/native/ibc/ibc_client.rs
  framework/packages/abstract-std/src/native/ibc/ibc_host.rs
  framework/packages/abstract-std/src/native_addrs.rs
Labels: account, native, adapter_base, interface, app_base

#521 Version Control renamed to Registry in a few doc comments
  framework/contracts/account/src/modules.rs
  framework/contracts/native/registry/src/commands.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-sdk/src/apis/version_registry.rs
  framework/packages/abstract-std/src/account.rs
  framework/packages/abstract-std/src/native/registry.rs
  framework/packages/abstract-std/src/objects/module_factory.rs
  framework/packages/abstract-std/src/objects/registry.rs
Labels: account, native, sdk

#516 Generate proper ica_client schemas
  framework/contracts/native/ica-client/examples/schema.rs
Labels: native

#510 Manager and Proxy mentions remove from the docs
  framework/contracts/account/Cargo.toml
  framework/contracts/account/VERSIONING.md
  framework/contracts/native/ibc-client/README.md
  framework/development/IBC.md
  framework/packages/abstract-integration-tests/README.md
Labels: documentation, account, native

#524 Rev namespace for abstract
  framework/contracts/native/registry/src/contract.rs
  framework/contracts/native/registry/src/migrate.rs
Labels: native

#525 Added xion crate instead of local xion
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/execution.rs
  framework/contracts/account/src/lib.rs
  framework/contracts/account/tests/xion.rs
  framework/packages/abstract-std/src/account.rs
  framework/packages/abstract-xion/Cargo.toml
  framework/packages/abstract-xion/src/auth/eth_crypto.rs
  framework/packages/abstract-xion/src/auth/jwt.rs
  framework/packages/abstract-xion/src/auth/mod.rs
  framework/packages/abstract-xion/src/auth/passkey.rs
  framework/packages/abstract-xion/src/auth/secp256r1.rs
  framework/packages/abstract-xion/src/auth/sign_arb.rs
  framework/packages/abstract-xion/src/auth/util.rs
  framework/packages/abstract-xion/src/error.rs
  framework/packages/abstract-xion/src/lib.rs
  framework/packages/abstract-xion/src/queries.rs
  framework/packages/abstract-xion/src/state.rs
  framework/packages/abstract-xion/src/sudo.rs
  framework/packages/abstract-xion/src/xion_proto/jwk.rs
  framework/packages/abstract-xion/src/xion_proto/mod.rs
  framework/workspace-hack/Cargo.toml
  interchain/Cargo.toml
  interchain/scripts/Cargo.toml
  interchain/scripts/src/bin/xion_test.rs
Labels: account

#530 Registry 0.24.3 release
  framework/Cargo.lock
  framework/artifacts/abstract_account-xion.wasm
  framework/artifacts/abstract_account.wasm
  framework/artifacts/abstract_ibc_client.wasm
  framework/artifacts/abstract_ibc_host.wasm
  framework/artifacts/abstract_ica_client.wasm
  framework/artifacts/abstract_module_factory.wasm
  framework/artifacts/abstract_registry.wasm
  framework/artifacts/checksums.txt
  framework/contracts/native/registry/Cargo.toml
  interchain/scripts/state.json
Labels: native

#531 Ibc client and ibc host deployment updates
  framework/contracts/account/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/tests/snapshots/apps__execute_on_account.snap
  framework/contracts/account/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_multiple_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_standalone_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_with_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__exec_on_account.snap
  framework/contracts/account/tests/snapshots/proxy__instantiate_account.snap
  framework/contracts/account/tests/snapshots/subaccount__account_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__creating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account.snap
  framework/contracts/account/tests/snapshots/subaccount__updating_on_subaccount_should_succeed.snap
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-interface/src/migrate.rs
Labels: account, interface

#533 Added migration function from xion accounts
  framework/Cargo.lock
  framework/contracts/account/Cargo.toml
  framework/contracts/account/src/migrate.rs
  framework/docs/src/releases/CHANGELOG.md
  framework/packages/abstract-interface/src/deployment.rs
  interchain/framework-clone-testing/tests/migrate.rs
Labels: account, interface

#537 Fix install modules during instantiation
  framework/artifacts/abstract_account-xion.wasm
  framework/artifacts/abstract_account.wasm
  framework/artifacts/abstract_registry.wasm
  framework/artifacts/checksums.txt
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/migrate.rs
  framework/contracts/account/src/modules.rs
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking-osmosis.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter-osmosis.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/my_standalone.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
Labels: account

#535 Added upload, migrated provider
  framework/packages/abstract-interface/src/migrate.rs
  interchain/scripts/state.json
Labels: interface

#543 Change Taplo base configuration
  framework/.cargo/config.toml
  framework/.config/hakari.toml
  framework/Cargo.toml
  framework/contracts/account/.cargo/config.toml
  framework/contracts/account/Cargo.toml
  framework/contracts/native/ans-host/Cargo.toml
  framework/contracts/native/ibc-client/Cargo.toml
  framework/contracts/native/ibc-host/Cargo.toml
  framework/contracts/native/ica-client/Cargo.toml
  framework/contracts/native/module-factory/Cargo.toml
  framework/contracts/native/registry/Cargo.toml
  framework/docs/book.toml
  framework/packages/abstract-adapter/Cargo.toml
  framework/packages/abstract-app/Cargo.toml
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-ica/Cargo.toml
  framework/packages/abstract-integration-tests/Cargo.toml
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-macros/Cargo.toml
  framework/packages/abstract-sdk/Cargo.toml
  framework/packages/abstract-standalone/Cargo.toml
  framework/packages/abstract-std/Cargo.toml
  framework/packages/abstract-testing/Cargo.toml
  framework/packages/standards/dex/Cargo.toml
  framework/packages/standards/money-market/Cargo.toml
  framework/packages/standards/staking/Cargo.toml
  framework/packages/standards/utils/Cargo.toml
  framework/rustfmt.toml
  framework/taplo.toml
  framework/workspace-hack/Cargo.toml
  integrations/Cargo.toml
  integrations/astroport-adapter/Cargo.toml
  integrations/astrovault-adapter/Cargo.toml
  integrations/bundles/mockdex/Cargo.toml
  integrations/kujira-adapter/Cargo.toml
  integrations/mars-adapter/Cargo.toml
  integrations/osmosis-adapter/Cargo.toml
  integrations/taplo.toml
  integrations/wyndex-adapter/Cargo.toml
  interchain/Cargo.toml
  interchain/framework-clone-testing/Cargo.toml
  interchain/interchain-end_to_end_testing/Cargo.toml
  interchain/modules-clone-testing/Cargo.toml
  interchain/rustfmt.toml
  interchain/scripts/Cargo.toml
  interchain/taplo.toml
  modules/.cargo/config.toml
  modules/Cargo.toml
  modules/contracts/adapters/cw-staking/Cargo.toml
  modules/contracts/adapters/dex/Cargo.toml
  modules/contracts/adapters/money-market/Cargo.toml
  modules/contracts/adapters/tendermint-staking/Cargo.toml
  modules/contracts/apps/calendar/Cargo.toml
  modules/contracts/apps/challenge/Cargo.toml
  modules/contracts/apps/payment/Cargo.toml
  modules/contracts/apps/ping-pong/Cargo.toml
  modules/contracts/apps/subscription/Cargo.toml
  modules/contracts/standalones/ica-owner/Cargo.toml
  modules/rustfmt.toml
  modules/taplo.toml
Labels: account, native, sdk, adapter_base, interface, app_base

#541 Change integration feature
  framework/packages/abstract-adapter/Cargo.toml
  framework/packages/abstract-app/Cargo.toml
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-interface/src/native/ans_host.rs
  framework/packages/abstract-interface/src/native/ibc_client.rs
  framework/packages/abstract-interface/src/native/ibc_host.rs
  framework/packages/abstract-interface/src/native/registry.rs
  framework/packages/abstract-standalone/Cargo.toml
  framework/packages/standards/dex/Cargo.toml
  integrations/bundles/mockdex/Cargo.toml
Labels: adapter_base, interface, app_base

#547 Added disconnect script
  framework/Cargo.lock
  framework/packages/abstract-interface/src/ibc.rs
  framework/packages/abstract-std/Cargo.toml
  interchain/scripts/src/bin/full_deploy.rs
  interchain/scripts/src/bin/ibc_disconnect.rs
Labels: interface
