Repository AbstractSDK/abstract, pull requests merged in 2024-01, with the labels that each got.

#202 Framework Services and Components Docs
  framework/docs/src/1_products/1_cw_orchestrator.md
  framework/docs/src/1_products/2_abstract_app_template.md
  framework/docs/src/1_products/3_abstract_testing.md
  framework/docs/src/1_products/index.md
  framework/docs/src/2_introduction/1_design_space.md
  framework/docs/src/5_platform/1_ans.md
  framework/docs/src/5_platform/3_account_factory.md
  framework/docs/src/5_platform/4_account_console.md
  framework/docs/src/5_platform/5_module_factory.md
  framework/docs/src/5_platform/6_monetization.md
  framework/docs/src/5_platform/7_oracle.md
  framework/docs/src/5_platform/index.md
  framework/docs/src/SUMMARY.md
Labels: documentation

#207 Add `get_last_account` to client.
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-core/src/objects/account/account_id.rs
  framework/packages/abstract-core/src/objects/account/account_trace.rs
  framework/packages/abstract-interface/src/account/mod.rs
Labels: interface

#208 bump msrv
  .github/workflows/framework-check.yml
  .github/workflows/modules-check.yml
  app-template/.github/workflows/check.yml
Labels: CI

#206 Add documentation to Abstract Client
  framework/packages/abstract-adapter/src/lib.rs
  framework/packages/abstract-adapter/src/state.rs
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-client/README.md
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/application.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/src/error.rs
  framework/packages/abstract-client/src/infrastructure.rs
  framework/packages/abstract-client/src/lib.rs
  framework/packages/abstract-client/src/publisher.rs
  framework/packages/abstract-client/src/test_utils.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-interface/src/error.rs
Labels: adapter_base, interface

#210 Fix the Version Control namespace query
  framework/CHANGELOG.md
  framework/contracts/account/manager/tests/proxy.rs
  framework/contracts/native/account-factory/tests/create_account.rs
  framework/contracts/native/module-factory/src/commands.rs
  framework/contracts/native/version-control/src/queries.rs
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-core/src/native/version_control.rs
  framework/packages/abstract-integration-tests/src/account_factory.rs
Labels: account, native

#211 Update Client README and exports
  app-template/examples/local_daemon.rs
  app-template/examples/publish.rs
  app-template/tests/integration.rs
  framework/packages/abstract-app/src/lib.rs
  framework/packages/abstract-client/README.md
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/application.rs
  framework/packages/abstract-client/src/builder.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/src/infrastructure.rs
  framework/packages/abstract-client/src/lib.rs
  framework/packages/abstract-client/src/mut_client.rs
  framework/packages/abstract-client/src/publisher.rs
  framework/packages/abstract-client/tests/integration.rs
  interchain/tests/src/interchain_accounts.rs
  modules/contracts/apps/calendar/tests/integration.rs
  modules/contracts/apps/dca/tests/integration.rs
  modules/contracts/apps/subscription/tests/integration.rs
Labels: app_base

#213 Resolver trait for cw `AnsHost<Chain>` interface
  framework/CHANGELOG.md
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/src/lib.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-interface/src/native/ans_host.rs
  framework/packages/abstract-sdk/src/ans_resolve.rs
  modules/contracts/apps/payment/src/handlers/instantiate.rs
Labels: sdk, interface

#216 Post-release updates
  framework/Cargo.toml
  framework/contracts/native/ibc-client/Cargo.toml
  framework/contracts/native/ibc-host/Cargo.toml
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-interface/Cargo.toml
  framework/publish/publish.sh
  interchain/Cargo.toml
  interchain/scripts/deployments.json
  interchain/scripts/not_migrated.json
  interchain/scripts/state.json
Labels: native, interface

#212 Docs/building with abstract
  app-template/README.md
  app-template/examples/publish.rs
  app-template/justfile
  framework/docs/src/4_get_started/2_installation.md
  framework/docs/src/4_get_started/3_module_builder.md
  framework/docs/src/4_get_started/4_sdk.md
  framework/docs/src/4_get_started/5_abstract_client.md
  framework/docs/src/4_get_started/5_account_creation.md
  framework/docs/src/4_get_started/6_module_testing.md
  framework/docs/src/SUMMARY.md
  framework/packages/abstract-app/src/endpoints.rs
  framework/packages/abstract-app/src/endpoints/execute.rs
  framework/packages/abstract-app/src/endpoints/instantiate.rs
  framework/packages/abstract-app/src/features.rs
  framework/packages/abstract-app/src/lib.rs
  framework/packages/abstract-client/README.md
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-testing/src/lib.rs
  framework/packages/abstract-testing/src/mock_querier.rs
  interchain/tests/src/interchain_accounts.rs
Labels: documentation, app_base

#224 Added Returns inside docs for contract apis
  framework/packages/abstract-app/src/lib.rs
  framework/packages/abstract-client/src/builder.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-core/src/adapter.rs
  framework/packages/abstract-core/src/app.rs
  framework/packages/abstract-core/src/core/manager.rs
  framework/packages/abstract-core/src/native/account_factory.rs
  framework/packages/abstract-core/src/native/ibc_client.rs
  framework/packages/abstract-core/src/native/ibc_host.rs
  framework/packages/abstract-core/src/native/version_control.rs
  framework/packages/abstract-core/src/objects/entry/asset_entry.rs
  framework/packages/abstract-core/src/objects/module.rs
  framework/packages/abstract-core/src/objects/version_control.rs
  framework/packages/abstract-sdk/README.md
  framework/packages/standards/dex/src/msg.rs
  framework/packages/standards/staking/src/msg.rs
  interchain/tests/src/interchain_accounts.rs
  modules/contracts/apps/calendar/src/msg.rs
  modules/contracts/apps/challenge/src/msg.rs
  modules/contracts/apps/croncat/src/msg.rs
  modules/contracts/apps/dca/src/msg.rs
  modules/contracts/apps/payment/src/msg.rs
  modules/contracts/apps/subscription/src/msg.rs
Labels: sdk, app_base

#217 Dex fee query
  framework/CHANGELOG.md
  framework/packages/abstract-core/src/objects/fee.rs
  framework/packages/abstract-sdk/src/cw_helpers/fees.rs
  framework/packages/standards/dex/src/error.rs
  framework/packages/standards/dex/src/msg.rs
  framework/packages/standards/dex/src/types.rs
  modules/CHANGELOG.md
  modules/contracts/adapters/dex/src/adapter.rs
  modules/contracts/adapters/dex/src/handlers/execute.rs
  modules/contracts/adapters/dex/src/handlers/instantiate.rs
  modules/contracts/adapters/dex/src/handlers/query.rs
  modules/contracts/adapters/dex/src/state.rs
  modules/contracts/adapters/dex/tests/swap.rs
Labels: sdk

#225 Fixed ibc_callback test
  framework/packages/abstract-app/src/lib.rs
  interchain/tests/src/interchain_accounts.rs
Labels: app_base

#223 Authz msg wrapping to authz api in the abstract sdk
  framework/CHANGELOG.md
  framework/packages/abstract-sdk/Cargo.toml
  framework/packages/abstract-sdk/src/apis/authz.rs
  framework/packages/abstract-sdk/src/apis/stargate/gov.rs
  framework/packages/abstract-sdk/src/apis/stargate/mod.rs
Labels: sdk
