Repository AbstractSDK/abstract, pull requests merged in 2024-03, with the labels that each got.

#280 Export provide liquidity helper for dex adapter interface + DexAction and cw-orch macro
  framework/CHANGELOG.md
  framework/packages/abstract-interface/src/account/mod.rs
  framework/packages/standards/dex/src/msg.rs
  modules/CHANGELOG.md
  modules/contracts/adapters/cw-staking/src/lib.rs
  modules/contracts/adapters/dex/src/lib.rs
Labels: interface

#281 Update doc links to show console.abstract.money instead of app
  framework/docs/src/0_introduction.md
  framework/docs/src/3_framework/2_account_abstraction.md
  framework/docs/src/3_framework/6_module_types.md
  framework/docs/src/4_get_started/7_module_deployment.md
  framework/docs/src/5_platform/4_account_console.md
  modules/contracts/apps/calendar/examples/deploy.rs
Labels: documentation

#286 Added releases page to doc
  framework/docs/src/SUMMARY.md
  framework/docs/src/releases/index.md
  framework/docs/src/releases/v0.md
Labels: documentation

#285 Added more info on readme
  README.md
Labels: documentation

#270 Generic dex and staking testing with Astroport and kujira testing
  .github/workflows/interchain-test.yml
  framework/packages/abstract-core/src/native/ans_host.rs
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-interface/src/deployers.rs
  framework/packages/abstract-interface/src/native/ans_host.rs
  integrations/astroport-adapter/Cargo.toml
  integrations/astroport-adapter/src/staking.rs
  interchain/.cargo/config.toml
  interchain/Cargo.toml
  interchain/framework-clone-testing/Cargo.toml
  interchain/framework-clone-testing/src/common.rs
  interchain/framework-clone-testing/src/lib.rs
  interchain/framework-clone-testing/tests/migrate.rs
  interchain/interchain-tests/Cargo.toml
  interchain/interchain-tests/README.md
  interchain/interchain-tests/src/bin/setup_funds.rs
  interchain/interchain-tests/src/bin/token_bridge.rs
  interchain/interchain-tests/src/interchain_accounts.rs
  interchain/interchain-tests/src/lib.rs
  interchain/interchain-tests/src/setup.rs
  interchain/modules-clone-testing/Cargo.toml
  interchain/modules-clone-testing/src/common.rs
  interchain/modules-clone-testing/src/lib.rs
  interchain/modules-clone-testing/tests/dex/astroport.rs
  interchain/modules-clone-testing/tests/dex/kujira.rs
  interchain/modules-clone-testing/tests/dex/mod.rs
  interchain/modules-clone-testing/tests/staking/astroport.rs
  interchain/modules-clone-testing/tests/staking/kujira.rs
  interchain/modules-clone-testing/tests/staking/mod.rs
  interchain/modules-clone-testing/tests/tests.rs
  interchain/scripts/Cargo.toml
  interchain/tests/Cargo.toml
  modules/contracts/adapters/STATUS.md
  modules/contracts/adapters/cw-staking/Cargo.toml
  modules/contracts/adapters/cw-staking/STATUS.md
  modules/contracts/adapters/cw-staking/src/lib.rs
  modules/contracts/adapters/cw-staking/src/staking_tester.rs
  modules/contracts/adapters/dex/Cargo.toml
  modules/contracts/adapters/dex/STATUS.md
  modules/contracts/adapters/dex/src/dex_tester.rs
  modules/contracts/adapters/dex/src/lib.rs
Labels: CI, interface

#294 Make namespace claim permissioned
  framework/CHANGELOG.md
  framework/contracts/native/version-control/src/commands.rs
  framework/docs/src/releases/v0.md
Labels: documentation, native

#289 Added a warning for namespace in mainnet
  framework/README.md
  framework/docs/src/5_platform/4_account_console.md
Labels: documentation

#292 Added modules to docs.
  framework/README.md
  framework/docs/src/SUMMARY.md
  framework/docs/src/modules/cw-staking.md
  framework/docs/src/modules/dex.md
  framework/docs/src/modules/index.md
  framework/docs/src/modules/subscription.md
Labels: documentation

#296 Avoid parsing result when receiving response data in Proxy
  framework/contracts/account/proxy/src/reply.rs
Labels: bug, account

#297 Fixed search and mermaid highlight issues
  framework/docs/book.toml
  framework/docs/mermaid.min.js
  framework/docs/src/modules/cw-staking.md
  framework/docs/src/modules/dex.md
  framework/docs/src/modules/subscription.md
Labels: bug, documentation

#271 Add AEZ QF demo videos to docs
  framework/docs/src/video_and_content/videos.md
Labels: documentation

#299 Added dependency context
  framework/docs/src/4_get_started/8_dependencies.md
Labels: documentation

#301 Note to install gh cli
  framework/docs/src/4_get_started/7_module_deployment.md
Labels: documentation
