Repository AbstractSDK/abstract, pull requests merged in 2024-10, with the labels that each got.

#500 Separate xion abstract account from account
  framework/Cargo.lock
  framework/contracts/account/Cargo.toml
  framework/contracts/account/src/absacc/auth/sign_arb.rs
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/execution.rs
  framework/contracts/account/src/lib.rs
  framework/contracts/account/tests/xion.rs
  framework/packages/abstract-xion/Cargo.toml
  framework/packages/abstract-xion/src/auth/eth_crypto.rs
  framework/packages/abstract-xion/src/auth/jwt.rs
  framework/packages/abstract-xion/src/auth/mod.rs
  framework/packages/abstract-xion/src/auth/passkey.rs
  framework/packages/abstract-xion/src/auth/secp256r1.rs
  framework/packages/abstract-xion/src/auth/sign_arb.rs
  framework/packages/abstract-xion/src/auth/util.rs
  framework/packages/abstract-xion/src/error.rs
  framework/packages/abstract-xion/src/lib.rs
  framework/packages/abstract-xion/src/queries.rs
  framework/packages/abstract-xion/src/state.rs
  framework/packages/abstract-xion/src/sudo.rs
  framework/packages/abstract-xion/src/xion_proto/jwk.rs
  framework/packages/abstract-xion/src/xion_proto/mod.rs
  framework/workspace-hack/Cargo.toml
Labels: account

#490 TODO removal
  framework/Cargo.lock
  framework/contracts/account/src/error.rs
  framework/contracts/account/tests/adapters.rs
  framework/contracts/account/tests/upgrades.rs
  framework/contracts/native/ans-host/src/contract.rs
  framework/contracts/native/ibc-client/src/commands.rs
  framework/contracts/native/ibc-host/src/endpoints/reply.rs
  framework/contracts/native/ica-client/src/chain_types/evm.rs
  framework/contracts/native/ica-client/src/error.rs
  framework/contracts/native/ica-client/src/queries.rs
  framework/packages/abstract-app/src/endpoints/execute.rs
  framework/packages/abstract-app/src/features.rs
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/builder.rs
  framework/packages/abstract-client/src/infrastructure.rs
  framework/packages/abstract-client/src/interchain/remote_account.rs
  framework/packages/abstract-client/src/lib.rs
  framework/packages/abstract-ica/src/action.rs
  framework/packages/abstract-ica/src/chain_type.rs
  framework/packages/abstract-integration-tests/README.md
  framework/packages/abstract-sdk/src/ans_resolve.rs
  framework/packages/abstract-sdk/src/apis/stargate/mod.rs
  framework/packages/abstract-sdk/src/base/endpoints/execute.rs
  framework/packages/abstract-standalone/src/features.rs
  framework/packages/abstract-std/src/account.rs
  framework/packages/abstract-std/src/native/ibc/ibc_host.rs
  framework/packages/abstract-std/src/objects/entry/asset_entry.rs
  framework/packages/abstract-std/src/objects/entry/dex_asset_pairing.rs
  framework/packages/abstract-std/src/objects/gov_type.rs
  framework/packages/abstract-std/src/objects/ownership/gov_ownable.rs
  framework/packages/abstract-std/src/objects/voting.rs
  framework/packages/abstract-testing/src/lib.rs
  framework/packages/abstract-testing/src/mock_ans.rs
  framework/packages/abstract-xion/Cargo.toml
  framework/packages/abstract-xion/src/auth/mod.rs
  framework/packages/abstract-xion/src/sudo.rs
  framework/packages/standards/dex/src/ans_action.rs
  framework/packages/standards/dex/src/command.rs
  framework/packages/standards/money-market/src/ans_action.rs
  framework/packages/standards/money-market/src/query.rs
  interchain/scripts/src/bin/xion_test.rs
  modules/contracts/adapters/cw-staking/src/handlers/execute.rs
  modules/contracts/adapters/cw-staking/src/staking_tester.rs
  modules/contracts/adapters/dex/Cargo.toml
  modules/contracts/adapters/dex/src/adapter.rs
  modules/contracts/adapters/dex/src/dex_tester.rs
  modules/contracts/adapters/dex/src/handlers/execute.rs
  modules/contracts/adapters/money-market/src/tester.rs
  modules/contracts/apps/calendar/src/msg.rs
  modules/contracts/apps/challenge/src/handlers/execute.rs
  modules/contracts/apps/ping-pong/src/ibc/callback.rs
  modules/contracts/apps/ping-pong/src/ibc/module.rs
Labels: account, native, sdk, app_base

#505 Simplifying cw-storage implementation
  framework/contracts/native/registry/src/commands.rs
  framework/contracts/native/registry/src/queries.rs
  framework/docs/src/releases/CHANGELOG.md
  framework/packages/abstract-std/src/objects/entry/asset_entry.rs
  framework/packages/abstract-std/src/objects/entry/dex_asset_pairing.rs
  framework/packages/abstract-std/src/objects/module.rs
  framework/packages/abstract-std/src/objects/pool/unique_pool_id.rs
Labels: documentation, native

#506 Remove unused fields and variants
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/account/src/contract.rs
  framework/packages/abstract-app/src/endpoints/execute.rs
  framework/packages/abstract-sdk/README.md
  framework/packages/abstract-sdk/src/apis/bank.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-sdk/src/apis/verify.rs
  framework/packages/abstract-sdk/src/apis/version_registry.rs
  framework/packages/abstract-std/src/app.rs
  framework/packages/abstract-std/src/native_addrs.rs
  framework/packages/abstract-std/src/objects/gov_type.rs
  framework/packages/abstract-std/src/objects/ownership/README.md
  framework/packages/abstract-std/src/objects/ownership/gov_ownable.rs
  interchain/Cargo.toml
  interchain/scripts/Cargo.toml
  interchain/scripts/src/bin/xion_test.rs
  interchain/scripts/state.json
Labels: account, sdk, app_base

#507 Abstract framework testing adding and fixing
  framework/contracts/account/tests/adapters.rs
  framework/contracts/account/tests/upgrades.rs
  framework/packages/abstract-app/src/features.rs
  framework/packages/abstract-interface/src/daemon_state.rs
  framework/packages/abstract-interface/src/error.rs
  framework/packages/abstract-interface/src/ibc.rs
  framework/packages/abstract-sdk/src/apis/version_registry.rs
  framework/packages/abstract-standalone/src/features.rs
  framework/packages/abstract-std/src/objects/registry.rs
  framework/packages/abstract-testing/src/mock_ans.rs
Labels: account, sdk, interface, app_base

#513 Update cw-orch to latest
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/account/Cargo.toml
  framework/workspace-hack/Cargo.toml
  integrations/Cargo.toml
  interchain/Cargo.toml
  interchain/scripts/src/bin/proposal_template.rs
  modules/Cargo.toml
  modules/contracts/apps/ping-pong/Cargo.toml
Labels: account
