Repository AbstractSDK/abstract, pull requests merged in 2024-05, with the labels that each got.

#333 Small updates to scripts
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-std/src/objects/chain_name.rs
  interchain/interchain-tests/src/setup.rs
  interchain/scripts/src/bin/connect_ibc.rs
  interchain/scripts/src/bin/create_remote_account.rs
  interchain/scripts/src/bin/deploy-ibc.rs
  interchain/scripts/src/bin/full_deploy.rs
  interchain/scripts/src/bin/manual_deploy.rs
  interchain/scripts/src/lib.rs
Labels: interface

#343 Fix abstract app and abstract adapter packages compilation
  framework/packages/abstract-adapter/Cargo.toml
  framework/packages/abstract-adapter/src/msgs.rs
  framework/packages/abstract-app/Cargo.toml
  framework/packages/abstract-app/src/lib.rs
  framework/packages/abstract-interface/src/native/ans_host.rs
Labels: adapter_base, interface, app_base

#345 Add sitemap to docs
  .github/workflows/gh-pages.yml
Labels: CI

#340 FIX: different module id for different account id in abstract client
  framework/docs/src/releases/v0.md
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-interface/src/deployers.rs
Labels: documentation, interface

#347 Move module flowcharts and add IBC flowcharts
  framework/docs/src/3_framework/6_module_types.md
  framework/docs/src/5_platform/8_modules.md
  framework/docs/src/SUMMARY.md
  framework/docs/src/ibc/account-ibc.md
  framework/docs/src/ibc/module-ibc.md
Labels: documentation

#346 Fix automatic ibc client install
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/account/manager/src/contract.rs
  framework/contracts/account/manager/src/error.rs
  framework/contracts/account/manager/tests/ibc-client.rs
  framework/contracts/native/module-factory/Cargo.toml
  framework/contracts/native/module-factory/src/commands.rs
  framework/contracts/native/module-factory/tests/install_native_modules.rs
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-interface/src/account/manager.rs
  framework/packages/abstract-interface/src/native/ibc_client.rs
  framework/packages/abstract-std/src/core/manager.rs
  interchain/interchain-tests/src/interchain_accounts.rs
Labels: account, native, interface, breaking

#344 Re-enable interchain tests
  .github/workflows/interchain-test.yml
  interchain/interchain-tests/src/interchain_accounts.rs
  modules/Cargo.toml
  modules/contracts/adapters/money-market/src/tester.rs
Labels: CI

#352 Added pion deployment
  framework/packages/abstract-interface/Cargo.toml
  interchain/scripts/src/bin/connect_ibc.rs
  interchain/scripts/state.json
Labels: interface

#353 Added claim namespace function
  framework/docs/src/releases/v0.md
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-interface/src/account/mod.rs
Labels: documentation, interface

#351 Update dependency docs
  framework/docs/src/4_get_started/4_sdk.md
  framework/docs/src/4_get_started/6_module_testing.md
  framework/docs/src/4_get_started/8_dependencies.md
  framework/docs/src/SUMMARY.md
  framework/packages/abstract-sdk/src/base/features/abstract_name_service.rs
  modules/contracts/apps/dca/src/contract.rs
Labels: documentation, sdk

#357 Approve any namespace pending modules
  framework/docs/src/releases/v0.md
  framework/packages/abstract-interface/src/native/version_control.rs
  integrations/Cargo.toml
Labels: documentation, interface

#361 Revert "Fix automatic ibc client install"
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/account/manager/src/contract.rs
  framework/contracts/account/manager/src/error.rs
  framework/contracts/account/manager/tests/ibc-client.rs
  framework/contracts/native/module-factory/Cargo.toml
  framework/contracts/native/module-factory/src/commands.rs
  framework/contracts/native/module-factory/tests/install_native_modules.rs
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-interface/src/account/manager.rs
  framework/packages/abstract-interface/src/native/ibc_client.rs
  framework/packages/abstract-std/src/core/manager.rs
  interchain/interchain-tests/src/interchain_accounts.rs
Labels: account, native, interface

#364 Small IBC devx improvements
  framework/Cargo.toml
  framework/packages/abstract-app/src/state.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-std/src/native/ibc.rs
  framework/packages/abstract-std/src/native/ibc_client.rs
  framework/packages/abstract-std/src/objects/account/account_id.rs
  framework/packages/abstract-std/src/objects/account/account_trace.rs
  framework/packages/abstract-std/src/objects/chain_name.rs
Labels: sdk, app_base
