Repository AbstractSDK/abstract, pull requests merged in 2024-12, with the labels that each got.

#546 Audit Fixes 1: XION Authentication fix and test
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/execution.rs
  framework/contracts/account/src/modules.rs
  framework/contracts/account/src/modules/migration.rs
  framework/contracts/account/tests/xion.rs
  framework/packages/abstract-std/src/objects/ownership/gov_ownable.rs
Labels: account

#557 Audit Fixes 2: Migration overwrites the suspension status
  framework/contracts/account/src/migrate.rs
Labels: account

#549 Audit Fixes 3: Concurrent admin_execute calls may lead to unexpected behavior
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/execution.rs
Labels: account

#550 Audit Fixes 4: Potential panic during module installation
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/modules.rs
  framework/contracts/account/tests/apps.rs
  framework/packages/abstract-testing/src/lib.rs
Labels: account

#552 Audit Fixes 8 : Silent failures when unregistering non-existent sub-accounts
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/sub_account.rs
Labels: account

#553 Audit Fixes 9 : Misleading success response for non-xion auth operations
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/execution.rs
Labels: account

#555 Audit Fixes 11: Dead code in the migration function
  framework/contracts/account/src/migrate.rs
Labels: account

#556 Audit Fixes 12 : Miscellaneous comments
  framework/contracts/account/src/contract.rs
  framework/contracts/account/src/error.rs
  framework/contracts/account/src/migrate.rs
  framework/docs/src/3_framework/4_ownership.md
  framework/packages/abstract-std/src/objects/gov_type.rs
Labels: documentation, account

#559 Don't doubly-register native ibc contracts
  framework/packages/abstract-interface/src/deployment.rs
Labels: interface

#544 AccountTrace Serialization was done in the wrong order
  .circleci/config.yml
  framework/Cargo.lock
  framework/Cargo.toml
  framework/contracts/account/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/tests/snapshots/apps__execute_on_account.snap
  framework/contracts/account/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_multiple_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_install_standalone_modules.snap
  framework/contracts/account/tests/snapshots/proxy__account_with_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/tests/snapshots/proxy__exec_on_account.snap
  framework/contracts/account/tests/snapshots/proxy__instantiate_account.snap
  framework/contracts/account/tests/snapshots/subaccount__account_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__creating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership.snap
  framework/contracts/account/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account.snap
  framework/contracts/account/tests/snapshots/subaccount__updating_on_subaccount_should_succeed.snap
  framework/contracts/native/ibc-client/Cargo.toml
  framework/contracts/native/ibc-client/src/contract.rs
  framework/contracts/native/ibc-client/src/ibc.rs
  framework/contracts/native/ibc-client/src/queries.rs
  framework/contracts/native/ibc-client/tests/multihop_accounts.rs
  framework/contracts/native/ibc-client/tests/snapshots/multihop_accounts__multihop_account.snap
  framework/contracts/native/registry/src/queries.rs
  framework/docs/src/3_framework/8_ibc.md
  framework/docs/src/ibc/account-ibc.md
  framework/justfile
  framework/packages/abstract-adapter/Cargo.toml
  framework/packages/abstract-app/Cargo.toml
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-standalone/Cargo.toml
  framework/packages/abstract-std/src/objects/account/account_id.rs
  framework/packages/abstract-std/src/objects/account/account_trace.rs
  framework/packages/abstract-std/src/objects/entry/asset_entry.rs
  framework/packages/abstract-std/src/objects/entry/channel_entry.rs
  framework/packages/abstract-std/src/objects/entry/contract_entry.rs
  framework/packages/abstract-std/src/objects/entry/dex_asset_pairing.rs
  framework/packages/abstract-std/src/objects/module.rs
  framework/packages/standards/dex/Cargo.toml
  framework/packages/standards/money-market/Cargo.toml
  framework/packages/standards/staking/Cargo.toml
  framework/workspace-hack/Cargo.toml
  integrations/Cargo.toml
  integrations/bundles/mockdex/Cargo.toml
  integrations/wyndex-adapter/Cargo.toml
  interchain/Cargo.toml
  interchain/interchain-end_to_end_testing/Cargo.toml
  modules/Cargo.toml
  modules/contracts/apps/ping-pong/Cargo.toml
Labels: documentation, account, native, adapter_base, interface, app_base, breaking
