Repository AbstractSDK/abstract, pull requests merged in 2024-02, with the labels that each got.

#231 Implement account fetcher method on AccountClient
  framework/CHANGELOG.md
  framework/packages/abstract-client/README.md
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/src/error.rs
  framework/packages/abstract-client/src/lib.rs
  framework/packages/abstract-client/src/source.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-interface/src/account/mod.rs
Labels: interface

#243 Update module salt, to be more predictable
  framework/CHANGELOG.md
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/account/manager/src/contract.rs
  framework/contracts/account/manager/src/error.rs
  framework/contracts/account/manager/tests/apps.rs
  framework/contracts/account/manager/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/manager/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/manager/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/manager/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/manager/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/manager/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/manager/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/manager/tests/snapshots/apps__execute_on_proxy_through_manager.snap
  framework/contracts/account/manager/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/manager/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/manager/tests/snapshots/proxy__exec_through_manager.snap
  framework/contracts/account/manager/tests/snapshots/proxy__instantiate_proxy.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_install_multiple_modules.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_install_standalone_modules.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_with_response_data.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__account_move_ownership_to_falsy_sub_account.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__creating_on_subaccount_should_succeed.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__proxy_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__sub_account_move_ownership.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__updating_on_subaccount_should_succeed.snap
  framework/contracts/native/account-factory/src/commands.rs
  framework/contracts/native/account-factory/src/error.rs
  framework/packages/abstract-core/Cargo.toml
  framework/packages/abstract-core/src/native/account_factory.rs
  framework/packages/abstract-core/src/objects/account.rs
  framework/packages/abstract-core/src/objects/mod.rs
  framework/packages/abstract-core/src/objects/module.rs
  framework/packages/abstract-core/src/objects/salt.rs
Labels: account, native

#226 Publish 0.20 + IBC changes
  framework/CHANGELOG.md
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-interface/src/native/ibc_client.rs
  interchain/scripts/Cargo.toml
  interchain/scripts/IBC-DEPLOYMENT.md
  interchain/scripts/src/abstract_ibc.rs
  interchain/scripts/src/bin/clone_mock_test.rs
  interchain/scripts/src/bin/connect_ibc.rs
  interchain/scripts/src/bin/create_remote_account.rs
  interchain/scripts/src/bin/deploy-ibc.rs
  interchain/scripts/state.json
Labels: interface

#255 Create sub accounts with expected account + Abstract Client updates for expected account_id
  framework/CHANGELOG.md
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/account/manager/src/contract.rs
  framework/contracts/account/manager/tests/adapters.rs
  framework/contracts/account/manager/tests/apps.rs
  framework/contracts/account/manager/tests/proxy.rs
  framework/contracts/account/manager/tests/subaccount.rs
  framework/contracts/account/manager/tests/upgrades.rs
  framework/contracts/native/account-factory/tests/create_account.rs
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-core/src/core/manager.rs
  framework/packages/abstract-integration-tests/src/account_factory.rs
  framework/packages/abstract-integration-tests/src/manager.rs
  framework/packages/abstract-interface/src/account/mod.rs
  framework/packages/abstract-interface/src/native/account_factory.rs
Labels: account, native, interface

#253 Switch framework coverage to use circle ci
  .circleci/config.yml
  .github/workflows/framework-test.yml
  scripts/framework-coverage.sh
Labels: CI

#251 Improve modules not found during install error And other API errors
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/account/manager/src/error.rs
  framework/contracts/account/manager/tests/install_modules.rs
  framework/contracts/native/ibc-host/src/account_commands.rs
  framework/packages/abstract-core/Cargo.toml
  framework/packages/abstract-core/src/objects/ans_host.rs
  framework/packages/abstract-core/src/objects/version_control.rs
Labels: account, native

#256 Fix/migration testing
  framework/packages/abstract-interface/src/migrate.rs
  interchain/Cargo.toml
  interchain/tests/src/migrate.rs
Labels: account, native, sdk, adapter_base, interface, app_base, mergeable

#250 Fix/adapter ibc
  .gitignore
  app-template/Cargo.toml
  framework/Cargo.lock
  framework/contracts/account/manager/tests/adapters.rs
  framework/contracts/account/manager/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/manager/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/manager/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/manager/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_with_response_data.snap
  framework/packages/abstract-adapter/src/endpoints.rs
  framework/packages/abstract-adapter/src/endpoints/ibc_callback.rs
  framework/packages/abstract-adapter/src/lib.rs
  framework/packages/abstract-app/src/endpoints/ibc_callback.rs
  framework/packages/abstract-app/src/lib.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-integration-tests/src/lib.rs
  framework/packages/abstract-integration-tests/src/manager.rs
  framework/packages/abstract-integration-tests/src/mock_modules.rs
  framework/packages/abstract-sdk/src/base/endpoints/ibc_callback.rs
  integrations/Cargo.lock
  interchain/Cargo.lock
  interchain/Cargo.toml
  interchain/tests/Cargo.toml
  interchain/tests/src/interchain_accounts.rs
  interchain/tests/src/lib.rs
  modules/Cargo.lock
Labels: account, native, sdk, adapter_base, interface, app_base

#257 module instantiate2 address for Abstract Client
  framework/CHANGELOG.md
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-core/src/objects/module_reference.rs
  framework/packages/abstract-interface/src/native/version_control.rs
Labels: account, native, sdk, adapter_base, interface, app_base
