Repository AbstractSDK/abstract, pull requests merged in 2024-07, with the labels that each got.

#389 Remove module factory binary setting endpoint
  framework/contracts/native/module-factory/src/commands.rs
  framework/contracts/native/module-factory/src/contract.rs
  framework/contracts/native/module-factory/src/lib.rs
  framework/contracts/native/module-factory/src/querier.rs
  framework/docs/src/releases/v0.md
  framework/packages/abstract-std/src/native/module_factory.rs
Labels: documentation, native

#393 Remove standalone template
  framework/Cargo.toml
  framework/contracts/templates/standalone/Cargo.toml
  framework/contracts/templates/standalone/README.md
  framework/contracts/templates/standalone/src/bin/local_daemon.rs
  framework/contracts/templates/standalone/src/bin/publish.rs
  framework/contracts/templates/standalone/src/bin/schema.rs
  framework/contracts/templates/standalone/src/contract.rs
  framework/contracts/templates/standalone/src/error.rs
  framework/contracts/templates/standalone/src/interface.rs
  framework/contracts/templates/standalone/src/lib.rs
  framework/contracts/templates/standalone/src/msg.rs
  framework/contracts/templates/standalone/src/state.rs
  framework/contracts/templates/standalone/tests/integration.rs
Labels: documentation

#394 Enable stargate feature on contracts
  framework/contracts/native/account-factory/src/commands.rs
  interchain/interchain-tests/src/interchain_accounts.rs
Labels: native

#397 Update IBC related documentation
  framework/docs/src/ibc/module-ibc.md
  modules/contracts/apps/ping-pong/src/handlers/execute.rs
  modules/contracts/apps/ping-pong/src/ibc/module.rs
Labels: documentation

#400 remove msrv CI runs
  .github/workflows/framework-check.yml
  .github/workflows/modules-check.yml
Labels: CI

#405 Bump abstract to 0.23.0
  framework/Cargo.toml
  framework/contracts/account/manager/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/manager/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/manager/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/manager/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/manager/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/manager/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/manager/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/manager/tests/snapshots/apps__execute_on_proxy_through_manager.snap
  framework/contracts/account/manager/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/manager/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/manager/tests/snapshots/proxy__exec_through_manager.snap
  framework/contracts/account/manager/tests/snapshots/proxy__instantiate_proxy.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_install_multiple_modules.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_install_standalone_modules.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_with_response_data.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__account_move_ownership_to_falsy_sub_account.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__creating_on_subaccount_should_succeed.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__proxy_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__sub_account_move_ownership.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__updating_on_subaccount_should_succeed.snap
  framework/packages/abstract-adapter/Cargo.toml
  framework/packages/abstract-app/Cargo.toml
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/standards/dex/Cargo.toml
  framework/packages/standards/money-market/Cargo.toml
  framework/packages/standards/staking/Cargo.toml
  integrations/Cargo.toml
  interchain/Cargo.toml
  interchain/interchain-tests/Cargo.toml
  modules/Cargo.toml
  modules/contracts/apps/ping-pong/Cargo.toml
Labels: account, adapter_base, interface, app_base

#402 Add docs for Standalone module type
  framework/docs/src/3_framework/6_module_types.md
  framework/packages/abstract-standalone/README.md
  framework/packages/abstract-std/src/standalone.rs
Labels: documentation

#403 Update version control config storage key
  framework/contracts/account/manager/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/manager/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/manager/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/manager/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/manager/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/manager/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/manager/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/manager/tests/snapshots/apps__execute_on_proxy_through_manager.snap
  framework/contracts/account/manager/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/manager/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/manager/tests/snapshots/proxy__exec_through_manager.snap
  framework/contracts/account/manager/tests/snapshots/proxy__instantiate_proxy.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_install_multiple_modules.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_install_standalone_modules.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_with_response_data.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__account_move_ownership_to_falsy_sub_account.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__creating_on_subaccount_should_succeed.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__proxy_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__sub_account_move_ownership.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__updating_on_subaccount_should_succeed.snap
  framework/contracts/native/version-control/src/lib.rs
  framework/contracts/native/version-control/src/migrate.rs
  framework/packages/abstract-std/src/native/version_control.rs
Labels: account, native

#411 Release 0.23 osmosis
  .gitignore
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-standalone/Cargo.toml
  interchain/scripts/state.json
Labels: interface

#406 Chain Abstraction Documentation
  framework/docs/src/0_introduction.md
  framework/docs/src/10_integrations.md
  framework/docs/src/11_contact.md
  framework/docs/src/1_products/1_cw_orchestrator.md
  framework/docs/src/1_products/4_abstract_js.md
  framework/docs/src/2_introduction/1_design_space.md
  framework/docs/src/3_framework/0_technologies.md
  framework/docs/src/3_framework/2_account_abstraction.md
  framework/docs/src/3_framework/2_chain_abstraction.md
  framework/docs/src/3_framework/5_modules.md
  framework/docs/src/4_get_started/1_index.md
  framework/docs/src/5_platform/4_account_console.md
  framework/docs/src/5_platform/5_module_factory.md
  framework/docs/src/5_platform/8_modules.md
  framework/docs/src/5_platform/index.md
  framework/docs/src/7_use_cases/1_equilibrium.md
  framework/docs/src/7_use_cases/2_4t2.md
  framework/docs/src/7_use_cases/4t2.md
  framework/docs/src/7_use_cases/carrot.md
  framework/docs/src/7_use_cases/equilibrium.md
  framework/docs/src/7_use_cases/index.md
  framework/docs/src/7_use_cases/xion.md
  framework/docs/src/SUMMARY.md
  framework/docs/src/modules/defi-adapters.md
  framework/docs/src/modules/etf.md
  framework/docs/src/modules/index.md
  framework/docs/src/releases/index.md
  framework/docs/src/video_and_content/faq.md
  modules/contracts/adapters/dex/README.md
  modules/contracts/adapters/money-market/README.md
Labels: documentation

#418 Use private grpc url in ci
  .github/workflows/interchain-test.yml
  framework/contracts/native/account-factory/src/response.rs
  framework/contracts/native/module-factory/src/response.rs
  integrations/Cargo.toml
  integrations/bundles/wyndex/src/lib.rs
  interchain/Cargo.toml
  modules/Cargo.toml
  modules/contracts/adapters/cw-staking/tests/stake.rs
  modules/contracts/adapters/dex/tests/raw.rs
  modules/contracts/adapters/dex/tests/swap.rs
  modules/contracts/apps/etf/src/response.rs
  modules/contracts/apps/etf/tests/integration.rs
  modules/contracts/standalones/ica-owner/Cargo.toml
Labels: CI, native

#420 Swap out wasm optimizer
  .github/workflows/release-artifacts.yml
  framework/docs/src/4_get_started/2_installation.md
  modules/build_release.sh
  scripts/wasm-all-ci.sh
  scripts/wasm-all.sh
  scripts/wasm-framework-ci.sh
  scripts/wasm-modules-ci.sh
Labels: documentation, CI

#421 Fix clippy 1.80.0
  framework/contracts/account/manager/src/versioning.rs
  framework/contracts/account/proxy/src/commands.rs
  framework/contracts/account/proxy/src/queries.rs
  framework/contracts/native/account-factory/tests/create_account.rs
  framework/contracts/native/ans-host/src/commands.rs
  framework/contracts/native/ans-host/src/queries.rs
  framework/contracts/native/ibc-host/src/endpoints/query.rs
  framework/contracts/native/module-factory/src/commands.rs
  framework/contracts/native/version-control/src/commands.rs
  framework/contracts/native/version-control/src/queries.rs
  framework/packages/abstract-adapter/src/endpoints.rs
  framework/packages/abstract-adapter/src/endpoints/instantiate.rs
  framework/packages/abstract-adapter/src/endpoints/reply.rs
  framework/packages/abstract-app/src/endpoints.rs
  framework/packages/abstract-app/src/endpoints/execute.rs
  framework/packages/abstract-app/src/endpoints/instantiate.rs
  framework/packages/abstract-app/src/endpoints/query.rs
  framework/packages/abstract-app/src/features.rs
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-sdk/src/apis/accounting.rs
  framework/packages/abstract-sdk/src/apis/authz.rs
  framework/packages/abstract-sdk/src/apis/bank.rs
  framework/packages/abstract-sdk/src/apis/distribution.rs
  framework/packages/abstract-sdk/src/apis/execution.rs
  framework/packages/abstract-sdk/src/apis/feegrant.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-sdk/src/apis/modules.rs
  framework/packages/abstract-sdk/src/apis/splitter.rs
  framework/packages/abstract-sdk/src/apis/verify.rs
  framework/packages/abstract-sdk/src/base/contract_base.rs
  framework/packages/abstract-sdk/src/base/features/identification.rs
  framework/packages/abstract-sdk/src/cw_helpers/cosmwasm_std/abstract_attributes.rs
  framework/packages/abstract-sdk/src/cw_helpers/cosmwasm_std/wasm_query.rs
  framework/packages/abstract-sdk/src/cw_helpers/cw_storage_plus.rs
  framework/packages/abstract-standalone/src/features.rs
  framework/packages/abstract-std/src/objects/account/account_id.rs
  framework/packages/abstract-std/src/objects/account/account_trace.rs
  framework/packages/abstract-std/src/objects/ans_asset.rs
  framework/packages/abstract-std/src/objects/dependency.rs
  framework/packages/abstract-std/src/objects/entry/asset_entry.rs
  framework/packages/abstract-std/src/objects/entry/channel_entry.rs
  framework/packages/abstract-std/src/objects/entry/contract_entry.rs
  framework/packages/abstract-std/src/objects/entry/dex_asset_pairing.rs
  framework/packages/abstract-std/src/objects/entry/lp_token.rs
  framework/packages/abstract-std/src/objects/gov_type.rs
  framework/packages/abstract-std/src/objects/module.rs
  framework/packages/abstract-std/src/objects/module_reference.rs
  framework/packages/abstract-std/src/objects/namespace.rs
  framework/packages/abstract-std/src/objects/pool/pool_id.rs
  framework/packages/abstract-std/src/objects/pool/unique_pool_id.rs
  framework/packages/abstract-std/src/objects/salt.rs
  framework/packages/abstract-std/src/objects/truncated_chain_id.rs
  framework/packages/abstract-testing/src/map_tester.rs
  interchain/interchain-tests/src/interchain_accounts.rs
  modules/contracts/adapters/dex/src/api.rs
  modules/contracts/adapters/money-market/src/api.rs
  modules/contracts/apps/croncat/src/api.rs
Labels: account, native, sdk, adapter_base, interface, app_base

#408 Fix oversized dex contracts
  framework/packages/abstract-std/src/native/ans_host.rs
  framework/packages/standards/dex/Cargo.toml
  framework/packages/standards/dex/src/action.rs
  framework/packages/standards/dex/src/ans_action.rs
  framework/packages/standards/dex/src/command.rs
  framework/packages/standards/dex/src/lib.rs
  framework/packages/standards/dex/src/msg.rs
  framework/packages/standards/dex/src/tests.rs
  integrations/astroport-adapter/src/dex.rs
  integrations/astrovault-adapter/src/dex.rs
  integrations/astrovault-adapter/src/mini_astrovault.rs
  integrations/kujira-adapter/src/dex.rs
  integrations/kujira-adapter/src/money_market.rs
  integrations/osmosis-adapter/src/dex.rs
  integrations/wyndex-adapter/src/dex.rs
  interchain/modules-clone-testing/tests/dex/astroport.rs
  interchain/modules-clone-testing/tests/dex/astrovault.rs
  interchain/modules-clone-testing/tests/dex/kujira.rs
  modules/CHANGELOG.md
  modules/contracts/adapters/dex/Cargo.toml
  modules/contracts/adapters/dex/STATUS.md
  modules/contracts/adapters/dex/src/adapter.rs
  modules/contracts/adapters/dex/src/api.rs
  modules/contracts/adapters/dex/src/dex_tester.rs
  modules/contracts/adapters/dex/src/exchanges/exchange_resolver.rs
  modules/contracts/adapters/dex/src/exchanges/junoswap.rs
  modules/contracts/adapters/dex/src/exchanges/mod.rs
  modules/contracts/adapters/dex/src/handlers/execute.rs
  modules/contracts/adapters/dex/src/handlers/query.rs
  modules/contracts/adapters/dex/src/lib.rs
  modules/contracts/adapters/dex/tests/osmosis.rs
  modules/contracts/adapters/dex/tests/raw.rs
  modules/contracts/adapters/dex/tests/swap.rs
Labels: RFM

#419 Resolve feedback abstract client
  framework/docs/src/releases/CHANGELOG.md
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/application.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/src/interchain/remote_account.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-interface/src/native/version_control.rs
  modules/contracts/apps/ping-pong/tests/ping_pong_tests.rs
Labels: documentation, interface, breaking

#409 Integrate dex adapter native routing
  framework/artifacts/abstract_account_factory.wasm
  framework/artifacts/abstract_ibc_client.wasm
  framework/artifacts/abstract_ibc_host.wasm
  framework/artifacts/abstract_manager.wasm
  framework/artifacts/abstract_module_factory.wasm
  framework/artifacts/abstract_version_control.wasm
  framework/artifacts/checksums.txt
  framework/packages/standards/dex/Cargo.toml
  framework/packages/standards/dex/src/action.rs
  framework/packages/standards/dex/src/command.rs
  framework/packages/standards/dex/src/lib.rs
  framework/packages/standards/dex/src/msg.rs
  integrations/astroport-adapter/src/dex.rs
  integrations/osmosis-adapter/src/dex.rs
  modules/CHANGELOG.md
  modules/artifacts/abstract_cw_staking-archway.wasm
  modules/artifacts/abstract_cw_staking-injective.wasm
  modules/artifacts/abstract_cw_staking-juno.wasm
  modules/artifacts/abstract_cw_staking-kujira.wasm
  modules/artifacts/abstract_cw_staking-neutron.wasm
  modules/artifacts/abstract_cw_staking-osmosis.wasm
  modules/artifacts/abstract_cw_staking-sei.wasm
  modules/artifacts/abstract_cw_staking-terra2.wasm
  modules/artifacts/abstract_cw_staking.wasm
  modules/artifacts/abstract_dex_adapter-archway.wasm
  modules/artifacts/abstract_dex_adapter-injective.wasm
  modules/artifacts/abstract_dex_adapter-juno.wasm
  modules/artifacts/abstract_dex_adapter-kujira.wasm
  modules/artifacts/abstract_dex_adapter-neutron.wasm
  modules/artifacts/abstract_dex_adapter-osmosis.wasm
  modules/artifacts/abstract_dex_adapter-sei.wasm
  modules/artifacts/abstract_dex_adapter-terra2.wasm
  modules/artifacts/abstract_dex_adapter.wasm
  modules/artifacts/abstract_money_market_adapter-kujira.wasm
  modules/artifacts/abstract_money_market_adapter-osmosis.wasm
  modules/artifacts/abstract_money_market_adapter.wasm
  modules/artifacts/abstract_subscription.wasm
  modules/artifacts/abstract_tendermint_staking_adapter.wasm
  modules/artifacts/calendar_app.wasm
  modules/artifacts/challenge_app.wasm
  modules/artifacts/checksums.txt
  modules/artifacts/checksums_intermediate.txt
  modules/artifacts/croncat_app.wasm
  modules/artifacts/dca_app.wasm
  modules/artifacts/etf_app.wasm
  modules/artifacts/payment_app.wasm
  modules/artifacts/ping_pong.wasm
  modules/contracts/adapters/dex/STATUS.md
  modules/contracts/adapters/dex/src/adapter.rs
  modules/contracts/adapters/dex/src/handlers/execute.rs
  modules/contracts/adapters/dex/tests/osmosis.rs
  modules/contracts/apps/calendar/Cargo.toml
Labels: RFM
