Repository AbstractSDK/abstract, pull requests merged in 2024-04, with the labels that each got.

#311 Added account creation metadata event
  framework/contracts/native/account-factory/src/commands.rs
Labels: native

#313 Add module_address fn to manager
  framework/packages/abstract-interface/src/account/manager.rs
Labels: interface

#312 Add an `is_registered` and `assert_registred` to ANS API`
  framework/docs/src/releases/v0.md
  framework/packages/abstract-sdk/src/ans_resolve.rs
  framework/packages/abstract-sdk/src/base/features/abstract_name_service.rs
Labels: documentation, sdk

#315 Revert "Added multiple messages to ibc action to allow for serial execution"
  framework/contracts/account/proxy/src/commands.rs
  framework/contracts/account/proxy/src/contract.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/contracts/native/ibc-host/src/account_commands.rs
  framework/contracts/native/ibc-host/src/endpoints/packet.rs
  framework/contracts/native/ibc-host/tests/integration.rs
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-core/src/core/proxy.rs
  framework/packages/abstract-core/src/native/ibc_host.rs
  framework/packages/abstract-interface/src/account/manager.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  interchain/interchain-tests/src/bin/setup_funds.rs
  interchain/interchain-tests/src/interchain_accounts.rs
  modules/contracts/adapters/cw-staking/src/handlers/execute.rs
  modules/contracts/adapters/dex/src/handlers/execute.rs
Labels: account, native, sdk, interface

#317 Separate chain id prefixes in abstract_core
  framework/packages/abstract-core/src/registry.rs
Labels: breaking

#325 Remove beta clippy CI
  .github/workflows/framework-check.yml
Labels: CI

#305 Incorporate docs feedback
  .github/workflows/dead_url_linter.yml
  framework/docs/src/0_introduction.md
  framework/docs/src/3_framework/2_account_abstraction.md
  framework/docs/src/3_framework/3_architecture.md
  framework/docs/src/4_get_started/1_index.md
  framework/docs/src/4_get_started/2_installation.md
  framework/docs/src/4_get_started/3_module_builder.md
  framework/docs/src/4_get_started/4_sdk.md
  framework/docs/src/4_get_started/9_metadata.md
  framework/docs/src/5_platform/4_account_console.md
  framework/packages/abstract-sdk/src/apis/bank.rs
  framework/packages/abstract-sdk/src/base/features/abstract_name_service.rs
Labels: documentation, sdk

#304 Updated `app-template` docs
  framework/docs/src/4_get_started/2_installation.md
  framework/docs/src/4_get_started/7_module_deployment.md
Labels: documentation

#326 Fix dead links in abstract docs
  framework/docs/src/3_framework/1_abstract_sdk.md
  framework/docs/src/5_platform/5_module_factory.md
Labels: documentation

#332 Add additional information on adapter docs
  framework/docs/src/10_integrations.md
  framework/docs/src/modules/index.md
  framework/docs/src/modules/lending-market.md
  modules/contracts/adapters/dex/README.md
  modules/contracts/adapters/money-market/README.md
Labels: documentation

#328 ABS-384 : Rename adapter and app apis request fn to execute
  framework/docs/src/releases/v0.md
  framework/packages/abstract-sdk/src/apis/adapter.rs
  framework/packages/abstract-sdk/src/apis/app.rs
  modules/contracts/adapters/dex/src/api.rs
  modules/contracts/adapters/money-market/src/api.rs
  modules/contracts/apps/croncat/src/api.rs
Labels: documentation, sdk

#330 Enabled IBC calls by default on remote accounts
  framework/contracts/account/manager/src/commands.rs
  framework/docs/src/releases/v0.md
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-interface/src/account/manager.rs
  interchain/interchain-tests/src/interchain_accounts.rs
Labels: documentation, account, interface

#329 Added api to query wether an address is a module
  framework/docs/src/releases/v0.md
  framework/packages/abstract-sdk/src/apis/version_registry.rs
  framework/packages/abstract-sdk/src/error.rs
Labels: documentation, sdk

#288 Changed config field and added migration function
  framework/contracts/account/manager/tests/snapshots/adapters__account_install_adapter.snap
  framework/contracts/account/manager/tests/snapshots/adapters__install_one_adapter.snap
  framework/contracts/account/manager/tests/snapshots/adapters__install_one_adapter_with_fee.snap
  framework/contracts/account/manager/tests/snapshots/adapters__installing_specific_version_should_install_expected.snap
  framework/contracts/account/manager/tests/snapshots/adapters__reinstalling_adapter_should_be_allowed.snap
  framework/contracts/account/manager/tests/snapshots/adapters__reinstalling_new_version_should_install_latest.snap
  framework/contracts/account/manager/tests/snapshots/apps__account_install_app.snap
  framework/contracts/account/manager/tests/snapshots/apps__execute_on_proxy_through_manager.snap
  framework/contracts/account/manager/tests/snapshots/install_modules__adds_module_to_account_modules.snap
  framework/contracts/account/manager/tests/snapshots/proxy__default_without_response_data.snap
  framework/contracts/account/manager/tests/snapshots/proxy__exec_through_manager.snap
  framework/contracts/account/manager/tests/snapshots/proxy__instantiate_proxy.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_install_multiple_modules.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_install_standalone_modules.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_with_response_data.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__account_move_ownership_to_falsy_sub_account.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__creating_on_subaccount_should_succeed.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__installed_app_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__proxy_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__recursive_updating_on_subaccount_should_succeed.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__sub_account_move_ownership.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__sub_account_move_ownership_to_sub_account.snap
  framework/contracts/account/manager/tests/snapshots/subaccount__updating_on_subaccount_should_succeed.snap
  framework/contracts/native/account-factory/tests/create_account.rs
  framework/contracts/native/version-control/Cargo.toml
  framework/contracts/native/version-control/src/commands.rs
  framework/contracts/native/version-control/src/contract.rs
  framework/contracts/native/version-control/src/error.rs
  framework/contracts/native/version-control/src/lib.rs
  framework/contracts/native/version-control/src/migrate.rs
  framework/contracts/native/version-control/src/queries.rs
  framework/docs/src/releases/v0.md
  framework/packages/abstract-integration-tests/src/account_factory.rs
  framework/packages/abstract-interface/src/deployment.rs
  framework/packages/abstract-interface/src/native/version_control.rs
  framework/packages/abstract-std/src/native/version_control.rs
  interchain/framework-clone-testing/tests/migrate.rs
  interchain/modules-clone-testing/src/common.rs
Labels: documentation, account, native, interface, breaking

#277 Remove ibc callbacks for accounts.
  framework/contracts/native/ibc-client/src/commands.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/contracts/native/ibc-client/src/ibc.rs
  framework/packages/abstract-adapter/src/lib.rs
  framework/packages/abstract-adapter/src/state.rs
  framework/packages/abstract-app/src/lib.rs
  framework/packages/abstract-app/src/state.rs
  framework/packages/abstract-interface/src/account/manager.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-sdk/src/base/contract_base.rs
  framework/packages/abstract-sdk/src/base/endpoints/ibc_callback.rs
  framework/packages/abstract-std/src/native/ibc.rs
  framework/packages/abstract-std/src/native/ibc_client.rs
  interchain/interchain-tests/src/interchain_accounts.rs
  modules/contracts/adapters/cw-staking/src/handlers/execute.rs
  modules/contracts/adapters/dex/src/handlers/execute.rs
Labels: bug, native, sdk, adapter_base, interface, app_base, breaking
