Repository AbstractSDK/abstract, pull requests merged in 2024-06, with the labels that each got.

#362 Ibc Client installation goes through the usual install process
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/account/manager/src/contract.rs
  framework/contracts/account/manager/src/error.rs
  framework/contracts/account/manager/tests/ibc-client.rs
  framework/contracts/native/module-factory/Cargo.toml
  framework/contracts/native/module-factory/src/commands.rs
  framework/contracts/native/module-factory/tests/install_native_modules.rs
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-interface/src/account/manager.rs
  framework/packages/abstract-interface/src/native/ibc_client.rs
  framework/packages/abstract-std/src/core/manager.rs
  interchain/interchain-tests/src/interchain_accounts.rs
Labels: account, native, interface, breaking

#365 Added public cw-orch-interchain crate
  framework/Cargo.toml
  framework/docs/src/releases/v0.md
  framework/packages/abstract-adapter/Cargo.toml
  framework/packages/abstract-adapter/src/state.rs
  framework/packages/abstract-app/Cargo.toml
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-interface/src/ibc.rs
  framework/packages/abstract-sdk/Cargo.toml
  framework/packages/abstract-std/Cargo.toml
  interchain/Cargo.toml
  interchain/interchain-tests/Cargo.toml
  interchain/interchain-tests/src/bin/setup_funds.rs
  interchain/interchain-tests/src/bin/token_bridge.rs
  interchain/interchain-tests/src/interchain_accounts.rs
  interchain/interchain-tests/src/module_to_module_interactions.rs
  interchain/interchain-tests/src/setup.rs
  interchain/scripts/Cargo.toml
  interchain/scripts/src/abstract_ibc.rs
  interchain/scripts/src/bin/connect_ibc.rs
  interchain/scripts/src/bin/create_remote_account.rs
  modules/contracts/adapters/money-market/src/lib.rs
Labels: documentation, sdk, adapter_base, interface, app_base

#371 Allow claiming Accounts with sequence 2147483648..u32::MAX in any order and disable expected accound id sequence in 0..2147483648 range
  framework/contracts/account/manager/tests/proxy.rs
  framework/contracts/native/account-factory/src/commands.rs
  framework/contracts/native/account-factory/src/error.rs
  framework/docs/src/releases/v0.md
  framework/packages/abstract-client/Cargo.toml
  framework/packages/abstract-client/src/account.rs
  framework/packages/abstract-client/src/client.rs
  framework/packages/abstract-client/tests/integration.rs
  framework/packages/abstract-std/src/core/manager.rs
  framework/packages/abstract-std/src/native/account_factory.rs
Labels: documentation, account, native

#373 Added integration test in documentation
  framework/contracts/account/manager/tests/proxy.rs
  framework/docs/src/4_get_started/6_module_testing.md
  framework/packages/abstract-client/tests/integration.rs
Labels: documentation, account

#369 Rationalize the Abstract IBC API
  framework/contracts/native/ibc-client/src/commands.rs
  framework/contracts/native/ibc-client/src/contract.rs
  framework/contracts/native/ibc-client/src/ibc.rs
  framework/contracts/native/ibc-host/src/endpoints/execute.rs
  framework/contracts/native/ibc-host/src/endpoints/packet.rs
  framework/docs/src/releases/v0.md
  framework/packages/abstract-adapter/src/lib.rs
  framework/packages/abstract-adapter/src/state.rs
  framework/packages/abstract-app/src/lib.rs
  framework/packages/abstract-app/src/state.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-sdk/src/base/contract_base.rs
  framework/packages/abstract-sdk/src/base/endpoints/ibc_callback.rs
  framework/packages/abstract-sdk/src/base/endpoints/modules_ibc.rs
  framework/packages/abstract-sdk/src/base/handler.rs
  framework/packages/abstract-std/src/native/ibc.rs
  framework/packages/abstract-std/src/native/ibc_client.rs
  interchain/interchain-tests/src/module_to_module_interactions.rs
  modules/contracts/adapters/cw-staking/src/handlers/execute.rs
  modules/contracts/adapters/dex/src/handlers/execute.rs
Labels: documentation, native, sdk, adapter_base, app_base

#363 Module to module query
  framework/contracts/native/ibc-client/src/commands.rs
  framework/contracts/native/ibc-host/src/endpoints/execute.rs
  framework/contracts/native/ibc-host/src/endpoints/packet.rs
  framework/contracts/native/ibc-host/src/endpoints/query.rs
  framework/docs/src/releases/v0.md
  framework/packages/abstract-interface/src/ibc.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-std/src/native/ibc.rs
  framework/packages/abstract-std/src/native/ibc_client.rs
  framework/packages/abstract-std/src/native/ibc_host.rs
  interchain/interchain-tests/Cargo.toml
  interchain/interchain-tests/src/module_to_module_interactions.rs
Labels: documentation, native, sdk, interface, breaking

#358 Deploy strategy tests
  framework/contracts/account/manager/tests/apps.rs
  framework/docs/src/releases/v0.md
  framework/packages/abstract-interface/src/deployers.rs
  framework/packages/abstract-interface/src/native/version_control.rs
Labels: documentation, account, interface

#376 Verify IBC client installed for module to module app action
  framework/contracts/account/manager/src/commands.rs
  framework/contracts/account/manager/src/versioning.rs
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_install_multiple_modules.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_install_standalone_modules.snap
  framework/contracts/native/ibc-client/src/commands.rs
  framework/contracts/native/ibc-client/src/error.rs
  framework/docs/src/releases/v0.md
  framework/packages/abstract-std/src/objects/module.rs
Labels: documentation, account, native

#379 Fix standalone instantiate package on chain
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_install_multiple_modules.snap
  framework/contracts/account/manager/tests/snapshots/proxy__proxy_install_standalone_modules.snap
  framework/contracts/native/module-factory/src/commands.rs
  framework/contracts/templates/standalone/src/contract.rs
  framework/packages/abstract-standalone/examples/counter.rs
  framework/packages/abstract-standalone/src/endpoints/instantiate.rs
  framework/packages/abstract-standalone/src/lib.rs
  framework/packages/abstract-std/src/native/module_factory.rs
Labels: account, native

#377 IBC Client as dependency checks
  framework/docs/src/releases/v0.md
  framework/packages/abstract-app/src/lib.rs
  framework/packages/abstract-sdk/src/apis/ibc.rs
  framework/packages/abstract-sdk/src/base/endpoints/ibc_callback.rs
  framework/packages/abstract-std/src/registry.rs
  interchain/interchain-tests/src/module_to_module_interactions.rs
Labels: documentation, sdk, app_base

#356 Added incremental upgrade account
  framework/docs/src/releases/v0.md
  framework/packages/abstract-interface/Cargo.toml
  framework/packages/abstract-interface/src/account/mod.rs
  framework/packages/abstract-interface/src/error.rs
  framework/packages/abstract-std/src/objects/module_version.rs
  interchain/framework-clone-testing/Cargo.toml
  interchain/framework-clone-testing/tests/upgrade-account.rs
Labels: documentation, interface

#385 Remove useless MessageInfo field inside the ibccallback handler
  framework/docs/src/releases/v0.md
  framework/packages/abstract-adapter/src/lib.rs
  framework/packages/abstract-adapter/src/state.rs
  framework/packages/abstract-app/src/lib.rs
  framework/packages/abstract-app/src/state.rs
  framework/packages/abstract-sdk/src/base/contract_base.rs
  framework/packages/abstract-sdk/src/base/endpoints/ibc_callback.rs
  interchain/interchain-tests/src/module_to_module_interactions.rs
Labels: documentation, sdk, adapter_base, app_base

#384 docs: IBC callback warning
  framework/docs/src/ibc/module-ibc.md
Labels: documentation
